{% extends 'home/index.html' %}
{% load static %}

{% block slider %}

<div class="aboutimage_top">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<a href="/about_us/">About Us</a>
				<a href="#">Team</a>
				<a href="#"> Investors & Board</a>
				<a href="#"> Careers</a>
				<a href="#"> Press</a>
				<a href="#"> Contact Us</a>
				<h1>Bringing the world together <br>through live experiences</h1>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block content %}

<!--Start of about top-->
<div class="about_top">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>events is the world's largest self-service ticketing platform. We build the technology to allow anyone to create, share, find and attend new things to do that fuel their passions and enrich their lives. Music festivals, marathons, conferences, hackathons, air guitar contests, political rallies, fundraisers, gaming competitions — you name it, we power it. Our mission? To bring the world together through live experiences.
				</h2>
			</div>
		</div>
	</div>
</div>
<!--end of about top-->

<!--Start of content-->
<div class="about_us">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<i class="fa fa-globe" aria-hidden="true"></i>
				<p>187 countries host <br> events with events</p>
			</div>
			<div class="col-md-4">
				<i class="fa fa-calendar" aria-hidden="true"></i>
				<p>2 million events held per <br> year</p>
			</div>
			<div class="col-md-4">
				<i class="fa fa-ticket" aria-hidden="true"></i>
				<p>14 million tickets <br> processed per month</p>
			</div>
		</div>
	</div>
</div>

<!--end of content-->


<!--Start of fader-->

<div class="about_pics">
	<div id="menu">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="fader">
        				<div class="text">
            				<p>Organise an event</p>
        				</div>
        				<a href="#">
            				<img class ="blog" src="{% static 'images/image2.jpg' %}" alt="">

        				</a>
    				</div>
					<div class="fader">
        				<div class="text">
            				<p>Find your next experience</p>
        				</div>
        				<a href="#">
            				<img class ="blog" src="{% static 'images/image2.jpg' %}" alt="">
        				</a>
    				</div>
    				<div class="fader">
        				<div class="text">
            				<p>Join career opportunities</p>
        				</div>
        				<a href="#">
            				<img class ="projects" src="{% static 'images/image2.jpg' %}" alt="">
        				</a>
        			</div>
        		</div>
			</div>
		</div>
	</div>
</div>

<!--End of fader-->

{% endblock %}