{% extends 'home/index.html' %}

{% load static %}

{% block slider %}

<div class="blog_navbar">
	<nav class="navbar navbar-default navbar-fixed-bottom">
  		<div class="container">
    		<h4>Sign up for our newsletter!</h4>
    		<input type="email" name="email">
    		<button>Sign me up</button>
  		</div>
	</nav>
</div>
<div class="blog_top"></div>
<div class="blog_parent">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="blog_left">
					<h5><a href="#">Event Planning & Promotion </a> Sep 1, 2016</h5>
						<button>How to Use Facebook Event<br> Ads to Drive Ticket Sales </button>
					<h4>Curious about Facebook Event Ads, but not sure how to get started? Here’s everything you<br> need to know. </h4>
				</div>
				<div class="blog_right">
					<button><h2>Let us set your new event.</h2> <h5>Contact us</h5> <i class="fa fa-arrow-right" aria-hidden="true"></i>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}

{% block content %}

<div class="blog_content">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h3>FEATURED POSTS</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="blog_pics">
					<button><img src="{% static 'images/image2.jpg' %}"></button>
					<a href="#">Event Planning & Promotion</a>
					<button>Festival Trends by the Numbers: 7<br> Stats to Know </button>
				</div>
			</div>
			<div class="col-md-4">
				<div class="blog_pics">
					<button><img src="{% static 'images/image2.jpg' %}"></button>
					<a href="#">Event Planning & Promotion</a>
					<button>Event Organizer Roundup: The Best Content for August 2016 </button>
				</div>
			</div>
			<div class="col-md-4">
				<div class="blog_pics">
					<button><img src="{% static 'images/image2.jpg' %}"></button>
					<a href="#">Event Planning & Promotion</a>
					<button>6 Solutions to Help You Recruit<br> Amazing Event Volunteers </button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="blog_content_navbar">

	<nav class="navbar navbar-default">
  		<div class="container-fluid">
      		<form class="navbar-form navbar-left">
        		<div class="form-group">
          			<input type="text" class="form-control" placeholder="Search Blog...">
        		</div>
        			<button style="width:147px;height:50px;background-color:#EA5011;color:white;font-weight:700" type="submit" class="btn btn-default">Search</button>
      		</form>
      		<ul class="nav navbar-nav navbar-right">
        		<li class="dropdown">
          			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">All Categories <span class="caret"></span></a>
          			<ul class="dropdown-menu">
            			<li><a href="#">Action</a></li>
            			<li><a href="#">Another action</a></li>
            			<li><a href="#">Something else here</a></li>
            			<li role="separator" class="divider"></li>
            			<li><a href="#">Separated link</a></li>
          			</ul>
        		</li>
				<li class="dropdown">
          			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sort by most recent <span class="caret"></span></a>
          			<ul class="dropdown-menu">
            			<li><a href="#">Action</a></li>
            			<li><a href="#">Another action</a></li>
            			<li><a href="#">Something else here</a></li>
            			<li role="separator" class="divider"></li>
            			<li><a href="#">Separated link</a></li>
          			</ul>
        		</li>
      		</ul>
  		</div><!-- /.container-fluid -->
	</nav>

</div>


<div class="blog_content_bottom">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="blog_pics">
					<button><img src="{% static 'images/image2.jpg' %}"></button>
					<a href="#">Event Planning & Promotion</a>
					<button>Festival Trends by the Numbers: 7<br> Stats to Know </button>
				</div>
			</div>
			<div class="col-md-4">
				<div class="blog_pics">
					<button><img src="{% static 'images/image2.jpg' %}"></button>
					<a href="#">Event Planning & Promotion</a>
					<button>Event Organizer Roundup: The Best Content for August 2016 </button>
				</div>
			</div>
			<div class="col-md-4">
				

			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="blog_pics">
					<button><img src="{% static 'images/image2.jpg' %}"></button>
					<a href="#">Event Planning & Promotion</a>
					<button>Festival Trends by the Numbers: 7<br> Stats to Know </button>
				</div>
			</div>
			<div class="col-md-4">
				<div class="blog_pics">
					<button><img src="{% static 'images/image2.jpg' %}"></button>
					<a href="#">Event Planning & Promotion</a>
					<button>Event Organizer Roundup: The Best Content for August 2016 </button>
				</div>
			</div>
			<div class="col-md-4">
				
				
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="blog_pics">
					<button><img src="{% static 'images/image2.jpg' %}"></button>
					<a href="#">Event Planning & Promotion</a>
					<button>Festival Trends by the Numbers: 7<br> Stats to Know </button>
				</div>
			</div>
			<div class="col-md-4">
				<div class="blog_pics">
					<button><img src="{% static 'images/image2.jpg' %}"></button>
					<a href="#">Event Planning & Promotion</a>
					<button>Event Organizer Roundup: The Best Content for August 2016 </button>
				</div>
			</div>
			<div class="col-md-4">
				
				
			</div>
		</div>
	</div>
</div>

{% endblock %}