{% extends 'home/index.html' %}

{% load static %}
{% block slider %}
<div class="browse_events_top">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="map">
					<div style='overflow:hidden;height:280px;width:280px;'>
						<div id='gmap_canvas' style='height:280px;width:280px;'>
						</div>
					</div>
				</div>
				<div class="search_place">
					<input type="search" name="search_place" value="Chandigarh,India">
				</div>
				<div class="location_icon">
					<i class="fa fa-map-marker" aria-hidden="true"></i>
				</div>
				<div class="browse_events">
					<button class="accordion_browse">
					Category 
					</button>
					<div class="panel_browse">
	  					<ul style="list-style-type:none">
	  						<li><a style="color:black" href="">All Categories </a></li>
	  						{% for category in categories %}
	  						<li><a class='category_name' data-category="{{ category }}">{{ category }}</a></li>
	  						{% endfor %}
	  					</ul>
					</div>

					<button class="accordion_browse">
					Locations
					</button>
					<div class="panel_browse">
	  					<ul style="list-style-type:none">
	  						<li><a style="color:black" href="#">All Locations </a></li>
	  						{% for location in locations %}
	  						<li><a class='location_name' data-location="{{ location }}">{{ location }} </a></li>
	  						{% endfor %}
	  					</ul>
					</div>

					<button class="accordion_browse">
					Date
					</button>
					<div class="panel_browse">
	  					<ul style="list-style-type:none">
	  						<li><a style="color:black" href="">All Dates </a></li>
	  						<li><a class="period_value" data-period="Today">Today</a></li>
	  						<li><a class="period_value" data-period="Tomorrow">Tomorrow</a></li>
	  						<li><a class="period_value" data-period="This Week">This Week</a></li>
	  						<li><a class="period_value" data-period="This Weekend">This Weekend</a></li>
	  						<li><a class="period_value" data-period="Next Week">Next Week</a></li>
	  						<li><a class="period_value" data-period="Next Month">Next Month</a></li>
	  						<li><a id="custom_date" data-period="Custom Date">Custom Date</a></li>
	  						<li style="display:none" id="start_date">Start Date:<br><input type="text" id="datepicker"></li><br>
	  						<li style="display:none" id="end_date">End Date:<br><input type="text" id="end_datepicker"></li><br>
	  						<button style="display:none" id="get_dates_events" class="btn btn-success">Update</button><br>
	  					</ul>
					</div>

					<button class="accordion_browse">
					Price
					</button>
					<div id="foo" class="panel_browse">
	  					<ul style="list-style-type:none">
	  						<li><a style="color:black" href="">All Prices </a></li>
	  						<li><a id="free_events">Free </a></li>
	  						<li><a id="paid_events">Paid </a></li>
	  					</ul>
					</div>
				</div>
			</div>
			<div class="col-md-9">
				<div class="browse_events_right">
					<h1>Events For You {{ category_events_data }}</h1>
					<div class="browse_tabs">
						<div class="tab_design">
							<ul class="tab">
						  		<li><a  class="tablinks" onclick="openCity(event, 'Name')" id="defaultOpen">Relevance </a></li>
						  		<li><a  class="tablinks" onclick="openCity(event, 'Profile')" >Date</a></li>
							</ul>
						</div>
						<div id="browse_results">
							<div id="Name" class="tabcontent">{% for event in events_data %}
							{% if event.publish_event == '1' %}
								<div class="tabcontent_first">
									 {% for img in event.image %}
								  	<a style="text-decoration:none;color:black ; display:block" href="#"><img src="/{{ img }}">
								  		{% endfor %}
								  	<h3>{{ event.time }}</h3>
									<h4>{{ event.name }}:{{ event.description }}[{{ event.city }}]</h4>
									<p>{{ event.city }} , {{ event.country }}</p></a>
									<hr style="border-top: 1px solid #ccc;margin-bottom:0px">
									<div class="list-card_footer">

										{% if event.price == '0' %}
						<label>Free</label>
					{% else %}
						<label>{{ event.price }}</label> 
					{% endif %}
										
										<div class="list-card_tag">
											<a href="#">#{{ event.category }}</a>
										</div>
										<div class="list-card_action">
											<a class="share_link" href="http://www.facebook.com/share.php?u=http://www.eventtest.com&title={{ event.name }}&summary={{ event.description }}" 
											     target="_blank">
											    <button class="btn btn-social btn-facebook share_button">
											      <span class="icon icon-facebook">
											      </span> 
											      <img class="share_image" src="http://www.freeiconspng.com/uploads/fb-logo-icon-4.png" style="height:30px;width:50px;"></img>
											    </button>
											  </a>
											<a class="twitter-share-button"
										  href="https://twitter.com/intent/tweet?text={{ event.name }}"
										  data-size="large">
										<img class="share_image tweet" src="https://pbs.twimg.com/profile_images/2284174872/7df3h38zabcvjylnyfe3.png" style="height:30px;width:50px; margin-top:6px !important; padding-right:5px !important"></img></a>
											{% if event.saved_flag == '0' %}
											<button data-id-1="{{ event.event_id }}" data-id-2="{{ event.user_name }}" data-id-3="1" class="saved_events"><i data-id="{{ event.event_id }}" class="fa fa-bookmark-o saved_favicon" aria-hidden="true"></i></button>
											{% endif %}
											{% if event.saved_flag == '1' %}
											<button data-id-1="{{ event.event_id }}" data-id-2="{{ event.user_name }}" class="saved_favicon"><i data-id="{{ event.event_id }}" class="fa fa-bookmark-o " aria-hidden="true"></i></button>
											{% endif %}
										</div>
									</div>
								</div>
								{% endif %}
								{% endfor %}
							</div>
						</div>
						<div id="Profile" class="tabcontent">
							<h2 style="font-size: 17px;margin-top: 10px">Today</h2>
							<div class="tabcontent_date_first">{% for event in today_events %}
							{% if event.publish_event == '1' %}
								<div class="tabcontent_first">
									{% for img in event.image %}
								  	<a style="text-decoration:none;color:black ; display:block" href="#"><img src="/{{ img }}">
								  		{% endfor %}
								  	<h3>{{ event.time }}</h3>
									<h4>{{ event.name }}:{{ event.description }}[{{ event.city }}]</h4>
									<p>{{ event.city }} , {{ event.country }}</p></a>
									<hr style="border-top: 1px solid #ccc;margin-bottom:0px">
									<div class="list-card_footer">
										{% if event.price == '0' %}
						<label>free</label>
					{% else %}
						<label>{{ event.price }}</label> 
					{% endif %}
										<div class="list-card_tag">
											<a href="#">#{{ event.category }}</a>
										</div>
										<div class="list-card_action">
											<a class="share_link" href="http://www.facebook.com/share.php?u=http://www.eventtest.com&title={{ event.name }}&summary={{ event.description }}" 
											     target="_blank">
											    <button class="btn btn-social btn-facebook share_button">
											      <span class="icon icon-facebook">
											      </span> 
											      <img class="share_image" src="http://www.freeiconspng.com/uploads/fb-logo-icon-4.png" style="height:30px;width:50px;"></img>
											    </button>
											  </a>
											<a class="twitter-share-button"
										  href="https://twitter.com/intent/tweet?text={{ event.name }}"
										  data-size="large">
										<img class="share_image tweet" src="https://pbs.twimg.com/profile_images/2284174872/7df3h38zabcvjylnyfe3.png" style="height:30px;width:50px; margin-top:6px !important; padding-right:5px !important"></img></a>
											
											<a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a>
										</div>
									</div>
								</div>
								{% endif %}
								{% endfor %}
							</div>
							<h2 style="font-size: 17px;margin-top: 10px">UpComing events</h2>
						  	
							<div class="tabcontent_date_first">{% for event in coming_events %}
							{% if event.publish_event == '1' %}
								<div class="tabcontent_first">
									{% for img in event.image %}
								  	<a style="text-decoration:none;color:black ; display:block" href="#"><img src="/{{ img }}">
								  		{% endfor %}
								  	<h3>{{ event.time }}</h3>
									<h4>{{ event.name }}:{{ event.description }}[{{ event.city }}]</h4>
									<p>{{ event.city }} , {{ event.country }}</p></a>
									<hr style="border-top: 1px solid #ccc;margin-bottom:0px">
									<div class="list-card_footer">
										{% if event.price == '0' %}
											<label>free</label>
										{% else %}
											<label>{{ event.price }}</label> 
										{% endif %}
										<div class="list-card_tag">
											<a href="#">#{{ event.category }}</a>
										</div>
										<div class="list-card_action">
											<a class="share_link" href="http://www.facebook.com/share.php?u=http://www.eventtest.com&title={{ event.name }}&summary={{ event.description }}" 
											     target="_blank">
											    <button class="btn btn-social btn-facebook share_button">
											      <span class="icon icon-facebook">
											      </span> 
											      <img class="share_image" src="http://www.freeiconspng.com/uploads/fb-logo-icon-4.png" style="height:30px;width:50px;"></img>
											    </button>
											  </a>
											<a class="twitter-share-button"
										  href="https://twitter.com/intent/tweet?text={{ event.name }}"
										  data-size="large">
										<img class="share_image tweet" src="https://pbs.twimg.com/profile_images/2284174872/7df3h38zabcvjylnyfe3.png" style="height:30px;width:50px; margin-top:6px !important; padding-right:5px !important"></img></a>
											
											<a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a>
										</div>
									</div>
								</div>
								{% endif %}
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
$(".share_event").click(function(){
	var image=$(this).data("image");
	var name=$(this).data("name");
	console.log('here',image,name)
})

window.fbAsyncInit = function() {
  FB.init({
    appId      : 535716809954624,
    xfbml      : true,
    version    : 'v2.4'
  });
};

(function(d, s, id){
   var js, fjs = d.getElementsByTagName(s)[0];
   if (d.getElementById(id)) {return;}
   js = d.createElement(s); js.id = id;
   js.src = "//connect.facebook.net/en_US/sdk.js";
   fjs.parentNode.insertBefore(js, fjs);
 }(document, 'script', 'facebook-jssdk'));

 var galleryItem = // ..item to share

$('.js-share-facebook').on('click', function() {
    FB.ui({
        method: 'share_open_graph',
        action_type: 'og.shares',
        action_properties: JSON.stringify({
            object : {
               'og:url': BASE_URL,
               'og:title': galleryItem.title,
               'og:description': galleryItem.description,
               'og:og:image:width': '2560',
               'og:image:height': '960',
               'og:image': BASE_URL + '/images/works/galleries' + galleryItem.image
            }
        })
    });
  });
</script>
{% endblock %}


{% block content %}



{% endblock %}

{% block footer %}

{% include 'home/footer_second.html' %}

{% endblock %}
{% block myjs %}
<script>
	document.getElementById("defaultOpen").click();
</script>
{% endblock %}