<div id="browse_results">
	{% if events_data %}
							<div id="Name" class="tabcontent" active>{% for event in events_data %}
								<div class="tabcontent_first">
								  	<a style="text-decoration:none;color:black ; display:block" href="#">
								  		{% for img in event.image %}
								  		<img src="/{{ img }}">
								  		{% endfor %}
								  	<h3>{{ event.time }}</h3>
									<h4>{{ event.name }}:{{ event.description }}[{{ event.city }}]</h4>
									<p>{{ event.city }} , {{ event.country }}</p></a>
									<hr style="border-top: 1px solid #ccc;margin-bottom:0px">
									<div class="list-card_footer">
										{% if event.price == '0' %}
						<label>Free</label>
					{% else %}
						<label>{{ event.price }}</label> 
					{% endif %}
										<div class="list-card_tag">
											<a href="#">#{{ event.category }}</a>
										</div>
										<div class="list-card_action">
											<a class="share_link" href="http://www.facebook.com/share.php?u=http://www.eventtest.com&title={{ event.name }}&summary={{ event.description }}" 
											     target="_blank">
											    <button class="btn btn-social btn-facebook share_button">
											      <span class="icon icon-facebook">
											      </span> 
											      <img class="share_image" src="http://www.freeiconspng.com/uploads/fb-logo-icon-4.png" style="height:30px;width:50px;"></img>
											    </button>
											  </a>
											<a class="twitter-share-button"
										  href="https://twitter.com/intent/tweet?text={{ event.name }}"
										  data-size="large">
										<img class="share_image tweet" src="https://pbs.twimg.com/profile_images/2284174872/7df3h38zabcvjylnyfe3.png" style="height:30px;width:50px; margin-top:6px !important; padding-right:5px !important"></img></a>
											
											<a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a>
										</div>
									</div>
								</div>
								
								{% endfor %}
							</div>
							{% else %}
							<div id="demo" onclick="myFunc()">
         					 </div>
							{% endif %}
						</div>
						
{% block myjs %}
  <script>

$( "#demo" ).trigger( "click" );

function myFunc(){

toastr.options = {
  "closeButton": false,
  "debug": false,
  "newestOnTop": false,
  "progressBar": false,
  "positionClass": "toast-top-center",
  "preventDuplicates": false,
  "showDuration": "300",
  "hideDuration": "1000",
  "timeOut": "1000",
  "extendedTimeOut": "1000",
  "showEasing": "swing",
  "hideEasing": "linear",
  "showMethod": "fadeIn",
  "hideMethod": "fadeOut"
}

toastr.error('Sorry, no events found.')

}

</script>
  {% endblock %} 						