{% extends 'home/index.html' %}
{% load static %}

{% block slider %}

<div class="careerimage_top">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<a href="/about_us/">About Us</a>
				<a href="#">Team</a>
				<a href="#"> Investors & Board</a>
				<a href="#"> Careers</a>
				<a href="#"> Press</a>
				<a href="#"> Contact Us</a>
				<h1>In the Briteland we are:</h1>
				<div class="typewriter">
  					<h1>Lorem Ipsum</h1>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block content %}

<!--Start of about top-->
<div class="career_top">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>At events, we make work play. We tackle complex challenges, work hard, high-five and celebrate. We're risk-takers, fast learners, and experts in our fields. Together, we're redefining an industry in desperate need of a shakeup. 
				</h2>
				<button>VIEW OPEN POSITIONS</button>
			</div>
		</div>
	</div>
</div>

<div class="careertop">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Not currently looking for a new role?</h2>
				<button>KEEP IN TOUCH</button>
			</div>
		</div>
	</div>
</div>
<!--end of about top-->

{% endblock %}

{% block carousel %}

<div class="career_slider">
    <!-- Half Page Image Background Carousel Header -->
    <header id="myCarousel" class="carousel slide">
        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" style="background-image:url('http://www.discoverlongisland.com/wp-content/themes/licvb/timthumb.php?src=http://www.discoverlongisland.com/wp-content/uploads/2015/11/Hiking.jpg&w=1300&h=400&zc=1');"></div>
                <div class="carousel-caption">
                    <div style="background-color:#00A8F2;" class="slide_content">
                        <p>Lunch? We serve that. In-office yoga? You bet. Time off? No one's counting. Voted "Best Place to Work" in the Bay Area 6 years and counting, we take pride in putting people first. We offer benefits that meet you in every stage of life because we know when you're happy and healthy you do your best work.</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image:url('http://www.bellebuono.org/agriverde/C69I0_5modificato.jpg');"></div>
                <div class="carousel-caption">
                    <div style="background-color:#00A8F2;" class="slide_content">
                        <p>Get ready for spontaneous applause, impromptu brainstorms, and the contagious excitement we bring to the office each day. We've built a team that does great work and has an awesome time doing it, and we're always looking for more whip-smart people to pipe up, dive in, and get their hands dirty with us.</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image:url('http://previews.123rf.com/images/anitabonita/anitabonita1504/anitabonita150400013/39328805-panoramic-view-of-a-natural-park-Cape-Greco-near-Ayia-Napa-Cyprus-Stock-Photo.jpg');"></div>
                <div class="carousel-caption">
                    <div style="background-color:#00A8F2;" class="slide_content">
                        <p>If you like a challenge, you'll love it here, because we're solving tough problems every day. We're positioned to go big (global marketplace big) and are always pressing forward. With weekly tech talks, Brite Camps led by teammates, and fireside chats with thought leaders, we're committed to growth — both professionally and personally.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

    </header>
</div>


{% endblock %}


{% block bottom %}

<div class="career_bottom">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<i class="fa fa-twitter" aria-hidden="true"></i><br>
				<a href="">Connect with us </a>
			</div>
			<div class="col-md-3">
				<i class="fa fa-rocket" aria-hidden="true"></i><br>
				<a href="">Engineering Blog </a>
			</div>
			<div class="col-md-3">
				<i class="fa fa-picture-o" aria-hidden="true"></i><br>
				<a href="">Briteling Blog </a>
			</div>
			<div class="col-md-3">
				<i class="fa fa-users" aria-hidden="true"></i><br>
				<a href="">Meet the Recruiting Team  </a>
			</div>
		</div>
	</div>
	<hr>
</div>


<div class="career-bottom">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Find the perfect gig for you.</h1>
				<h2>Filter positions by: Team | <a href="">City</a></h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h1>Business Development</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<a href="">Business Development Manager - Dublin</a>
				<h2>Dublin, Ireland</h2>
			</div>
			<div class="col-md-6">
				<a href="">Business Development Manager - London</a>
				<h2>London, United Kingdom</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<a href="">Business Development Representative - Melbourne</a>
				<h2>Melbourne, Australia</h2>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Customer Service </h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<a href="">Customer Experience Representative - French</a>
				<h2>Cork, Ireland</h2>
			</div>
			<div class="col-md-6">
				<a href="">Customer Experience Representative - German</a>
				<h2>Cork, Ireland</h2>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Design</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<a href="">User Experience Designer</a>
				<h2>San Francisco, California</h2>
			</div>
			<div class="col-md-6">
				<a href="">Web Designer - Brand Communications</a>
				<h2>San Francisco, California</h2>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Engineering </h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<a href="">Mobile Software Engineer - Android - Argentina</a>
				<h2>Mendoza, Argentina</h2>
			</div>
			<div class="col-md-6">
				<a href="">Mobile Software Engineer - iOS - Argentina</a>
				<h2>Mendoza, Argentina</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<a href="">Senior Data Architect</a>
				<h2>Nashville, Tennessee</h2>
			</div>
			<div class="col-md-6">
				<a href="">Senior Data Architect</a>
				<h2>San Francisco, California</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<a href="">Senior Software Engineer - Argentina</a>
				<h2>Mendoza, Argentina</h2>
			</div>
			<div class="col-md-6">
				<a href="">Senior Software Engineer - Back End</a>
				<h2>San Francisco, California</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<a href="">Senior Software QA Engineer - Argentina</a>
				<h2>Mendoza, Argentina</h2>
			</div>
			<div class="col-md-6">
				<a href="">Software Engineer</a>
				<h2>Nashville, Tennessee</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<a href="">Software Engineer - Argentina</a>
				<h2>Mendoza, Argentina</h2>
			</div>
			<div class="col-md-6">
				<a href="">Software Engineer - SEO</a>
				<h2>Nashville, Tennessee</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<a href="">Software QA Engineer - Argentina</a>
				<h2>Mendoza, Argentina</h2>
			</div>
			<div class="col-md-6">
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
			<h1>Finance </h1>
			<a href="">Senior Risk Analyst</a>
			<h2>San Francisco, California</h2>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Human Resources </h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<a href="">Receptionist (Contractor)</a>
				<h2>San Francisco, California</h2>
			</div>
			<div class="col-md-6">
				<a href="">Senior Technical Recruiter - Engineering</a>
				<h2>San Francisco, California</h2>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Marketing </h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<a href="">Acquisition Marketing Manager - Large Accounts</a>
				<h2>San Francisco, California</h2>
			</div>
			<div class="col-md-6">
				<a href="">Marketing Manager - Content & Demand Generation</a>
				<h2>Melbourne, Australia</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<a href="">Wordpress Developer (Contractor)</a>
				<h2>San Francisco</h2>
			</div>
			<div class="col-md-6">
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
			<h1>Product </h1>
			<a href="">Product Manager</a>
			<h2>Mendoza, Argentina</h2>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Sales </h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<a href="">Mid-Market Account Executive</a>
				<h2>Nashville, Tennessee</h2>
			</div>
			<div class="col-md-6">
				<a href="">Music Operations Manager - Venues and Festivals</a>
				<h2>San Francisco, California</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<a href="">Salesforce Administrator/Business Analyst</a>
				<h2>San Francisco, California</h2>
			</div>
			<div class="col-md-6">
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-12">
			<h1>Strategy </h1>
			<a href="">General Manager, Deutschland</a>
			<h2>Berlin, Germany</h2>
			</div>
		</div>
		<hr>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
			<p style="display:inline; font-size:20px">Didn't find the position you were looking for?</p><a href="#">Keep in touch.</a>
			</div>
		</div>
	</div>
</div>

{% endblock %}
