{% extends 'home/index.html' %}
{% load static %}
{% block slider %}
{% endblock %}

{% block content %}
<div class="conatiner" style="padding-top:80px;">
	 <div class="event_created">
	        <div class="col-lg-12">
		        <div class="events_details">

		        	<h2> Events </h2>
		        	{% if events_data %}	        			         	
	         		<div class="row">

	         			{% for event in events_data %}	         				
	         			 	{% if event.image|length_is:"1" %}
	         			 		<div class="pics event_box col">
	         			 		{% for img in event.image %}	         			 		
	         			 		<a href="/event/{{ event.event_id }}/"><img src="/{{ img }}" style="width:318px;height:180px;"/>
	         			 			{% endfor %}
	         			 			<ul class="event_menu">
									<li>Price: 
										{% if event.price == '0' %}
											free
										{% else %}
											{{ event.price }} 
										{% endif %}
									</li>
									<li>Time: {{ event.time }} </li>
						 			<li>Event: {{ event.name }} </li>
						 			<div class="event_scroll">
						 				<li>{{ event.description }} </li>
									</div>
									<li>{{ event.city }} , {{ event.country }}</li>
						 	</ul></a>
	         			 		</div> 

	         			 	{% else %}
	         			 	<div class="row">
	         			 		<div class="pics event_box col">
	         			 	{% for img in event.image %}
	         			 	
	         			 	 <a href="/event/{{ event.event_id }}/"><img src="/{{ img }}" style="width:318px;height:180px;"/>
	         			 	
	         			 	 {% endfor %}
	         			 	 	<ul class="event_menu">
									<li>Price: 
										{% if event.price == '0' %}
											free
										{% else %}
											{{ event.price }} 
										{% endif %}
									</li>
									<li>Time: {{ event.time }} </li>
						 			<li>Event: {{ event.name }} </li>
						 			<div class="event_scroll">
						 				<li>{{ event.description }} </li>
									</div>
									<li>{{ event.city }} , {{ event.country }}</li>
						 	</ul></a>
	         			 	 	</div>
	         			 	 </div> 
   						{% endif %}	         									
  					{% endfor %}
  				</div>	
	{% else %}
	  <div class="message" onclick="func()">     
          </div>
	{% endif %}
</div>
</div>
</div>
</div>
{% endblock %}
{% block myjs %}
<script>
$('.message').trigger('click');
function func(){
  toastr.options = {
  "closeButton": false,
  "debug": false,
  "newestOnTop": false,
  "progressBar": false,
  "positionClass": "toast-top-center",
  "preventDuplicates": false,
  "showDuration": "300",
  "hideDuration": "1000",
  "timeOut": "1000",
  "extendedTimeOut": "1000",
  "showEasing": "swing",
  "hideEasing": "linear",
  "showMethod": "fadeIn",
  "hideMethod": "fadeOut"
}

toastr.error('Sorry, no events found.')

}
  </script>
  {% endblock %} 