{% extends 'home/index.html' %}

{% load static %}

{% block slider %}

<div class="checkin_top static_page_top">
	<div  class="container">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
			<h1>Drive your event’s success with the<br> Eventbrite Organizer app</h1>
			<input type="image" src="{% static 'images/google_play_en.png' %}" id="google_play_checkin">
			<input type="image" src="{% static 'images/app_store_badge_en.svg' %}" id="app_store_checkin"><br>
			<img src="{% static 'images/organizer_hero.png' %}">
			<a href="">See the app in action<i class="fa fa-play-circle-o" aria-hidden="true"></i></a>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
</div>

{% endblock %}

{% block content %}

<div class="checkin_content">
	<div class="container">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-5">
				<div class="checkin_content_left">
					<h1>Watch ticket sales live on your phone</h1>
					<p>Take control of your ticket sales with access to real-time data. Ramp up your marketing—or sit back and relax.</p>
				</div>
			</div>
			<div class="col-md-5">
				<div class="checkin_content_right">
					<img src="{% static 'images/organizer_section_2.png' %}">
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</div>
<div class="checkin_content_top">
	<div class="container">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<h1>Give your guests a flawless entry experience</h1>
				<p>Rely on easy-to-use ticket scanning and check-in to get the job done.</p>
				<img src="{% static 'images/organizer_section_3.png' %}">
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
</div>
<div class="checkin_content_middle">
	<div class="container">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-5">
				<div class="checkin_middle_left">
					<img src="{% static 'images/organizer_section_4.png' %}">
				</div>
			</div>
			<div class="col-md-5">
				<div class="checkin_middle_right">
					<h1>Stay up to speed with live attendance tracking</h1>
					<p>Keep your finger on the pulse of your event and make faster, more informed decisions.</p>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</div>
<div class="checkin_content_chance">
	<div class="container">
		<div class="row">
			 <div class="col-md-2"></div>
			 <div class="col-md-8">
			 	<h1>Never miss a chance to sell</h1>
			 	<p>Accept fast, secure payment for tickets and merchandise on-site.</p>
			 	<img src="{% static 'images/organizer_section_5US.png' %}">
			 </div>
			 <div class="col-md-2"></div>
		</div>
	</div>
</div>
<div class="checkin_bottom">
	<div class="container">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<h1>Turn your mobile device into a box office with these simple accessories</h1>
			</div>
			<div class="col-md-2"></div>
		</div>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<div class="row">
					<div class="col-md-4">
						<div class="checkin_bottom_inner">
							<i class="fa fa-credit-card" aria-hidden="true"></i>
							<h4>Card Reader</h4>
							<p>Easily swipe credit cards and process secure, encrypted payments.</p>
							<a href="">GET CARD READER</a>
						</div>
					</div>
					<div class="col-md-4">
						<div class="checkin_bottom_inner">
							<i class="fa fa-print" aria-hidden="true"></i>
							<h4>Printer</h4>
							<p>Connect a printer to your device to print tickets or receipts.</p>
							<a href="">GET STAR PRINTER</a><br>
							<a href="">GET BOCA PRINTER</a>
						</div>
					</div>
					<div class="col-md-4">
						<div class="checkin_bottom_inner">
							<i class="fa fa-ticket" aria-hidden="true"></i>
							<h4>Ticket Stock</h4>
							<p>Get your ticket stock compatible with BOCA for Eventbrite printers.</p>
							<a href="">GET TICKET STOCK</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</div>
<div class="video_check_content">
	<div class="container">
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<h2>See the Eventbrite Organizer app<br> in action</h2>
			</div>
			<div class="col-md-3"></div>
		</div>
	</div>
</div>
<div class="checkin_video">
<!-- Modal Template -->
	<div class="video_modal">
		<div class="modal fade" id="youtubeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content video_modal_content">
			    	<div class="modal-body video_modal_body">
			       		<div id="videoModalContainer">
			        
			       		</div>
			    	</div>
					<div class="modal-footer video_modal_footer">
			      		<button id="CloseModalButton" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			    	</div>
				</div>
			</div>
		</div>
	</div>
<!-- Modal Template -->

	<div class="row">
		<!-- DIV Container for each Video -->
		<div class="checkin_app_video">
			<div  id="qqrhMcxU8K0" class="youtubeVideoLoader">
			</div>
		</div>
	</div><!-- Row End -->
</div>

-----------------------------------<br>
Tabbed Slider<br>
------------------------
<div class="checkin_footer">
	<div class="container">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<img src="{% static 'images/organizer_icon.svg' %}">
				<h2>Get started with Eventbrite Organizer</h2>
				<input type="image" name="" src="{% static 'images/google_play_en.png' %}">
				<input type="image" name="" src="{% static 'images/app_store_badge_en.svg' %}">
			</div>
			<div class="col-md-2"></div>
		</div>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<div class="row">
					<div class="col-md-4">
						<div class="checkin_footer_inner">
							<h4>How does Eventbrite Organizer work?</h4>
							<p>Once you download Eventbrite Organizer from the App Store, log in with your Eventbrite account to access tools to help you manage your on-site event needs. All your data is synced with Eventbrite’s servers so you can use multiple devices at once.</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="checkin_footer_inner">
							<h4>Can I process credit cards with Eventbrite Organizer?</h4>
							<p>Yes you can! If you’re selling tickets and merchandise in US dollars using Eventbrite’s Payment Processing, you can accept all major credit card payments with the app. Get the Card Reader to make swiping cards faster and easier.</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="checkin_footer_inner">
							<h4>How much does Eventbrite Organizer cost?</h4>
							<p>Eventbrite Organizer is a free app. When processing credit card payments on the app, we charge a 3% payment processing fee on the transaction.</p>
							<span>For a limited time, we're waiving Eventbrite's Service Fee for sales using Eventbrite Organizer.</span>
						</div>
					</div>
				</div>
				<hr>
				<div class="checkin_end">
					<p>Other Apps by Eventbrite:</p>
					<img src="{% static 'images/eventbrite+orange.png' %}">
					<h5>Eventbrite App</h5>
					<p>Find your next experience on Eventbrite.</p>
					<a href="">Learn more</a>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</div>
{% endblock %}