{% extends 'home/conference_management.html' %}

{% load static %}

{% block slider %}

<div class="workshop_slider">
	<div class="conatiner">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-4">
				<div class="workshop_slider_left">
					<h2>Get started now!</h2>
					<input type="text" name="" placeholder="Email">
					<input type="password" name="" placeholder="Password">
					<button>Try It Now</button>
					<p>By clicking 'Try It Now', I confirm that I agree with the Eventbrite
					<a href="">terms of service</a> and <a href="">privacy policy</a></p>
					<p>Already a member? <a href="">Log In</a></p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="workshop_slider_right">
					<h1>Classes & Workshops </h1>
					<h4>Fill your classes. Use Eventbrite for registration and gain access to millions of people looking to learn.</h4>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</div>
<div class="workshop_slider_last">
	<div class="container">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-4">
						<h2>$3<span>bn</span></h2>
						<p>ticket sales & counting</p>
					</div>
					<div class="col-md-4">
						<h2>200<span>m</span></h2>
						<p>tickets sold</p>
					</div>
					<div class="col-md-4">
						<h2>20<span>k+</span></h2>
						<p>classes ticketed each year</p>
					</div>
				</div>
				<h3>Hosting a large or complex event?<br> Call our experts at <span id="class_span">1-888-215-3611</span> for help getting started.</h3>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
</div>

{% endblock%}

{% block content %}

<div class="workshop_content">
	<div class="container">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<h2>Start taking registrations and payments for your classes, trainings, and workshops within minutes. </h2>
				<div class="row">
					<div class="col-md-4">
						<i class="fa fa-pencil" aria-hidden="true"></i>
						<h4>Customize your event page</h4>
						<p>Create your own branded event page in 3 easy steps. Include multiple ticket types, or set up recurring events.</p>
					</div>
					<div class="col-md-4">
						<i class="fa fa-credit-card" aria-hidden="true"></i>
						<h4>Payment Ready</h4>
						<p>Event pages come ready to accept credit cards and PayPal without additional setup. Or, use your own payment gateway.</p>
					</div>
					<div class="col-md-4">
						<i class="fa fa-bullhorn" aria-hidden="true"></i>
						<h4>Get the word out</h4>
						<p>Send email invitations, create promotional codes, and spread the word with built-in social media tools.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<i class="fa fa-line-chart" aria-hidden="true"></i>
						<h4>Sync your data</h4>
						<p>Automatically sync your event information with popular software like MailChimp, Quickbooks, and Salesforce.</p>
					</div>
					<div class="col-md-4">
						<i class="fa fa-users" aria-hidden="true"></i>
						<h4>Learn about your students</h4>
						<p>Utilize custom questions to collect additional information about your attendees.</p>
					</div>
					<div class="col-md-4">
						<i class="fa fa-clock-o" aria-hidden="true"></i>
						<h4>Get answers around the clock</h4>
						<p>Our seasoned in-house support team provides you with 24/7 customer service.</p>
					</div>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</div>
<div class="workshop_content_bottom">
	<div class="container">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<h1>Eventbrite integrates with your favorite apps to make it even easier to sell tickets and promote your classes. Below are just a few to check out! </h1>
				<div class="row">
					<div class="workshop_content_inner">
						<div class="col-md-6">
							<img id="workshop_fb" src="{% static 'images/facebook1.png' %}">
							<p>Sell tickets directly from your Facebook Page</p>
							<img src="{% static 'images/Wordpress1.png' %}">
							<p>Sell tickets from websites built on Wordpress</p>
						</div>
					</div>
					<div class="workshop_content_inner">
						<div class="col-md-6">
							<img src="{% static 'images/mailchimp1.png' %}">
							<p>Export your class registrants directly into MailChimp email lists</p>
							<img src="{% static 'images/quickbooks1.png' %}">
							<p>Automatically sync customers and sales with Quickbooks Online</p>
						</div>
					</div>
				</div>
				<h2>Hosting a large or complex event? <br>Call our experts at<span> 1-888-215-3611 </span>for help getting started.</h2>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</div>
<div class="workshop_last">
	<div class="container">
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<div class="workshop_last_inner">
					<h2>Get started now!</h2>
					<input type="text" name="" placeholder="Email">
					<input type="password" name="" placeholder="Password">
					<button>Try It Now</button>
					<p>By clicking 'Try It Now', I confirm that I agree with the Eventbrite
					<a href="">terms of service</a> and <a href="">privacy policy</a></p>
					<p>Already a member? <a href="">Log In</a></p>
				</div>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
</div>

{% endblock %}