{% extends 'home/index.html' %}

{% load static %}

{% block navbar %}

<div class="conference_navbar">
	<div class="conatiner">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-3">
				<div class="conference_navbar_left">
					<h1>Event</h1>
				</div>
			</div>
			<div class="col-md-7">
				<div class="conference_navbar_right">
					<p>Hosting a large or complex event? Call our experts at 1-888-215-3611 for help getting started.</p>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</div>

{% endblock %}

{% block slider %}

<div class="conference_slider">
	<div class="conatiner">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-4">
				<div class="conference_slider_left">
					<h2>Get started now!</h2>
					<input type="text" name="" placeholder="Email">
					<input type="password" name="" placeholder="Password">
					<button>Try It Now</button>
					<p>By clicking 'Try It Now', I confirm that I agree with the Eventbrite
					<a href="">terms of service</a> and <a href="">privacy policy</a></p>
					<p>Already a member? <a href="">Log In</a></p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="conference_slider_right">
					<h1>Software for Managing Conferences and Events</h1>
					<h4>Planning a conference? Use Eventbrite’s conference management software to create a custom, branded event page, register and track your attendees, and boost sales with our built-in social tools.</h4>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</div>
<div class="conference_slider_bottom">
	<div class="conatiner">
		<div class="row">
			<div class="conference_slider_bottom">
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<h3>Want to have a conversation about your next conference? Talk to a seasoned sales expert at <p>1-888-215-3611</p></h3>
				</div>
				<div class="col-md-2"></div>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block content %}

<div class="conference_content">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Why do thousands of conference and seminar organizers use Eventbrite?</h1>
				<h2>Because we make it easy to set up, manage, and process registrations for conferences of all kinds. And if your event is free—so are we!</h2>
				<div class="row">
					<div class="col-md-4">
						<div class="conference_content_inner">
							<i class="fa fa-pencil" aria-hidden="true"></i>
							<h4>Customize your event page</h4>
							<p>Create your own branded event page. Include multiple registration types, discount codes, merchandise and more.</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="conference_content_inner">
							<i class="fa fa-users" aria-hidden="true"></i>
							<h4>Get to know your attendees</h4>
							<p>Survey your attendees' day-of-event preferences; request their job title, website, or any other custom field you’d like.</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="conference_content_inner">
							<i class="fa fa-bullhorn" aria-hidden="true"></i>
							<h4>Boost sales by getting social</h4>
							<p>Drive registrations with built-in social media tools. Each Facebook share results in an avg. of $4.15 in future conference purchases.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="conference_content_inner">
							<i class="fa fa-clock-o" aria-hidden="true"></i>
							<h4>Get 24/7 customer support </h4>
							<p>Our seasoned in-house support team provides you with round-the-clock customer service. </p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="conference_content_inner">
							<i class="fa fa-desktop" aria-hidden="true"></i>
							<h4>Trust our platform to perform</h4>
							<p>Eventbrite is a stable and stress-tested platform, easily managing high levels of traffic with consistent uptime.</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="conference_content_inner">
							<i class="fa fa-tag" aria-hidden="true"></i>
							<h4>No contracts, or hidden fees</h4>
							<p>Eventbrite is free for free events. And we’ll only charge a small fee if you’re collecting payments.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="conference_content_middle">
	<div class="container">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<h1>How to Increase Event Registrations</h1>
				<h2>Get Eventbrite's free britepaper and learn how to leverage the power of social media.</h2>
				<button>Download</button>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</div>
<div class="conference_content_bottom">
	<div class="container">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<div class="row">
					<h2>See who's using Eventbrite:</h2>
					<div class="col-md-2">
						<a href="">
							<img src="{% static 'images/women2.0.jpg' %}">
						</a>
					</div>
					<div class="col-md-2">
						<a href="">
							<img src="{% static 'images/digsouth.jpg' %}">
						</a>
					</div>
					<div class="col-md-2">
						<a href="">
							<img src="{% static 'images/tech_cruch_disrupt.jpg' %}">
						</a>
					</div>
					<div class="col-md-2">
						<a href="">
							<img src="{% static 'images/girlsintech.jpg' %}">
						</a>
					</div>
					<div class="col-md-2">
						<a href="">
							<img src="{% static 'images/docusign.jpg' %}">
						</a>
					</div>
					<div class="col-md-2">
						<a href="">
							<img src="{% static 'images/berkley.jpg' %}">
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</div>
<div class="conference_bottom">
	<div class="container">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<h3>Want to have a conversation about your next conference? Talk to a seasoned sales expert at <p>1-888-215-3611</p></h3>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
</div>
<div class="conference_last">
	<div class="container">
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<div class="conference_slider_last">
					<h2>Get started now!</h2>
					<input type="text" name="" placeholder="Email">
					<input type="password" name="" placeholder="Password">
					<button>Try It Now</button>
					<p>By clicking 'Try It Now', I confirm that I agree with the Eventbrite
					<a href="">terms of service</a> and <a href="">privacy policy</a></p>
					<p>Already a member? <a href="">Log In</a></p>
				</div>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
</div>

{% endblock %}