{% extends 'home/index.html' %}
{% load static %}

{% block slider %}

<div class="cookies_top">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h2>events Cookie Policy</h2>
			<div class="col-md-6"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<img src="{% static 'images/image2.jpg' %}">
				<p>Updated by<a href="#">  Antwonne D.</a> on<br> 11/18/2015 </p>
			</div>
			<div class="col-md-4">
				<p>Category: <a href="#">Legal Policies</a></p>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
</div>

{% endblock %}

{% block content %}
<div class="cookies_content">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="cookies_content_left">
					<h4>Here's an overview:</h4><br>
					<a href="">1. Who We Are.</a><br>
					<a href="">2. Our Cookie Policy.</a><br>
					<a href="">3. What are cookies, pixel tags (AKA clear GIFs or web beacons), local shared objects, and web storage?</a><br>
					<a href="">4. How can I manage these technologies?</a><br>
					<a href="">5. What does events use these technologies for?</a><br>
					<a href="">6. Does anybody else use these technologies on your services?.</a>
				</div>
			</div>
			<div class="col-md-8">
				<div class="cookies_content_right">
					<h4>This is events's Cookie Policy.</h4><br>
					<div class="cookies_note">
						<h3>NOTE : </h3><h6>To learn more about events's legal policies, take a look <a href=""> here.</a></h6><br><br><br>
					</div>
					<h2>1. Who We Are. </h2><br>
						<h4>1.1 events. </h4><br>
							<p>events is a ticketing and registration platform dedicated to bringing the world together through live experiences. Through our platform, mobile apps and services, we enable people all over the world to create, discover, share and register for events.
							</p><br>
						<h4>1.2 The Services. </h4><br>
							<p>events’s websites and domains, including www.events.com, and all of the webpages, subdomains, country level domain variants and subparts of those websites (collectively, our “Site”), all of the services available on or through the Site or otherwise provided by us (including our application programming interfaces), and all of our free mobile applications, including without limitation, <a href="">events Organizer</a>, the <a href="">events app</a> and the <a href="">Rally app</a> (collectively, the “Applications”) are offered, maintained and provided by events. We refer to all of these as our “Services.” events is a Delaware corporation with its principal place of business at 155 5th Street, Floor 7, San Francisco, CA 94103, Reg. No. 4742147 (“events,” “us,” “we” or “our”). </p><br>
						<h4>1.3 Users. </h4><br>
							<p>Through the Services, events provides a simple and quick means for registered users who are event organizers, planners and charitable organizations (“Organizers”) to create event registration, speaker profile, organizer profile, fundraising and other webpages related to their events, to promote those pages and events to visitors or browsers of the Services and to sell tickets and registrations (or issue free registrations), solicit donations and sell merchandise related to those events to users who wish to make purchases, registrations or donations from or to such events (including to free events) (“Attendees”). We refer to Organizers, Attendees and other visitors and browsers of the Services collectively as “Users” or “you.”</p><br><br>
					<h2>2. Our Cookie Policy. </h2><br>
						<h4>2.1 Application. </h4><br>
							<p>This Cookie Policy sets forth our policy with respect to information, including information that can be associated with a specific person and could be used to identify that person ("Personal Data"), that is collected from Users through cookies, pixel tags, local shared objects, web storage and other similar technologies. </p><br>
						<h4>2.2 Incorporation By Reference. </h4><br>
							<p>Please also refer to our <a href="#">Privacy Policy</a>, into which this Cookie Policy is incorporated by reference, which sets forth our policy with respect to the collection, use, disclosure, transfer and storage of information, including Personal Data, that is collected from Users. Nothing in this Cookie Policy shall be deemed to modify, waive, amend or rescind any other term of the Privacy Policy.</p>
							<br>
						<h4>2.3 Consent.</h4><br>
							<p>By using the Services, you are consenting to the use of the technologies described in this Cookie Policy to collect both Personal Data and non Personal Data and to the storage of information on your device or web browser as described in this Cookie Policy.</p><br><br>
					<h2>3. What are cookies, pixel tags (AKA clear GIFs or web beacons), local shared objects, 			and web storage? </h2><br>
						<h4>3.1 Cookies. </h4><br>
							<p>A cookie is a piece of information that is placed on your web browser when you access and/or use the Services that stores text and which can later be read back by the Services or third parties. Cookies are used to recognize your browser and you as a unique User. </p><br>
						<h4>3.2 Pixel Tags (aka Clear GIFs or Web Beacons). </h4><br>
							<p>A pixel tag is a tiny invisible tag or graphic placed on certain parts of the Services or other websites, in emails or in certain other downloadable content, but not on your computer, mobile device or browser, except to the extent that you download the content that contains such tags. </p><br>
						<h4>3.3 Local Shared Objects (aka Flash Cookies). </h4><br>
							<p>A local shared object is similar to a cookie, except it is stored on your computer or mobile device, instead of your browser, and it can store more than just text. The methods for controlling local shared objects are different than the methods for controlling cookies (as discussed below).</p><br><br>
					<h2>4. How can I manage these technologies? </h2><br>
						<h4>4.1 Cookies. </h4><br>
							<p>Cookies may be session cookies (i.e., last only for one browser session) or persistent cookies (i.e., continue on your browser until they are affirmatively deleted). You can manage cookies through your web browser's option settings and through those settings you may be able (a) to receive notifications when you are receiving new cookies; (b) to disable cookies; or (c) to delete cookies. Please refer to your web browser's help section for information on how to do this. </p><br>
						<h4>4.2 Pixel Tags. </h4><br>
							<p>Pixel tags do not store information on your computer, mobile device or browser (although they are occasionally downloaded to your computer if contained in an email or other downloadable content) so cannot be managed by you except by deleting the content in which the tag is contained. </p><br>
						<h4>4.3 Local Shared Objects. </h4><br>
							<p>Local shared objects are stored on your computer or mobile device. To learn how to manage privacy and storage settings for local shared objects, click <a href="#">here</a>. </p><br>
						<h4>4.4 Web Storage.</h4><br>
							<p>Web Storage, or HTML5 Local Storage, is an industry-standard data storage technology that is implemented by internet browser providers. Refer to your browser's help contents for procedures on how to manage settings for Web Storage.</p><br><br>
					<h2>5. What does events use these technologies for? </h2><br>
						<h4>5.1 Essential (strictly necessary). </h4><br>
							<p>We use these technologies in a way that is essential for the operation of our Services or parts of our Services. For example, we may use cookies to determine where to route your traffic to effectively distribute the Site workload across numerous servers.</p><br>
						<h4>5.2 Performance/Analytics. </h4><br>
							<p>We use these technologies to monitor our Services and to analyze how you use our Services. For example, we may place cookies that allow us (a) to measure the time of your requests to our servers and our responses; (b) to A/B test new features; (c) to record statistics about site usage; (d) to track your activities on the Services; and (e) to track the places from which you come to the Services.<br><br>
							We may also use third party cookies to collect information about visitor behavior on our Services for these Performance/Analytics purposes. As an example, we use Google Analytics and Google Analytics Demographics and Interest Reporting. You can manage your opt-outs for this third party service provider here: <br><br>
							<ul>
								<li><a href="#"> Google Analytics Opt-out Browser Add-on </a></li>
							</ul>
							</p><br>
						<h4>5.3 Functionality.</h4><br>
							<p>We use these technologies to allow us to provide certain functionality on the Services and to remember your preferences. For instance, when you click the "remember me" box on our log in page we place a persistent cookie on your browser that allows our Services to pre-populate your username when you return. Other examples include remembering your preferences (such as language and location preferences), preventing web application vulnerabilities, allowing for Facebook Connect and other third party integrations and in connection with providing search results. </p><br>
						<h4>5.4 Advertising (including behavioral/interest based advertising). </h4><br>
							<p>We use these technologies to deliver advertisements to you both on and off the Services. By using these technologies we hope to better tailor these advertisements to your interests. Sometimes this is called online behavioral, interest based or retargeted advertising. As of the date hereof, we use technologies from Adroll, Chango, Google, Media Math, Perfect Audience, Quantcast, Retargeter and Yahoo! for such purposes. Many of these vendors participate in voluntary frameworks that allow you to opt-out of such advertising. You can manage your opt-outs for those third party service providers who participate in such opt-out frameworks at the following websites depending on your location: <br><br>
							<ul>
								<li><a href="#">Australia </a></li>
								<li><a href="#"> Canada </a></li>
								<li><a href="#">EU </a></li>
								<li><a href="#"> United States </a></li>
							</ul><br>
							In addition, not every one of these third party service providers may participate at all times in every voluntary framework, so we have included links to their individual opt out frameworks so you can control your preferences directly with each such third party service provider:<br><br>
							<ul>
								<li><a href="#"> Adroll </a></li>
								<li><a href="#"> Rubicon </a></li>
								<li><a href="#"> Google </a></li>
								<li><a href="#"> Media Math </a></li>
								<li><a href="#"> Perfect Audience </a></li>
								<li><a href="#"> Quantcast </a></li>
								<li><a href="#"> Retargeter </a></li>
								<li><a href="#">Yahoo! </a></li>
							</ul>
							</p><br><br>
					<h2>6. Does anybody else use these technologies on your services? </h2><br>
							<p>Most of the cookies and other technologies described above on our Services are set by us (aka first party cookies) or are used in connection with the Services and set by third party service providers at our direction ("Third Party Cookies"). We may use Third Party Cookies with respect to each of the uses set forth above. For example, we use technologies from Google Analytics, Omniture and Mixpanel, among others, to measure performance/analytics and technologies from Facebook to provide Facebook Connect functionality. Occasionally, an Organizer may use similar technologies on their event pages for one of the purposes set forth above.</p><br>
					<hr>
						<h4 style="float:left">Did this article answer your question?</h4>&nbsp&nbsp&nbsp
						<button><i class="fa fa-smile-o" aria-hidden="true"></i></button>
						<button><i class="fa fa-frown-o" aria-hidden="true"></i></button>
					<hr>
						<h5>Related articles </h5><br>
						<a href="#">events Merchant Agreement</a><br>
						<a href="#">events Terms of Service</a><br>
						<a href="#">events Australian Consumer Amendments</a><br>
						<a href="#">EU Consumer Amendments</a><br>
						<a href="#">events Terms of Use</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="help_last">
	<div class="container">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<p>Still have questions? Our customer experience team is here to help. <a href="#"> Contact us. </a></p>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</div>


{% endblock %}