{% extends 'home/index.html' %}

{% load static %}

{% block navbar %}
<div class="developer_navbar">
	<nav class="navbar navbar-default navbar-fixed-top">
  		<div class="container">
  			<div class="row">
  				<div class="col-md-1"></div>
  				<div class="col-md-10">
  					<button>events</button>
   					<button>Developers</button>
   					<a href="#">Docs</a>
   					<a href="#">Authentication</a>
   					<a href="#">Forum</a>
   					<a href="#">App Directory</a>
   				</div>
   				<div class="col-md-1"></div>
   			</div>
  		</div>
	</nav>
</div>

{% endblock %}

{% block slider %}

{% endblock %}

{% block content %}

<div class="developer_top">
	<div class="container">
		
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<div class="developer_content">
						<h1>Easy Data Syncing</h1>
						<p>Made for SaaS platforms that serve<br> millions and stand-alone websites that<br> small communities rely on.</p>
						<button>Get Started</button>
					</div>
				</div>
				<div class="col-md-1"></div>
			</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-6">
					<div class="developer_left">
						<br><br><br><h2>Resources</h2>
						<a href="#">Getting Started</a>
						<p>An API services overview, including examples on how to construct basic request URLs.</p>
						<a href="#">Documentation</a>
						<p>Browse our list available resource types for more information about the object schema and related request methods.</p>
						<a href="#">Authentication</a>
						<p>Authentication tokens must be added to your request in order to access private data. Our authentication scheme is covered here.</p>
						<a href="#">Forum</a>
						<p>This Google Group will help the community stay up to date on news, announcements, and questions.</p>
						<a href="#">Use Cases and Apps</a>
						<p>Over 80 apps are promoted to our users in our partner directory. Discover what you can build and which other services have implemented the API.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="developer_right">

					</div>
				</div>
				<div class="col-md-1"></div>
			</div>
		
	</div>
</div>

{% endblock %}


{% block footer %}

<div class="developers_footer">
	<div class="container">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-2">
				<h6>About events</h6>
				<a href="#">About Us</a><br>
				<a href="#">Contact Us</a><br>
				<a href="#">Jobs</a><br>
				<a href="#">Pricing</a><br>
				<a href="#">Referral Program</a><br>
				<a href="#">Press</a><br>
			</div>
			<div class="col-md-2">
				<h6>How to</h6>
				<a href="#">Sell Tickets Online</a><br>
				<a href="#">Free Online Event Registration</a><br>
				<a href="#">Promote Events Online</a><br>
				<a href="#">Collect Donations Online</a><br>
				<a href="#">Send Email Invitations</a><br>
				<a href="#">Publish Event to Facebook</a><br>
			</div>
			<div class="col-md-2">
				<h6>Resources</h6>
				<a href="#">Help Center</a><br>
				<a href="#">events Blog</a><br>
				<a href="#">Partnerships and Resources</a><br>
				<a href="#">events on Twitter</a><br>
				<a href="#">Developer API</a><br>
			</div>
			<div class="col-md-4">
				<div class="develop_last">
					<a href=""><i class="fa fa-facebook" aria-hidden="true"></i>Connect With Facebook</a><br>
					<button><i class="fa fa-twitter" aria-hidden="true"></i>Follow @events</button><br>
					<button><i class="fa fa-twitter" aria-hidden="true"></i>Follow @eventsAPI</button><br>
				</div>
				<p>© 2011 events. All Rights Reserved. <a href="#">Terms of<br> Service</a>. <a href="#">Privacy Policy</a>.</p>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</div>

{% endblock %}