{% extends 'home/index.html' %}

{% load static %}

{% block slider %}

<div class="event_spectrum static_page_top">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<h2>Eventbrite Spectrum </h2>
			<p>Discover extensions that open new possibilities for your events and make life easier for you.</p>
		</div>
		<div class="col-md-2"></div>
	</div>
</div>

{% endblock %}

{% block content %}

<div class="spectrum_content">
	<div class="container">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-3">
				<div class="spectrum_left">
					<a href=""><i class="fa fa-home" aria-hidden="true"></i>Home</a>
					<div class="input-group stylish-input-group">
                    	<input type="text" class="form-control"  placeholder="Search" >
                    	<span class="input-group-addon">
                        	<button type="submit">
                        		<span class="glyphicon glyphicon-search"></span>
                        	</button>  
                    	</span>
                	</div>
                	<div class="spectrum_accordion">
                		<button class="accordion_spectrum"><i class="fa fa-list-ul" aria-hidden="true"></i>Categories
                		</button>
						<div class="panel_spectrum">
  							<ul>
  								<li><a href="">CRM</a></li>
  								<li><a href="">Social Networking</a></li>
  								<li><a href="">Event Mobile Apps</a></li>
  								<li><a href="">Distribution Partners</a></li>
  								<li><a href="">Event Websites</a></li>
  								<li><a href="">Schedule & Track Management</a></li>
  								<li><a href="">Email Marketing</a></li>
  								<li><a href="">Event Operations</a></li>
  								<li><a href="">Other</a></li>
  								<li><a href="">Fundraising</a></li>
  								<li><a href="">Finance & Reporting</a></li>
  								<li><a href="">Merchandise</a></li>
  								<li><a href="">Promotion & Advertising</a></li>
  							</ul>
						</div>
						<button class="accordion_spectrum"><i class="fa fa-file-text-o" aria-hidden="true"></i>Event Types</button>
						<div class="panel_spectrum">
						  	<ul>
						  		<li><a href="">Conferences</a></li>
						  		<li><a href="">Festivals</a></li>
						  		<li><a href="">Endurance Sports</a></li>
						  		<li><a href="">Non-profits and Fundraisers</a></li>
						  		<li><a href="">Music</a></li>
						  	</ul>
						</div>
						<button class="accordion_spectrum"><i class="fa fa-repeat" aria-hidden="true"></i>Services
						</button>
						<div class="panel_spectrum">
						  	<ul>
						  		<li><a href="">Syncs Attendees</a></li>
						  		<li><a href="">Syncs Orders</a></li>
						  		<li><a href="">Syncs Events</a></li>
						  	</ul>
						</div>
                	</div>
				</div>
			</div>
			<div class="col-md-8">
				<div class="spectrum_right">
					<div class="row">
						<div class="spectrum_featured">
							<h2>Featured</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<a id="spectrum_anchor1" href="">
								<div class="spectrum_first_image">
									<img src="{% static 'images/http:_www.eventbrite.com_upload_file_skG6rasALCJQEwuDDGSFVd.png' %}">
									<span>Event Operations</span>
								</div>
								<div class="spectrum_first_content">
									<h3>Waivers & Forms</h3>
									<p> by HelloSign </p>
								</div>
								<div class="spectrum_first_hidden">
									<p>Upload, send, and track legally binding documents to your attendees.</p>
									<span>Learn More</span>
								</div>
							</a>
						</div>
						<div class="col-md-4">
							<a id="spectrum_anchor2" href="">
								<div class="spectrum_second_image">
									<img src="{% static 'images/http:_www.eventbrite.com_upload_file_VkvccB98gxiyaR3kzFY9VJ.jpeg' %}">
									<span>Event Operations</span>
								</div>
								<div class="spectrum_second_content">
									<h3>Sessions</h3>
									<p> by Boomset </p>
								</div>
								<div class="spectrum_second_hidden">
									<p>Sessions management and access control.</p>
									<span>Learn More</span>
								</div>
							</a>
						</div>
						<div class="col-md-4">
							<a id="spectrum_anchor3" href="">
								<div class="spectrum_third_image">
									<img src="{% static 'images/http:_www.eventbrite.com_upload_file_AoF2uCBSgFcdbt36SUEgud.png' %}">
									<span>Fundraising</span>
								</div>
								<div class="spectrum_third_content">
									<h3>everydayhero Fundraising</h3>
									<p> by everydayhero </p>
								</div>
								<div class="spectrum_third_hidden">
									<p>Grow your event with online fundraising from everydayhero.</p>
									<span>Learn More</span>
								</div>
							</a>
						</div>
					</div>
					<div class="row">
						<div class="spectrum_featured">
							<h2>Most Popular</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<a id="spectrum_anchor4" href="">
								<div class="spectrum_forth_image">
									<img src="{% static 'images/http:_www.eventbrite.com_upload_file_EUJdV8esduNhS8VEfD4ChP.png' %}">
									<span>Event Websites</span>
								</div>
								<div class="spectrum_forth_content">
									<h3>WordPress.com</h3>
									<p> by Automattic </p>
								</div>
								<div class="spectrum_forth_hidden">
									<p>Eventbrite themes on WordPress.com.</p>
									<span>Learn More</span>
								</div>
							</a>
						</div>
						<div class="col-md-4">
							<a id="spectrum_anchor5" href="">
								<div class="spectrum_fifth_image">
									<img src="{% static 'images/http:_www.eventbrite.com_upload_file_s5w9GPi4McHKtRATMrgV4a.png' %}">
									<span>Social Networking</span>
								</div>
								<div class="spectrum_fifth_content">
									<h3>Facebook Pages</h3>
									<p> by Eventbistro </p>
								</div>
								<div class="spectrum_fifth_hidden">
									<p>Embed your event on your Facebook Business Page.</p>
									<span>Learn More</span>
								</div>
							</a>
						</div>
						<div class="col-md-4">
							<a id="spectrum_anchor6" href="">
								<div class="spectrum_sixth_image">
									<img src="{% static 'images/http:_www.eventbrite.com_upload_file_AMPKS7czquNFRndCW6zGaA.png' %}">
									<span>CRM</span>
								</div>
								<div class="spectrum_sixth_content">
									<h3>EventbriteSync</h3>
									<p> by Eventbrite </p>
								</div>
								<div class="spectrum_sixth_hidden">
									<p>Real-time sync of attendees and contacts to Salesforce.</p>
									<span>Learn More</span>
								</div>
							</a>
						</div>
					</div>
					<div class="row">
						<div class="spectrum_right_horizontal">
							<div class="horizontal_image">
								<a href="">
									<img src="{% static 'images/http:_www.eventbrite.com_upload_file_73tuFusuPXieNyse8PVkBN.png' %}">
								</a>
							</div>
							<div class="horizontal_heading">
								<h3>
									<a href="">Speaker List</a>
								</h3>
							</div>
							<div class="horizontal_heading_right">
								<a id="horizontal_anchor" href="">
									<span>Schedule & Track Management</span>
								</a>
								<p> by Sched.org</p>
								<p style="overflow-wrap: break-word;">Create a well designed list of speakers with profile photos.</p>
								<p>
									<a href="">Learn More</a>
								</p>
							</div>
						</div>
					</div>
					<div class="spectrum_pagination">
						<nav id="spectrum_page" aria-label="Page navigation">
						  	<ul class="pagination">
						    	<li>
						      		<a href="#" aria-label="Previous">
						        		<span aria-hidden="true">&laquo;</span>
						      		</a>
						    	</li>
						    	<li><a href="#">1</a></li>
						    	<li><a href="#">2</a></li>
						    	<li><a href="#">3</a></li>
						    	<li><a href="#">4</a></li>
						    	<li><a href="#">5</a></li>
						    	<li><a href="#">6</a></li>
						    	<li><a href="#">7</a></li>
						    	<li><a href="#">8</a></li>
						    	<li><a href="#">9</a></li>
						    	<li><a href="#">10</a></li>
						    	<li><a href="#">11</a></li>
						    	<li><a href="#">12</a></li>
						    	<li><a href="#">13</a></li>
						    	<li>
						      		<a href="#" aria-label="Next">
						        		<span aria-hidden="true">&raquo;</span>
						      		</a>
						    	</li>
						 	 </ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}