{% extends 'home/index.html' %}

{% load static %}
{% block slider %}{% endblock %}
{% block content %}
<div class="slider_head">
{% for event in events_data %}
<div class="events_detail_top">
	<h2>{{ event.name }},{{ event.description }}</h2><p style="font-size:20px">{{ event.city }} , {{ event.country }}<br>{{ event.time }}</p><hr>
</div>
<div class="events_detail">
	<div class="container">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-5">
				<h1>Event details</h1>
				<hr>
				<ul class="event_menu">
					<li><label>Price</label> 
					{% if event.price == '0' %}
						free
					{% else %}
						{{ event.price }} 
					{% endif %}
					 </li>
					<li><label>Time</label> {{ event.time }} </li>
					<li><label>Event</label> {{ event.name }} </li>
					<li>{{ event.description }} </li>
					<li>{{ event.city }} , {{ event.country }}</li>
				</ul>
			</div>
			<div class="col-md-5">
				<div class="event_details_image">
					{% for img in event.image %}
					<img style="height:200px;width:250px;border-radius:10px;box-shadow: 10px 10px 5px #888888;border: 1px solid #d2d6df;margin-left: 55px" src="/{{ img }}"/>
					{% endfor%}
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</div>
{% endfor %}
<div class="event_booking">
	<h3>Do you want to book tickets for this event ?</h3>
	<button id="events_details_button1" data-toggle="modal" data-target="#register_event">Register</button>
	<button id="events_details_button2">Not Interested</button>
</div>
<!--SUBEVENT-->
{% if subevents_data %}
<div class="subevent_list">
	<h3>Here is the list of Sub Events related to this Event</h3>
</div>
{% for subevent in subevents_data %}

<div class="col-lg-6">
	<div class="events_detail">
		<div class="sub_container">
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-5">
					<h1>{{ subevent.name }}</h1>
					<hr>
					<ul class="event_menu">
						<li><label>Price</label> 
						{% if subevent.price == '0' %}
							free
						{% else %}
							{{ subevent.price }} 
						{% endif %}
						</li>
						<li><div class="time_div"> <div class="time_label"> <label>Time</label> </div><div class="time_detail">{{ subevent.start_time }} to {{ subevent.end_time  }}</div></div> </li>
						<li><label>Event</label> {{ subevent.name }} </li>
						<li><label>Description</label>{{ subevent.description }} </li>
						{% if subevent.booking_check == False %}
						<li><button id="complete_subevent_registration" class="subevent_registration" data-id="{{ subevent.sub_event_id }}">Register</button></li>
						{% endif %}
					</ul>
				</div>
				<div class="col-md-5">
					{% for img in subevent.image %}
					<div class="event_details_image">
						<img style="height:200px;width:250px;border-radius:10px;box-shadow: 10px 10px 5px #888888;border: 1px solid #d2d6df;" src="/{{ img }}"/>
					</div>
					{% endfor %}
				</div>
				<div class="col-md-1"></div>
			</div>
		</div>
	</div>
</div>
<!--Ends here-->
{% endfor %}

{% else %}
	<div class="subevent_list">
		<h3>Sorry, No subevent found</h3>
	</div>
{% endif %}
</div>

<!--modal for event register-->


    <div id="register_event" class="modal fade">

        <div class="modal-dialog">

            <div class="modal-content register_content">

                <div class="modal-header reg_modal">

                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                    <h4 class="modal-title">Register or Get Tickets</h4>

                </div>

                <div class="modal-body reg_body">
                	<div class="register_data col-lg-12">
                	{% for tic_date in event_ticket_data %}
                		<div class="sale_end col-lg-12">
                			<p>Sales end on {{ tic_date.timestamp_end }}</p>
                		</div>
                	
                	
                		<div class="sale_info col-lg-12">
                			<div class="sale_type col-lg-9">
	                			<div class="sale_event_name">
	                				{{ tic_date.ticket_name }}
	                				<input type="hidden" class="event_name" name="event_name" value="{{ tic_date.ticket_name }}">
	                			</div>
	                {% endfor %}
	                {% for event in events_data %}
	                			<div class="sale_event_type">
	                				<input type="hidden" class="event_id" name="event_id" value="{{ event.event_id }}">
	                				{{ event.event_type }}
	                			</div>
	                		</div>
	                {% endfor %}
	                {% for quantity in event_ticket_data %}
	                		<div class="ticket_count col-lg-3">
	                			<select class="selectpicker reg_dropdown">   
			                        
			                    </select>
			                     <input type="hidden" data-min="{{ quantity.ticket_id }}" class="ticket_id" name="ticket_id" value="{{ quantity.ticket_id }}">
			                    <input type="hidden" data-min="{{ quantity.order_min }}" class="minimum" name="minimum" value="{{ quantity.order_min }}">
			                    <input type="hidden" data-min="{{ quantity.order_max }}" class="maximum" name="maximum" value="{{ quantity.order_max }}">
	                		</div>
	                {% endfor %}
                			
                		</div>
                		{% for ticket in event_ticket_data %}
                		<span id="noavailable_tickets">Number Of  Remaining Tickets : {{ ticket.pending_tickets }}</span>
                		{% endfor %}
                	</div>
                    
                </div>

                <div class="modal-footer reg_modal ticket_footer">
                	<div class="col-lg-6">
                    	<!--button type="button" class="btn btn-default get_ticket_button" data-dismiss="modal">Close</button-->
                    	<!--a href="/register_order/" class="get_ticket_button" id="register_order">Checkout</a-->
                    	<button type="button" class="btn btn-default get_ticket_button" id="checkout" >Checkout</button>

                    </div>
                    <div class="col-lg-6">
                   	{% for event in events_data %}
                    	<div class="col-lg-6 sale_event_type">
                    		<input type="hidden" id="type_event" value="{{ event.event_type }}">
                    		{{ event.event_type }}
                    	</div>
                    {% endfor %}
                    	<div class="col-lg-6" id="quantity_selected">
                    		<P class="selected_qua">Qty: </P>
                    	</div>
                    </div>

                    <!--button type="button" class="btn btn-primary">Save changes</button-->

                </div>

            </div>

        </div>

    </div>


<!--ends here-->

<!--modal for sub-event register-->


    <div id="register_subevent" class="modal fade">

        <div class="modal-dialog">

            <div class="modal-content register_content">

                <div class="modal-header reg_modal">

                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                    <h4 class="modal-title">Register or Get Tickets</h4>

                </div>
                <div id="subevent_registration">
                <div class="modal-body reg_body subevents_modal_reg">
                	<div class="register_data col-lg-12">
                		<div class="sale_end col-lg-12">
                			<p>Sales end on </p>
                		</div>
                	
                	
                		<div class="sale_info col-lg-12">
                			<div class="sale_type col-lg-9">
	                			<div class="sale_event_name">
	                				
	                				<input type="hidden" class="event_name" name="event_name" value="">
	                			</div>
	                
	                
	                			<div class="sale_event_type">
	                				<input type="hidden" class="event_id" name="event_id" value="">
	                				
	                			</div>
	                		</div>
	                
	                
	                		<div class="ticket_count col-lg-3">
	                			<button id="sub_selectpicker">ok</button>
	                			<select class="sub_selectpicker reg_dropdown">   
			                        
			                    </select>
			                     <input type="hidden" data-min="{{ quantity.ticket_id }}" class="sub_ticket_id" name="ticket_id" value="">
			                    <input type="hidden" data-min="{{ quantity.order_min }}" class="sub_minimum" name="minimum" value="">
			                    <input type="hidden" data-min="{{ quantity.order_max }}" class="sub_maximum" name="maximum" value="">
	                		</div>
	    
	                
                			
                		</div>
                		
                		<span id="noavailable_tickets">Number Of  Remaining Tickets : </span>
                		
                	</div>
                    
                </div>

                <div class="modal-footer reg_modal ticket_footer">
                	<div class="col-lg-6">
                    	<!--button type="button" class="btn btn-default get_ticket_button" data-dismiss="modal">Close</button-->
                    	<!--a href="/register_order/" class="get_ticket_button" id="register_order">Checkout</a-->
                    	<button type="button" class="btn btn-default get_ticket_button" id="sub_checkout" >Checkout</button>
                    </div>
                    <div class="col-lg-6">
                   	
                    	<div class="col-lg-6 sale_event_type">
                    		
                    	</div>
                    
                    	<div class="col-lg-6" id="sub_quantity_selected">
                    		<P class="selected_qua">Qty: </P>
                    	</div>
                    </div>

                    <!--button type="button" class="btn btn-primary">Save changes</button-->

                </div>
                </div>
            </div>

        </div>

    </div>


<!--ends here-->


{% endblock %}

