{% extends 'home/conference_management.html' %}

{% load static %}

{% block slider %}

<div class="management_slider">
	<div class="conatiner">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-4">
				<div class="management_slider_left">
					<h2>Get started now!</h2>
					<input type="text" name="" placeholder="Email">
					<input type="password" name="" placeholder="Password">
					<button>Try It Now</button>
					<p>By clicking 'Try It Now', I confirm that I agree with the Eventbrite
					<a href="">terms of service</a> and <a href="">privacy policy</a></p>
					<p>Already a member? <a href="">Log In</a></p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="management_slider_right">
					<h1>Software for Event Management and Planning</h1>
					<h4>Eventbrite provides event planning and management software for events of all shapes and sizes.</h4>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</div>
<div class="management_slider_last">
	<div class="container">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<h4>Event planning and management is easier with Eventbrite’s self-service platform. Anyone can use Eventbrite to post an event online, sell tickets, and track sales and registrations. Whether you’re planning a local cooking class or a full-blown festival, Eventbrite's event planning software will help you make your event a success.</h4>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</div>

{% endblock %}

{% block content %}

<div class="management_content">
	<div class="container">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<h1>How Event Management Software Helps Planners Organize Successful Events</h1>
				<h4>Spend less time on logistics, and more time doing what you love.</h4>
				<h6>1</h6>
				<p>Ditch the paper invitations. Event management software lets you send invitations and track RSVPs and ticket sales all in one place.</p>
				<h6>2</h6>
				<p>Stop relying on your limited email list for event promotion. Spread the word about your event with an online event listing and social media tools.</p>
				<h6>3</h6>
				<p>Leave the clipboard at home. Mobile event management apps get attendees in the door faster with on-site ticket scanning and check-in. </p>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
</div>
<div class="management_content_bottom">
	<div class="container">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<h1>Why You Should Choose Eventbrite to Sell Tickets</h1>
				<div class="row">
					<div class="col-md-4">
						<i class="fa fa-clock-o" aria-hidden="true"></i>
						<h4>Post an event in minutes</h4>
						<p>Customize and post your event in minutes, not days, so you can focus on taking your event to the next level.</p>
					</div>
					<div class="col-md-4">
						<i class="fa fa-bullhorn" aria-hidden="true"></i>
						<h4>Spread the word</h4>
						<p>Promote the event with social media and website widgets, and track your progress using real-time reports.</p>
					</div>
					<div class="col-md-4">
						<i class="fa fa-credit-card" aria-hidden="true"></i>
						<h4>Let attendees pay online</h4>
						<p>Easily accept credit cards, PayPal, and more. Track payments and manage refunds all in one place.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<i class="fa fa-users" aria-hidden="true"></i>
						<h4>Get great support</h4>
						<p>Rest easy knowing Eventbrite’s Help Center and expert staff are here to help you make your event a success.</p>
					</div>
					<div class="col-md-4">
						<i class="fa fa-ticket" aria-hidden="true"></i>
						<h4>Manage tickets at the door</h4>
						<p>On the day-of, make check-in run smoothly with the Eventbrite Organizer app.</p>
					</div>
					<div class="col-md-4">
						<i class="fa fa-line-chart" aria-hidden="true"></i>
						<h4>Track progress in real-time</h4>
						<p>Stay organized by having instant access to reporting and analytics. Watch your ticket and registration sales as they happen.</p>
					</div>
				</div>
				<h2>Hosting a large or complex event?<br>Call our experts at <span>1-888-215-3611</span> for help getting started.</h2>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</div>
<div class="management_content_images">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Thousands of organizers use Eventbrite for event planning and management</h2>
				<div class="row">
					<div class="col-md-2">
						<img src="{% static 'images/organizer-toughmudder.png' %}">
					</div>
					<div class="col-md-2">
						<img src="{% static 'images/new_bottlerock_logo.jpg' %}">
					</div>
					<div class="col-md-2">
						<img src="{% static 'images/lib_150x150.jpg' %}">
					</div>
					<div class="col-md-2">
						<img src="{% static 'images/sundance.jpg' %}">
					</div>
					<div class="col-md-2">
						<img src="{% static 'images/animethon.jpg' %}">
					</div>
					<div class="col-md-2">
						<img src="{% static 'images/TasteofDC.png' %}">
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<img src="{% static 'images/Okeechobee_Logo.jpg' %}">
					</div>
					<div class="col-md-2">
						<img src="{% static 'images/sea_wheeze.png' %}">
					</div>
					<div class="col-md-2">
						<img src="{% static 'images/craftbeer.jpg' %}">
					</div>
					<div class="col-md-2">
						<img src="{% static 'images/makerfaire.jpg' %}">
					</div>
					<div class="col-md-2">
						<img src="{% static 'images/tribeca_150x150.jpg' %}">
					</div>
					<div class="col-md-2">
						<img src="{% static 'images/oceanic.jpg' %}">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="management_community">
	<div class="container">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<h2>Join our community</h2>
				<h4>Join our colorful community of people hosting unique events around the world.</h4>
				<div class="row">
					<div class="management_images">
						<div class="col-md-3">
							<img src="{% static 'images/organizer_event_webdirections.jpg' %}">
							<h3>John Allsopp</h3>
							<h5>Web Directions</h5>
							<p>"Eventbrite allows us to 'spin up' new events quickly, freeing up time to focus on the quality of our events, not managing attendees. We love it!"</p>
						</div>
						<div class="col-md-3">
							<img src="{% static 'images/organizer_event_crescentcity.jpg' %}">
							<h3>Laine Thomas</h3>
							<h5>Crescent City Classic</h5>
							<p>"Our attendees are always shocked at how fast they get answers from Eventbrite. Their customer support team saves me hours every week. That's time I now spend creating a better race"</p>
						</div>
						<div class="col-md-3">
							<img src="{% static 'images/organizer_event_awesomeinc.jpg' %}">
							<h3>Nick Such</h3>
							<h5>Awesome Inc U</h5>
							<p>I didn't expect our classes to take off as fast as they did. Eventbrite allowed us to turn our passion into a business overnight."</p>
						</div>
						<div class="col-md-3">
							<img src="{% static 'images/organizer_event_shesaysbrighton.jpg' %}">
							<h3>Rifa Thorpe-Tracey</h3>
							<h5>SheSays Brighton</h5>
							<p>"It's so easy to create the event, put in a lovely image, send reminders as well as create tickets and guest lists. We really couldn't live without Eventbrite!"</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</div>
<div class="management_bottom">
	<div class="container">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<h2>Get the most from Eventbrite</h2>
				<h3>Use our event management software for free and pay only when you make a sale. It's as simple as that.
				</h3>
				<div class="row">
					<div class="col-md-4">
						<i class="fa fa-users" aria-hidden="true"></i>
						<h4>Free for free events</h4>
						<h5>Eventbrite is completely free for free events, no matter how big or small your gathering.</h5>
					</div>
					<div class="col-md-4">
						<i class="fa fa-bookmark" aria-hidden="true"></i>
						<h4>Low <a href="">fees</a></h4>
						<h5>A small fee is charged when you collect payments, but you can have attendees pay it.</h5>
					</div>
					<div class="col-md-4">
						<i class="fa fa-money" aria-hidden="true"></i>
						<h4>Get paid</h4>
						<h5>Start collecting money for your event in minutes by selecting a payment option.</h5>
					</div>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</div>
<div class="management_bottom_end">
	<div class="container">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<h4>Eventbrite’s event planning and management software helps make the lives of event organizers easier. Our software allows people all over the world to post customized event pages, send invitations, and promote their event online. Now anyone can use innovative technology to <a href="">sell tickets</a> , process payments, and even ask attendees custom questions to gather better information. And by posting your event on our platform, you’ll connect with a whole network of active event attendees looking for things to do.
				</h4>
				<h5>Learn <a href="">how it works</a> and take your event to the next level.</h5>
				<h2>Hosting a large or complex event?<br>Call our experts at <span>1-888-236-1416</span> for help getting started.</h2>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</div>
<div class="management_last">
	<div class="container">
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<div class="management_last_inner">
					<h2>Get started now!</h2>
					<input type="text" name="" placeholder="Email">
					<input type="password" name="" placeholder="Password">
					<button>Try It Now</button>
					<p>By clicking 'Try It Now', I confirm that I agree with the Eventbrite
					<a href="">terms of service</a> and <a href="">privacy policy</a></p>
					<p>Already a member? <a href="">Log In</a></p>
				</div>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
</div>

{% endblock %}