<div class="footer">
    <div class="country">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer_itm col-md-9 footer_menu">
                        <ul style="list-style-type:none;">
                            <li>
                                <a href="/about_us/">About</a>
                            </li>
                            <li>
                                <a href="/blog/">Blog</a>
                            </li>
                            <li>
                                <a href="/help/">Help</a>
                            </li>
                            <li>
                                <a href="/careers/">Careers</a>
                            </li>
                            <li>
                                <a href="/press/">Press</a>
                            </li>
                            <li>
                                <a href="/security/">Security</a>
                            </li>
                            <li>
                                <a href="/developers/">Developers</a>
                            </li>
                            <li>
                                <a href="/terms/">Terms</a>
                            </li>
                            <li>
                                <a href="/privacy/">Privacy</a>
                            </li>
                            <li>
                                <a href="/cookies/">Cookies</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer_country_dropdown col-md-3">
                        <div class="globe">
                            <i style="font-size: 25px;" class="fa fa-globe" aria-hidden="true"></i>
                        </div>
                        <div class="dropdown_below">
                            <div class="footer_dropdown">
                                <select>
                                    <option>Jammu & Kashmir</option>
                         
                         
                                    <option>Himachal Pardesh</option>
                                 
                                 
                                    <option>Punjab</option>
                                 
                                 
                                    <option>Haryana</option>
                                 
                                 
                                    <option>Utrakhand</option>
                                 
                                 
                                    <option>Uttar Pardesh</option>
                                 
                                 
                                    <option>Bihar</option>
                                 
                                 
                                    <option>Sikkim</option>
                                 
                                 
                                    <option>Jharkhand</option>
                                 
                                 
                                    <option>West Bengal</option>
                                 
                                 
                                    <option>Meghalaya</option>
                                 
                                 
                                    <option>Assam</option>
                                 
                                 
                                    <option>Arunachal Pradesh</option>
                                 
                                 
                                    <option>Nagaland</option>
                                 
                                 
                                    <option>Manipur</option>
                                 
                                 
                                    <option>Mizoram</option>
                                 
                                 
                                    <option>Tripura</option>
                                 
                                 
                                    <option>Orissa</option>
                                 
                                 
                                    <option>Chhattisgarh</option>
                                 
                                 
                                    <option>Rajasthan</option>
                                 
                                 
                                    <option>Madhya Pradesh</option>
                                 
                                 
                                    <option>Gujrat</option>

                                    
                                    <option>Maharashtra</option>
                         
                         
                                    <option>Telangana</option>
                                 
                                 
                                    <option>Andhra Pradesh</option>
                                 
                                 
                                    <option>Goa</option>
                                 
                                 
                                    <option>Karnataka</option>
                                 
                                 
                                    <option>Tamil Nadu</option>
                                 
                                 
                                    <option>Kerala</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="footer_horizontal">
        </div>
    </div>
    <div class="g-group l-pad-vert-5 l-sm-pad-vert-3 footer_bottom">
        <div class="g-cell g-cell-12-12">
            <p class="footer-copyright text-body-medium copy_right">&copy; 2016 Events</p>
        </div>
        <div class="g-cell g-cell-12-12 l-mar-top-2 icon_events">
            <a class="icon-link" href="/">
                <span class="link_home">E</span>
                <span class="is-hidden-accessible">Events home</span>
            </a>
        </div>
    </div>
</div>