{% block footer %}

<div class="account_footer">
	<div class="container ">
		<div class="row">
			<div class="col-md-3 col-sm-3 col-xs-12">
				<ul style="list-style-type:none">
					<h3>Use events</h3>
					<li>
						<a href="#">How It Works</a>
					</li>
					<li>
						<a href="#">For Large & Complex Events</a>
					</li>
					<li>
						<a href="#">Pricing</a>
					</li>
					<li>
						<a href="#">events Mobile App</a>
					</li>
					<li>
						<a href="#">events Check-In App</a>
					</li>
					<li>
						<a href="#">Reserved Seating</a>
					</li>
					<li>
						<a href="#">Referral Program</a>
					</li>
					<li>
						<a href="#">events Spectrum</a>
					</li>
					<li>
						<a href="#">Rally - Fun Things To Do</a>
					</li>
					<li>
						<a href="#">Sitemap</a>
					</li>
				</ul>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12">
				<ul style="list-style-type:none">
					<h3>Plan Events</h3>
					<li>
						<a href="#">Conference Management Software</a>
					</li>
					<li>
						<a href="#">Classes & Workshops</a>
					</li>
					<li>
						<a href="#">Nonprofits & Fundraisers</a>
					</li>
					<li>
						<a href="#">Reunions</a>
					</li>
					<li>
						<a href="#">Sell Tickets</a>
					</li>
					<li>
						<a href="#">Event Management & Planning</a>
					</li>
					<li>
						<a href="#">Event Registration</a>
					</li>
					<li>
						<a href="#">RSVP Online</a>
					</li>
					<li>
						<a href="#">Venue Booking & Management</a>
					</li>
					<li>
						<a href="#">Event Organizing Resources</a>
					</li>
				</ul>
			</div>
			<div class="col-md-3 col-sm-3 col-md-12">
				<ul style="list-style-type:none">
					<h3>Find Events</h3>
					<li>
						<a href="#">Boston Events</a>
					</li>
					<li>
						<a href="#">Chicago Events</a>
					</li>
					<li>
						<a href="">Denver Events</a>
					</li>
					<li>
						<a href="#">Houston Events</a>
					</li>
					<li>
						<a href="#">Los Angeles Events</a>
					</li>
					<li>
						<a href="#">Nashville Events</a>
					</li>
					<li>
						<a href="#">New York Events</a>
					</li>
					<li>
						<a href="#">San Diego Events</a>
					</li>
					<li>
						<a href="#">San Francisco Events</a>
					</li>
					<li>
						<a href="#">Seattle Events</a>
					</li>
				</ul>
			</div>
			<div class="col-md-3 col-sm-3 col-md-12">
				<ul style="list-style-type:none">
					<h3>Connect With Us</h3>
					<li>
						<ul style="list-style-type:none">
							<li>
								<i class="fa fa-envelope" aria-hidden="true"></i>
								<a href="#">Contact Support</a>
							</li>
							<li>
								<i class="fa fa-comments" aria-hidden="true"></i>
								<a href="#">Contact Sales</a>
							</li>
							<li>
								<i class="fa fa-twitter" aria-hidden="true"></i>
								<a href="#">Twitter</a>
							</li>
							<li>
								<i class="fa fa-facebook" aria-hidden="true"></i>
								<a href="#">Facebook</a>
							</li>
							<li>
								<i class="fa fa-linkedin" aria-hidden="true"></i>
								<a href="#">LinkedIn</a>
							</li>
							<li>
								<i class="fa fa-instagram" aria-hidden="true"></i>
								<a href="#">Instagram</a>
							</li>
							<li>
								<i class="fa fa-google-plus" aria-hidden="true"></i>

								<a href="#">Google+</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>

		</div>
		<hr>	
	</div>
</div>

<div class="account_links">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul style="list-style-type:none">
					<li>
						<a href="/about_us/">About</a>
					</li>
					<li>
						<a href="/blog/">Blog</a>
					</li>
					<li>
						<a href="/help/">Help</a>
					</li>
					<li>
						<a href="/careers/">Careers</a>
					</li>
					<li>
						<a href="/press/">Press</a>
					</li>
					<li>
						<a href="/security/">Security</a>
					</li>
					<li>
						<a href="/developers/">Developers</a>
					</li>
					<li>
						<a href="/terms/">Terms</a>
					</li>
					<li>
						<a href="/privacy/">Privacy</a>
					</li>
					<li>
						<a href="/cookies/">Cookies</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<hr>
</div>


{% endblock %}