{% extends 'home/index.html' %}
{% load static %}

{% block slider %}

<div class="help_top">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="layer">
					<h2>events SUPPORT</h2>
					<p>We help event organizers bring people together with the power of live experiences.</p>
					<input type="search" name="search" placeholder="How can we help ?">
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block content %}

<div class="help_content">
	<div class="container">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<h2>Welcome to events</h2>
				<hr>
			</div>
			<div class="col-md-1"></div>
		</div>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-5">
				<div class="help_content_left">
					<i class="fa fa-ticket" aria-hidden="true"></i>
					<h3>Going to an event?</h3>
					<hr>
				</div>
			</div>
			<div class="col-md-5">
				<div class="help_content_left">
					<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
					<h3>New Organiser? Start Here</h3>
					<hr>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<h2>Become an Expert events Organizer</h2>
				<hr>
			</div>
			<div class="col-md-1"></div>
		</div>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-5">
				<div class="help_content_right">
					<p><i class="fa fa-sticky-note-o" aria-hidden="true"></i>Understanding events Fees & Features </p>
					<hr>
				</div>
			</div>
			<div class="col-md-5">
				<div class="help_content_right">
					<p><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Creating & Editing Events & Tickets </p>
					<hr>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-5">
				<div class="help_content_right">
					<p><i class="fa fa-ticket" aria-hidden="true"></i>Managing Orders </p>
					<hr>
				</div>
			</div>
			<div class="col-md-5">
				<div class="help_content_right">
					<p><i class="fa fa-line-chart" aria-hidden="true"></i>Reporting on Events </p>
					<hr>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-5">
				<div class="help_content_right">
					<p><i class="fa fa-bullhorn" aria-hidden="true"></i>Promotional Tools & Email Invitations </p>
					<hr>
				</div>
			</div>
			<div class="col-md-5">
				<div class="help_content_right">
					<p><i class="fa fa-cogs" aria-hidden="true"></i>Account Settings </p>
					<hr>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-5">
				<div class="help_content_right">
					<p><i class="fa fa-money" aria-hidden="true"></i>Getting Paid (Payouts & Invoices) </p>
					<hr>
				</div>
			</div>
			<div class="col-md-5">
				<div class="help_content_right">
					<p><i class="fa fa-clock-o" aria-hidden="true"></i>During & After Your Event </p>
					<hr>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-5">
				<div class="help_content_right">
					<p><i class="fa fa-lock" aria-hidden="true"></i>Trust and Safety </p>
				</div>
			</div>
			<div class="col-md-5">
				<div class="help_content_right">
					<p><i class="fa fa-gavel" aria-hidden="true"></i>Legal Policies </p>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</div>
<div class="help_bottom">
	<div class="container">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<h2>Product Updates & Known Issues</h2>
				<hr>
			</div>
			<div class="col-md-1"></div>
		</div>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-3">
				<div class="help_content_bottom">
					<img src="{% static 'images/image2.jpg' %}">	
				</div>
			</div>
			<div class="col-md-7">
				<div class="help_content_bottom">
					<h2>Try out our new, simpler editor. </h2>
					<p>We just launched a new editor on your Edit page! This simpler editor is turned on by default for newly created events and will help you use our beautiful new event listing design. </p>
					<a href="#">Go to My Events. </a>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
		<hr>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-3">
				<div class="help_content_bottom">
					<img src="{% static 'images/image2.jpg' %}">	
				</div>
			</div>
			<div class="col-md-7">
				<div class="help_content_bottom">
					<h2>Event listings: more beautiful registration than ever. </h2>
					<p>With simpler customization tools and a sleek new look, it's easy to create compelling event listings that look beautiful on any smartphone, tablet, or computer. </p>
					<a href="#">Learn how to do it. </a>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
		<hr>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-3">
				<div class="help_content_bottom">
					<img src="{% static 'images/image2.jpg' %}">	
				</div>
			</div>
			<div class="col-md-7">
				<div class="help_content_bottom">
					<h2>Bright Ideas for Your Next Event </h2>
					<p>Visit the events Blog for daily insights, new trends, and innovative how-tos from expert event organizers. </p>
					<a href="#">Learn more on the blog. </a>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</div>
<div class="help_last">
	<div class="container">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<p>Still have questions? Our customer experience team is here to help. <a href="#"> Contact us. </a></p>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</div>

{% endblock %}
