{% extends 'home/index.html' %}

{% load static %}

{% block slider %}

<div class="works_header">
	<div class="works_image">
		<img class="top_class" style="width:100%;height:475px" src="{% static 'images/how_it_works.jpg' %}">
	</div>
	<div class="works_top">
		<h1>Bring Your Event to Life</h1>
		<h3>Join hundreds of thousands of event organizers selling tickets and managing <br> registrations on Eventbrite today</h3>
		<button>Get Started</button>
	</div>
</div>


{% endblock %}

{% block content %}

<div class="works_tab">
	<div class="conainer">
		<div class="row">
			<div class="tab_tab">
				<nav data-spy="affix" data-offset-top="525">
			  		<ul class="nav nav-tabs works_tab_button">
					  	<li class="active" role="presentation"><a href="#" class="tablink_work" onclick="openWork(event, 'works_1')">How It Works</a></li>
					 	<li role="presentation"><a href="#" class="tablink_work" onclick="openWork(event, 'works_2')">Features</a></li>
					  	<li role="presentation"><a href="#" class="tablink_work" onclick="openWork(event, 'works_3')">Pricing</a></li>
					  	<li style="float:right"><button id="tab_button_work">Create Event</button><br><br></li>
					</ul>
				</nav><br><br>
			</div>
			<div id="work_tab_top">
				<h4>Hosting a large or complex event? <a href=""> See what Eventbrite can do for you</a>, or call our experts at<br> <strong>1-855-292-7905</strong> for help getting started. </h4>
			</div>
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<div id="works_1" class="work_content1">
					<div class="worktab_content">
						<h2 style="text-align:center;margin-top:20px">How it works</h2>
						<div class="work_tab_plus" style="float:left">
							<i class="fa fa-plus" aria-hidden="true"></i>
							<h4 style="margin-bottom: 19px">Create</h4>
							<p>Fill in your event details, choose your ticket types, and voilà—your page is ready for action!</p>
						</div>
						<div class="work_tab_promote" style="float:left">
							<i class="fa fa-bullhorn" aria-hidden="true"></i>
							<h4 style="margin-bottom: 19px">Promote</h4>
							<p>Invite people to your event, and reach a new audience with our promotional tools.</p>
						</div>
						<div class="work_tab_host" style="float:left">
							<i class="fa fa-ticket" aria-hidden="true"></i>
							<h4 style="margin-bottom: 19px">Host </h4>
							<p>Check guest lists, scan tickets, and throw a great event without a hitch.</p>
						</div>

						---------------------------------------------------------<br>

						Tabbed slider Here<br>

						---------------------------------------------------------<br><br>
					</div>
					<div class="row">
						<div style="float:left" class="work_tab_custom">
							<i class="fa fa-pencil" aria-hidden="true"></i>
							<h4 style="margin-bottom: 18px">Customize your event page</h4>
							<p>Design your page, offer multiple ticket options including <a href="">reserved seating</a>, and add questions to get to know your attendees.</p>
						</div>
						<div style="float:left" class="work_tab_pay">
							<i class="fa fa-credit-card" aria-hidden="true"></i>
							<h4 style="margin-bottom: 18px">Let attendees pay online</h4>
							<p>Accept credit and debit cards with Eventbrite's secure payment processor, PayPal, and more. Track sales and refunds all in one place.</p>
						</div>
						<div style="float:left" class="work_tab_word">
							<i class="fa fa-commenting-o" aria-hidden="true"></i>
							<h4 style="margin-bottom: 18px">Get the word out</h4>
							<p>Send invitations and emails from your Eventbrite account. Let attendees spread the word with built-in sharing tools on your event page.</p>
						</div>
					</div>
					<div class="row">
						<div style="float:left" class="work_tab_progress">
							<i class="fa fa-line-chart" aria-hidden="true"></i>
							<h4 style="margin-bottom: 18px">Track real-time progress</h4>
							<p>See who's coming, how much money you've made, and stay organized with 24/7 access to your dashboard and reports.</p>
						</div>
						<div style="float:left" class="work_tab_support">
							<i class="fa fa-heart-o" aria-hidden="true"></i>
							<h4 style="margin-bottom: 18px">24/7 world-class support</h4>
							<p>Eventbrite's expert customer team is here to help you 24 hours a day, every day, to make sure your event runs smoothly.</p>
						</div>
						<div style="float:left" class="work_tab_guests">
							<i class="fa fa-phone" aria-hidden="true"></i>
							<h4 style="margin-bottom: 18px">Manage your guests</h4>
							<p>Check in your attendees or scan tickets using the free <a href="">Eventbrite app</a>. Sell tickets and manage orders at your event with <a href="">Eventbrite Organizer</a>, our free box office app.</p>
						</div>
					</div>
					<hr>
					<div class="worktab_started">
						<h2>It's free to get started</h2>
						<p>See how easy it is to plan your next great event.</p>
						<button>TRY IT NOW</button>
					</div>
					<div class="works_pics">
						<h2>Join our community</h2>
						<p>Join our colorful community of people hosting unique events around the world.</p>
						<br>
						<div style="float:left;width:250px;margin-right:10px;padding: 5px;" class="work_pic1">
							<div class="work_parent1">
								
							</div>
							<div class="work_child1">
								<img style="width:100px;height:100px" src="{% static 'images/works1.jpg' %}">
								<h4>John Allsopp</h4>
								<p>Web Directions</p>
								<p>"Eventbrite allows us to 'spin up' new events quickly, freeing up time to focus on the quality of our events, not managing attendees. We love it!"</p>
							</div>
						</div>
						<div style="float:left;width:250px;margin-right:10px;padding: 5px;" class="work_pic2">
							<div class="work_parent2">
								
							</div>
							<div class="work_child2">
								<img style="width:100px;height:100px" src="{% static 'images/works2.jpg' %}">
								<h4>Laine Thomas</h4>
								<p>Crescent City Classic</p>
								<p>"Our attendees are always shocked at how fast they get answers from Eventbrite. Their customer support team saves me hours every week. That's time I now spend creating a better race."</p>
							</div>
						</div>
						<div style="float:left;width:250px;margin-right:10px;padding: 5px;" class="work_pic3">
							<div class="work_parent3">
								
							</div>
							<div class="work_child3">
								<img style="width:100px;height:100px" src="{% static 'images/works3.jpg' %}">
								<h4>Nick Such</h4>
								<p>Awesome Inc U</p>
								<p>"I didn't expect our classes to take off as fast as they did. Eventbrite allowed us to turn our passion into a business overnight."</p>
							</div>
						</div>
						<div style="float:left;width:250px;padding: 5px;" class="work_pic4">
							<div class="work_parent4">
								
							</div>
							<div class="work_child4">
								<img style="width:100px;height:100px" src="{% static 'images/works4.jpg' %}">
								<h4>Rifa Thorpe-Tracey</h4>
								<p>SheSays Brighton</p>
								<p>"It's so easy to create the event, put in a lovely image, send reminders as well as create tickets and guest lists. We really couldn't live without Eventbrite!"</p>
							</div>
						</div>
					</div>
					<div class="work_callus">
						<div class="callus_inner">
							<h2>Planning a big event?</h2><br>
							<p>Call 1-855-292-7905 to talk to a seasoned expert </p><br>
							<a href="">Join our live demo to learn more</a>
						</div>
					</div>
					<div class="works_botttom">
						<h2>Get the most from Eventbrite</h2>
						<p style="margin-top: 10px">Use our tools for free and pay only when you make a sale. It's as simple as that.
						</p>
						<div class="works_bottom1">
							<i class="fa fa-users" aria-hidden="true"></i>
							<h4>Free for free events</h4>
							<p>Eventbrite is completely free for free events, no matter how big or small your gathering.</p>
						</div>
						<div class="works_bottom2">
							<i class="fa fa-money" aria-hidden="true"></i>
							<h4>Low fees</h4>
							<p>A small fee is charged when you collect payments, but you can have attendees pay it.</p>
							<a href="">Learn more</a>
						</div>
						<div class="works_bottom3">
							<i class="fa fa-suitcase" aria-hidden="true"></i>
							<h4>Get paid</h4>
							<p>Start collecting money for your event in minutes by selecting a payment option.</p>
							<a href="">Learn more</a>
						</div>
					</div>
					<div class="works_end">
						<h4>Hosting a large or complex event? <a href="">See what Eventbrite can do for you</a> , or call our experts at<br> 1-855-292-7905 for help getting started. </h4>
					</div>
					<div class="on_top">
						<h1>Set up your next event for success</h1>
						<button>Get Started</button>
					</div>
					<div class="works_last">
						
					</div>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
		<div style="display:none" id="works_2" class="work_content1">
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-3">
					<div class="tab_features">
						<ul id="features_tab">
							<li><a href="">Event Registration & Ticketing</a></li>
							<li><a href="">Event Listing Design</a></li>
							<li><a href="">Reserved Seating</a></li>
							<li><a href="">Fundraising</a></li>
							<li><a href="">Ticket Options</a></li>
							<li><a href="">Payment Options</a></li>
							<li><a href="">Promotional Tools</a></li>
							<li><a href="">Automated Event Promotion</a></li>
							<li><a href="">Customer Support</a></li>
							<li><a href="">Reporting & Analytics</a></li>
							<li><a href="">Day-of Event Operations</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-4">
					<div class="features_register">
						<i style="float:left" class="fa fa-ticket" aria-hidden="true"></i>
						<h2>Event Registration & Ticketing</h2>
						<h4>FULLY CUSTOMIZABLE</h4>
						<p>Offer multiple ticket and registration types with various quantities and prices.</p>
						<h4>COLLECT PAYMENT</h4>
						<p>Easily collect payment online or offline for ticket sales and registrations.</p>
						<h4>WEEKLY & DAILY EVENTS</h4>
						<p>Promote your recurring event dates and times on a single event listing.</p>
						<h4>CUSTOM QUESTIONS</h4>
						<p>Add questions to the registration form to learn more about your attendees.</p>
						<h4>FLEXIBLE DISCOUNTS</h4>
						<p>Offer discounted tickets and event registrations via email, URL, or code.</p>
						<h4>EVENT URL</h4>
						<p>Set a custom web address for your event listing to easily promote it.</p>
						<h4>AUTOMATED REMINDER</h4>
						<p>Reminder email sent to attendees two days before your event.</p>
						<h4>PRIVATE EVENTS</h4>
						<p>Limit access to your event to guests with the URL, invitation, or password.</p>
						<h4>REGISTRATION-ONLY EVENTS</h4>
						<p>Not selling tickets? Change your page to exclusively "registration" language.</p>
						<h4>FACEBOOK SALES</h4>
						<p>Sell tickets and registrations from your Facebook fan page.</p>
						<h4>MULTI-USER ACCESS</h4>
						<p>Grant your team varied levels of access to your Eventbrite account.</p>
						<a href="">Back to Top</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="features_ticketing">
						<h4>FREE REGISTRATION</h4>
						<p>Issue free tickets and manage free registrations for your event at no cost.</p>
						<h4>MOBILE OPTIMIZED</h4>
						<p>Quickly register and buy tickets from your phone, tablet and computer.</p>
						<h4>GROUP REGISTRATION</h4>
						<p>Let attendees register and manage as a group or team.</p>
						<h4>EASY TRANSFERS</h4>
						<p>Move attendees to another event, or upgrade their ticket or registration type.</p>
						<h4>ACCESS CODES</h4>
						<p>Limit access to special tickets for only certain guests.</p>
						<h4>EMAIL CONFIRMATION</h4>
						<p>Attendees immediately receive an email confirming their registration and ticket.</p>
						<h4>WAITLIST</h4>
						<p>Set up a waitlist and automatically let attendees know when a spot opens up.</p>
						<h4>ONLINE EVENTS</h4>
						<p>Manage attendance and promote your webinars and online events.</p>
						<h4>SELL ON YOUR SITE</h4>
						<p>Track and sell tickets and registrations on your website with our easy widget.</p>
						<h4>BOX OFFICE SALES</h4>
						<p id="ticketing_para">Sell tickets and on-site registrations with our Eventbrite Organizer mobile app and Card Reader.</p>
						<h4>COPY EVENT</h4>
						<p>Save time by copying your past event listing with one click.</p>
					</div>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<div class="features_description">
						<i style="float:left" class="fa fa-pencil-square-o" aria-hidden="true"></i>
						<h2>Event Listing Design</h2>
						<h4>EVENT DESCRIPTION</h4>
						<p>Include important info and share what makes your event special.</p>
						<h4>EVENT LOCATION</h4>
						<p>Show the exact location of your event or venue with Google Maps.</p>
						<h4>WHO'S GOING</h4>
						<p>Highlight attendees and friends who are going to your event.</p>
						<h4>SOCIAL STREAM</h4>
						<p>Pull fan photos and social posts into your event listing.</p>
						<a href="">Back to Top</a>	
					</div>
				</div>
				<div class="col-md-4">
					<div class="features_listing">
						<h4>BEAUTIFUL IMAGES</h4>
						<p>Easily add a hero image and photos to bring your event listing to life.</p>
						<h4>MOBILE-FRIENDLY</h4>
						<p>Adjusts to look great on mobile phones, tablets and computers.</p>
						<h4>SPEAKER PROFILES</h4>
						<p>Showcase your presenters with their titles and photos.</p>
						<h4>SOCIAL LINKS</h4>
						<p>Easily link to your website and social accounts.</p>
					</div>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<div class="features_reserved">
						<i style="float:left" class="fa fa-thumbs-up" aria-hidden="true"></i>
						<h2>Reserved Seating</h2>
						<h4>CUSTOM SEAT MAP</h4>
						<p>Easily create a seat map for any kind of space for free.</p>
						<h4>SEAT SELECTION</h4>
						<p>Attendees can pick their seat or be assigned the best available.</p>
						<h4>DASHBOARD</h4>
						<p>Monitor ticket sales, seat availability, and attendance—all in one place.</p>
						<h4>REAL-TIME CHANGES</h4>
						<p>Update your seat map and see changes reflected immediately.</p>
						<h4>BOX OFFICE SALES</h4>
						<p>Sell, transfer, refund, and print tickets with our Eventbrite Organizer mobile app.</p>
						<a href="">Back to Top</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="features_seating">
						<h4>TABLE SEATING</h4>
						<p>Manage tables and where each attendee is seated.</p>
						<h4>SEATING PRIORITY</h4>
						<p>Assign the order seats are sold using our patent-pending tool.</p>
						<h4>SHARE MAPS</h4>
						<p>Store your venue's seat map and share it with your team or the community.</p>
						<h4>ACCESS ANYWHERE</h4>
						<p>Quickly access your seat map at the office or on the go with mobile.</p>
						<h4>CHECK-INS</h4>
						<p>Quickly check in guests or scan tickets with your Android or iOS device.</p>
					</div>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<div class="fund_raising">
						<i style="float:left" class="fa fa-usd" aria-hidden="true"></i>
						<h2>Fundraising</h2>
						<h4>DONATIONS</h4>
						<p>Collect online donations from supporters on your event listing.</p>
						<h4>AUCTIONS</h4>
						<p>Seamlessly host an online auction for your event on BiddingForGood.</p>
						<a href="">Back to Top</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="features_donation">
						<h4>CROWDFUNDING</h4>
						<p>Connect to your fundraising campaigns on CrowdRise, Fundly, or FirstGiving.</p>
						<h4>NONPROFIT RATE</h4>
						<p>Apply to receive a lower Eventbrite fee as a qualified nonprofit.</p>
					</div>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<div class="features_options">
						<i style="float:left" class="fa fa-ticket" aria-hidden="true"></i>
						<h2>Ticket Options</h2>
						<h4>FREE E-TICKETS</h4>
						<p>Attendees automatically get an email with their print-at-home tickets.</p>
						<h4>BOX OFFICE TICKETS</h4>
						<p>Connect the Eventbrite Organizer box office app to Star or BOCA printers to print tickets and receipts.</p>
						<h4>WRISTBANDS</h4>
						<p>Barcoded or RFID wristbands available through our partners.</p>
						<a href="">Back to Top</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="mobile_tickets">
						<h4>MOBILE TICKETS</h4>
						<p>Attendees can pull up tickets on their phone using our Eventbrite app.</p>
						<h4>CUSTOM TICKETS</h4>
						<p>Customize and print your unique ticket design on high-quality ticket stock through our partners.</p>
						<h4>WEARABLES</h4>
						<p>Attendees can pull up their tickets on their Apple Watch or Android Wear.</p>
					</div>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<div class="features_payment">
						<i style="float:left" class="fa fa-credit-card" aria-hidden="true"></i>
						<h2>Payment Options</h2>
						<h4>EASY PAYMENT PROCESSING</h4>
						<p>Accept online payments for your event with Eventbrite payment processing.</p>
						<h4>OFFLINE PAYMENTS</h4>
						<p>Add an option to collect payments by check or invoice, and at the event.</p>
						<h4>OTHER PROCESSORS</h4>
						<p>Connect your PayPal merchant account or Authorize.net to process payments.</p>
						<h4>ADVANCE PAYOUTS</h4>
						<p>Request to get a portion of your payout before the event.</p>
						<h4>FEE OPTIONS</h4>
						<p>Absorb fees into the ticket price or add them on to your ticket price.</p>
						<a href="">Back to Top</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="features_paymethod">
						<h4>ACCEPT MAJOR CARDS</h4>
						<p>Visa, Mastercard, American Express, and Discover cards are supported.</p>
						<h4>MOBILE PAYMENTS</h4>
						<p>Apple and Android Pay are available for certain events on the Eventbrite App.</p>
						<h4>EASY REFUNDS</h4>
						<p>Easily manage refunds in your account with Eventbrite's payment processing.</p>
						<h4>DIRECT DEPOSIT</h4>
						<p>Get your event sales deposited into your bank account.</p>
						<h4>EVENT INVOICES</h4>
						<p>Download a record of all your orders, taxes, fees and payouts.</p>
					</div>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<div class="features_promotions">
						<i style="float:left" class="fa fa-bullhorn" aria-hidden="true"></i>
						<h2>Promotional Tools</h2>
						<h4>EMAIL INVITATIONS</h4>
						<p>Send customized invitations via Eventbrite, MailChimp, Emma, EventKingdom, AWeber, and others. </p>
						<h4>ONLINE ADVERTISING</h4>
						<p>Easily launch ads promoting your event on Facebook, Twitter and Google with our advertising tools.</p>
						<h4>SOCIAL SHARING</h4>
						<p id="features_attendees">Attendees are automatically prompted to share your event on Facebook, Twitter, LinkedIn and via email.</p>
						<h4>AFFILIATE PROGRAM</h4>
						<p>Quickly set up individual URLs and sales tracking for your event promoters.</p>
						<h4>CRM INTEGRATION</h4>
						<p id="features_integrate">Integrate contacts from Salesforce, Zoho, Pardot, Eloqua, Batchbook, Microsoft Dynamics, Kindful, The Raiser's Edge, and more.</p>
						<h4>WEBSITE PROMOTION</h4>
						<p>Promote events on your website, blog, or WordPress site with our widgets.</p>
						<a href="">Back to Top</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="features_discount">
						<h4>FACEBOOK PROMOTION</h4>
						<p>Publish your event on Facebook and sell tickets on your Facebook page with a few simple clicks.</p>
						<h4>SOCIAL MARKETING</h4>
						<p>Schedule posts and promotions on any social media channel with our built-in Hootsuite extension.</p>
						<h4>DISCOUNTS & PROMOS</h4>
						<p>Create promotional codes and direct URLs for discounts and promos.</p>
						<h4>TRACKING LINKS</h4>
						<p>Create custom URLs for your marketing campaigns to track ROI.</p>
						<h4>CONTACT LISTS</h4>
						<p>Import your contacts directly into Eventbrite or create lists of past attendees to send event invitations.</p>
						<h4>POSTERS & FLYERS</h4>
						<p>Create custom posters and flyers for your events through our partner, Ticketprinting.com.</p>
					</div>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="automated_event">
					<i style="float:left" class="fa fa-wpforms" aria-hidden="true"></i>
					<h2>Automated Event Promotion</h2>
				</div>
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<div class="features_automated">
						<h4>EVENTBRITE DIRECTORY</h4>
						<p>Attendees can discover events in our searchable, comprehensive directory.</p>
						<h4>ENHANCED SEO</h4>
						<p>Event listings are enhanced to show up on Google and other search engines.</p>
						<h4>EVENTBRITE APP</h4>
						<p>Attendees download our Eventbrite mobile app to find and register for events in their area.</p>
						<h4>EVENT NEWSLETTERS</h4>
						<p>Highly personalized email with local events sent to millions of attendees.</p>
						<a href="">Back to Top</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="features_autoevent">
						<h4>ORGANIZER PROFILE</h4>
						<p>All of your events showcased on one page easily found on search engines.</p>
						<h4>PARTNER NETWORK</h4>
						<p>Public events are automatically promoted on other event sites.</p>
						<h4>CROSS-PROMOTION</h4>
						<p>Your upcoming public events are promoted on your order confirmation pages and event pages.</p>
						<h4>SOCIAL NOTIFICATIONS</h4>
						<p>Automatic email promoting events your friends registered for on Eventbrite.</p>
					</div>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<div class="features_customer">
						<i style="float:left" class="fa fa-headphones" aria-hidden="true"></i>
						<h2>Customer Support</h2>
						<h4>24/7 SUPPORT</h4>
						<p>Get around-the-clock help from our in-house support team by phone, email, or chat.
						</p>
						<h4>EVENT ACADEMY</h4>
						<p>Up your game with our library of original research, how-to guides, and interviews with event experts.</p>
						<a href="">Back to Top</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="features_support">
						<h4>ROBUST HELP CENTER</h4>
						<p id="features_robust">Search over 300 step-by-step articles and videos designed to help you manage your event like a pro.</p>
						<h4>TRUST & SAFETY</h4>
						<p>Rely on our dedicated team to help resolve issues and maintain a trusted experience on Eventbrite.</p>
					</div>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<div class="features_reporting">
						<i style="float:left" class="fa fa-line-chart" aria-hidden="true"></i>
						<h2>Reporting & Analytics</h2>
						<h4>EVENT DASHBOARD</h4>
						<p>Get a snapshot of your events' total revenue, tickets sold, page visits and payouts.</p>
						<h4>SALES BY TICKET TYPE</h4>
						<p id="analytics_sales">See a breakdown of every ticket sold with customizable reports to get the insights you want.</p>
						<h4>ATTENDEE SUMMARY</h4>
						<p>Instantly access a detailed report of your attendees and their orders.</p>
						<h4>DISCOUNT CODES</h4>
						<p>Monitor the sales your promotions are driving over different time periods.</p>
						<h4>PAGE VIEWS</h4>
						<p>See how many people have checked out your event listing on Eventbrite.</p>
						<h4>TRACKING LINKS</h4>
						<p>Easily track your campaigns to see what's working and what's not.</p>
						<h4>DATA VISUALIZATION</h4>
						<p>Gain in-depth insights from multiple sources with DataHero and Cyfe.</p>
						<a href="">Back to Top</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="features_analytics">
						<h4>SALES SUMMARY</h4>
						<p id="analytics_summary">Get an overview of your sales and comp tickets—processed online, manually, or at the box office.</p>
						<h4>ORDERS</h4>
						<p>View orders by date range, search for specific orders, and export as needed.</p>
						<h4>ATTENDEE GEOGRAPHY</h4>
						<p>See where your attendees are from to market your event more effectively.</p>
						<h4>PROMO TOOLS</h4>
						<p>Find out how many sales have been driven by Eventbrite's automatic promotions.</p>
						<h4>EVENT ATTENDANCE</h4>
						<p>Track how many attendees are inside when you use our app for check-in.</p>
						<h4>GOOGLE ANALYTICS</h4>
						<p id="analytics_google">Connect your Google Analytics account to track people who have visited your event listing.</p>
						<h4>ROBUST API</h4>
						<p>Pull event, order, and attendee data into your system with our open API.</p>
					</div>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<div class="features_operations">
						<i style="float:left" class="fa fa-calendar-check-o" aria-hidden="true"></i>
						<h2>Day-of Event Operations</h2>
						<h4>CHECK IN ATTENDEES</h4>
						<p>Search guest names and check them in on your phone or tablet with our free Eventbrite Organizer app.</p>
						<h4>ONSITE SALES</h4>
						<p>Sell tickets, registrations and merchandise with Eventbrite Organizer, our all-in-one mobile box office app.</p>
						<h4>RFID TECHNOLOGY</h4>
						<p>Work with various RFID solutions leveraging Eventbrite's API for entry management.</p>
						<h4>EVENT SCHEDULE</h4>
						<p>Use Sched.org to build your event schedule and let attendees build their own schedule.</p>
						<h4>AUDIENCE POLLS</h4>
						<p>Crowdsource questions and launch live polls at your event with our sli.do extension.</p>
						<a href="">Back to Top</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="event_operations">
						<h4>BARCODE SCANNER</h4>
						<p>Scan and verify barcodes using the camera on your iOS or Android device with our free Eventbrite Organizer app.</p>
						<h4>CUSTOMER SUPPORT</h4>
						<p>Refund, reissue, print tickets and registrations with a few taps in our Eventbrite Organizer app.</p>
						<h4>CUSTOM BADGES</h4>
						<p id="operation_badges">Create beautiful name badges and tags with our Boomset, Conference Badge or Big.first.name extensions.</p>
						<h4>MOBILE EVENT APP</h4>
						<p id="operation_mobile">Easily create a branded mobile app leveraging our partners: DoubleDutch, Yapp, Attendify, or Aloompa.</p>
						<h4>SURVEYS</h4>
						<p>Send a quick survey to attendees through our SurveyMonkey or Survmetrics extensions.</p>
					</div>
				</div>
			</div>
			<div id="features_tab_last">
				<h4>Hosting a large or complex event? <a href=""> See what Eventbrite can do for you</a>, or call our experts at<br> <strong>1-855-292-7905</strong> for help getting started. </h4>
			</div>
		</div>
		<div style="display:none" id="works_3" class="work_content1">
			<div class="pricing_top">
				<h1>Free for free events</h1>
				<h4>It's absolutely free to post and promote your free<br> events using our best-in-class features.
				</h4>
				<hr>
				<p>Easily track registrations for parties, classes, seminars, networking<br> events, nonprofit events, tours and more.</p>
			</div>
			<div class="pricing_pay_nothing">
				<div class="pass_on_fees">
					<h1>Pass on fees, pay nothing</h1>
					<p>When you sell tickets and registrations using Eventbrite, you can<br> pass on the fees to buyers in most cases.</p>
					<a href="">View fees for all supported currencies</a>
				</div>
				<div class="service_fee">
					<h3>Eventbrite Service Fee</h3>
					<div class="service_inner">
						<span style="font-size: 37px">2.50</span>
						<span>%</span>
						<i class="fa fa-plus" aria-hidden="true"></i>
						<span>$</span>
						<span style="font-size: 37px">0.99</span>
						<p>per ticket sold</p>
					</div>
				</div>
				<div class="plus_sign_pricing">
					<i class="fa fa-plus" aria-hidden="true"></i>
				</div>
				<div class="processing_fee">
					<h3>Payment Processing Fee</h3>
					<div class="processing_inner">
						<span style="font-size: 37px">3.00 </span>
						<span>%</span>
						<p>of ticket price</p>
					</div>
				</div>														
			</div>
			<div class="pricing_content">
				<div class="row">
					<div class="col-md-1"></div>
					<div class="col-md-5">
						<div class="pass_pay">
							<p>Eventbrite Service Fee is capped at $19.95 per ticket for event organizers.</p>
							<a href="">Special nonprofit rate</a>
						</div>
					</div>
					<div class="col-md-5">
						<div class="pay_pass">
							<p>When you use Eventbrite Payment Processing to accept American Express, Visa, Mastercard, and Discover cards.</p>
							<a href="">Other payment processors</a>
						</div>
					</div>
				</div>
			</div>
			<div class="pricing_features">
				<div class="row">
					<div class="pricing_feature">
						<h1>Features to power your success</h1>
					</div>
					<div class="col-md-1"></div>
					<div class="col-md-3">
						<div class="pricing_feature_first">
							<ul>
								<li><p>Customizable online page<i class="fa fa-check" aria-hidden="true">
								</i></p></li>
								<li><p>Invitations and emails<i class="fa fa-check" aria-hidden="true">
								</i></p></li>
								<li><p>Social promotion and tools<i class="fa fa-check" aria-hidden="true">
								</i></p></li>
								<li><p>Online RSVP management<i class="fa fa-check" aria-hidden="true">
								</i></p></li>
							</ul>
						</div>
					</div>
					<div class="col-md-3">
						<div class="pricing_feature_second">
							<ul>
								<li><p>Mobile tickets and sales<i class="fa fa-check" aria-hidden="true">
								</i></p></li>
								<li><p>Guest check-in app<i class="fa fa-check" aria-hidden="true">
								</i></p></li>
								<li><p>Easy payment processing<i class="fa fa-check" aria-hidden="true">
								</i></p></li>
								<li><p>Box office sales<i class="fa fa-check" aria-hidden="true">
								</i></p></li>
							</ul>
						</div>
					</div>
					<div class="col-md-3">
						<div class="pricing_feature_third">
							<ul>
								<li><p>Real-time charts and data<i class="fa fa-check" aria-hidden="true">
								</i></p></li>
								<li><p>Included in event directory<i class="fa fa-check" aria-hidden="true">
								</i></p></li>
								<li><p>130+ feature extensions<i class="fa fa-check" aria-hidden="true">
								</i></p></li>
								<li><p>24/7 phone support<i class="fa fa-check" aria-hidden="true">
								</i></p></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="total_profit">
				<div class="row">
					<div class="col-md-1"></div>
					<div class="col-md-10">
						<div class="estimate_top">
							<h1>See how much you can make</h1>
							<p>Get an estimate of your profit and fees when you use Eventbrite<br> Payment Processing for your event.</p>
						</div>
					</div>
					<div class="col-md-1"></div>
				</div>
				<div class="row">
					<div class="col-md-1"></div>
					<div class="col-md-5">
						<div class="ticket_price">
							<label>Ticket Price</label><br>
							<input type="text" name="ticket_price">
							<i id="multiply_price" class="fa fa-times" aria-hidden="true"></i>
						</div>
						<div class="tickets_sold">
							<label>Tickets Sold</label><br>
							<input type="text" name="tickets_sold">
						</div>
						<i id="equal_first" class="fa fa-minus" aria-hidden="true"></i>
						<i id="equual_second" class="fa fa-minus" aria-hidden="true"></i>
					</div>
					<div class="col-md-5">
						<div class="estimated_revenue">
							<p>Estimated revenue</p>
							<span id="revenue_dollar">$</span>
							<span>5,000.00 </span>
							<span id="revenue_usd">USD</span>
						</div>
						<div class="estimated_inner">
							<p>Per Ticket</p>
							<label>Ticket Price</label>
							<span>$50.00</span><br>
							<label>Fee organizer pays</label>
							<span>$0.00 </span><br>
							<label>Fee ticket buyer pays</label>
							<span>$3.74</span>
							<hr>
							<label>Ticket buyer total</label>
							<span id="ticket-total">$53.74</span>
						</div>
					</div>
					<div class="col-md-1"></div>
				</div>
			</div>
			<div class="pricing_contact">
				<div class="row">
					<div class="col-md-12">
					<h1>Hosting a big event?</h1>
					<h4>Call us at 1-888-541-9753 to develop a plan that's right for you.</h4>
					</div>
				</div>
			</div>
			<div class="pricing_event_support">
				<div class="row">
					<div class="col-md-1"></div>
					<div class="col-md-10">
						<div class="customer_support">
							<i class="fa fa-headphones" aria-hidden="true"></i>
							<h3>24/7 customer support</h3>
							<h4>Expert help is available whenever you need it, including holidays!<br>
							<a href="">Talk to us</a></h4>
						</div>
						<div class="sale_solution">
							<i class="fa fa-tablet" aria-hidden="true"></i>
							<h3>Point of sale solution</h3>
							<h4>No Eventbrite Service Fee. Only 3% payment processing fee per card transaction, charged to organizers.<br> <a href="">Learn more</a></h4>
						</div>
						<div class="pci_compliant">
							<i class="fa fa-lock" aria-hidden="true"></i>
							<h3>PCI-compliant</h3>
							<h4>Eventbrite is PCI-compliant and offers multiple layers of data protection.<br>
							<a href="">Read our guide</a></h4>
						</div>
					</div>
					<div class="col-md-1"></div>
				</div>
			</div>
			<div class="pricing_last">
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-5">
						<h1>Get your money easily</h1>
						<p>When you use Eventbrite's payment processing option to collect money, it's easy to manage your sales and refunds for your event.</p><br>
						<p>5 business days after your event ends, we'll send your money to your bank or via check (U.S. only). Note: It may take a few extra days to reach you, depending on where you are.</p>
						<a href="">Learn more</a><br><br>
						<p>Need your money before your event? We can help! </p>
						<a href="">Check out our Advance Payouts</a>
					</div>
					<div class="col-md-3">
						<i class="fa fa-money" aria-hidden="true"></i>
					</div>
					<div class="col-md-2"></div>
				</div>
			</div>
			<div class="asked_questions">
				<div class="row">
					<div class="col-md-3"></div>
					<div class="col-md-6">
						<h1>Frequently asked questions</h1>
						<!-- Start of Accordion-->

						<button class="accordion_price">Do I have to pay anything to get started?</button>
							<div class="panel_price">
							  	<p>It's free to sign up and post an event on Eventbrite. There's no monthly or set up fees. We only charge a fee when attendees pay money to buy a ticket or register for an event, and event organizers decide who pays the fee. 
							  	<a href="">Learn more</a></p>
							</div>

						<button class="accordion_price">How do I make sure I get my money? </button>
							<div class="panel_price">
							  	<p>After you create your event on Eventbrite you can log into your event to set your preferred payout method: direct deposit, check (U.S. only), or PayPal. You won't be able to change it after you sell your first ticket. <a href="">Learn more</a></p>
							</div>

						<button class="accordion_price">Do I need to pay the payment processing fee if I use another payment option?</button>
							<div id="foo" class="panel_price">
							  	<p>Nope. You'll directly pay transaction fees to your other payment processor, but we'll invoice you for the Eventbrite Service Fees for the tickets you sell. <a href="">Learn more</a></p>
							</div>

						<button class="accordion_price">Why do you wait 5 days after an event to send payouts?</button>
							<div id="foo" class="panel_price">
							  	<p>It allows you to easily process any refunds from your Eventbrite account, and it gives us enough time to resolve any payment disputes on your behalf before sending your payout. </p>
							</div>

						<button class="accordion_price">In what cases can I not pass on fees to buyers?
						</button>
							<div id="foo" class="panel_price">
							  	<p>There are only 2 cases where you can't pass on all of your fees. When you use PayPal, you can't pass on your PayPal transaction fees to buyers. When you use Eventbrite Organizer to sell tickets, you can't pass on the Eventbrite Payment Processing fee to buyers. There are no Eventbrite Service Fees for Eventbrite Organizer orders. </p>
							</div>

						<button class="accordion_price">What if I need my payout before my event?</button>
							<div id="foo" class="panel_price">
							  	<p> You can request to receive a portion of your money before your event through our Advance Payouts program. <a href="">Learn more</a></p>
							</div>

						<button class="accordion_price">Do you offer a reduced rate for nonprofits? </button>
							<div id="foo" class="panel_price">
							  	<p>We sure do! 501(c)(3) organizations that are qualified and approved will receive a special discount on the Eventbrite Service Fee. 
							  	<a href="">Learn more</a></p>
							</div>

						<!-- End of Accordion-->
					</div>
					<div class="col-md-3"></div>
				</div>
			</div>
			<div class="pricing_hosting">
				<h4>Hosting a large or complex event? <a href=""> See what Eventbrite can do for you</a>, or call our experts at<br> <strong>1-855-292-7905</strong> for help getting started. </h4>
			</div>
			<div class="pricing_last_image">

			</div>
			<div class="pricing_ontop">
				<h2>Get more with no surprises</h2>
				<h4>Easy-to-use platform for hosting successful events.</h4>
				<button>GET STARTED</button>
			</div>
		</div>
	</div>
</div>



{% endblock %}
