{% load static %}
{% block head %}

	<title>Events</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/style.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link href="{% static 'dropzone/dropzone.css' %}" rel="stylesheet">
  <link href="{% static 'bootstrap-datetimepicker/css/bootstrap-datetimepicker.css' %}" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-tagsinput/1.3.6/jquery.tagsinput.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet"/>

<!--    <link href="{% static 'css/msgBoxLight.css' %}" rel="stylesheet">
 -->	<!--link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css"-->
	<!--link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.css"-->
	<!--link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css"-->
  	<!--link rel="stylesheet" href="/resources/demos/style.css"-->
	<!--link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"-->
	
{% endblock %}

{% block navbar %}
<div class="col-lg-12 body_content">
	<div class="col-lg-6 left-content">
		
		<div class="title_events">
			<label><a href="/">Event</a></label>	
		</div>
		<div class="browse_link">
			<a href="/browse_events/">BROWSE EVENTS</a>
		</div>
	</div>
	<div class="col-lg-6 right-content">
		<div class="col-lg-12 dropdown1">
			<nav class="navbar navbar-default menu_navbar">
				<ul class="nav navbar-nav">
    				{% if user.is_authenticated  == False %}
    				<li class="menu_item">
    					<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"><a href="#">SIGN UP <span class="sr-only">(current)</span></a></button>
    				</li>
					<li class="menu_item">
						<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal1"><a href="#">LOGIN</a></button>
					</li>
					<li><div class="col-lg-12 create-event">
			    			<a data-toggle="modal" data-target="#myModal1"><span id="open_create_event" class="open_create_event" style="color: #337ab7;  text-decoration: none;font-size:medium;margin-left:-10px;display:block;font-size:14px;text-transform:uppercase;margin-top:-2px" >Create Event</span></a>
			    		</div>
			    	</li>
    				{% else %}
    				<li class="menu_item"><a href="/user/dashboard/">Dashboard</a></li>
    				<li class="dropdown menu_item">
          					<a href="#" class="dropdown-toggle email_login" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="width:100px">{{ request.user }} <span class="caret"></span></a>
          					<ul class="dropdown-menu">
								<li><a href="/dashboard/user_tickets_detail/">Tickets {{ total_tickets }}</a></li>
	            				{% if saved_event %}
	            					{% for ticket in saved_event %}
	           	 					<li><a href="#">Saved {{ ticket.saved_event_no }} </a></li>
	           	 					{% endfor %}
	           	 				{% else %}
	           	 					<li><a href="#">Saved {{ ticket.saved_event_no }} </a></li>
	           	 				{% endif %}
            					<li><a href="/dashboard/manage_events/">Manage Events</a></li>
            					<li><a href="/dashboard/contacts/">Contacts</a></li>
            					<li><a href="/dashboard/account_settings/">Account Settings</a></li>
            					<li><a href="/user/logout/">Logout</a></li>
          					</ul>
    				</li>
    				<li><div class="col-lg-12 create-event">
			    			<a href="/dashboard/create_event/"><span id="open_create_event" class="open_create_event" style="color: #337ab7;  text-decoration: none;font-size:medium;margin-left:-10px;display:block;font-size:14px;text-transform:uppercase;margin-top:-2px" >Create Event</span></a>
			    		</div>
			    	</li>
    				<!--li><div class="col-lg-12 create-event">
    			<a href="/create_event/"><span style="color: #337ab7;  text-decoration: none;font-size:medium;margin-left:-10px;display:block;font-size:14px;text-transform:uppercase;margin-top:-2px" >Create Event</span></a>
    		</div></li-->
    				{% endif %}
    				<li class="dropdown menu_item">
          				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="width:100px">HELP <span class="caret"></span></a>
          				<ul class="dropdown-menu">
            				<li><a href="#">How it works</a></li>
           	 				<li><a href="#">What does it cost to create an event?</a></li>
           	 				<li><a href="#">Where are my tickets?</a></li>
           	 				<li><a href="#">How to contact the event organizer?</a></li>
           	 				<li><a href="#">Help Center</a></li>
            			</ul>
    				</li>
    				</ul>
    			</nav>
  			</div>
  			<!--div class="col-lg-12 create-event">
    			<a><span id="open_create_event" style="color: #337ab7;  text-decoration: none;font-size:medium;margin-left:-10px;display:block;font-size:14px;text-transform:uppercase;margin-top:-2px" >Create Event</span></a>
    		</div-->
	</div>
</div><!-- end body_content-->

{% endblock %}


{% block modal %}
 <!-- Modal-1 start -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    	<!-- Modal content-->
      	<div class="modal-content">
        	<div class="modal-header">
          		<button type="button" class="close" data-dismiss="modal">&times;</button>
          		<h4 class="modal-title signup_head">Sign-Up</h4>
          		<p class="signUp_content">Already have an account? <a class="login_link" href="" data-toggle="modal" data-target="#myModal1">Log In</a></p>
          		<span id="invalid_email" style="display:none;color:red">Invalid email address</span>
          		<span id="blank_fields" style="display:none;color:red"> Please fill both the fields</span>
          		<span id="already_email" style="display:none;color:red">This email is already registerd with us.Please try a different one.</span>
        	</div>
        	<div class="modal-body form-group modal_content">
          		<input type="email" class="form-control" name="email" id="email" placeholder="Enter your E-Mail">
          		<input type="password" class="form-control" name="password" id="password" placeholder="Enter your Password">
        	</div>
        	<div class="social_logins_signup">
          		<p>Signup using Social Accounts:</p>
          		<a href="/accounts/facebook/login/?process=login" class="btn btn-social-icon btn-lg btn-vk"><i class="fa fa-facebook"></i></a>
				<a href="/accounts/twitter/login/?process=login" class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter	"></i></a>
          		<a href="/accounts/google/login/?process=login" class="btn btn-social-icon btn-google-plus"><i class="fa fa-google-plus"></i></a>
          	</div>
       		<div class="modal-footer1">
        		<div class="modal-footer modal_foot">
          			<button type="button" id="sign-up" class="btn btn-success">SIGN UP</button>
          			<p class="signup_footer">By signing up, I agree to events's <a href="">terms of service</a>, <a href="">privacy policy</a>, and <a href="">cookie policy</a>. </p>
        		</div>
        	</div>
      	</div>
     </div>
  </div>

 <!--modal-2 start-->
  <div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog">
    <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          	<button type="button" class="close" data-dismiss="modal">&times;</button>
          	<h4 class="modal-title">Log In</h4>
          	<div class="signup_link">
          		<!--a href="" data-toggle="modal" data-target="#myModal">Or, SignUp</a-->
          	</div>
        </div>
        <span id="invalid_email_login" style="display:none;color:red">Invalid email address</span>
        <span id="blank_fields_login" style="display:none;color:red"> Please fill both the fields</span>
        <span id="invalid_credentials" style="display:none;color:red">Invalid credentials</span>
        <div class="modal-body form-group modal_content">
           	<input type="email" class="form-control" id="input_email" name="email" placeholder="Enter your E-mail">
          	<input type="password" class="form-control" id="input_password" name="password" placeholder="Enter your Password">
        </div>
        
        <!--a href="/accounts/facebook/login/?process=login">Login Using Facebook</a><br>
        <a href="/accounts/google/login/?process=login">Login Using Google</a>
        <a href="/accounts/twitter/login/?process=login">Login Using Twitter</a-->
        <div class="modal-footer modal_foot">
        	<div class="login_here">
          		<button type="button" class="btn btn-success login_button" id="login_btn">LOG IN</button>
          	</div><br>
          	<div class="social_logins">
          		<p>Login using Social Accounts:</p>
          		<a href="/accounts/facebook/login/?process=login" class="btn btn-social-icon btn-lg btn-vk"><i class="fa fa-facebook"></i></a>
				<a href="/accounts/twitter/login/?process=login" class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter	"></i></a>
          		<a href="/accounts/google/login/?process=login" class="btn btn-social-icon btn-google-plus"><i class="fa fa-google-plus"></i></a>
          	</div>
           	<!--div class="check_box">
           		<div class="remember_check">
        			<input type="checkbox" class="form-control reminder_box" name="remember_me" checked>
        		</div>
        		<div class="remember_content">
        			Remember Me
        		</div>
        	</div>
        	<div class="pass_forget">
        		<a href=""> Forgot Password?</a>
        	</div-->
        </div>
       </div>
    </div>
  </div>

<!--modal end -->

{% endblock %}

{% block slider %}		
<div class="container slider slider_head">
	 <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    	<ol class="carousel-indicators">
      		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      		<li data-target="#myCarousel" data-slide-to="1"></li>
      		<li data-target="#myCarousel" data-slide-to="2"></li>
      		<li data-target="#myCarousel" data-slide-to="3"></li>
    	</ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner hero-image-container" role="listbox">
        <div class="item active">
          <img src="/static/images/desks-1.jpg" alt="Chania" width="460" height="245px">
        </div>
    <div class="item">
          <img src="/static/images/rally_content_left.jpg" alt="Chania" width="460" height="345">
          
        </div>
      <div class="item">
          <img src="/static/images/banner2.jpg" alt="Flower" width="460" height="345">
        </div>
    <div class="item">
          <img src="/static/images/banner3.jpg" alt="Flower" width="460" height="345">
        </div>
    </div>
    <!--div class="display_content">
    	    <h1>SELL TICKETS</h1>
    	    <P>Promote, manage and host successful events. <a href="">Learn more</a></P>
    	    <button class="btn btn-success">GET STARTED</button-->
    	    <div class="hero-image__content l-mar-top-2">
				<div class="g-cell g-cell-12-12 org-banner-cta">
					<h2 class="l-mar-top-3 text-epic text-heading--emphasized l-align-center"> Sell Tickets </h2>
						<div class="text-default l-mar-top-1 l-pad-hor-2 text-body text-heading--emphasized l-align-center hide-small">
						Promote, manage, and host successful events.
						<a class="text-body text-heading--emphasized learn-more-emphasized" href="/how-it-works">
						Learn more
						<span class="is-hidden-accessible">about our events</span>
						</a>
					</div>
					<div class="text-default l-mar-top-1 l-pad-hor-2 text-body text-heading--emphasized l-align-center hide-medium hide-large"> Promote, manage, and host events. </div>
					<!--div class="l-mar-top-3 l-pad-bot-4 l-sm-pad-bot-3 l-align-center">
						<a class="js-organizer-cta-btn btn btn--action js-xd-janus-checkpoint-event js-modal-auth" data-automation="global-nav-create" data-modal-auth-forward="/create/" data-checkpoint-name="homepage_organizer_cta_clicked" data-modal-auth-action="signup" href="" data=toggle='modal' data-target="#myModal"> Get Started </a>
					</div-->
					<button class="btn btn-info btn-lg get_started" data-target="#myModal" data-toggle="modal" type="button">Get Started</button>
				</div>
			</div>



    <!-- Left and right controls -->
    	<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      	<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      	<span class="sr-only">Previous</span>
    	</a>
    	<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      	<span class="sr-only">Next</span>
    	</a>
  </div>
</div>

{% endblock %}
<div class="container">
{% block content %}

<!-- Start of Search Nav Bar-->
	<div class="container search_date">
		<div class="row search_content">
			<!--div class="col-md-1"></div>
			<div class="col-md-10 col-sm-12 col-xs-12"-->
				<nav class="navbar navbar-default search_bar">
  					<div class="container-fluid">
   						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      						<ul class="nav navbar-nav">
        						<form class="navbar-form navbar-left">
        							<div class="form-group">
          								<input type="text" class="form-control search_field" id="event" placeholder="Search for Event">
          								<input type="text" class="form-control search_field" id="place"  placeholder="Search for Place">
        							</div>
      							</form>
        						<div class="event_period">
	        						 <select id='date' class="form-control form-group nname">
										  <option class="menu_option" value="All Dates">All Dates</option>
										  <option class="menu_option" value="Today">Today</option>
										  <option class="menu_option" value="Tomorrow">Tomorrow</option>
										  <option class="menu_option" value="This Week">This Week</option>
										  <option class="menu_option" value="This Weekend">This Weekend</option>
										  <option class="menu_option" value="Next Week">Next Week</option>
										  <option class="menu_option" value="Next Month">Next Month</option>
									</select> 
								</div>
        						
        						<button type="submit" id="search_events" class="btn btn-default">Search</button>
      						</ul>
						</div>
  					</div>
				</nav>
			<!--/div>
			<div class="col-md-1"></div-->
		</div>
	</div>
<!--End of Nav Bar -->


	<!-- Start Services Section -->
	<div class="search_results">
	    <div class="features">
	        <div class="col-lg-12">
	        <div class="popular_events">
	        	<h3>Events</h3>
	        </div>
	         	<div class="row">{%  for event in events_data %}
	         	{% if event.publish_event == '1' %}
	            	<div class="col-md-4 col-sm-6 event_pictures">
	              		<div class="features-box wow fadeInDownQuick" data-wow-delay="0.3s">
	                		<div class="pics event_box col-lg-12">
	                			{% if user.is_authenticated  == False %}
                        {% for img in event.image %}
	                				<a href="" data-target="#myModal1" data-toggle="modal"><img src="/{{ img }}"/>
                        {% endfor %}    
									<ul class="event_menu">
										<li>Price: 
											{% if event.price == '0' %}
												Free
											{% else %}
												{{ event.price }} 
											{% endif %}
										</li>
										<li>Time: {{ event.time }} </li>
							 			<li>Event: {{ event.name }} </li>
							 			<div class="event_scroll">
							 				<li>{{ event.description }} </li>
										</div>
										<li>{{ event.city }} , {{ event.country }}</li>
							 		</ul></a>
							 		{% else %}

                  {% for img in event.image %}

									<a href="/event/{{ event.event_id }}/"><img src="/{{ img }}"/>

                   {% endfor %} 
									<ul class="event_menu">
										<li>Price: 
											{% if event.price == '0' %}
												Free
											{% else %}
												{{ event.price }} 
											{% endif %}
										</li>
										<li>Time: {{ event.time }} </li>
							 			<li>Event: {{ event.name }} </li>
							 			<div class="event_scroll">
							 				<li>{{ event.description }} </li>
										</div>
										<li>{{ event.city }} , {{ event.country }}</li>
							 		</ul></a>
							 		{% endif %}
							</div>
	              		</div>
	            	</div>
	            	{% endif %}
	            	{% endfor %}
	            </div>
	        </div>
	    </div>
	</div>
      <!-- End Services Section -->


<div class="index_see_more col-lg-12">
	<button>See More</button>
</div>

<div class="row">
	<div class="col-md-10 col-sm-12 col-xs-12 col-lg-12 browse_top_category">
	<div class="browse_top">
			<h3>Browse by Top Categories </h3>
		</div>
		<div class="col-lg-8 top_category">
			<a><div class="bottom_pic1">
				<h3>Music</h3>
				<p class="imgDescription" data-category='Music'>Get Music events</p>
			</div></a>
		</div>
		<div class="col-lg-4 top_category">
			<a><div class="bottom_pic2">
				<h3>Sports</h3>
				<p class="imgDescription" data-category='Sports'>See Sports events</p>
			</div></a>
		</div>
		<div class="col-lg-4 top_category">
			<a><div class="bottom_pic3">
				<h3>Knowledge</h3>
				<p class="imgDescription" data-category='Knowledge'>See Knowledge related events</p>
			</div></a>
		</div>
		<div class="col-lg-8 top_category">
			<a><div class="bottom_pic4">
				<h3>Technical</h3>
				<p class="imgDescription" data-category='Technical'>See Technical events</p>
			</div></a>
		</div>
	</div>
</div>


{% endblock %}
</div>
{% block footer %}
<div class="footer sitemap_footer">
	<div class="col-lg-12 ">
		<div class="row">
			<div class="col-md-3 col-sm-3 col-xs-12 col-lg-3">
				<ul>
					<h3>Use events</h3>
					<li>
						<a href="/how_it_works/">How It Works</a>
					</li>
					<li>
						<a href="/large_complex_events/">For Large & Complex Events</a>
					</li>
					<li>
						<a href="#">Pricing</a>
					</li>
					<li>
						<a href="/mobile_app/">events Mobile App</a>
					</li>
					<li>
						<a href="/checkin_app/">events Check-In App</a>
					</li>
					<li>
						<a href="/reserved_seating/">Reserved Seating</a>
					</li>
					<li>
						<a href="#">Referral Program</a>
					</li>
					<li>
						<a href="/event_spectrum/">events Spectrum</a>
					</li>
					<li>
						<a href="/rally/">Rally - Fun Things To Do</a>
					</li>
					<li>
						<a href="/sitemap/">Sitemap</a>
					</li>
				</ul>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12 col-lg-3">
				<ul>
					<h3>Plan Events</h3>
					<li>
						<a href="/conference_management/">Conference Management Software</a>
					</li>
					<li>
						<a href="/classes_workshop/">Classes & Workshops</a>
					</li>
					<li>
						<a href="/nonprofit_fundraises/">Nonprofits & Fundraisers</a>
					</li>
					<li>
						<a href="/reunions/">Reunions</a>
					</li>
					<li>
						<a href="/sell_tickets/">Sell Tickets</a>
					</li>
					<li>
						<a href="/event_management/">Event Management & Planning</a>
					</li>
					<li>
						<a href="/event_registration/">Event Registration</a>
					</li>
					<li>
						<a href="/rsvp_online/">RSVP Online</a>
					</li>
					<li>
						<a href="/venue_booking/">Venue Booking & Management</a>
					</li>
					<li>
						<a href="">Event Organizing Resources</a>
					</li>
				</ul>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12 col-lg-3">
				<ul>
					<h3>Find Events</h3>
					<li>
						<a href="#">Chandigarh Events</a>
					</li>
					<li>
						<a href="#">Shimla Events</a>
					</li>
					<li>
						<a href="">New Delhi Events</a>
					</li>
					<li>
						<a href="#">Mumbai Events</a>
					</li>
					<li>
						<a href="#">Bengluru Events</a>
					</li>
					<li>
						<a href="#">Chennai Events</a>
					</li>
					<li>
						<a href="#">Kolkata Events</a>
					</li>
					<li>
						<a href="#">Hyderabad Events</a>
					</li>
					<li>
						<a href="#">Gurgaon Events</a>
					</li>
					<li>
						<a href="#">Jalandhar Events</a>
					</li>
				</ul>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12 col-lg-3">
				<ul style="list-style-type:none">
					<h3>Connect With Us</h3>
					<li>
						<ul style="list-style-type:none">
							<li>
								<i class="fa fa-envelope" aria-hidden="true"></i>
								<a href="/contact_support/">Contact Support</a>
							</li>
							<li>
								<i class="fa fa-comments" aria-hidden="true"></i>
								<a href="/contact_sales/">Contact Sales</a>
							</li>
							<li>
								<i class="fa fa-twitter" aria-hidden="true"></i>
								<a href="#">Twitter</a>
							</li>
							<li>
								<i class="fa fa-facebook" aria-hidden="true"></i>
								<a href="#">Facebook</a>
							</li>
							<li>
								<i class="fa fa-linkedin" aria-hidden="true"></i>
								<a href="#">LinkedIn</a>
							</li>
							<li>
								<i class="fa fa-instagram" aria-hidden="true"></i>
								<a href="#">Instagram</a>
							</li>
							<li>
								<i class="fa fa-google-plus" aria-hidden="true"></i>

								<a href="#">Google+</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>

		</div>
		<hr>	
	</div>

	<div class="country">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h3> States </h3>
					<ul style="list-style-type:none">
						<li>
							<a href="#">Jammu & Kashmir</a>
						</li>
						<li>
							<a href="#">Himachal Pardesh</a>
						</li>
						<li>
							<a href="#">Punjab</a>
						</li>
						<li>
							<a href="#">Haryana</a>
						</li>
						<li>
							<a href="#">Utrakhand</a>
						</li>
						<li>
							<a href="#">Uttar Pardesh</a>
						</li>
						<li>
							<a href="#">Bihar</a>
						</li>
						<li>
							<a href="#">Sikkim</a>
						</li>
						<li>
							<a href="#">Jharkhand</a>
						</li>
						<li>
							<a href="#">West Bengal</a>
						</li>
						<li>
							<a href="#">Meghalaya</a>
						</li>
						<li>
							<a href="#">Assam</a>
						</li>
						<li>
							<a href="#">Arunachal Pradesh</a>
						</li>
						<li>
							<a href="#">Nagaland</a>
						</li>
						<li>
							<a href="#">Manipur</a>
						</li>
						<li>
							<a href="#">Mizoram</a>
						</li>
						<li>
							<a href="#">Tripura</a>
						</li>
						<li>
							<a href="#">Orissa</a>
						</li>
						<li>
							<a href="#">Chhattisgarh</a>
						</li>
						<li>
							<a href="#">Rajasthan</a>
						</li>
						<li>
							<a href="#">Madhya Pradesh</a>
						</li>
						<li>
							<a href="#">Gujrat</a>
						</li>
						<li>
							<a href="#">Maharashtra</a>
						</li>
						<li>
							<a href="#">Telangana</a>
						</li>
						<li>
							<a href="#">Andhra Pradesh</a>
						</li>
						<li>
							<a href="#">Goa</a>
						</li>
						<li>
							<a href="#">Karnataka</a>
						</li>
						<li>
							<a href="#">Tamil Nadu</a>
						</li>
						<li>
							<a href="#">Kerala</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<hr>
	</div>
	<div class="country">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="footer_itm col-md-9">
						<ul style="list-style-type:none;float:left">
							<li>
								<a href="/about_us/">About</a>
							</li>
							<li>
								<a href="/blog/">Blog</a>
							</li>
							<li>
								<a href="/help/">Help</a>
							</li>
							<li>
								<a href="/careers/">Careers</a>
							</li>
							<li>
								<a href="/press/">Press</a>
							</li>
							<li>
								<a href="/security/">Security</a>
							</li>
							<li>
								<a href="/developers/">Developers</a>
							</li>
							<li>
								<a href="/terms/">Terms</a>
							</li>
							<li>
								<a href="/privacy/">Privacy</a>
							</li>
							<li>
								<a href="/cookies/">Cookies</a>
							</li>
						</ul>
					</div>
					<div class="footer_country_dropdown col-md-3">
						<div class="globe">
							<i style="font-size: 25px;" class="fa fa-globe" aria-hidden="true"></i>
						</div>
						<div class="dropdown_below">
							<div class="footer_dropdown">
								<select>
									<option>Jammu & Kashmir</option>
						 
						 
									<option>Himachal Pardesh</option>
								 
								 
									<option>Punjab</option>
								 
								 
									<option>Haryana</option>
								 
								 
									<option>Utrakhand</option>
								 
								 
									<option>Uttar Pardesh</option>
								 
								 
									<option>Bihar</option>
								 
								 
									<option>Sikkim</option>
								 
								 
									<option>Jharkhand</option>
								 
								 
									<option>West Bengal</option>
								 
								 
									<option>Meghalaya</option>
								 
								 
									<option>Assam</option>
								 
								 
									<option>Arunachal Pradesh</option>
								 
								 
									<option>Nagaland</option>
								 
								 
									<option>Manipur</option>
								 
								 
									<option>Mizoram</option>
								 
								 
									<option>Tripura</option>
								 
								 
									<option>Orissa</option>
								 
								 
									<option>Chhattisgarh</option>
								 
								 
									<option>Rajasthan</option>
								 
								 
									<option>Madhya Pradesh</option>
								 
								 
									<option>Gujrat</option>

									
									<option>Maharashtra</option>
						 
						 
									<option>Telangana</option>
								 
								 
									<option>Andhra Pradesh</option>
								 
								 
									<option>Goa</option>
								 
								 
									<option>Karnataka</option>
								 
								 
									<option>Tamil Nadu</option>
								 
								 
									<option>Kerala</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
			<hr>
		</div>
	</div>
</div>
{% endblock%}

{% block js %}
  	<script src="https://use.fontawesome.com/04d7fa298c.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
   <script src="{% static 'js/jquery.msgbox.min.js' %}"></script>
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<script src="https://use.fontawesome.com/04d7fa298c.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js"></script>
  <script src="{% static 'bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js' %}"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-tagsinput/1.3.6/jquery.tagsinput.min.js"></script>
  	<script src="{% static 'js/validations.js'%}"></script>
  	<script src="{% static 'js/jspdf.js'%}"></script>
  	<script src="{% static 'js/jspdf.min.js'%}"></script>
  	<script src="{% static 'js/autoprint.js'%}"></script>
  	<script src="{% static 'js/location.js'%}"></script>
  	<!--script type="text/javascript" src="{% static 'js/countries.js' %}"></script-->
	<script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
	<!--script src="https://code.jquery.com/jquery-1.12.4.js"></script-->
  	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    
  	<!--script src="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script-->
    <!--script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.js"></script-->
    
  <script type="text/javascript">
    $(".start_time").datetimepicker(
        'setStartDate', '{{ datetime|date:"Y-m-d" }}', {format: 'yyyy-mm-dd hh:ii'});
    $(".end_time").datetimepicker(
        'setStartDate', '{{ datetime|date:"Y-m-d" }}', {format: 'yyyy-mm-dd hh:ii'});
    $(".ticket_start_time").datetimepicker(
        'setStartDate', '{{ datetime|date:"Y-m-d" }}', {format: 'yyyy-mm-dd hh:ii'});
    $(".ticket_end_time").datetimepicker(
        'setStartDate', '{{ datetime|date:"Y-m-d" }}', {format: 'yyyy-mm-dd hh:ii'});
    $(".paid_ticket_start_time").datetimepicker(
        'setStartDate', '{{ datetime|date:"Y-m-d" }}', {format: 'yyyy-mm-dd hh:ii'});
    $(".paid_ticket_end_time").datetimepicker(
        'setStartDate', '{{ datetime|date:"Y-m-d" }}', {format: 'yyyy-mm-dd hh:ii'});
</script>   
  <script>
  $(document).ready(function(){                  
		$("#event").autocomplete({                        
		 	 source: function (request, response) {
		 	 	console.log('req',request.term)
		 	 	var term= request.term
		 	 	params={'term':term}
		         $.ajax({
		             url: "/autocomplete_events/",
		             type:'POST',
		             data: params,
		             dataType: "json",
		             success: response,
		             error: function () {
		                 response([]);
		             }
		         });
     		},                 
		}); 
	});
$('#event_category').tagsInput();
$('#subevent_category_1').tagsInput();
</script>   
{% endblock %}


{% block dropzone  %}
<script src="{% static 'dropzone/dropzone.js' %}"></script>
<script type="text/javascript">
      Dropzone.autoDiscover = false;    
      $("div#dropzone").dropzone(
        
        {
          url: "/dashboard/upload",
          maxFiles: 3,
          autoProcessQueue: true,
          acceptedFiles: "image/*",
          dictInvalidFileType: "This file type is not supported.",
         }
      );
      // for sub event upload
      // this is hide it because of the event
      //$("div#sub-dropzone").dropzone(
      //  {
      //    url: "/sub-event",
      //    maxFiles: 1,
      //    autoProcessQueue: true,
       //   acceptedFiles: "image/png",
       //   dictInvalidFileType: "This file type is not supported.",
       //  }
      //);
      $("div#dropzone").on("complete", function(event) {
        $('div.dz-success').remove();
      })
    </script>
{% endblock %}

{% block myjs %}
{% endblock %}
