{% extends 'home/index.html' %}

{% load static %}

{% block slider %}

<div class="complex_header">
	<h1>Countless moving pieces,<br>one powerful platform.</h1>
	<h4 style="color: #101010">Unparalleled flexibility, real-time analytics, 99.99% uptime, <br> and access to millions of active ticket buyers.</h4>
	<button>Get in touch</button>
</div>
<div class="complex_images">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<div class="complex_image_first">
				<img src="{% static 'images/complex_image1.png' %}">
			</div>
			<div class="complex_image_first">
				<img src="{% static 'images/complex_image2.png' %}">
			</div>
			<div class="complex_image_first">
				<img src="{% static 'images/complex_image3.png' %}">
			</div>
			<div class="complex_image_first">
				<img src="{% static 'images/complex_image4.png' %}">
			</div>
			<div id="complex_image_last" class="complex_image_first">
				<img src="{% static 'images/complex_image5.png' %}">
			</div>
		</div>
		<div class="col-md-1"></div>
	</div>
</div>

{% endblock %}

{% block content %}

<div class="complex_top">
	<div class="row">
		<div class="col-md-12">
			<div class="complex_top_content">
				<h1>Eventbrite powers more than<br>two million events each year.</h1>
				<h4>Join hundreds of thousands of event organizers using Eventbrite:</h4>
			</div>
		</div>
	</div>
</div>
<div class="complex_content_images">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-3">
			<div class="content_image1">
				<img src="{% static 'images/complex_graph1.png' %}">
				<h3>Grow your event</h3>
				<h5>Sell more tickets to Eventbrite’s 41 million active ticket buyers.</h5>
			</div>
		</div>
		<div class="col-md-3">
			<div class="content_image1">
				<img src="{% static 'images/complex_graph2.png' %}">
				<h3>Simplify your planning</h3>
				<h5>Promote, manage, and analyze your event from any device. </h5>
			</div>
		</div>
		<div class="col-md-3">
			<div class="content_image1">
				<img src="{% static 'images/complex_graph3.png' %}">
				<h3>Impress attendees</h3>
				<h5>Delight with ease of purchase, convenient ticket access, and speedier entry.</h5>
			</div>
		</div>
	</div>
</div>
<div class="complex_content">
	<div class="row">
		<div class="col-md-6">
			<div class="content_left">
				<h2>Grow sales every year</h2>
				<p>Boost ticket sales with industry-leading conversion and a 100% mobile-optimized experience.</p><br>
				<p>Reach new audiences by tapping the 41 million active ticket buyers who use Eventbrite each year.</p>
				<br>
				<p>Rest assured during busy onsales with 99.99% site uptime.</p><br>
				<p>Extend your marketing with targeted event promotion, social sharing, and industry-leading SEO.</p>
			</div>
		</div>
		<div class="col-md-6">
			<div class="content_right">
				<img src="{% static 'images/simplifyplanning.png' %}">
			</div>
		</div>
	</div>
</div>
<div class="complex_planning">
	<div class="row">
		<div class="col-md-6">
			<div class="planning_left">
				<img src="{% static 'images/complex-planning.png' %}">
			</div>
		</div>
		<div class="col-md-6">
			<div class="planning_right">
				<h2>Simplify your planning</h2>
				<span>Save time and take control.</span>
				<p>Own and understand your data with 24/7 access to more than 15 different reports and chart views.</p><br>
				<p>Get paid fast with payouts on your schedule.</p><br>
				<p>Get started quickly with customized onboarding and 24/7 in-house customer support.</p><br>
				<p>Eliminate manual tasks with 130+ tools, like CRM and email systems, seamlessly integrating with Eventbrite.</p><br>
				<p>Take control of your ticket sales with access to real-time data on mobile and desktop.</p>
			</div>
		</div>
	</div>
</div>
<div class="complex_attendees">
	<div class="row">
		<div class="col-md-6">
			<div class="attendees_left">
				<h2>Give attendees a flawless experience</h2>
				<span>Delight attendees with easy purchase, convenient ticket access, and fast entry.</span>
				<br>
				<p>Make ticket purchase easy with a seamless checkout experience on any device.</p><br>
				<p>Get attendees in fast with the reliable EventbriteOrganizer mobile app to scan tickets and track entry in real time.</p><br>
				<p>Enable ticket access from anywhere — online, in the Eventbrite app, through Apple Wallet, or on your watch.</p><br>
				<p>Impress attendees with Eventbrite’s cutting-edge event management technology and RFID solution.</p>
			</div>
		</div>
		<div class="col-md-6">
			<div class="attendees_right">
				<img src="{% static 'images/complex-attendees.png' %}">
			</div>
		</div>
	</div>
</div>
<div class="complex_last">
	<div class="row">
		<div class="col-md-">
			---------------------------<br>
			Tabbed Slider Here<br>
			---------------------------
		</div>
	</div>
</div>
<div class="complex_inspiration">
	<div class="row">
			<h1>Looking for inspiration?</h1>
			<p>Read one of our free reports for the latest tips and trends. </p>
	</div>
</div>
<div class="inspiration_content">
	<div class="row">
		<div class="col-md-4">
			<div class="inspiration_first">
				<img src="{% static 'images/inspiration_first.jpg' %}">
				<h4>9  Trends Transforming<br>the Live Music Scene</h4>
				<button>Read More</button>
			</div>
		</div>
		<div class="col-md-4">
			<div class="inspiration_first">
				<img src="{% static 'images/inspiration_second.png' %}">
				<h4>30 Tech Tools to Get More<br>from Your Event Budget</h4>
				<button>Read More</button>
			</div>
		</div>
		<div class="col-md-4">
			<div class="inspiration_first">
				<img src="{% static 'images/inspiration_third.png' %}">
				<h4>6 Steps to Event<br>Sponsorship Success</h4>
				<button>Read More</button>
			</div>
		</div>
	</div>
</div>
<div class="complex_end">
	<h1>Inspired events start here.</h1>
	<button id="complex_button_first">Get in Touch</button>
	<button>See Eventbrite in Action</button>
</div>

{% endblock %}