{% extends 'home/index.html' %}

{% load static %}

{% block slider %}

<div class="mobileapp_header static_page_top">
	<div class="row">
		<h1>Find Your Next Experience<br>On Eventbrite</h1>
		<input type="image" src="{% static 'images/app_store_badge_en.svg' %}" id="app_store">
		<input type="image" src="{% static 'images/google_play_en.png' %}" id="google_play">
		<p>Also access tickets on your phone</p>
	</div>
</div>

{% endblock %}

{% block content %}

<div class="mobileapp_content">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-4">
			<h4>Do more</h4>
			<p>Find popular events, unique local experiences, and events just for you.</p>
			<h4>Get together</h4>
			<p>See where your friends are going so you never miss out on the fun.</p>
			<h4>Save a tree</h4>
			<p>Just show your ticket on your phone to get in.</p>
			<h4>Get tickets fast</h4>
			<p>Pay with your phone and secure your spot.</p>
			<h4>Host your own</h4>
			<p>Easily check guests in at the door.</p>
		</div>
		<div class="col-md-4">
			<img src="{% static 'images/eventbrite_app_product.jpg' %}">
		</div>
		<div class="col-md-2"></div>
	</div>
</div>
<div class="mobileapp_learnmore">
	<p>Learn More: <a href="#">iPhone</a> | <a href="#">Android</a></p>
</div>
<div class="mobileapp_last">
	<div class="row">
		<div class="col-md-5">
			<div class="mobileapp_left">
				<p>Other apps by Eventbrite:</p>
			</div>
		</div>
		<div class="col-md-7">
			<div class="mobileapp_right">
				<img src="{% static 'images/eventbrite-neon.png' %}">
				<a href="#">Eventbrite Organizer</a>
				<p>Your mobile box office to sell tickets, manage guests<br>and entry for your events. <a href="#">Learn more</a></p>
			</div>
		</div>
	</div>
</div>


{% endblock %}