{% extends 'home/conference_management.html' %}

{% load static %}

{% block slider %}

<div class="nonprofit_slider">
	<div class="conatiner">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-4">
				<div class="nonprofit_slider_left">
					<h2>Create an account now!</h2>
					<input type="text" name="" placeholder="Email">
					<input type="password" name="" placeholder="Password">
					<button>Try It Now</button>
					<p>By clicking 'Try It Now', I confirm that I agree with the Eventbrite
					<a href="">terms of service</a> and <a href="">privacy policy</a></p>
					<p>Already a member? <a href="">Log In</a></p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="nonprofit_slider_right">
					<h1>Events that Make a Difference</h1>
					<h4>Raise funds and collect donations with Eventbrite's simple registration tools.</h4>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</div>
<div class="nonprofit_slider_last">
	<div class="conatiner">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<h2>Hosting a large or complex event? Call our experts at <span>1-888-215-3611 </span>for help getting started.</h2>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</div>

{% endblock %}

{% block content %}

<div class="nonprofit_content">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>We appreciate the work you do, which is why we offer a<br> discount to 501(c)(3) nonprofit organizations. </h2>
				<div class="row">
					<div class="col-md-5">
						<h4 id="grey_faint">Eventbrite Standard Service Fee</h4>
						<div class="nonprofit_inner1">
							<h3>2.5<span>%</span>+<span>$</span>0.99</h3>
							<p>per ticket sold</p>
						</div>
						<div class="nonprofits_inner1">
							<p>cap at $19.95 per ticket</p>
							<a href="">Standard payment processing fees still apply.</a>
						</div>
					</div>
					<div class="col-md-2">
						<h6 id="nonprofit_versus">VS</h6>
					</div>
					<div class="col-md-5">
						<h4 id="grey_heading">Eventbrite Nonprofit Service Fee</h4>
						<div class="nonprofit_inner2">
							<h3>2.0<span>%</span>+<span>$</span>0.99</h3>
							<p>per ticket sold</p>
						</div>
						<div class="nonprofits_inner2">
							<p>cap at $17.95 per ticket</p>
							<a href="">Standard payment processing fees still apply.</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="nonprofit_content_middle">
	<div class="container">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<h2>Want to receive your nonprofit discount?</h2>
				<h6>Send an email to: <a href="">nonprofit@eventbrite.com</a>including:</h6>
				<div class="row">
					<div class="col-md-4">
						<h1>1</h1>
						<p>A copy of your determination letter from the IRS as an attachment.</p>
					</div>
					<div class="col-md-4">
						<h1>2</h1>
						<p>The email address for your Eventbrite account. Don’t have an account? Create one above.</p>
					</div>
					<div class="col-md-4">
						<h1>3</h1>
						<p>A telephone number to reach you, in case we have questions.</p>
					</div>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</div>
<div class="nonprofit_content_bottom">
	<div class="container">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<h2>Eventbrite provides all the tools you need to make your fundraising event a success.</h2>
				<div class="row">
					<div class="col-md-4">
						<i class="fa fa-money" aria-hidden="true"></i>
						<h4>Raise more funds</h4>
						<p>Offer multiple ticket types for sponsorships or VIPs through our event pages, or on your own website.</p>
					</div>
					<div  class="col-md-4">
						<i class="fa fa-bookmark" aria-hidden="true"></i>
						<h4>Collect donations easily</h4>
						<p>Accept donations online, or at your fundraiser using the free Eventbrite Organizer app, with instant email order confirmations.</p>
					</div>
					<div class="col-md-4">
						<i class="fa fa-bullhorn" aria-hidden="true"></i>
						<h4>Amplify your message</h4>
						<p>Send email invitations and reminders to guests, and reach more donors through social media integrations.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<i class="fa fa-phone" aria-hidden="true"></i>
						<h4>Manage on the go</h4>
						<p>Our free mobile event management app lets you manage your event and check in guests, anywhere.</p>
					</div>
					<div  class="col-md-4">
						<i class="fa fa-pie-chart" aria-hidden="true"></i>
						<h4>Design seated event floorplans</h4>
						<p>Create detailed floorplans for galas and banquets, and assign ticket types to seats in seconds.</p>
					</div>
					<div class="col-md-4">
						<i class="fa fa-users" aria-hidden="true"></i>
						<h4>Understand your supporters</h4>
						<p>Use custom questions and real-time event reports to understand which marketing channels work best.</p>
					</div>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</div>
<div class="nonprofit_last">
	<div class="container">
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<div class="nonprofit_last_inner">
					<h2>Create an account now!</h2>
					<input type="text" name="" placeholder="Email">
					<input type="password" name="" placeholder="Password">
					<button>Try It Now</button>
					<p>By clicking 'Try It Now', I confirm that I agree with the Eventbrite
					<a href="">terms of service</a> and <a href="">privacy policy</a></p>
					<p>Already a member? <a href="">Log In</a></p>
				</div>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
</div>

{% endblock %}