{% extends 'home/index.html' %}
{% load static %}


{% block slider %}

<div class="pressimage_top">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<a href="/about_us/">About Us</a>
				<a href="#">Team</a>
				<a href="#"> Investors & Board</a>
				<a href="#"> Careers</a>
				<a href="#"> Press</a>
				<a href="#"> Contact Us</a>
				<h2>PRESS</h2>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block content %}

<!--Start of press top-->
<div class="press_top">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>events is the world's largest self-service ticketing platform, hosting a vibrant collection of live experiences to fuel people's passions and enrich their lives. Organizers use events to plan, promote and sell tickets to events of all sizes, while event-goers can easily find and buy tickets to events that match their interests. 
				</h2>
				<br>
				<h2>Reach out: <a href="#">press@events.com</a></h2>
			</div>
		</div>
	</div>
</div>

<div class="presstop">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Download Our Press Kit</h2>
				<button>DOWNLOAD</button>
			</div>
		</div>
	</div>
</div>
<!--end of press top-->

{% endblock %}

{% block bottom %}

<!-- Start of Tab section -->
<div class="press_tabs">
	<div class="container">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<ul class="nav nav-tabs">
  					<li role="presentation" class="active"><a href="#">In the news</a></li>
  					<li role="presentation"><a href="#">Company news</a></li>
				</ul>

				<!--start of pagination -->
				<nav aria-label="Page navigation">
				  	<ul class="pagination">
				    	<li>
				      		<a href="#" aria-label="Previous">
				        	<span aria-hidden="true">&laquo;</span>
				      		</a>
				    	</li>
				   		<li><a href="#">1</a></li>
				    	<li><a href="#">2</a></li>
				    	<li><a href="#">3</a></li>
				    	<li><a href="#">4</a></li>
				    	<li><a href="#">5</a></li>
				    	<li><a href="#">6</a></li>
				    	<li><a href="#">7</a></li>
				    	<li><a href="#">8</a></li>
				    	<li><a href="#">9</a></li>
				    	<li><a href="#">10</a></li>
				    	<li><a href="#">11</a></li>
				    	<li><a href="#">12</a></li>
				    	<li><a href="#">13</a></li>
				    	<li><a href="#">14</a></li>
				    	<li><a href="#">15</a></li>
				    	<li>
				      		<a href="#" aria-label="Next">
				        	<span aria-hidden="true">&raquo;</span>
				      		</a>
				    	</li>
				  	</ul>
				</nav>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</div>


{% endblock %}
