{% extends 'home/index.html' %}
{% load static %}

{% block slider %}

<div class="privacy_top">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h2>events Privacy Policy</h2>
			<div class="col-md-6"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<img src="{% static 'images/image2.jpg' %}">
				<p>Updated by<a href="#">  Antwonne D.</a> on<br> 11/18/2015 </p>
			</div>
			<div class="col-md-4">
				<p>Category: <a href="#">Legal Policies</a></p>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
</div>

{% endblock %}

{% block content %}
<div class="privacy_content">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="privacy_content_left">
					<h4>Here's an overview:</h4><br>
					<a href="">1. Who We Are.</a><br>
					<a href="">2. Our Privacy Statement.</a><br>
					<a href="">3. Personal Data That We Collect.</a><br>
					<a href="">4. How We Use Your Personal Data.</a><br>
					<a href="">5. How We Disclose And Transfer Your Personal Data.</a><br>
					<a href="">6. How We Store Your Personal Data.</a><br>
					<a href="">7. How You Can Access Your Personal Data.</a><br>
					<a href="">8. How Long We Retain Your Personal Data.</a><br>
					<a href="">9. Cookies, Pixels Tags, Local Shared Objects, Web Storage And Similar Technologies.</a><br>
					<a href="">10. Your Choices.</a><br>
					<a href="">11. Exclusions.</a><br>
					<a href="">12. Children.</a><br>
					<a href="">13. International Privacy Laws.</a><br>
					<a href="">14. Changes To This Privacy Policy.</a><br>
					<a href="">15. Dispute Resolution.</a><br>
				</div>
			</div>
			<div class="col-md-8">
				<div class="privacy_content_right">
					<h4>This is events's Privacy Policy.</h4><br>
					<div class="privacy_note">
						<h3>TIP: </h3><h6>Take a look at our <a href="#"> Help Center article </a> to learn how to opt in and out of events communications.</h6>
					</div>
					<div class="privacy_note">
						<h3>NOTE : </h3><h6>To learn more about events's legal policies, take a look<a href=""> here.</a></h6><br><br><br>
					</div>
					<h2>1. Who We Are. </h2><br>
						<h4>1.1 events. </h4><br>
							<p>Welcome to events! We are a ticketing and registration platform dedicated to bringing the world together through live experiences. Through our platform, mobile apps and services, we enable people all over the world to create, discover, share and register for events. 
							</p><br>
						<h4>1.2 The Services; Responsible Party. </h4><br>
							<p>events’s websites and domains, including www.events.com, and all of the webpages, subdomains, country level domain variants and subparts of those websites (collectively, our “Site”), all of the services available on or through the Site or otherwise provided by us (including our application programming interfaces), and all of our free mobile applications, including without limitation, <a href="#">events Organizer</a>, the <a href="#">events app</a> and the <a href="#">Rally app</a> (collectively, the “Applications”) are offered, maintained and provided by events. We refer to all of these as our “Services.” events is a Delaware corporation with its principal place of business at 155 5th Street, Floor 7, San Francisco, CA 94103, Reg. No. 4742147 (“events,” “us,” “we” or “our”). events is the responsible party or data controller with respect to Personal Data collected through the Services. If you have any questions or concerns at any time, please do not hesitate to contact us at the address above or by contacting us. </p><br>
						<h4>1.3 Users.</h4><br>
							<p>Through the Services, events provides a simple and quick means for registered users who are event organizers, planners and charitable organizations (“Organizers”) to create event registration, speaker profile, organizer profile, fundraising and other webpages related to their events, to promote those pages and events to visitors or browsers of the Services and to sell tickets and registrations (or issue free registrations), solicit donations and sell merchandise related to those events to users who wish to make purchases, registrations or donations from or to such events (including to free events) (“Attendees”). We refer to Organizers, Attendees and other visitors and browsers of the Services collectively as “Users” or “you.”</p><br><br>
					<h2>2. Our Privacy Statement. </h2><br>
						<h4>2.1 Application. </h4><br>
							<p>This Privacy Policy sets forth our policy with respect to information that can be associated with a specific person and could be used to identify that person (“Personal Data”) and other information that does not constitute Personal Data (“Non-Personal Data”) that is collected from Users on the Services. We take the privacy of your Personal Data seriously. Because of that, we have created this Privacy Policy. Please read this Privacy Policy as it includes important information regarding your Personal Data and other information.</p><br>
						<h4>2.2 Incorporation By Reference.</h4><br>
							<p>This Privacy Policy is incorporated into the Terms of Service by reference. Nothing in this Privacy Policy shall be deemed to modify, waive, amend or rescind any other term of the Terms of Service. </p>
							<br>
						<h4>2.3 CONSENT. </h4><br>
							<p>By using the Services or allowing someone to use the Services on your behalf, you are consenting to our collection, use, disclosure, transfer and storage/retention in accordance with this Privacy Policy of any Personal Data or other information received by us as a result of such use.</p><br><br>
					<h2>3. Personal Data That We Collect. </h2><br>
						<p>When you interact with us through the Services, we may collect Personal Data and other information from you, as further described below:</p><br>
						<h4>3.1 All Users. </h4><br>
							<p>For all Users we collect Personal Data when you voluntarily provide such information to the Services, such as when you register for access to the Services, contact us with inquiries, respond to one of our surveys or browse or use certain parts of the Services. The Personal Data we may collect includes without limitation your name, address, email address, Internet Protocol (IP) addresses (where such information is considered Personal Data under applicable laws) and other personally identifiable information. We also collect certain data automatically that is sent to us from the computer, mobile device and/or browser through which you access the Services (“Automatic Data”). This Automatic Data, includes without limitation, a unique identifier associated with your access device and/or browser, characteristics about your access device and/or browser, statistics on your activities on the Services, information about how you came to the Services and data collected through Cookies, Pixel Tags, Local Shared Objects, Web Storage and other similar technologies discussed in more detail in our <a href="#">Cookie Policy</a>. Much of this Automatic Data is not Personal Data. However, when you register for the Services or otherwise submit Personal Data to us, we may associate this Non-Personal Data with your Personal Data. At such time, we will treat any such combined data as Personal Data until such time as it can no longer be associated with you or used to identify you. </p><br>
						<h4>3.2 Organizers. </h4><br>
							<p>As an Organizer we will collect additional Personal Data from you. In some cases we may collect your credit card information (e.g., your credit card number and expiration date, billing address, etc.), some of which may constitute Personal Data, to secure certain payments. In addition, if you use our payment processing services, we will collect financial information from you (e.g., your bank account information or an address to send checks) as necessary to facilitate payments and information required for tax purposes (e.g., your taxpayer identification number). We may also collect or receive Personal Data from third party sources, such as third party websites, your bank, our payment processing partners and credit reporting agencies. </p><br>
						<h4>3.3 Attendees. </h4><br>
							<p>As an Attendee we will collect additional Personal Data from you. If you register for a paid event, we will collect financial information from you (e.g., your credit card number and expiration date, billing address, etc.) some of which may constitute Personal Data. We may also collect or receive Personal Data from third party sources, such as Organizers, other Attendees, social media integrations, your credit card issuing bank, our payment processing partners or other third parties. In addition, Organizers can set up event registration pages to collect virtually any information from Attendees in connection with registration for an Organizer’s event listed on the Services. If an Attendee voluntarily provides that information in connection with registration for an event or otherwise, it will be available to us and will be held by us in accordance with this Privacy Policy. In addition, such information will be delivered to the Organizer of the applicable event in accordance with “How We Disclose and Transfer Your Personal Data: Organizers” below. </p><br>
							<h4>3.4 Privacy Policy Links.</h4><br>
								<p>We make an effort to provide a link to this Privacy Policy in the footer of every page on our websites, including those pages on which Personal Data is collected, and to make it available in all of our Applications.</p><br><br>
					<h2>4. How We Use Your Personal Data. </h2><br>
						<p>We use the Personal Data we collect in a manner that is consistent with this Privacy Policy. We may use the Personal Data as follows:</p><br>
						<h4>4.1 Specific Reason.</h4><br>
							<p>If you provide Personal Data for a certain purpose, we may use the Personal Data in connection with the purpose for which it was provided. For instance, if you contact us by e-mail, we will use the Personal Data you provide to answer your question or resolve your problem and will respond to the email address from which the contact came.</p><br>
						<h4>4.2 Access and Use. </h4><br>
							<p>If you provide Personal Data in order to obtain access to or use of the Services or any functionality thereof, we will use your Personal Data to provide you with access to or use of the Services or functionality and to monitor your use of such Services or functionality. For instance, if you supply Personal Data relating to your identity or qualifications to use certain portions of the Services, we will use that information to make a decision as to granting you access to use such Services and to monitor your ongoing qualification to use such Services. </p><br>
						<h4>4.3 Internal Business Purposes. </h4><br>
							<p>We may use your Personal Data for internal business purposes, including without limitation, to help us improve the content and functionality of the Services, to better understand our Users, to improve the Services, to protect against, identify or address wrongdoing, to enforce our Terms of Service, to manage your account and provide you with customer service, and to generally manage the Services and our business. </p><br>
						<h4>4.4 Marketing. </h4><br>
							<p>We may use your Personal Data to contact you in the future for our marketing and advertising purposes, including without limitation, to inform you about services or events we believe might be of interest to you, to develop promotional or marketing materials and provide those materials to you, and to display content and advertising on or off the Services that we believe might be of interest to you. In particular, Organizers should note that we may use information we receive or collect regarding Attendees (including without limitation via an Organizer’s event registration page) in accordance with the terms of this Privacy Policy, including in the manner set forth above. </p><br>
						<h4>4.5 Organizer Emails. </h4><br>
							<p>We allow Organizers to use our email tools to contact Attendees for their current and past events, so you may receive emails from our system that originate with such Organizers. If you have registered for an event on the Services, your email is available to that Organizer. However, Organizers may also import the emails they have from external sources and send communications through the Services to those emails and we will deliver those communications to those emails. See “Opt Out from Electronic Communications” below on how to opt out of these communications. </p><br>
						<h4>4.6 Other Purposes. </h4><br>
							<p>If we intend to use any Personal Data in any manner that is not consistent with this Privacy Policy, you will be informed of such anticipated use prior to or at the time at which the Personal Data is collected or we will obtain your consent subsequent to such collection but prior to such use.</p><br><br>
					<h2>5. How We Disclose And Transfer Your Personal Data. </h2><br>
						<h4>5.1 No Sale. </h4><br>
							<p>We are not in the business of selling your Personal Data. We consider this information to be a vital part of our relationship with you. Therefore, we will not sell your Personal Data to third parties, including third party advertisers. There are, however, certain circumstances in which we may disclose, transfer or share your Personal Data with certain third parties without further notice to you, as set forth below. </p><br>
						<h4>5.2 Business Transfers.</h4><br>
							<p>As we develop our business, we might sell or buy businesses or assets. In the event of a corporate sale, merger, reorganization, dissolution or similar event, Personal Data may be part of the transferred assets. You acknowledge and agree that any successor to or acquirer of events (or its assets) will continue to have the right to use your Personal Data and other information in accordance with the terms of this Privacy Policy.</p><br>
						<h4>5.3 Parent Companies, Subsidiaries and Affiliates. </h4><br>
							<p>We may also share your Personal Data with our parent companies, subsidiaries and/or affiliates for purposes consistent with this Privacy Policy. Our parent companies, subsidiaries and affiliates will be bound to maintain that Personal Data in accordance with this Privacy Policy. </p><br>
						<h4>5.4 Agents, Consultants and Related Third Parties. </h4><br>
							<p>We, like many businesses, sometimes engage other companies to perform certain business-related functions. These companies include our marketing agencies, database service providers, backup and disaster recovery service providers, email service providers and others. When we engage another company to perform such functions, we may provide them with information, including Personal Data, in connection with their performance of such functions. 
							</p><br>
						<h4>5.5 Organizers. </h4><br>
							<p>When you purchase tickets to, register for or donate to an event or related fundraising page on the Services, we provide the Personal Data entered on the applicable event or related fundraising page to the Organizers of such event and related fundraising page. For fundraising pages we may provide your personal information both to the Organizer charity of the fundraising page and the Organizer of the event to which the fundraising page is linked. These Organizers are not bound to treat your Personal Data in accordance with this Privacy Policy. You agree that we are not responsible for the actions of these Organizers with respect to your Personal Data. It is important that you review the applicable policies of the Organizers of an event (and the related fundraising page, if applicable) before providing Personal Data or other information in connection with that event or related fundraising page.</p><br>
						<h4>5.6 Facebook and Other Third Party Connections.</h4><br>
							<p>You can connect your events account to your accounts on third party services like Facebook, in which case we may collect, use, disclose, transfer and store/retain information relating to your account with such third party services in accordance with this Privacy Policy. For example, if you connect with Facebook, we store your Facebook id, first name, last name, email, location, friends list and profile picture and use them to connect with your Facebook account to provide certain functionality on the Services, like recommending events that your Facebook friends are interested in and sharing the events you are interested in with certain groups of people like your Facebook friends.</p><br>
						<h4>5.7 Legal Requirements. </h4><br>
							<p>We may disclose your Personal Data if required to do so by law (including without limitation, responding to a subpoena or request from law enforcement, a court or a government agency) or in the good faith belief that such action is necessary (a) to comply with a legal obligation, (b) to protect or defend our rights, interests or property or that of third parties, (c) to prevent or investigate possible wrongdoing in connection with the Services, (d) to act in urgent circumstances to protect the personal safety of Users of the Services or the public; or (e) to protect against legal liability.</p><br><br>
					<h2>6. How We Store Your Personal Data. </h2><br>
						<p>We may store Personal Data itself or such information may be stored by third parties to whom we have transferred it in accordance with this Privacy Policy. We take what we believe to be reasonable steps to protect the Personal Data collected via the Services from loss, misuse, unauthorized access, inadvertent disclosure, alteration and destruction. However, no network, server, database or Internet or e-mail transmission is ever fully secure or error free. Therefore, you should take special care in deciding what information you send to us electronically. Please keep this in mind when disclosing any Personal Data.</p><br><br>
					<h2>7. How You Can Access Your Personal Data. </h2><br>
						<p>Registered Users may access and update some of their Personal Data being stored by us by <a href="#">logging in</a> and visiting the My Account page. Registered Users may also <a href="#">contact us</a> directly at the address specified below with requests to update and/or access Personal Data that is not accessible through the My Account page. Unregistered Users do not have a formal account with events, however, you can create a formal account by <a href="#">signing up</a>. After signing up, you can update and access some of your Personal Data on the My Account page. Unregistered Users can also contact us directly with requests to update and/or access Personal Data at the address specified below. We will take reasonable steps to respond to requests relating to Personal Data within thirty (30) days, however, to the extent lawful, we may reject requests that we find to be unreasonable (i.e., require disproportionate efforts or material changes to our information systems), impractical or abusive (i.e., repetitive requests, requests made in bad faith, requests that would compromise third party information).</p><br><br>
					<h2>8. How Long We Retain Your Personal Data. </h2><br>
						<p>We may retain your Personal Data as long as you continue to use the Services. You may close your account by contacting us. However, we may retain Personal Data for an additional period as is permitted or required under applicable laws. Even if we delete your Personal Data it may persist on backup or archival media for an additional period of time.</p><br><br>
					<h2>9. Cookies, Pixels Tags, Local Shared Objects, Web Storage And Similar Technologies. </h2><br>
						<p>Please refer to our <a href="#">Cookie Policy</a>, which is hereby incorporated by reference into this Privacy Policy, for more information about our use of these technologies.</p><br><br>
					<h2>10. Your Choices. </h2><br>
						<p>You have several choices available when it comes to your Personal Data: </p><br>
						<h4>10.1 Limit the Personal Data You Provide. </h4><br>
							<p>You can browse the Services without providing any Personal Data (other than Automatic Data to the extent it is considered Personal Data under applicable laws) or with limiting the Personal Data you provide. If you choose not to provide any Personal Data or limit the Personal Data you provide, you may not be able to use certain functionality of the Services. For instance, in order to open an account, or buy or sell tickets, your name and email address will be required. </p><br>
						<h4>10.2 Opt Out from Electronic Communications. </h4><br>
							<h4>(a) events Marketing Communications. </h4><br>
								<p>events may send you electronic communications marketing or advertising the Services themselves or events on the Services, to the extent you have registered for the Services or purchased a ticket and/or registration to an event listed on the Services. You can “opt out” of receiving these electronic communications by clicking on the “Unsubscribe” link at the bottom of any such electronic communication. In addition, you may also <a href="#">manage your email preferences</a> at any time by logging in (or signing up and then logging in), clicking on “Account” and then “Email Preferences.”</p><br>
							<h4>(b) Organizer Initiated Communications. </h4><br>
								<p>Organizers may use our email tools to send electronic communications to those on their email subscription lists, including Attendees who have registered for their events on the Services in the past. Although these electronic communications are sent through our system, events does not determine the content or the recipients of these electronic communications. Organizers are required to use our email tools only in accordance with all applicable laws. events provides an “Unsubscribe” link on each of these emails, which allows recipients to “opt out” of electronic communications from the particular Organizer. </p><br>
							<h4>(c) Social Notifications. </h4><br>
								<p>If you connect your Facebook account or sign up for other social media integrations whose product features include social notifications (i.e., updates on what your friends are doing on the Services), you will receive these social notifications. You can manage these social notifications by toggling your social settings to private or disconnecting such integration.</p><br>
							<h4>(d) Transactional or Responsive Communications. </h4>
								<p>Certain electronic communications from events are responsive to your requests. For instance, if you are an Attendee, we must email you your ticket or registration when you purchase such ticket or registration. As a further example, if you email our customer support department, we will return your email. Notwithstanding any unsubscribe election that you have made, you will still receive these emails. You can stop receiving these types of emails only by <a href="#">contacting us</a>. By electing to stop receiving all electronic communications from us or through our system you will no longer receive any updates on events you have created (including payout issues) or on events you are registered to attend (including emails with your tickets). We do not recommend that you do this unless you plan to no longer use the Services, are not currently registered for an event, are not currently organizing an event and will have no need to receive further communications from us or through our system. </p><br>
							<h4>(e) Retention.</h4><br>
								<p>It may take up to forty eight (48) hours for us to process an unsubscribe request. Even after you opt out of all electronic communications, we will retain your Personal Data in accordance with this Privacy Policy, however, we will no longer use it to contact you. However, Organizers who have received your Personal Data in accordance with this Privacy Policy may still use that Personal Data to contact you in accordance with their own privacy policies, but they may not use our system to do so. </p><br>
						<h4>10.3 Do Not Track. </h4><br>
							<p>We currently do not participate in any “Do Not Track” frameworks that would allow us to respond to signals or other mechanisms from you regarding the collection of your Personal Data.</p><br><br>
					<h2>11. Exclusions. </h2><br>
						<h4>11.1 Personal Data Provided to Others. </h4><br>
							<p>This Privacy Policy does not apply to any Personal Data that you provide to another User or visitor through the Services or through any other means, including to Organizers on event pages or information posted by you to any public areas of the Services. </p><br>
						<h4>11.2 Third Party Links. </h4><br>
							<p>This Privacy Policy applies only to the Services. The Services may contain links to other websites not operated or controlled by us (the “Third Party Sites”). The policies and procedures we described here do not apply to the Third Party Sites. The links from the Services do not imply that we endorse or have reviewed the Third Party Sites. We suggest contacting those sites directly for information on their privacy policies. </p><br>
						<h4>11.3 Non-Personal Data. </h4><br>
							<p>When you interact with the Services, we may also collect Non-Personal Data. The limitations and requirements in this Privacy Policy on our collection, use, disclosure, transfer and storage/retention of Personal Data do not apply to Non-Personal Data. The Non-Personal Data we collect, includes without limitation, Internet Protocol (IP) addresses (where such information is not considered Personal Data under applicable laws), Automatic Data, domain names of your Internet Service Provider, your approximate geographic location, a record of your usage of the Services, the time of your usage and aggregated Personal Data, but only to the extent that the foregoing cannot be used to specifically identify you. We also collect Non-Personal Data (including without limitation, of the type set forth above) from third parties. The information we collect from third parties may be combined with the information we collect. However, if we combine Non-Personal Data with Personal Data, we will treat the combined data as Personal Data.</p><br>
						<h4>11.4 Aggregated Personal Data. </h4><br>
							<p>In an ongoing effort to better understand and serve the users of the Services, we often conduct research on our customer demographics, interests and behavior based on Personal Data and other information that we have collected. This research may be compiled and analyzed on an aggregate basis and this aggregate information does not identify you personally and therefore is considered and treated as Non-Personal Data under this Privacy Policy.</p><br><br>
					<h2>12. Children. </h2><br>
						<p>We do not knowingly collect Personal Data from children under the age of thirteen (13). If you are under the age of thirteen (13), please do not submit any Personal Data through the Services. We encourage parents and legal guardians to monitor their children’s Internet usage and to help enforce our Privacy Policy by instructing their children never to provide Personal Data through the Services without their permission. If you have reason to believe that a child under the age of 13 has provided Personal Data to us through the Services, please contact us, and we will endeavor to delete that information from our databases.</p><br><br>
					<h2>13. International Privacy Laws.</h2><br>
						<h4>13.1 Servers. </h4><br>
							<p>If you are visiting the Services from outside the United States, please be aware that you are sending information (including Personal Data) to the United States where our servers are located. That information may then be transferred within the United States or back out of the United States depending on the type of information and how it is stored by us. We will hold and process your Personal Data in accordance with privacy laws in the United States and this Privacy Policy. Please note that privacy laws in the United States may not be the same as, and in some cases may be less protective than, the privacy laws in your country, and while in the United States Personal Data may be subject to lawful access requests by government agencies.</p><br><br>
					<h2>14. Changes To This Privacy Policy. </h2><br>
						<p>The Services and our business may change from time to time. As a result, at times it may be necessary for us to make changes to this Privacy Policy. We reserve the right, in our sole discretion, to update or modify this Privacy Policy at any time (collectively, “Modifications”). Modifications to this Privacy Policy will be posted to the Site with a change to the "Updated” date at the top of this Privacy Policy. In certain circumstances events may, but need not, provide you with additional notice of such Modifications, such as via email or with in-Service notifications. Modifications will be effective thirty (30) days following the "Updated” date or such other date as communicated in any other notice to you. Please review this policy periodically, and especially before you provide any Personal Data. This Privacy Policy was updated on the date indicated above. Your continued use of the Services following the effectiveness of any Modifications to this Privacy Policy constitutes acceptance of those Modifications. If any Modification to this Privacy Policy is not acceptable to you, you should cease accessing, browsing and otherwise using the Services.</p><br><br>
					<h2>15. Dispute Resolution. </h2><br>
						<p>If you have a complaint about events’s privacy practices you should write to us at events, Inc., Attn: Privacy Officer, 155 5th Street, Floor 7, San Francisco, CA 94103, USA, or by email to privacy@events.com. We will take reasonable steps to work with you to attempt to resolve your complaint.</p><br><br>
					<hr>
						<h4 style="float:left">Did this article answer your question?</h4>&nbsp&nbsp&nbsp
						<button><i class="fa fa-smile-o" aria-hidden="true"></i></button>
						<button><i class="fa fa-frown-o" aria-hidden="true"></i></button>
					<hr>
						<h5>Related articles </h5><br>
						<a href="#">events Merchant Agreement</a><br>
						<a href="#">events Terms of Service</a><br>
						<a href="#">events Australian Consumer Amendments</a><br>
						<a href="#">EU Consumer Amendments</a><br>
						<a href="#">events Terms of Use</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="help_last">
	<div class="container">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<p>Still have questions? Our customer experience team is here to help. <a href="#"> Contact us. </a></p>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</div>


{% endblock %}