{% extends 'home/index.html' %}

{% load static %}

{% block navbar %}

<div class="rally_navbar">
	<nav class="navbar navbar-default navbar-fixed-top">
  		<div class="container">
  			<div class="row">
  				<div class="col-md-8">
  					<div class="rally_navbar_left">
  						<div class="rally_navbar_left_first">
		   		 			<a href="">Rally</a>
		   		 		</div>
		   		 		<div class="rally_navbar_left_second">
			   		 		<ul>
			   		 			<li><a href="">San Francisco</a></li>
			   		 			<li><a href="">Los Angeles</a></li>
			   		 			<li><a href="">New York City</a></li>
			   		 		</ul>
		   		 		</div>
		   		 	</div>
	   		 	</div>
	   		 	<div class="col-md-4">
	   		 		<div class="rally_navbar_right">
	   		 			<ul>
	   		 				<li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
	   		 				<li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
	   		 				<li><a style="color:#3abc98;font-size:20px" href="">Stay in the know</a></li>
	   		 				<li><a href=""><i class="fa fa-search" aria-hidden="true"></i></a></li>
	   		 			</ul>
	   		 		</div>
	   		 	</div>
   		 	</div>
  		</div>
	</nav>
</div>
{% endblock %}

{% block slider %}

<div class="rally_slider">

</div>
<div class="rally_slider_triangle">
	
</div>
<div class="rally_slider_second">
	<div class="container">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-5">
				<div class="rally_slider_inner">
					<h4>13 Hilariously Bad ’90s<br> Halloween Costumes</h4>
					<p>Back at it again with the bad costumes! We give to you: 13 EXTREMELY DIY '90s Halloween costumes. </p>
					<span>by <a href="">Alexa Plew</a> / October 4, 2016 </span>
					<hr>
				</div>
			</div>
			<div class="col-md-6"></div>
		</div>
	</div>
</div>

{% endblock %}

{% block content %}

<div class="rally_top">
	<div class=" container">
		<div class="row">
			<div class="col-md-4">
				<div class="rally_top_left">
					<div class="rally_top_img">
						<a href=""><img src="{% static 'images/rally_top1.jpg' %}"></a>
					</div>
					<div class="rally_top_content"> 
						<a href="">Everything You Need to Know About Tipping in the Modern Age</a>
						<p>From bartenders to Uber drivers, here's the definitive guide on who to tip and how much to give. </p>
					</div>
					<div class="rally_span">
						<span>by <a href="">Daisy Barringer</a> / June 7, 2016 </span>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="rally_top_left">
					<div class="rally_top_img">
						<a href=""><img src="{% static 'images/rally_top2.jpg' %}"></a>
					</div>
					<div class="rally_top_content">
						<a href="">10 Museum Restaurants That Are Their Own Works of Art</a>
						<p>When it comes to cultural experiences, there’s no better double dose of local flair than dining at a… </p>
					</div>
					<div class="rally_span">
							<span>by <a href="">Nile Cappello</a> / April 19, 2016</span>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="rally_top_right">
					<h2><a href="">Event Calendar</a></h2>
					<a href=""><img src="{% static 'images/homepage-calendar-icon.png' %}"></a>
					<p>See what’s coming up this month.</p>
					<button>Start Planning</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="rally_content">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="rally_content_left">
					<div class="rally_content_img">
						<a href=""><img src="{% static 'images/rally_content_left.jpg' %}"></a>
					</div>
					<div class="rally_content_data"> 
						<a href="">Eventbrite’s Top Festivals to Watch in 2016</a>
						<p>Whether you're looking to rock out, camp out, strike a yoga pose on top of a mountain, or discover the next big thing, there are tons of travel-worthy festivals to look forward to in 2016. </p>
					</div>
					<div class="rally_content_span">
						<span>by <a href="">Rally</a> / January 12, 2016  </span>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="rally_content_right">
					<div class="rally_content_img">
						<a href=""><img src="{% static 'images/rally_content_right.jpg' %}"></a>
					</div>
					<div class="rally_content_data"> 
						<a href="">5 Types of People That Make Getting Together Kind of Impossible</a>
						<p>The top five offenders when it comes to trying to organize your friends, and a handy little app to make this process easier (and dare I say, a little fun). </p>
					</div>
					<div class="rally_content_span">
						<span>by <a href="">Sarah Loaiza</a> / June 21, 2016 </span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="rally_form">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div style="text-align: center" class="rally_form_first">
					<p>Like what you see here?<br>Get Rally right in your inbox.</p>
				</div>
			</div>
			<div class="col-md-3">
				<div class="rally_form_second">
					<select>
						<option value="" disabled="" selected="selected">SELECT YOUR CITY</option>
						<option>San Francisco</option>
						<option>New York</option>
						<option>Los Angeles</option>
					</select>
				</div>
			</div>
			<div class="col-md-5">
				<div class="rally_form_third">
					<input type="text" name="" placeholder="Your E-mail Address">
					<button>Sign Up</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="rally_middle">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="rally_middle_left">
					<div class="rally_middle_img">
						<a href=""><img src="{% static 'images/rally_middle_left.jpg' %}"></a>
					</div>
					<div class="rally_middle_content"> 
						<a href="">Broke-Ass Stuart Goes Behind Bars with Tony Lioce</a>
						<p>Broke-Ass Stuart interviews the unforgettable bartender Tony Lioce (Vesuvio, Specs) about first dates, dive bars in SF, and… </p>
					</div>
					<div class="rally_middle_span">
						<span>by <a href="">Stuart Schuffman</a> / March 15, 2016 </span>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="rally_middle_right">
					<div class="rally_middle_img">
						<a href=""><img src="{% static 'images/rally_middle_right.jpg' %}"></a>
					</div>
					<div class="rally_middle_content"> 
						<a href="">Free Outdoor Concerts This Summer in NYC</a>
						<p>Alicia Keys, Blink 182, Public Enemy, and many more artists kick off NYC’s summer concert season with free shows and must-see lineups in every ‘hood. </p>
					</div>
					<div class="rally_middle_span">
						<span>by <a href="">Melanie Gardiner</a> / May 17, 2016 </span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="rally_bottom">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="rally_bottom_left">
					<div class="rally_bottom_img">
						<a href=""><img src="{% static 'images/rally_bottom_left.jpg' %}"></a>
					</div>
					<div class="rally_bottom_content"> 
						<a href="">Breathtaking Swim Spots and Hidden Beaches in LA</a>
						<p>Not far from LA proper, microcosms of beauty boast pouring waterfalls, coastal caves, rock-lined pools, hot springs, and countless velvet beaches. </p>
					</div>
					<div class="rally_bottom_span">
						<span>by <a href="">Chan Plett</a> / March 19, 2016 </span>
					</div>
				</div>
			</div>
			<div class="col-md-8">
				<div class="rally_bottom_right">
					<div class="rally_bottom_img">
						<a href=""><img src="{% static 'images/rally_bottom_right.jpg' %}"></a>
					</div>
					<div class="rally_bottom_content"> 
						<a href="">Best Bay Area Summer Festivals, Fairs, and Block Parties</a>
						<p>Stock up on the sunscreen, because you'll be having tons of fun under the sun this summer at these Bay area fests, fairs, and block parties. </p><br>
					</div>
					<div class="rally_bottom_span">
						<span>by <a href="">Kiera Kenney</a> / May 23, 2016 </span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}