{% extends 'home/index.html' %}

{% load static %}

{% block slider %}

<div class="seating_header static_page_top">
	<div class="row">
		<div class="col-md-12">
			<h1>Reserved Seating Event Ticketing</h1>
			<p>Deliver a great experience, one seat at a time.</p>
			<button id="seating_first">Try It Now</button>
			<button id="seating_second">Watch Video</button>
		</div>
	</div>
</div>

{% endblock %}

{% block content %}
<div class="seating_content_top">
	<div class="row">
		<h1>Visualize Your Space</h1>
		<p>Easily customize your seat map to reflect your unique event space. Click on examples below.</p>
	</div>
</div>
<div class="seating_content">
	<div class="row">
		<div class="col-md-4">
			<h4>Auditorium</h4>
			<a href="">
			<img src="{% static 'images/seating_first.jpg' %}">
			</a>
		</div>
		<div class="col-md-4">
			<h4>Gala</h4>
			<a href="">
			<img src="{% static 'images/seating_second.jpg' %}">
			</a>
		</div>
		<div class="col-md-4">
			<h4>Open Venue</h4>
			<a href="">
			<img src="{% static 'images/seating_third.jpg' %}">
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<h4>Show</h4>
			<a href="">
			<img src="{% static 'images/seating_forth.jpg' %}">
			</a>
		</div>
		<div class="col-md-4">
			<h4>Runway</h4>
			<a href="">
			<img src="{% static 'images/seating_fifth.jpg' %}">
			</a>
		</div>
		<div class="col-md-4">
			<h4>Create your own</h4>
			<a href="">
			<i class="fa fa-plus-circle" aria-hidden="true"></i>
			</a>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-12">
			<h3>Hosting a large-scale reserved seating event?</h3>
			<p>Speak with an expert at 1-888-215-3611</p>
		</div>
	</div>
</div>
<div class="seating_content_bottom">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<h2>Deliver a Premium Experience</h2>
			<p>Fast, easy registration experience—attendees can pick their own seats or get the best assigned seats.</p>
			<img src="{% static 'images/pick-a-seat-en-au-nz-ca.jpg' %}">
		</div>
		<div class="col-md-2"></div>
	</div>
</div>
<div class="seating_content_last">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<h2>Easily Manage Seats</h2>
			<p>Add more seats and tickets, and move guests around, all at no extra charge.</p>
			<img src="{% static 'images/easily-manage.png' %}">
		</div>
		<div class="col-md-2"></div>
	</div>
</div>
<div class="seating_table">
	<div class="row">
		<div class="col-md-8"></div>
		<div class="col-md-3">
			<div class="seating_table_body">
				<h4>Manage Tickets</h4>
				<span>88/88</span>
				assigned
				<table>
					<tr>
						<td><div class="circle_banana"></div></td>
						<td><a href="">Standard</a></td>
						<td>Qty: 56</td>
						<td><a href="">$20.00</a></td>
					</tr>
					<tr>
						<td><div class="circle_grape"></div></td>
						<td><a href="">VIP</a></td>
						<td>Qty: 32</td>
						<td><a href="">$50.00</a></td>
					</tr>
				</table>
				<button>Add Ticket</button>
			</div>	
		</div>
		<div class="col-md-1"></div>
	</div>
</div>
<div class="seating_box_office">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<h2>Grow Box Office Sales</h2>
			<p>Sell tickets and merchandise at your event with our free Eventbrite Organizer app.</p>
			<img src="{% static 'images/box-office.png' %}">
		</div>
		<div class="col-md-2"></div>
	</div>
</div>
<div  class="seating_box">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<h2>Eventbrite is 100% free for free events</h2>
			<p>No monthly fees or contracts. Pay only when you make a sale. <a href="">Learn more</a></p>
			<button>Get Started</button>
		</div>
		<div class="col-md-2"></div>
	</div>
</div>
<div class="reserved_seating_last">
	<div class="row">
		<div  class="col-md-1"></div>
		<div class="col-md-10">
			<div class="reserved_last">
				<i class="fa fa-pencil" aria-hidden="true"></i>
				<h4>Customize your event</h4>
				<p>Control the look and feel of your event<br>page and give it a professional polish.</p>
			</div>
			<div class="reserved_last">
				<i class="fa fa-credit-card" aria-hidden="true"></i>
				<h4>Collect money online</h4>
				<p>Let attendees pay online or via mobile, and<br>track payments and refunds in real time.</p>
			</div>
			<div class="reserved_last">
				<i class="fa fa-phone" aria-hidden="true"></i>
				<h4>Rely on knowledgeable support</h4>
				<p>Tap our friendly experts and in-depth Help<br>Center articles to get answers fast.</p>
			</div>
		</div>
		<div class="col-md-1"></div>
	</div>
	<div class="row">
		<div  class="col-md-1"></div>
		<div class="col-md-10">
			<div class="reserved_last">
				<i class="fa fa-bullhorn" aria-hidden="true"></i>
				<h4>Promote your event</h4>
				<p>Spread the word to more people with free,<br>built-in email marketing and social sharing<br> tools.</p>
			</div>
			<div class="reserved_last">
				<i class="fa fa-line-chart" aria-hidden="true"></i>
				<h4>Track your sales</h4>
				<p>Manage inventory, set up discount codes,<br>and access reports all in one place.</p>
			</div>
			<div class="reserved_last">
				<i class="fa fa-check-square-o" aria-hidden="true"></i>
				<h4>Simplify check-in</h4>
				<p>Access your guest list and scan tickets at<br>the door with any iOS or Android phone and<br>tablet.</p>
			</div>
		</div>
		<div class="col-md-1"></div>
	</div>
</div>
<div class="seating_end">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<h4>Get Started Now (It's Free!)</h4>
			<p>Already have an account? <a href="">Log in.</a> </p>
			<input type="text" name=""><br>
			<input type="password" name=""><br>
			<button>Sign Up</button><br>
			<span>By clicking 'Sign Up', I confirm that I agree with the<br> Eventbrite <a href="">terms of service </a>, <a href="">privacy policy</a> , and<br> <a href="">cookie policy.</a> </span>
		</div>
		<div class="col-md-2"></div>
	</div>
</div>

{% endblock %}