{% extends 'home/conference_management.html' %}

{% load static %}

{% block slider %}

<div class="reunion_slider">
	<div class="conatiner">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-4">
				<div class="reunion_slider_left">
					<h2>Get started now!</h2>
					<input type="text" name="" placeholder="Email">
					<input type="password" name="" placeholder="Password">
					<button>Try It Now</button>
					<p>By clicking 'Try It Now', I confirm that I agree with the Eventbrite
					<a href="">terms of service</a> and <a href="">privacy policy</a></p>
					<p>Already a member? <a href="">Log In</a></p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="reunion_slider_right">
					<h1>Get the Gang Back Together </h1>
					<h4>Set up and manage an unforgettable reunion with Eventbrite’s simple registration tools.</h4>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</div>
<div class="reunion_slider_last">
	<div class="container">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<div class="row">
					<div class="col-md-4">
						<h2>$3<span>bn</span></h2>
						<p>ticket sales & counting</p>
					</div>
					<div class="col-md-4">
						<h2>200<span>m</span></h2>
						<p>tickets sold</p>
					</div>
					<div class="col-md-4">
						<h2>3400<span>+</span></h2>
						<p>reunions ticketed in 2014</p>
					</div>
				</div>
				<h1>Hosting a large or complex event?<br>Call our experts at <span id="reunion_span">1-888-215-3611</span> for help getting started.</h1>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</div>

{% endblock %}

{% block content %}

<div class="reunion_content">
	<div class="container">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<h1>Eventbrite's all-in-one ticketing platform makes it easy to organize reunions. </h1>
				<div class="row">
					<div class="col-md-4">
						<i class="fa fa-pencil" aria-hidden="true"></i>
						<h2>Customize your event page</h2>
						<p>Create your own branded event page in 3 easy steps. Include multiple ticket types, a reunion itinerary, and photos from the past.</p>
					</div>
					<div class="col-md-4">
						<i class="fa fa-credit-card" aria-hidden="true"></i>
						<h2>Easy payment setup</h2>
						<p>Easily collect money with credit card processing, PayPal, and more. Guests can also pay by check or at the door.</p>	
					</div>
					<div class="col-md-4">
						<i class="fa fa-bullhorn" aria-hidden="true"></i>
						<h2>Get the word out</h2>
						<p>Send email invitations, create promotional codes, and spread the word with built-in social media tools.</p>	
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<i class="fa fa-bookmark" aria-hidden="true"></i>
						<h2>Sell reunion merchandise</h2>
						<p>Reunion guests can purchase t-shirts, hats, and other merchandise right on the event page.</p>
					</div>
					<div class="col-md-4">
						<i class="fa fa-line-chart" aria-hidden="true"></i>
						<h2>Collect important information</h2>
						<p>Utilize custom questions to collect the information you need to plan your reunion and learn about what your guests are up to.</p>
					</div>
					<div class="col-md-4">
						<i class="fa fa-clock-o" aria-hidden="true"></i>
						<h2>Get answers around the clock</h2>
						<p>Our seasoned in-house support team provides you with round-the-clock customer service.</p>
					</div>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</div>
<div class="reunion_content_middle">
	<div class="container">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<h2>Hosting a large or complex event?<br>Call our experts at <span>1-888-215-3611</span> for help getting started.</h2>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</div>
<div class="reunion_content_bottom">
	<div class="container">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<h2>Need a little help getting started?<br>Check out the Eventbrite Guide to Class Reunions</h2>
				<button>Check it Out</button>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
</div>
<div class="reunion_bottom">
	<div class="container reunion_container">
		<div class="row">
			<div class="col-md-12">
				<h1>Eventbrite integrates with a few of your favorite apps to make life a bit easier as you organize your event. Below are just a few to check out! </h1>
				<div class="reunion_images">
					<div class="row">
						<div class="col-md-6">
							<img id="reunion_image1" src="{% static 'images/ek_logo_v3.png' %}">
							<p>Send stylish online invitations to your reunion</p>
						</div>
						<div class="col-md-6">
							<img id="reunion_image2" src="{% static 'images/scratchlogo.png' %}">
							<p>Easily book a DJ for your reunion</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<img id="reunion_image3" src="{% static 'images/99designs-logo-r-180px.png' %}">
							<p>Get a professional event page designed in under an hour for $19</p>
						</div>
						<div class="col-md-6">
							<img id="reunion_image4" src="{% static 'images/surveymonkey_300.png' %}">
							<p>Send post-event surveys to your attendees</p>
						</div>
					</div>
				</div>
				<div class="reunion_hosting">
					<h2>Hosting a large or complex event?<br>Call our experts at <span>1-888-215-3611</span> for help getting started.</h2>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="reunion_last">
	<div class="container">
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<div class="reunion_last_inner">
					<h2>Get started now!</h2>
					<input type="text" name="" placeholder="Email">
					<input type="password" name="" placeholder="Password">
					<button>Try It Now</button>
					<p>By clicking 'Try It Now', I confirm that I agree with the Eventbrite
					<a href="">terms of service</a> and <a href="">privacy policy</a></p>
					<p>Already a member? <a href="">Log In</a></p>
				</div>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
</div>

{% endblock %}
