{% extends 'home/conference_management.html' %}

{% load static %}

{% block slider %}

<div class="rsvp_slider">
	<div class="conatiner">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-4">
				<div class="rsvp_slider_left">
					<h2>Get started now!</h2>
					<input type="text" name="" placeholder="Email">
					<input type="password" name="" placeholder="Password">
					<button>Try It Now</button>
					<p>By clicking 'Try It Now', I confirm that I agree with the Eventbrite
					<a href="">terms of service</a> and <a href="">privacy policy</a></p>
					<p>Already a member? <a href="">Log In</a></p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="rsvp_slider_right">
					<h1>Manage and Track<br>RSVPs Online For Any Event</h1>
					<h4>Our online RSVP service is designed to make managing RSVPs for your events easy and hassle-free. Whether you need a headcount for your reunion or to organize the guest list for a work event or party, our RSVP tool works seamlessly with our online ticketing, registration, and invitation service to keep track of who is attending.</h4>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</div>

{% endblock %}

{% block content %}

<div class="rsvp_content">
	<div class="container">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<h1>We provide all the tools you need to make your event a success.</h1>
				<h3>Eventbrite enables people all over the world to post, promote, and track any event.</h3>
				<div class="row">
					<div class="col-md-4">
						<i class="fa fa-clock-o" aria-hidden="true"></i>
						<h4>Post an event in minutes</h4>
						<p>It's simple to organize festivals, performances, fundraisers, conferences, parties, retreats, workshops, and events of all kinds!</p>
					</div>
					<div class="col-md-4">
						<i class="fa fa-cog" aria-hidden="true"></i>
						<h4>Customize your event page</h4>
						<p>Have control over the look and feel of your event page. You can also offer multiple ticket types, discount codes, merchandise and more.</p>
					</div>
					<div class="col-md-4">
						<i class="fa fa-credit-card" aria-hidden="true"></i>
						<h4>Let your attendees pay online</h4>
						<p>Easily collect money with credit card processing, PayPal, and more. Track payments and manage refunds all in one place.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<i class="fa fa-users" aria-hidden="true"></i>
						<h4>Get the word out</h4>
						<p>Choose from a variety of promotional tools to tell people about your event, including widgets, custom links, invitations, social media and more.</p>
					</div>
					<div class="col-md-4">
						<i class="fa fa-ticket" aria-hidden="true"></i>
						<h4>Manage tickets at the door</h4>
						<p>Sell tickets on-site, track your sales, check in attendees, and help your customers — all from our free Eventbrite Organizer app that you can access anytime, anywhere.</p>
					</div>
					<div class="col-md-4">
						<i class="fa fa-line-chart" aria-hidden="true"></i>
						<h4>Track progress in real-time</h4>
						<p>Stay organized by having instant access to reporting and analytics. Watch your ticket and registration sales as they happen.</p>
					</div>
				</div>
				<h2>Hosting a large or complex event?<br>Call our experts at <span>1-888-236-1416</span> for help getting started.</h2>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</div>
<div class="rsvp_content_bottom">
	<div class="container">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<h2>Get the most from Eventbrite</h2>
				<h3>Use our tools for free and pay only when you make a sale. It's as simple as that.</h3>
				<div class="row">
					<div class="col-md-4">
						<i class="fa fa-users" aria-hidden="true"></i>
						<h4>Free for free events</h4>
						<h5>Eventbrite is completely free for free events, no matter how big or small your gathering.</h5>
					</div>
					<div class="col-md-4">
						<i class="fa fa-bookmark" aria-hidden="true"></i>
						<h4>Low fees</h4>
						<h5>A small fee is charged when you collect payments, but you can have attendees pay it.</h5>
					</div>
					<div class="col-md-4">
						<i class="fa fa-money" aria-hidden="true"></i>
						<h4>Get paid</h4>
						<h5>Start collecting money for your event in minutes by selecting a payment option.</h5>
					</div>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</div>
<div class="rsvp_content_images">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Thousands of promoters and organizers use Eventbrite.</h2>
				<div class="row">
					<div class="col-md-2">
						<img src="{% static 'images/organizer-toughmudder.png' %}">
					</div>
					<div class="col-md-2">
						<img src="{% static 'images/new_bottlerock_logo.jpg' %}">
					</div>
					<div class="col-md-2">
						<img src="{% static 'images/lib_150x150.jpg' %}">
					</div>
					<div class="col-md-2">
						<img src="{% static 'images/sundance.jpg' %}">
					</div>
					<div class="col-md-2">
						<img src="{% static 'images/animethon.jpg' %}">
					</div>
					<div class="col-md-2">
						<img src="{% static 'images/TasteofDC.png' %}">
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<img src="{% static 'images/Okeechobee_Logo.jpg' %}">
					</div>
					<div class="col-md-2">
						<img src="{% static 'images/sea_wheeze.png' %}">
					</div>
					<div class="col-md-2">
						<img src="{% static 'images/craftbeer.jpg' %}">
					</div>
					<div class="col-md-2">
						<img src="{% static 'images/makerfaire.jpg' %}">
					</div>
					<div class="col-md-2">
						<img src="{% static 'images/tribeca_150x150.jpg' %}">
					</div>
					<div class="col-md-2">
						<img src="{% static 'images/oceanic.jpg' %}">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="rsvp_community">
	<div class="container">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<h2>Join our community</h2>
				<h4>Join our colorful community of people hosting unique events around the world.</h4>
				<div class="row">
					<div class="rsvp_images">
						<div class="col-md-3">
							<img src="{% static 'images/organizer_event_webdirections.jpg' %}">
							<h3>John Allsopp</h3>
							<h5>Web Directions</h5>
							<p>"Eventbrite allows us to 'spin up' new events quickly, freeing up time to focus on the quality of our events, not managing attendees. We love it!"</p>
						</div>
						<div class="col-md-3">
							<img src="{% static 'images/organizer_event_crescentcity.jpg' %}">
							<h3>Laine Thomas</h3>
							<h5>Crescent City Classic</h5>
							<p>"Our attendees are always shocked at how fast they get answers from Eventbrite. Their customer support team saves me hours every week. That's time I now spend creating a better race"</p>
						</div>
						<div class="col-md-3">
							<img src="{% static 'images/organizer_event_awesomeinc.jpg' %}">
							<h3>Nick Such</h3>
							<h5>Awesome Inc U</h5>
							<p>I didn't expect our classes to take off as fast as they did. Eventbrite allowed us to turn our passion into a business overnight."</p>
						</div>
						<div class="col-md-3">
							<img src="{% static 'images/organizer_event_shesaysbrighton.jpg' %}">
							<h3>Rifa Thorpe-Tracey</h3>
							<h5>SheSays Brighton</h5>
							<p>"It's so easy to create the event, put in a lovely image, send reminders as well as create tickets and guest lists. We really couldn't live without Eventbrite!"</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</div>
<div class="rsvp_bottom_end">
	<div class="container">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<h2>Hosting a large or complex event?<br>Call our experts at <span>1-888-236-1416</span> for help getting started.</h2>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</div>
<div class="rsvp_last">
	<div class="container">
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<div class="rsvp_last_inner">
					<h2>Get started now!</h2>
					<input type="text" name="" placeholder="Email">
					<input type="password" name="" placeholder="Password">
					<button>Try It Now</button>
					<p>By clicking 'Try It Now', I confirm that I agree with the Eventbrite
					<a href="">terms of service</a> and <a href="">privacy policy</a></p>
					<p>Already a member? <a href="">Log In</a></p>
				</div>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
</div>

{% endblock %}