<div class="features">
        <div class="container">
           	<div class="row">
              {% if events_data %}
              {%  for event in events_data %}
              {% if event.publish_event == '1' %}
              	<div class="col-md-4 col-sm-6">
                		<div class="features-box wow fadeInDownQuick" data-wow-delay="0.5s">
                  		<div class="pics event_box">
                        {% for img in event.image %}
  								            <a href="/event/{{ event.event_id }}"><img src="/{{ img }}"/>
                        {% endfor %}
        								<ul class="event_menu">
        									<li>
                            Price:
                            {% if event.price == '0' %}
                              Free
                            {% else %}
                              {{ event.price }} 
                            {% endif %}
                           </li>
        									<li>Time: {{ event.time }} </li>
        						 			<li>Event: {{ event.name }} </li>
        						 			<li>{{ event.description }} </li>
        									<li>{{ event.city }} , {{ event.country }} </li>
        						 		</ul></a>
  						          </div>
                		</div>
              	</div>
                  {% endif %}
                {% endfor %}
                
        {% else %} 
        <div class="message" onclick="func()">     
          </div>
    {% endif %}
         </div>      
    </div>
  </div> 
  {% block myjs %}
<script>
$('.message').trigger('click');
function func(){
  toastr.options = {
  "closeButton": false,
  "debug": false,
  "newestOnTop": false,
  "progressBar": false,
  "positionClass": "toast-top-center",
  "preventDuplicates": false,
  "showDuration": "300",
  "hideDuration": "1000",
  "timeOut": "1000",
  "extendedTimeOut": "1000",
  "showEasing": "swing",
  "hideEasing": "linear",
  "showMethod": "fadeIn",
  "hideMethod": "fadeOut"
}

toastr.error('Sorry, no events found.')

}
  </script>
  {% endblock %} 