{% extends 'home/index.html' %}
{% load static %}

{% block slider %}

{% endblock %}

{% block content %}

<div class="security_top">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
			<h1>events Security & Safety <br> Guide </h1>
			</div>
		</div>
		<hr>
	</div>
</div>
<div class="security_content">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h3>PCI Compliant </h3>
				<p>events complies with PCI-DSS 3.0 Level 1 as both a Merchant and a Service Provider. </p>
			</div>
			<div class="col-md-6">
				<p>Registered with both <a href="#">Visa</a> and <a href="#">MasterCard</a> as a 		PCI-compliant Service Provider.<br>
	    			Regularly audited by a Qualified Security Assessor (Coalfire, Inc.)<br>
	    			Passes internal and external application and network penetration testing performed by independent security firms.<br>
				    Scanned daily by an Approved Scanning Vendor (ASV)<br>
				    PCI Attestation of Compliance (AOC) and Quarterly Scan Attestation of Compliance are both available upon request.<br>
				    events employs a cross-functional team responsible for oversight of PCI Compliance.

				</p>
			</div>
		</div>
		<hr>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h3>Privacy </h3>
				<p>events maintains a comprehensive privacy program. To us, this means that although we are required by law or regulation to do certain things, we are continually evaluating whether we can and should do more.  </p>
			</div>
			<div class="col-md-6">
				<p>We do not sell the personal information of our customers to third parties.<br>
    				We have a full time legal and security team focused on privacy and security issues.<br>
    				We voluntarily participate in the US-EU and US-Swiss Safe Harbor frameworks that require us to treat EU personal data with a higher standard than that required under US law.<br>
    				You can find our privacy policy at: <a href="#">events.com/privacypolicy.</a>
				</p>
			</div>
		</div>
		<hr>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h3>Hosting Environment </h3>
				<p>Amazon EC2 hosts events's production systems. </p>
			</div>
			<div class="col-md-6">
				<p>PCI-DSS Level 1 Service Provider<br>
    				ISO 27001 certified<br>
    				Independently verified and audited<br>
    				SAS-70 Type II and SSAE16<br>
    				<a href="#">Amazon AWS PCI Compliance</a> site
				</p>
			</div>
		</div>
		<hr>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h3>Web and Mobile Application Development </h3>
				<p>events is committed to designing, building, and maintaining secure systems. </p>
			</div>
			<div class="col-md-6">
				<p>All applications are regularly scanned for common security vulnerabilities 			including the <a href="#">OWASP Top Ten.</a><br>
    				Regular training on Secure Coding Practices is provided. All engineers must attend training sessions.<br>
    				No credit card information is permitted to be stored on any mobile device.<br>
    				Use of encryption for both storage and transmission of sensitive information is regularly audited by the events Security Team.<br>
    				All web and mobile applications are primarily developed, tested, deployed, and maintained by a full-time, in-house engineering team.
				</p>
			</div>
		</div>
		<hr>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h3>Encryption </h3>
				<p>events uses strong encryption methods and key management procedures to ensure your sensitive information is protected. </p>
			</div>
			<div class="col-md-6">
				<p>All credit card information is encrypted with strong industry-standard cryptographic 			protocols such as AES and TLS while in transit through our systems.<br>
    				events's website and APIs are accessible via a 256-bit SSL certificate issued by Digicert.<br>
    				Credit card information is never stored after transaction authorization.<br>
    				Access to encryption keys is held by the smallest number of events employees possible. <br>
				</p>
			</div>
		</div>
		<hr>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h3>Our Organization </h3>
				<p>events has taken appropriate measures to vet our employees. </p>
			</div>
			<div class="col-md-6">
				<p>All employees are subject to reference, education, and other personnel checks. Certain 			employees are also subject to detailed background checks.<br>
				    events maintains an information security training program that meets PCI-DSS standards and complies with the Massachusetts Privacy Law (201 CMR 17).<br>
				    Knowledgeable full-time security personnel are on staff.<br>
				    Require written acknowledgement by employees of their roles and responsibilities with respect to protecting user data and privacy.<br>
				</p>
			</div>
		</div>
		<hr>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h3>Incident Response </h3>
				<p>While we don't anticipate there ever being a breach of our systems, we know that no computer 	system is perfectly secure. </p>
			</div>
			<div class="col-md-6">
				<p>In the event of a breach of an events information system, we have a detailed Incident 		Response plan in place.<br>
    				Periodic testing of the response plan.<br>
    				events has 24x7 monitoring of its security systems and alerts.
				</p>
			</div>
		</div>
		<hr>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h3>Research and Disclosure </h3>
				<p>If you discover a vulnerability with events's information systems, report it to us 			first! </p>
			</div>
			<div class="col-md-6">
				<p>Do not attempt to harm events, its users, or customer's data.<br>
    				Allow reasonable time for events to resolve the issue before publishing findings publicly.<br>
    				Report details to <a href="#">security@events.com.</a><br>
   	 				Check for eligibility on the <a href="#">Security Reporting FAQ</a><br>
    				Include full details and steps to reproduce.<br>
    				Recognition by listing on the <a href="#">events Security Wall of Fame</a><br>
    				If you wish to encrypt your email, use events Security's GPG Key:
				</p>
			</div>
		</div>
	</div>
</div>


{% endblock %}