{% extends 'home/conference_management.html' %}

{% load static %}

{% block slider %}

<div class="selltickets_slider">
	<div class="conatiner">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-4">
				<div class="selltickets_slider_left">
					<h2>Get started now!</h2>
					<input type="text" name="" placeholder="Email">
					<input type="password" name="" placeholder="Password">
					<button>Try It Now</button>
					<p>By clicking 'Try It Now', I confirm that I agree with the Eventbrite
					<a href="">terms of service</a> and <a href="">privacy policy</a></p>
					<p>Already a member? <a href="">Log In</a></p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="selltickets_slider_right">
					<h1>Sell Tickets Online</h1>
					<h4>Create a customized event page fast. Promote your event and track attendance. Sell tickets and manage event registration.</h4>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</div>
<div class="selltickets_slider_last">
	<div class="container">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<h4>Eventbrite is the best place for event organizers to sell tickets online. From intimate classes to massive concerts, we help people all over the world create customized pages and utilize our software to sell tickets and promote their events.</h4>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</div>

{% endblock %}

{% block content %}

<div class="selltickets_content">
	<div class="container">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<h1>How to Sell Your Tickets Online with Eventbrite</h1>
				<h4>Getting started is as easy as 1-2-3.</h4>
				<h6>1</h6>
				<p>Sign up for a free Eventbrite account or log in to your current account and click “Create an Event.” It only takes a few minutes to get started, and if your event is free, so is the service!</p>
				<h6>2</h6>
				<p>When creating your event page, choose at least one ticket type to sell out of the available options. You can easily set a price and create a discount and/or access code for your ticket types. This allows you to offer discounts or password-protected tickets to different people.</p>
				<h6>3</h6>
				<p>Publish your event page where attendees can register and buy tickets. You can also track your sales and access detailed ticket and attendee reports. Don’t forget to spread the word! You can always come back to edit your published event.</p>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
</div>
<div class="selltickets_content_top">
	<div class="container">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<h2>Sell Tickets Online</h2>
				<button>Get Started</button>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
</div>
<div class="selltickets_content_middle">
	<div class="container">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<h1>Who Can Sell Tickets with Eventbrite?</h1>
				<p>Anyone can use Eventbrite to sell tickets, whether you’re planning a sell-out music festival or a local cooking class. We have all the tools professionals need to stay organized, from detailed analytics to track progress in real-time to easy and secure online payment. And if all you need is a straightforward platform to connect with attendees, don’t worry. Eventbrite has intuitive customization options that make selling tickets easy. Thousands of promoters and organizers from all industries trust Eventbrite, from endurance events like Tough Mudder or the Zombie Run to brand-name music, film and food festivals. Find and sell tickets to conventions, conferences, concerts, classes, and anything else you can imagine.</p>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
</div>
<div class="selltickets_content_bottom">
	<div class="container">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<h1>Why You Should Choose Eventbrite to Sell Tickets</h1>
				<div class="row">
					<div class="col-md-4">
						<i class="fa fa-clock-o" aria-hidden="true"></i>
						<h4>Post an event in minutes</h4>
						<p>Customize and post your event in minutes, not days, so you can focus on taking your event to the next level.</p>
					</div>
					<div class="col-md-4">
						<i class="fa fa-bullhorn" aria-hidden="true"></i>
						<h4>Get the word out</h4>
						<p>Promote the event with social media and website widgets, and track your progress selling tickets in intuitive, real-time reports -- no more endless spreadsheets.</p>
					</div>
					<div class="col-md-4">
						<i class="fa fa-credit-card" aria-hidden="true"></i>
						<h4>Let your attendees pay online</h4>
						<p>Eventbrite is the best choice for selling tickets online. Get started for free and experience the difference.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<i class="fa fa-users" aria-hidden="true"></i>
						<h4>24/7 support</h4>
						<p>Rest easy knowing Eventbrite’s 24/7 in-house customer team is on-call for you and your guests at all hours. We are here to help make your event a success.</p>
					</div>
					<div class="col-md-4">
						<i class="fa fa-ticket" aria-hidden="true"></i>
						<h4>Manage tickets at the door</h4>
						<p>On the day-of, make check-in run smoothly with Eventbrite Organizer, our free box office app.</p>
					</div>
					<div class="col-md-4">
						<i class="fa fa-line-chart" aria-hidden="true"></i>
						<h4>Track progress in real-time</h4>
						<p>Stay organized by having instant access to reporting and analytics. Watch your ticket and registration sales as they happen.</p>
					</div>
				</div>
				<h2>Hosting a large or complex event?<br>Call our experts at <span>1-888-236-1416</span> for help getting started.</h2>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</div>
<div class="selltickets_content_images">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Thousands of promoters and organizers use Eventbrite.</h2>
				<div class="row">
					<div class="col-md-2">
						<img src="{% static 'images/organizer-toughmudder.png' %}">
					</div>
					<div class="col-md-2">
						<img src="{% static 'images/new_bottlerock_logo.jpg' %}">
					</div>
					<div class="col-md-2">
						<img src="{% static 'images/lib_150x150.jpg' %}">
					</div>
					<div class="col-md-2">
						<img src="{% static 'images/sundance.jpg' %}">
					</div>
					<div class="col-md-2">
						<img src="{% static 'images/animethon.jpg' %}">
					</div>
					<div class="col-md-2">
						<img src="{% static 'images/TasteofDC.png' %}">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="selltickets_community">
	<div class="container">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<h2>Join our community</h2>
				<h4>Join our colorful community of people hosting unique events around the world.</h4>
				<div class="row">
					<div class="selltickets_images">
						<div class="col-md-3">
							<img src="{% static 'images/organizer_event_webdirections.jpg' %}">
							<h3>John Allsopp</h3>
							<h5>Web Directions</h5>
							<p>"Eventbrite allows us to 'spin up' new events quickly, freeing up time to focus on the quality of our events, not managing attendees. We love it!"</p>
						</div>
						<div class="col-md-3">
							<img src="{% static 'images/organizer_event_crescentcity.jpg' %}">
							<h3>Laine Thomas</h3>
							<h5>Crescent City Classic</h5>
							<p>"Our attendees are always shocked at how fast they get answers from Eventbrite. Their customer support team saves me hours every week. That's time I now spend creating a better race"</p>
						</div>
						<div class="col-md-3">
							<img src="{% static 'images/organizer_event_awesomeinc.jpg' %}">
							<h3>Nick Such</h3>
							<h5>Awesome Inc U</h5>
							<p>I didn't expect our classes to take off as fast as they did. Eventbrite allowed us to turn our passion into a business overnight."</p>
						</div>
						<div class="col-md-3">
							<img src="{% static 'images/organizer_event_shesaysbrighton.jpg' %}">
							<h3>Rifa Thorpe-Tracey</h3>
							<h5>SheSays Brighton</h5>
							<p>"It's so easy to create the event, put in a lovely image, send reminders as well as create tickets and guest lists. We really couldn't live without Eventbrite!"</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</div>
<div class="selltickets_bottom">
	<div class="container">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<h2>Get the most from Eventbrite</h2>
				<h3>Use our tools for free and pay only when you make a sale. It's as simple as that.</h3>
				<div class="row">
					<div class="col-md-4">
						<i class="fa fa-users" aria-hidden="true"></i>
						<h4>Free for free events</h4>
						<h5>Eventbrite is completely free for free events, no matter how big or small your gathering.</h5>
					</div>
					<div class="col-md-4">
						<i class="fa fa-bookmark" aria-hidden="true"></i>
						<h4>Low fees</h4>
						<h5>A small fee is charged when you collect payments, but you can have attendees pay it.</h5>
					</div>
					<div class="col-md-4">
						<i class="fa fa-money" aria-hidden="true"></i>
						<h4>Get paid</h4>
						<h5>Start collecting money for your event in minutes by selecting a payment option.</h5>
					</div>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</div>
<div class="selltickets_bottom_end">
	<div class="container">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<h2>Hosting a large or complex event?<br>Call our experts at <span>1-888-236-1416</span> for help getting started.</h2>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</div>
<div class="selltickets_last">
	<div class="container">
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<div class="selltickets_last_inner">
					<h2>Get started now!</h2>
					<input type="text" name="" placeholder="Email">
					<input type="password" name="" placeholder="Password">
					<button>Try It Now</button>
					<p>By clicking 'Try It Now', I confirm that I agree with the Eventbrite
					<a href="">terms of service</a> and <a href="">privacy policy</a></p>
					<p>Already a member? <a href="">Log In</a></p>
				</div>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
</div>

{% endblock %}