{% extends 'home/index.html' %}

{% load static  %}

{% block slider %}


{% endblock  %}

{% block content %}

<div class="event_sitemap static_page_top">
	<div class="conatiner">
		<div class="row">
			<div class="col-md-1"></div>
			<div  class="col-md-3">
				<h1>Site Map</h1>
				<h2>General Information</h2>
				<ul>
					<li><a href="">Home</a></li>
					<li><a href="">About Us</a></li>
					<li><a href="">Account Summary</a></li>
					<li><a href="">Fees</a></li>
					<li><a href="">Contact Us</a></li>
					<li><a href="">Terms of Service</a></li>
					<li><a href="">Eventbrite Mobile App</a></li>
					<li><a href="">Eventbrite Check-In App</a></li>
					<li><a href="">Eventbrite blog</a></li>
					<li><a href="">Blog Resources</a></li>
					<li><a href="">Rally</a></li>
					<li><a href="">Eventbrite Spectrum</a></li>
					<li><a href="">Eventbrite Help Center</a></li>
					<li><a href="">Meet the Team</a></li>
					<li><a href="">Press Center</a></li>
				</ul>
				<h2>Account Management</h2>
				<ul>
					<li><a href="">Forgot Your Password?</a></li>
					<li><a href="">Unsubscribe</a></li>
				</ul>
			</div>
			<div class="col-md-3">
				<h2 id="sitemap_last">Holding Events</h2>
				<ul>
					<li><a href="">Getting Started</a></li>
					<li><a href="">How Eventbrite Works</a></li>
					<li><a href="">Sell Tickets Online</a></li>
					<li><a href="">Online Event Registration</a></li>
					<li><a href="">Accept Online Payments</a></li>
					<li><a href="">Paypal with Eventbrite</a></li>
				</ul>
				<h2>Attending Events</h2>
					<ul>
						<li><a href="">Browse Events</a></li>
						<li><a href="">Help In Attending Events</a></li>
					</ul>
				<h2>Local Events</h2>
					<ul>
						<li><a href="">Boston Events</a></li>
						<li><a href="">Chicago Events</a></li>
						<li><a href="">Denver Events</a></li>
						<li><a href="">Houston Events</a></li>
						<li><a href="">Los Angeles Events</a></li>
						<li><a href="">Nashville Events</a></li>
						<li><a href="">New York Events</a></li>
						<li><a href="">San Diego Events</a></li>
						<li><a href="">San Francisco Events</a></li>
						<li><a href="">Seattle Events</a></li>
						<li><a href="">Complete Local Events Directory</a></li>
					</ul>
			</div>
			<div class="col-md-3">
				<h2 id="sitemap_end">Things To Do</h2>
				<ul>
					<li><a href="">Things to Do in Boston</a></li>
					<li><a href="">Things to Do in Chicago</a></li>
					<li><a href="">Things to Do in Denver</a></li>
					<li><a href="">Things to Do in Houston</a></li>
					<li><a href="">Things to Do in Los Angeles</a></li>
					<li><a href="">Things to Do in Nashville</a></li>
					<li><a href="">Things to Do in New York</a></li>
					<li><a href="">Things to Do in San Diego</a></li>
					<li><a href="">Things to Do in San Francisco</a></li>
					<li><a href="">Things to Do in Seattle</a></li>
				</ul>
				<h2>Categories</h2>
				<ul>
					<li><a href="">Conference Ticketing</a></li>
					<li><a href="">Food and Drink Ticketing</a></li>
					<li><a href="">Music Ticketing</a></li>
					<li><a href="">Political Event Ticketing</a></li>
					<li><a href="">Alumni Fundraising</a></li>
					<li><a href="">Nonprofits</a></li>
					<li><a href="">Classes</a></li>
					<li><a href="">Reunions</a></li>
					<li><a href="">Endurance</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

{% endblock %}
