{% extends 'home/index.html' %}

{% load static %}

{% block navbar %}

<div class="venuebook_navbar">
	<div class="container venuebook_container">
		<div class="row">
			<div class="col-md-2">
				<div class="venue_label">
					<label>Event</label>
				</div>
			</div>
			<div class="col-md-8">
				<div class="venue_image">
					<img src="{% static 'images/Queue.png' %}">
					<h1>Running a venue is hard.<br>Managing holds shouldn’t be.</h1>
					<button>Get Started</button>
				</div>
			</div>
			<div class="col-md-2">
				<div class="venue_button">
					<button>Log In</button>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block slider %}

<div class="venuebook_slider">
	<div class="container">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<div class="row">
					<div class="col-md-2">
						<img src="{% static 'images/mohawk.png' %}">
					</div>
					<div class="col-md-2">
						<img src="{% static 'images/L2.jpg' %}">
					</div>
					<div class="col-md-2">
						<img src="{% static 'images/transmission.png' %}">
					</div>
					<div class="col-md-2">
						<img src="{% static 'images/L4.png' %}">
					</div>
					<div class="col-md-2">
						<img src="{% static 'images/vans.jpg' %}">
					</div>
					<div class="col-md-2">
						<img src="{% static 'images/ace+logo.png' %}">
					</div>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</div>

{% endblock %}

{% block content %}

<div class="venuebook_content">
	<div class="container">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">	
				<h1>Queue by Eventbrite was built by event producers and promoters like you, designed specifically to make your life easier.</h1>
				<div class="row">
					<div class="col-md-4">
						<img src="{% static 'images/ic_calendar.svg' %}">
						<h4>Book</h4>
						<p>Save time with a booking calendar built for you.</p>
					</div>
					<div class="col-md-4">
						<img src="{% static 'images/ic_megaphone.svg' %}">
						<h4>Promote</h4>
						<p>Start packing the house right away with a direct website feed.</p>
					</div>
					<div class="col-md-4">
						<img src="{% static 'images/ic_performance.svg' %}">
						<h4>Produce</h4>
						<p>Collaborate in the Sandbox for a smooth production day of show.</p>
					</div>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</div>
<div class="venuebook_content_middle">
	<div class="container">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<h2>A booking calendar built to save you time.</h2>
				<p>Designed with the flexibility you need to manage holds, confirmed shows, and important milestones</p>
				<p>Easy and intuitive to edit, view, and navigate on mobile and web</p>
				<p>Perfect for running a single venue, a global promoter network, or anything in between</p>
				<img src="{% static 'images/Calendar.png' %}">
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</div>
<div class="venuebook_content_bottom">
	<div class="container">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<div class="row">
					<div class="col-md-6">
						<h2>An automated event feed to jump-start promotion.</h2>
						<p>Confirmed shows pushed directly to your website in seconds</p>
						<p>No need to re-enter data to start promoting</p>
						<p>Customizable show details and imagery displays</p>
					</div>
					<div class="col-md-6">
						<img src="{% static 'images/events.png' %}">
					</div>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</div>
<div class="venuebook_bottom">
	<div class="container">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<div class="row">
					<div class="col-md-6">
						<img src="{% static 'images/Sandbox.png' %}">
					</div>
					<div class="col-md-6">
						<h2>A collaboration "sandbox" to help ensure a smooth production.</h2>
						<p>One central place for offer sheets, stage plots, artist riders, and more — with all your team's notes from pre-production</p>
						<p>Adjustable access levels and audit log for transparency and accountability</p>
						<p>Super easy to use, so you can spend less time answering questions and more time on your business</p>
					</div>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</div>
<div class="venuebook_last">
	<div class="container">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<h2>Ready to take your venue to full capacity? </h2>
				<p>To get started, fill out the form below or give us a call at 1-844-206-2758 (US) or 1-844-206-4483 (CAN).</p>
				<div class="row">
					<div class="col-md-3"></div>
					<div class="col-md-6">
						<div class="venue_last">
							<div class="venue_last_top">
								<p>Autofill this form by signing into your social network:</p>
								<button><i class="fa fa-facebook-official" aria-hidden="true" id="venue_facebook"></i>Facebook
								</button>
								<button><i class="fa fa-twitter-square" aria-hidden="true" id="venue_twitter"></i>Twitter
								</button>
							</div>
							<div class="venue_last_bottom">
								<label>First Name:</label>
								<input type="text" name="">
								<label>Last Name:</label>
								<input type="text" name="">
								<label>Company:</label>
								<input type="text" name="">
								<label>Email:</label>
								<input type="text" name="">
								<label>Phone:</label>
								<input type="text" name="" placeholder="+1 (XXX)-XXXX">
								<label>What's your total capacity?</label>
								<select>
									<option>1-500</option>
									<option>500-1200</option>
									<option>1200+</option>
								</select>
								
							</div>
							<div class="row">
								<div class="col-md-6"></div>
								<div class="col-md-6">
									<button id="venue_button">Contact Us</button>	
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3"></div>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</div>

{% endblock %}