{% extends 'home/index.html'%}
{% block modal %}

{% endblock %}
{% block content %}
<div class="user_events">
	<!-- Start Services Section -->
	<div class="event_container">
	    <div class="event_created">
	        <div class="col-lg-12">
		        <div class="events_details">
		        	<h3 class="dashboard_heading">Your Events </h3>
		        </div>
		 
	        {% if events_data %}
	        		
	         	
	         		<div class="row">

	         			{% for event in events_data %}

	         				
	         			 	{% if event.image|length_is:"1" %}
	         			 		<div class="pics event_box col">
	         			 		{% for img in event.image %}
	         			 		
	         			 		<a href="/dashboard/manage_events/"><img src="/{{ img }}" style="width:318px;height:180px;"/>
	         			 		
	         			 		{% endfor %}
	         			 			<ul class="event_menu">
									<li>Price: 
										{% if event.price == '0' %}
											free
										{% else %}
											{{ event.price }} 
										{% endif %}
									</li>
									<li>Time: {{ event.time }} </li>
						 			<li>Event: {{ event.name }} </li>
						 			<div class="event_scroll">
						 				<li>{{ event.description }} </li>
									</div>
									<li>{{ event.city }} , {{ event.country }}</li>
						 	</ul></a>
	         			 		</div> 


	         			 	{% else %}
	         			 	<div class="row">
	         			 		<div class="pics event_box col">
	         			 	{% for img in event.image %}
	         			 	
	         			 	 <a href="/dashboard/manage_events/"><img src="/{{ img }}" style="width:318px;height:180px;"/>
	         			 	
	         			 	 {% endfor %}
	         			 	 	<ul class="event_menu">
									<li>Price: 
										{% if event.price == '0' %}
											free
										{% else %}
											{{ event.price }} 
										{% endif %}
									</li>
									<li>Time: {{ event.time }} </li>
						 			<li>Event: {{ event.name }} </li>
						 			<div class="event_scroll">
						 				<li>{{ event.description }} </li>
									</div>
									<li>{{ event.city }} , {{ event.country }}</li>
						 	</ul></a>
	         			 	 	</div>
	         			 	 </div> 
   						{% endif %}

	         			


  						

  					{% endfor %}

  				</div>
		                		
                			
                	
           
		    
	           
	        {% else %}
		        <div class="row">
	            	<div class="col-md-4 col-sm-6 event_pictures">
	              		<div class="features-box wow fadeInDownQuick" data-wow-delay="0.3s">
	                		<div class="pics event_box col-lg-12">
	                			<P>You have not created any event yet..</P>
	                			<p>To create an event click <a href="/dashboard/create_event/" class="open_create_event">here, </a>or on the create event link in navbar</p>
	                		</div>
	                	</div>
	                </div>
	            </div>
	        {% endif %}
	        </div>
	    </div>
	</div>
</div>
      <!-- End Services Section -->

{% endblock %}