{% extends 'home/index.html' %}
{% load static %}

{% block slider %}

<div class="settings slider_head">
	<div class="col-lg-12 event_create">
		<div class="container">
			<div class="row">
				<div class="col-md-12 create_event_head">
					<div style="float:left">
						<h1 class="create_heading">Account Settings</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block content %}


<div class="settings_content">
	<div class="container">
		<div class="row col-lg-12 setting_content">
			<div class="col-md-3">
				<button class="accordion"><i class="fa fa-cog" aria-hidden="true"></i>
				Settings 
				</button>
				<div class="panel">
  					<ul style="list-style-type:none">
  						<li><a href="/dashboard/account_settings/">Contact Info</a></li>
  						<li><a href="/dashboard/password/">Password</a></li>
  						<li><a href="/dashboard/social-settings/">Social Settings</a></li>
  						<li><a href="/dashboard/creditcards/">Credit/Debit Cards</a></li>
  						<li><a href="/dashboard/email-preferences/">Email Preferences</a></li>
  						<li><a href="/dashboard/venues-organizers/">Unused Venues & Organizers</a></li>
                        <li><a href="/dashboard/permissions/">Multi-User Access</a></li>
                        <li><a href="/dashboard/extensions/">Extensions</a></li>
                        <li><a href="/dashboard/account-close/">Close Account</a></li>
  					</ul>
				</div>

				<button class="accordion"><i class="fa fa-credit-card-alt" aria-hidden="true"></i>
				Payouts 
				</button>
				<div class="panel">
  					<ul style="list-style-type:none">
  						<li><a href="">Payout Summary</a></li>
  						<li><a href="/dashboard/charges/">Charges & Credits</a></li>
  						<li><a href="/dashboard/payment-information/">Payout Methods</a></li>
  						<li><a href="/dashboard/invoices/">Invoices</a></li>
  						<li><a href="/dashboard/tax_information/">Taxpayer Information</a></li>
  					</ul>
				</div>

				<button class="accordion"><i class="fa fa-share" aria-hidden="true"></i>
				Referrals 
				</button>
				<div class="panel">
  					<ul style="list-style-type:none">
  						<li><a href="/dashboard/referrals/">Event Referral Program</a></li>
  						<li><a href="/dashboard/referrals-attendees/">Event Affiliate Program</a></li>
  					</ul>
				</div>

				<button class="accordion"><i class="fa fa-laptop" aria-hidden="true"></i>
				Developer 
				</button>
				<div id="foo" class="panel">
  					<ul style="list-style-type:none">
  						<li><a href="#">App Management</a></li>
  						<li><a href="#">Webhooks</a></li>
  					</ul>
				</div>
			</div>
		{% block setting_content %}
		{% for data in user_data %}
			<span id="field_error" class="mendantory_fields" style="display:none;color:red"><p class="error_content"> Please fill all the mendantory fields </p><span id='close_error' class="hide_error">x</span></span>
			<span id="saved_successfully" class="mendantory_fields" style="display:none;color:green"><p class="error_content"> Your Information is saved successfully </p><span id='close_error' class="hide_error">x</span></span>
			<span id="field_error" class="mendantory_fields" style="display:none;color:red"><p class="error_content"> Failed to save your information </p><span id='close_error' class="hide_error">x</span></span>
			<div class="col-md-9">
				<div class="settings_top">
					<p class="latest_update_time">Last updated at: {{ data.timestamp }}</p>
					<h1>Account Information</h1>
					<hr>
					<div class="col-lg-12">
						<div class="email_address">
							<div class="email_head">
								<h2 class="account_address">Account email address</h2>
							</div>
							<div class="old_email_address">
								<div class="email_title col-lg-5">
									<p>{{ logged_in_user }}</p>
									<input type="hidden" id="old_email" value="{{ logged_in_user }}">
								</div>
								<div class="email_change col-lg-7">
									<button id="change_email" class="btn btn-primary change_email_button">Change Email</button>
								</div>
							</div>
						</div>
						<div id="email_change_div" style="display:none;">
							<span id='invalid_email_msg' style="display:none;color:red;">Invalid email</span>
							<span id='empty_msg' style="display:none;color:red;">Please fill both the fields</span>
							<span id='wrong_password' style="display:none;color:red;">Please check your password</span>
							<span id='success' style="display:none;color:green;">Email changed successfully</span>
							<div class="change_email_fields">
								<div class="form-group col-lg-12 new_email_field">
									<div class="col-lg-4">
										<label>New Email</label>
									</div>
									<div class="col-lg-8">
										<input type="text" class="form-control" name="new_email" id="new_email">
									</div>
								</div>
								<div class="form-group col-lg-12 current_password_field">
									<div class="col-lg-4">
										<label>Current password</label>
									</div>
									<div class="col-lg-8">
										<input type="password" class="form-control" name="current_password" id="current_password">
									</div>
								</div>
								<div class="save_changes col-lg-12">
									<button id="save_email" class="btn btn-success">Save</button>
								</div>
							</div>
						</div>
					</div>
					<div class="upload_pic">
						<div class="col-lg-3">
							<h3 class="profile_photo">Profile Photo</h3>
						</div>
						<div class="col-lg-9">
							<div class="profile_picture col-lg-10">
								<div class="choose_pic_head col-lg-4">
									<a href="#"><h4>Choose a Photo</h4></a>
								</div>
								<div class="pic_upload col-lg-8">
									<input type="file" id="profie_image_upload" onchange="previewFileprofile()">
									<img id="profile" src="" height="200" alt="Image preview...">
								</div>
							</div>
							<button id="upload" class="btn btn-success upload_profile_pic">Upload</button>
						</div>
					</div>
				<!--/div>
				<div class="contact_information"-->
					<div class="contact_details outline_box">
						<div class="contact_info account_info col-lg-12">
							<h2 class="account_heads">Contact Information</h2>
						</div>
						<div class="prefix left_input_fields col-lg-6">
							<div class="field_lable">
								<label>Prefix</label>
							</div>
							<div class="input_fields_div">
								<select id="prefix">
									<option value="" selected="selected">{{ data.prefix }}</option>
									<option value="mr">Mr.</option>
									<option value="mrs">Mrs.</option>
									<option value="ms">Ms.</option>
									<option value="miss">Miss</option>
									<option value="mx">Mx.</option>
									<option value="dr">Dr.</option>
									<option value="prof">Prof.</option>
									<option value="rev">Rev.</option>
								</select>
							</div>
						</div>
						<div class="first_name left_input_fields col-lg-6">
							<div class="field_lable">
								<label>First Name <span style="color: red;">*</span></label>
							</div>
							<div class="input_fields_div">
								<input type="text" class="text_field form-control" name="" value="{{ data.first_name }}" id="first_name">
							</div>
						</div>
						<div class="last_name left_input_fields col-lg-6">
							<div class="field_lable">
								<label>Last Name</label>
							</div>
							<div class="input_fields_div">
								<input type="text" class="text_field form-control" name="" value="{{ data.last_name }}" id="last_name">
							</div>
						</div>
						<div class="suffix left_input_fields col-lg-6">
							<div class="field_lable">
								<label>Suffix</label>
							</div>
							<div class="input_fields_div">
								<input type="text" class="text_field form-control" name="" value="{{ data.suffix }}" id="suffix">
							</div>
						</div>
						<div class="home_phone left_input_fields col-lg-6">
							<div class="field_lable">
								<label>Home Phone</label>
							</div>
							<div class="input_fields_div">
								<input type="text" class="num_field form-control" name="" value="{{ data.home_phone }}" id='home_phone' maxlength="12">
							</div>
						</div>
						<div class="cell_phone col-lg-6">
							<div class="field_lable">
								<label>Cell Phone <span style="color: red;">*</span></label>
							</div>
							<div class="input_fields_div">
								<input type="text" class="num_field form-control" name="" id="cell_phone" value="{{ data.cell_phone }}" maxlength="10">
							</div>
						</div>
						<div class="job_title left_input_fields col-lg-6">
							<div class="field_lable">
								<label>Job Title</label>
							</div>
							<div class="input_fields_div">
								<input type="text"  class="text_field form-control" name="" value="{{ data.job_title }}" id="job_title">
							</div>
						</div>
						<div class="company col-lg-6">
							<div class="field_lable">
								<label>Company / Organization</label>
							</div>
							<div class="input_fields_div">
								<input type="text" name="" class="form-control" value="{{ data.company }}" id="company">
							</div>
						</div>
						<div class="website left_input_fields col-lg-6">
							<div class="field_lable">
								<label>Website</label>
							</div>
							<div class="input_fields_div">
								<input type="text" name="" class="form-control" value="{{ data.website }}" id="website">
							</div>
						</div>
						<div class="blog col-lg-6">
							<div class="field_lable">
								<label>Blog</label>
							</div>
							<div class="input_fields_div">
								<input type="text" name="" class="form-control" value="{{ data.blog }}" id='blog'>
							</div>
						</div>
					</div>
				</div>
				<div class="home_address outline_box">
					<div class="account_info col-lg-12">
						<h2 class="account_heads">Home Address</h2>
					</div>
					<div class="address col-lg-12">
						<div>
							<label>Address <span style="color: red;">*</span></label>
						</div>
						<div>
							<input type="text" name="" class="form-control" style="width:100%" value="{{ data.address }}" id="address">
						</div>
					</div>
					<div class="col-sm-6 form-group">
                        <label>Select Country <span style="color: red;">*</span></label>
                        <select name="country" class="form-control countries" id="countryId" required="required">
							<option value="">{{ data.country }}</option>
						</select>
	                </div> 
					<div class="col-sm-6 form-group">
                        <label>Select State <span style="color: red;">*</span></label>
                        <select name="state" class="form-control states" id="stateId" required="required">
							<option value="">{{ data.state }}</option>
						</select>
                    </div>
                    <div class="city col-lg-6">
						<div>
							<label>Select City <span style="color: red;">*</span></label>
						</div>
						<div>
							<select name="city" class="form-control cities" id="cityId" required="required">
								<option value="">{{ data.city }}</option>
							</select>
						</div>
					</div>
					<div class="postal col-lg-6">
						<div>
							<label>Zip/Postal Code <span style="color: red;">*</span></label>
						</div>
						<div>
							<input type="text" maxlength="6" value="{{ data.home_zip }}" class="num_field form-control" name="" id="zip">
						</div>
					</div>
				</div>
				<div class="billing_address outline_box">
					<div class="account_info col-lg-12">
						<h2 class="account_heads">Billing Address</h2>
					</div>
					<div class="b_address col-lg-12">
						<div>
							<label>Address</label>
						</div>
						<div>
							<input type="text" name="" class="form-control" style="width:100%" value="{{ data.billing_address }}" id="b_address">
						</div>
					</div>
					<div class="b_country col-lg-6">
						<div>
							<label>Select Country</label>
						</div>
						<div>
							<select name="country" class="form-control countries1" id="countryId1" required="required">
								<option value="">{{ data.billing_country }}</option>
							</select>
						</div>
					</div>
					<div class="b_state col-lg-6">
						<div>
							<label>Select State</label>
						</div>
						<div>
							<select name="state" class="form-control states1" id="stateId1" required="required">
								<option value="">{{ data.billing_state }}</option>
							</select>
						</div>
					</div>
					<div class="b_city col-lg-6">
						<div>
							<label>Select City</label>
						</div>
						<div>
							<select name="city" class="form-control cities1" id="cityId1" required="required">
								<option value="">{{ data.billing_city }}</option>
							</select>
						</div>
					</div>
					<div class="b_postal col-lg-6" style="float:left">
						<div>
							<label>Zip/Postal Code</label>
						</div>
						<div>
							<input type="text" maxlength="6" value="{{ data.billing_zip }}"  class="num_field form-control" name="" id="b_zip">
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
		{% endblock %}
		</div>
	</div>
</div>
{% block shipping %}
{% for data in user_data %}
<div class="account_bottom">
	<div class="container">
		<div class="row  col-lg-12 setting_content">
			<div class="col-md-3">

			</div>
			<div class="col-md-9">
				<div class="shipping_address outline_box">
					<div class="account_info col-lg-12">
						<h2 class="account_heads">Shipping Address</h2>
					</div>
					<div class="s_address col-lg-12">
						<div>
							<label>Address</label>
						</div>
						<div>
							<input type="text" name="" class="form-control" value="{{ data.shipping_address }}" style="width:100%" id='s_address'>
						</div>
					</div>
					<div class="s_country col-lg-6">
						<div>
							<label>Select Country</label>
						</div>
						<div>
							<select name="country" class="form-control countries2" id="countryId2" required="required">
								<option value="">{{ data.shipping_country }}</option>
							</select>
						</div>
					</div>
					<div class="s_state col-lg-6">
						<div>
							<label>Select State</label>
						</div>
						<div>
							<select name="state" class="form-control states2" id="stateId2" required="required">
								<option value="">{{ data.shipping_state }}</option>
							</select>
						</div>
					</div>
					<div class="s_city col-lg-6">
						<div>
							<label>Select City</label>
						</div>
						<div>
							<select name="city" class="form-control cities2" id="cityId2" required="required">
								<option value="">{{ data.shipping_city }}</option>
							</select>
						</div>
					</div>
					<div class="s_postal col-lg-6" style="float:left">
						<div>
							<label>Zip/Postal Code</label>
						</div>
						<div>
							<input type="text" maxlength="6" value="{{ data.shipping_zip }}" class="num_field form-control" name="" id="s_zip" >
						</div>
					</div>
				</div>
				<div class="work_address outline_box">
					<div class="account_info col-lg-12">
						<h2 class="account_heads">Work Address</h2>
					</div>
					<div class="w_address col-lg-12">
						<div>
							<label>Address</label>
						</div>
						<div>
							<input type="text" name="" class="form-control" value="{{ data.work_address }}" style="width:100%" id="w_address">
						</div>
					</div>
					<div class="w_country col-lg-6">
						<div>
							<label>Select Country</label>
						</div>
						<div>
							<select name="country" class="form-control countries3" id="countryId3" required="required">
								<option value="">{{ data.work_country }}</option>
							</select>
						</div>
					</div>
					<div class="w_state col-lg-6">
						<div>
							<label>Select State</label>
						</div>
						<div>
							<select name="state" class="form-control states3" id="stateId3" required="required">
								<option value="">{{ data.work_state }}</option>
							</select>
						</div>
					</div>
					<div class="w_city col-lg-6">
						<div>
							<label>Select City</label>
						</div>
						<div>
							<select name="city" class="form-control cities3" id="cityId3" required="required">
								<option value="">{{ data.work_city }}</option>
							</select>
						</div>
					</div>
					<div class="w_postal col-lg-6" style="float:left">
						<div>
							<label>Zip/Postal Code</label>
						</div>
						<div>
							<input type="text" class="num_field form-control" value="{{ data.work_zip }}" maxlength="6" name="" id="w_postal">
						</div>
					</div>
				</div>
				<div class="settings_bottom outline_box">
					<div class="account_info col-lg-12">
						<h2 class="account_heads">Other Information</h2>
					</div>
					<div class="col-lg-12">
						<div class="birth_date">
							<lable>Birth Date </lable>
						</div>
						<select name="month" class="col-lg-4" id='birth_month'>
							<option value="" selected="selected">{{ data.month }}</option>
						    <option value="01">January</option>
						    <option value="02">February</option>
						    <option value="03">March</option>
						    <option value="04">April</option>
						    <option value="05">May</option>
						    <option value="06">June</option>
						    <option value="07">July</option>
						    <option value="08">August</option>
						    <option value="09">September</option>
						    <option value="10">October</option>
						    <option value="11">November</option>
						    <option value="12">December</option>
						</select>
						<select name="day" class="col-lg-3" id='birth_day'>
							<option value="" selected="selected">{{ data.day }}</option>
						    <option value="01">01</option>
						    <option value="02">02</option>
						    <option value="03">03</option>
						    <option value="04">04</option>
						    <option value="05">05</option>
						    <option value="06">06</option>
						    <option value="07">07</option>
						    <option value="08">08</option>
						    <option value="09">09</option>
						    <option value="10">10</option>
						    <option value="11">11</option>
						    <option value="12">12</option>
						    <option value="13">13</option>
						    <option value="14">14</option>
						    <option value="15">15</option>
						    <option value="16">16</option>
						    <option value="17">17</option>
						    <option value="18">18</option>
						    <option value="19">19</option>
						    <option value="20">20</option>
						    <option value="21">21</option>
						    <option value="22">22</option>
						    <option value="23">23</option>
						    <option value="24">24</option>
						    <option value="25">25</option>
						    <option value="26">26</option>
						    <option value="27">27</option>
						    <option value="28">28</option>
						    <option value="29">29</option>
						    <option value="30">30</option>
						    <option value="31">31</option>
						</select>
						<select name="year" class="col-lg-5" id='birth_year'>
							<option value="" selected="selected">{{ data.year }}</option>
							<option value="2016">2016</option>
							<option value="2015">2015</option>
							<option value="2014">2014</option>
							<option value="2013">2013</option>
							<option value="2012">2012</option>
							<option value="2011">2011</option>
							<option value="2010">2010</option>
							<option value="2009">2009</option>
							<option value="2008">2008</option>
					    	<option value="2007">2007</option>
					    	<option value="2006">2006</option>
					    	<option value="2005">2005</option>
					    	<option value="2004">2004</option>
					    	<option value="2003">2003</option>
					    	<option value="2002">2002</option>
					    	<option value="2001">2001</option>
					    	<option value="2000">2000</option>
					    	<option value="1999">1999</option>
					    	<option value="1998">1998</option>
					    	<option value="1997">1997</option>
					    	<option value="1996">1996</option>
					    	<option value="1995">1995</option>
					    	<option value="1994">1994</option>
					    	<option value="1993">1993</option>
					    	<option value="1992">1992</option>
					    	<option value="1991">1991</option>
					    	<option value="1990">1990</option>
					    	<option value="1989">1989</option>
					    	<option value="1988">1988</option>
					    	<option value="1987">1987</option>
					    	<option value="1986">1986</option>
					    	<option value="1985">1985</option>
					    	<option value="1984">1984</option>
					    	<option value="1983">1983</option>
					    	<option value="1982">1982</option>
					    	<option value="1981">1981</option>
					    	<option value="1980">1980</option>
					    	<option value="1979">1979</option>
					    	<option value="1978">1978</option>
					    	<option value="1977">1977</option>
					    	<option value="1976">1976</option>
					    	<option value="1975">1975</option>
					    	<option value="1974">1974</option>
					    	<option value="1973">1973</option>
					    	<option value="1972">1972</option>
					    	<option value="1971">1971</option>
					    	<option value="1970">1970</option>
					    	<option value="1969">1969</option>
					    	<option value="1968">1968</option>
					    	<option value="1967">1967</option>
					    	<option value="1966">1966</option>
					    	<option value="1965">1965</option>
					    	<option value="1964">1964</option>
					    	<option value="1963">1963</option>
					    	<option value="1962">1962</option>
					    	<option value="1961">1961</option>
					    	<option value="1960">1960</option>
					    	<option value="1959">1959</option>
					    	<option value="1958">1958</option>
					    	<option value="1957">1957</option>
					    	<option value="1956">1956</option>
					    	<option value="1955">1955</option>
					    	<option value="1954">1954</option>
					    	<option value="1953">1953</option>
					    	<option value="1952">1952</option>
					    	<option value="1951">1951</option>
					    	<option value="1950">1950</option>
					    	<option value="1949">1949</option>
					    	<option value="1948">1948</option>
					    	<option value="1947">1947</option>
					    	<option value="1946">1946</option>
					    	<option value="1945">1945</option>
					    	<option value="1944">1944</option>
					    	<option value="1943">1943</option>
					    	<option value="1942">1942</option>
					    	<option value="1941">1941</option>
					    	<option value="1940">1940</option>
					    	<option value="1939">1939</option>
					    	<option value="1938">1938</option>
					    	<option value="1937">1937</option>
					    	<option value="1936">1936</option>
					    	<option value="1935">1935</option>
					    	<option value="1934">1934</option>
					    	<option value="1933">1933</option>
					    	<option value="1932">1932</option>
					    	<option value="1931">1931</option>
					    	<option value="1930">1930</option>
					    	<option value="1929">1929</option>
					    	<option value="1928">1928</option>
					    	<option value="1927">1927</option>
					    	<option value="1926">1926</option>
					    	<option value="1925">1925</option>
					    	<option value="1924">1924</option>
					    	<option value="1923">1923</option>
					    	<option value="1922">1922</option>
					    	<option value="1921">1921</option>
					    	<option value="1920">1920</option>
					    	<option value="1919">1919</option>
					    	<option value="1918">1918</option>
					    	<option value="1917">1917</option>
					    	<option value="1916">1916</option>
					    	<option value="1915">1915</option>
					    	<option value="1914">1914</option>
					    	<option value="1913">1913</option>
					    	<option value="1912">1912</option>
					    	<option value="1911">1911</option>
					    	<option value="1910">1910</option>
					    	<option value="1909">1909</option>
					    	<option value="1908">1908</option>
					    	<option value="1907">1907</option>
					    	<option value="1906">1906</option>
					    	<option value="1905">1905</option>
					    	<option value="1904">1904</option>
					    	<option value="1903">1903</option>
					    	<option value="1902">1902</option>
					    	<option value="1901">1901</option>
					    	<option value="1900">1900</option>
					    </select>
				    </div>
				    <div class="gender col-lg-6">
						<div>
							<label>Select Gender <span style="color: red;">*</span></label>
						</div>
						<div>
							<select id="gender" class="form-control">
								<option value="" selected="selected">{{ data.gender }}</option>
								<option value="male">Male</option>
								<option value="female">Female</option>
								<option value="other">Other</option>
							</select>
						</div>
					</div>
				    <div class="col-lg-6">
					    <div>
							<label>Age</label>
						</div>
						<div class="age">
							<div>
								<input type="text" maxlength="3" value="{{ data.age }}" class="num_field form-control" name="" id='age'>
							</div>
						</div>
					</div>
					<div>
						<button id="save_account">Save</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endfor %}
{% endblock %}
	}
<script>
function previewFileprofile() {
		  var preview = document.querySelector('#profile');
		  var file    = document.querySelector('#profie_image_upload').files[0];
		  var reader  = new FileReader();

		  reader.addEventListener("load", function () {
		    preview.src = reader.result;
		  }, false);

		  if (file) {
		    reader.readAsDataURL(file);
		  }
	}
</script>
{% endblock %}

{% block footer %}

{% include 'home/footer_second.html' %}

{% endblock %}