{% extends 'dashboard/account_settings.html' %}
{% load static %}

{% block setting_content %}
<!--div class="col-md-9"-->
	<div class="g-vertical-group g-cell-12-12 g-cell-lg-9-12 l-mar-top-4">
	    <section class="show-large g-cell g-cell-1-1">
	        <header>
	            <h2 class="text-heading-primary">Close Account</h2>
	            <span id="account_del" style="display:none;color:red"> Your account removed successfully</span>
	    		<span id="account_not_del" style="display:none;color:red"> Failed to remove your account</span>
	        </header>
	    </section>
	    <div class="g-cell g-cell-1-1 l-pad-vert-2"><hr></div>

	    <div class="g-cell g-cell-1-1">
	        <p>Thank you for using events Events.  If there is anything we can do to keep you with us, please <a href="/contact">let us know</a>.</p>

	        <form class="responsive-form" name="closeform" method="post">
	            <input type="hidden" value="4eW25rPhuLi14eOy4bPm5uW347mz5OG3tObitLK1uOXf37GytK6ytbOus7mutbLfsbS3tri2uLm2st+xuLSxtra2ubg=" name="t">
	            <input type="hidden" value="1" name="submitted">
	            <fieldset>
	                <legend class="l-pad-vert-2">Please take a moment to let us know why you are leaving:</legend>
	                    <div class="form_row g-group">
	                        <div class="g-cell g-cell-12-12">
	                            <input type="radio" id="reason_0" value="The pricing is confusing" name="reason">
	                            <label for="reason_0">The pricing is confusing</label>
	                        </div>
	                    </div>
	                    <div class="form_row g-group">
	                        <div class="g-cell g-cell-12-12">
	                            <input type="radio" id="reason_1" value="I do not recall signing up for events" name="reason">
	                            <label for="reason_1">I do not recall signing up for events</label>
	                        </div>
	                    </div>
	                    <div class="form_row g-group">
	                        <div class="g-cell g-cell-12-12">
	                            <input type="radio" id="reason_2" value="I chose a different solution" name="reason">
	                            <label for="reason_2">I chose a different solution</label>
	                        </div>
	                    </div>
	                    <div class="form_row g-group">
	                        <div class="g-cell g-cell-12-12">
	                            <input type="radio" id="reason_3" value="The product is too difficult to use" name="reason">
	                            <label for="reason_3">The product is too difficult to use</label>
	                        </div>
	                    </div>
	                    <div class="form_row g-group">
	                        <div class="g-cell g-cell-12-12">
	                            <input type="radio" id="reason_4" value="The product lacks the necessary features" name="reason">
	                            <label for="reason_4">The product lacks the necessary features</label>
	                        </div>
	                    </div>
	                    <div class="form_row g-group">
	                        <div class="g-cell g-cell-12-12">
	                            <input type="radio" id="reason_5" value="I do not host events" name="reason">
	                            <label for="reason_5">I do not host events</label>
	                        </div>
	                    </div>
	                    <div class="form_row g-group">
	                        <div class="g-cell g-cell-12-12">
	                            <input type="radio" id="reason_6" value="The pricing is too high" name="reason">
	                            <label for="reason_6">The pricing is too high</label>
	                        </div>
	                    </div>

	                <div class="g-group form_row l-pad-bot-3">
	                    <div class="g-cell g-cell-12-12">
	                        <input type="radio" value="other" id="other" name="reason">
	                        <label for="other">Other (Please explain)</label>
	                        <label class="is-hidden-accessible" for="reason_desc">More details for 'other'</label>
	                        <input type="text" onfocus="document.getElementById('other').checked = true;" value="" id="reason_desc" name="reason_desc" class="l-mar-top-2">
	                    </div>
	                </div>
	            </fieldset>

	            <fieldset class="l-pad-vert-2 fieldsform" id="fieldsform_closeform">
	                <legend>Please enter "CLOSE" and your password below to confirm that you wish to close your account:</legend>
	                <div class="g-group l-pad-bot-2">
	                    <div class="g-cell g-cell-12-12 g-cell-md-3-12">
	                        <label for="close" class="warn_text responsive-form__label">Type "CLOSE":<span class="is-hidden-accessible">to close your account</span></label>
	                    </div>
	                    <div class="g-cell g-cell-12-12 g-cell-md-6-12 g-cell-lg-4-12">
	                        <input type="text" value="" id="close" name="close">
	                    </div>
	                </div>

	                <div class="g-group">
	                    <div class="g-cell g-cell-12-12 g-cell-md-3-12">
	                        <label for="passwd" class="warn_text responsive-form__label">Enter your password:</label>
	                    </div>
	                    <div class="g-cell g-cell-12-12 g-cell-md-6-12 g-cell-lg-4-12">
	                        <input type="password" id="passwd" name="passwd">
	                    </div>
	                </div>
	                <div class="g-cell-1-1 g-cell-md-3-4 l-mar-top-4">
                            <a id="close_account" data-automation="save-change-password" class="btn">Close Account</a>
                    </div>
	                <!--input type="submit" id="close_account" value="Close Account" class="btn l-mar-top-3"-->
	            </fieldset>
	        </form>
	    </div>
	</div>
<!--/div-->
{% endblock %}
{% block shipping %}{% endblock %}

{% block footer %}

{% include 'home/footer_second.html' %}

{% endblock %}