{% extends 'home/index.html' %}
{% load static %}

{% block slider %}

{% endblock %}

{% block content %}

{% if booked_event_data_list %}

<div class="settings_content top_class">
	<div class="container">
		<div class="row col-lg-12 clicked_ticket">
			<div class="paticular_ticket_view_head">
				<div class="col-lg-12">
				<span id="edit_field_error" class="mendantory_fields" style="display:none;color:red"><p class="error_content"> Please fill all the mendantory fields </p><span id='close_error' class="hide_error">x</span></span>

				{% for data in booked_event_data_list %}

				
					
						<h2>Order for: {{ data.event_name }}</h2>
						<ul>
							<li>Ticket type:{{ data.ticket_type }} </li>
							<li>Start At: {{ data.event_start_datetime }}</li> 
							<li>Ends At: {{ data.event_end_datetime }}</li>
							<li>{{ data.city }} </li>
							<li>Quanitity: {{ data.quantity_booked }} </li>
							<li>Order Id #{{ data.transaction_id }} booked at {{ data.booked_time }} </li>
							
						</ul>
					<div class="col-lg-3">
				<button class="btn btn-primary tic_left_buttons" id="ticket_preview" data-toggle="modal" data-target="#print_preview_modal">Ticket Preview</button>
				<button class="btn btn-primary tic_left_buttons" id="cancel_order">Cancel Order</button>
			</div>
			
			<div class="col-lg-9 tic_data">
				<div class="ticket_info">
					
						<div class="ticket-head">
							<h1 class="header_tic_name">{{ data.ticket_name }} </h1>
							<a class="edit_ticket_info"><i class="fa fa-pencil" aria-hidden="true"></i>Edit</a>
						</div>
					
					<div class="booked_tic_info">
						<div>
							<h2>Contact Information</h2>
							<span id="ticket_success" class="" style="display:none;color:green;"><p class="error_content"> Your information is updated successfully </p></span>
						</div>
						
						<input type="hidden" id="hid_field" value="{{ data.transaction_id }}"></input>
						<div class="first_name_user">
							<div class="first_name_label col-lg-12">
								<label for="first_name">First Name:</label>
								<span valign="top" style="width:12px"><span class="required">*</span></span>
							</div>
							<div class="first_name_field col-lg-12">
								<input type="text" class="form-control reg_table first_name" style="width: 200px;" value="{{ data.first_name}}" name="first_name" id="first_name" readonly>
							</div>
						</div>
						<div class="last_name_user">
							<div class="last_name_label col-lg-12">
								<label for="last_name">Last Name:</label>
								<span valign="top" style="width:12px"><span class="required">*</span></span>
							</div>
							<div class="last_name_field col-lg-12">
								<input type="text" class="form-control reg_table last_name" style="width: 200px;" value="{{ data.last_name }}" name="last_name" id="last_name" readonly>
							</div>
						</div>
						
						<div class="email_add_user">
							<div class="email_add_label col-lg-12">
								<label for="email_address">Email Address:</label>
								<span valign="top" style="width:12px"><span class="required">*</span></span>
							</div>
							<div class="email_add_field col-lg-12">
								<input type="text" class="form-control validated-field email_address" style="width: 200px;" value="{{ data.user_email }}" name="email_address" id="email_address1" data-original-title="" title="" readonly><i class="field-valid-status"></i>
							</div>
						</div>
						<div class="manage_particular_ticket" style="display: none;">
							<button class="btn btn-primary" id="edit_particular_ticket">Save</button>
							<button class="btn btn-primary" id="cancel_editing">Cancel</button>
						</div>
					</div>
				</div>
			</div>	
				{% endfor %}
			</div>
		</div>
	</div>
</div>
</div>
<div id="delete_message">
    <h2>Are you sure you want to cancel this Ticket</h2>
    <input type="button" value="Cancel Order" id="delete_ticket_order">
    <input type="button" value="Don't Cancel" id="cancel">
</div>
<!--modal for ticket delete confiramtion-->


    <div id="confirm_del_modal" class="modal fade">

        <div class="modal-dialog">

            <div class="modal-content">

                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                    <h4 class="modal-title">Ticket Confirmation </h4>

                </div>

                <div class="modal-body">

                    <h4 class="tic_confirmation">Your ticket is deleted successfully </h4>
                    <p class="tic_confirmation_p">Click the My Tickets button to view your remaining tickets</p>
                   
                </div>

                <div class="modal-footer">


                    <button type="button" class="btn btn-primary view_ticket">My Tickets</button>

                </div>

            </div>

        </div>

    </div>


<!--ends here-->
<!--Print preview modal-->


    <div id="print_preview_modal" class="modal fade" >

        <div class="modal-dialog print_modal">

            <div class="modal-content print_content" style="height:auto;">

                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                    <h4 class="modal-title">Ticket Print Preview </h4>

                </div>

                <div class="modal-body">
                	<div id="ticket_data_details1">
	                	<div class="paticular_ticket_view_head">
							<div class="col-lg-12">
								{% for event in booked_event_data_list %}
									<div><b><h2>Welcome : <i> Sir/Madam </i></h2></b></div> 
									<div> Recently your ticket is booked for <strong>{{ event.event_name }} </strong>
										<div style="width:100%">
											<div id="ticket_data_details">
												
												<div><h1>Ticket details :</h1></div>
												<div class="row">
													<div style="width: 40%" class="col-lg-6">
														<ul style="list-style:none;">
															<li>Ticket Booked by : {{ event.first_name|capfirst }}  {{ event.last_name|capfirst }} </li>
															<li>Your Order Id is :  #{{ event.transaction_id }} </li>
															<li>Ticket name :  {{ event.ticket_name }} </li>
															<li>Booked at :  {{ event.booked_time}} </li>
														</ul>
													</div>
													<div style="width: 40%" class="col-lg-6">
														<h4 style="margin-bottom: 10px;margin-top: 10px;">Email id : {{ event.imageqr_guest_email }}</h4>
														<img style="height:100px;width:100px;margin-bottom:5px;" src="/static/qr/{{ event.imageqr_path }}">
													</div>
												</div>
												
												<div style="width:100%">
													<div><h1>Organizer :</h1></div>
													<h4><b> {{ event.event_name }} </b> event is organized by <b> {{ event.event_organizer_name|upper }} <b></h4>
													<h4> Here is the organizer Description</h4>
													{{ event.event_organizer_description }}
												</div>
												
											</div>
										</div>
										<div id="editor">
										
										<div style="width:100%">
											<div><h1>Time and venue :</h1></div>
											<ul style="list-style:none;">
												<li>College :  {{ event.college_name }} </li>
												<li>Price per ticket is :  {{ event.ticket_price }} </li>
												<li>City :  {{ event.city }} </li>
												<li>State : {{ event.state }}</li>
												<li>Country :  {{ event.country }} </li>
												<li>Event start at :  {{ event.event_start_datetime }} </li>
												<li>Event ends at :  {{ event.event_end_datetime }} </li>
											</ul>
										</div>
										</div>
									</div>
									
								{% endfor %}
							</div>
						</div>
					</div>

                   
                </div>
                
                <div class="modal-footer">


                    <button type="button" id="print_ticket_preview" class="btn btn-primary ">Print Ticket</button>

                </div>

            </div>

        </div>

    </div>    
<!--ends here-->
{% endif %}

{% if booked_subevent_data_list %}
	
	<div class="settings_content top_class">
	<div class="container">
		<div class="row col-lg-12 clicked_ticket">
			<div class="paticular_ticket_view_head">
				<div class="col-lg-12">
				<span id="edit_field_error" class="mendantory_fields" style="display:none;color:red"><p class="error_content"> Please fill all the mendantory fields </p><span id='close_error' class="hide_error">x</span></span>

				{% for subevent in booked_subevent_data_list %}						
						<h2>Order for: {{ subevent.subevent_name }}</h2>
						<ul>
							<li>Ticket type:{{ subevent.ticket_type }} </li>
							<li>Start At: {{ subevent.subevent_start_datetime }}</li> 
							<li>Ends At: {{ subevent.subevent_end_datetime }}</li>
							<li>{{ subevent.city }} </li>
							<li>Quanitity: {{ subevent.quantity_booked }} </li>
							<li>Order Id #{{ subevent.transaction_id }} booked at {{ subevent.booked_time }} </li>
							
						</ul>
					<div class="col-lg-3">
				<button class="btn btn-primary tic_left_buttons" id="ticket_preview" data-toggle="modal" data-target="#print_preview_modal">Ticket Preview</button>
				<button class="btn btn-primary tic_left_buttons" id="cancel_order">Cancel Order</button>
			</div>
			
			<div class="col-lg-9 tic_data">
				<div class="ticket_info">
					
						<div class="ticket-head">
							<h1 class="header_tic_name">{{ subevent.ticket_name }} </h1>
							<a class="edit_ticket_info"><i class="fa fa-pencil" aria-hidden="true"></i>Edit</a>
						</div>
					
					<div class="booked_tic_info">
						<div>
							<h2>Contact Information</h2>
							<span id="ticket_success" class="" style="display:none;color:green;"><p class="error_content"> Your information is updated successfully </p></span>
						</div>
						
						<input type="hidden" id="hid_field" value="{{ subevent.transaction_id }}"></input>
						<div class="first_name_user">
							<div class="first_name_label col-lg-12">
								<label for="first_name">First Name:</label>
								<span valign="top" style="width:12px"><span class="required">*</span></span>
							</div>
							<div class="first_name_field col-lg-12">
								<input type="text" class="form-control reg_table first_name" style="width: 200px;" value="{{ subevent.first_name}}" name="first_name" id="first_name" readonly>
							</div>
						</div>
						<div class="last_name_user">
							<div class="last_name_label col-lg-12">
								<label for="last_name">Last Name:</label>
								<span valign="top" style="width:12px"><span class="required">*</span></span>
							</div>
							<div class="last_name_field col-lg-12">
								<input type="text" class="form-control reg_table last_name" style="width: 200px;" value="{{ subevent.last_name }}" name="last_name" id="last_name" readonly>
							</div>
						</div>
						
						<div class="email_add_user">
							<div class="email_add_label col-lg-12">
								<label for="email_address">Email Address:</label>
								<span valign="top" style="width:12px"><span class="required">*</span></span>
							</div>
							<div class="email_add_field col-lg-12">
								<input type="text" class="form-control validated-field email_address" style="width: 200px;" value="{{ subevent.user_email }}" name="email_address" id="email_address1" data-original-title="" title="" readonly><i class="field-valid-status"></i>
							</div>
						</div>
						<div class="manage_particular_ticket" style="display: none;">
							<button class="btn btn-primary" id="edit_particular_ticket">Save</button>
							<button class="btn btn-primary" id="cancel_editing">Cancel</button>
						</div>
					</div>
				</div>
			</div>	
				{% endfor %}
			</div>
		</div>
	</div>
</div>
</div>
<div id="delete_message">
    <h2>Are you sure you want to cancel this Ticket</h2>
    <input type="button" value="Cancel Order" id="delete_ticket_order">
    <input type="button" value="Don't Cancel" id="cancel">
</div>
<!--modal for ticket delete confiramtion-->


    <div id="confirm_del_modal" class="modal fade">

        <div class="modal-dialog">

            <div class="modal-content">

                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                    <h4 class="modal-title">Ticket Confirmation </h4>

                </div>

                <div class="modal-body">

                    <h4 class="tic_confirmation">Your ticket is deleted successfully </h4>
                    <p class="tic_confirmation_p">Click the My Tickets button to view your remaining tickets</p>
                   
                </div>

                <div class="modal-footer">


                    <button type="button" class="btn btn-primary view_ticket">My Tickets</button>

                </div>

            </div>

        </div>

    </div>


<!--ends here-->
<!--Print preview modal-->


    <div id="print_preview_modal" class="modal fade" >

        <div class="modal-dialog print_modal">

            <div class="modal-content print_content" style="height:auto;">

                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                    <h4 class="modal-title">Ticket Print Preview </h4>

                </div>

                <div class="modal-body">
                	<div id="ticket_data_details1">
	                	<div class="paticular_ticket_view_head">
							<div class="col-lg-12">
								{% for data in booked_subevent_data_list %}

									<div><b><h2>Welcome : <i> Sir/Madam </i></h2></b></div> 
									<div> Recently your ticket is booked for <strong>{{ data.subevent_name }} </strong>
										<div style="width:100%">
											<div id="ticket_data_details">
												
												<div><h1>Ticket details :</h1></div>
												<div class="row">
													<div style="width: 40%" class="col-lg-6">
														<ul style="list-style:none;">
															<li>Ticket Booked by : {{ data.first_name|capfirst }}  {{ data.last_name|capfirst }} </li>
															<li>Your Order Id is :  #{{ data.transaction_id }} </li>
															<li>Ticket name :  {{ data.ticket_name }} </li>
															<li>Booked at :  {{ data.booked_time}} </li>
														</ul>
													</div>
													<div style="width: 40%" class="col-lg-6">
														<h4 style="margin-bottom: 10px;margin-top: 10px;">Email id : {{ data.imageqr_guest_email }}</h4>
														<img style="height:100px;width:100px;margin-bottom:5px;" src="/static/qr/{{ data.imageqr_path }}">
													</div>
												</div>
												
												<div style="width:100%">
													<div><h1>Organizer :</h1></div>
													<h4><b> {{ data.subevent_name }} </b> event is organized by <b> {{ data.subevent_organizer_name|upper }} <b></h4>
													<h4> Here is the organizer Description</h4>
													{{ data.subevent_organizer_description }}
												</div>
												
											</div>
										</div>
										<div id="editor">
										
										<div style="width:100%">
											<div><h1>Time and venue :</h1></div>
											<ul style="list-style:none;">
												<li>Venue : {{ data.subevent_venue }} </li>
												<li>College :  {{ data.college_name }} </li>
												<li>Price per ticket is :  {{ data.ticket_price }} </li>

												<li>City :  {{ data.city }} </li>
												<li>State : {{ data.state }}</li>
												<li>Country :  {{ data.country }} </li>
												<li>Event start at :  {{ data.subevent_start_datetime }} </li>
												<li>Event ends at :  {{ data.subevent_end_datetime }} </li>
											</ul>
										</div>
										</div>
									</div>
									
								{% endfor %}
							</div>
						</div>
					</div>

                   
                </div>
                
                <div class="modal-footer">


                    <button type="button" id="print_ticket_preview" class="btn btn-primary ">Print Ticket</button>

                </div>

            </div>

        </div>

    </div> 

{% endif %}

{% endblock %}

{% block footer %}

{% include 'home/footer_second.html' %}

{% endblock %}

{% block js %}
  	<script src="https://use.fontawesome.com/04d7fa298c.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<script src="https://use.fontawesome.com/04d7fa298c.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js"></script>
  	<script src="{% static 'js/validations.js'%}"></script>
  	<script src="{% static 'js/jspdf.js.js'%}"></script>
  	<script src="{% static 'js/jspdf.min.js'%}"></script>
  	<script src="{% static 'js/jspdf.PLUGINTEMPLATE.js'%}"></script>
  	<script src="{% static 'js/jspdf.debug.js'%}"></script>
  	<script src="{% static 'js/FileSaver.js'%}"></script>
  	<!--script type="text/javascript" src="{% static 'js/countries.js' %}"></script-->
	<script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
	<!--script src="https://code.jquery.com/jquery-1.12.4.js"></script-->
  	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
  	

  <script type="text/javascript">
    $(document).ready(function(){
    var doc=new jsPDF("portrait","pt","a4",'p', 'mm', [68,20]);
    var specialElementHandlers = {
    '#editor': function (element, renderer) {
        return true;
    }
    };
    margins = {
            top: 80,
            bottom: 60,
            left: 140,
            width: 522
        };

    $('#print_ticket_preview').click(function () {
    
    doc.fromHTML($('#ticket_data_details').html(), {
         'elementHandlers': specialElementHandlers
    });

    doc.save('sample-file.pdf');
    });
    });
    </script>
  	<!--script language="javascript">
populateCountries("country", "state");
 </script-->

{% endblock %}