{% extends 'dashboard/account_settings.html' %}
{% load static %}
{% block setting_content %}
<!--div class="col-md-9"-->
    <div class="g-vertical-group g-cell-12-12 g-cell-lg-9-12 l-mar-top-4">
        <div class="g-cell g-cell-1-1">
            <header class="show-large">
                <h2 class="text-heading-primary change_password">Your Password</h2>
            </header>
            <div class="g-cell g-cell-1-1 l-pad-vert-2"><hr></div>
            <span id="blank_pass" style="display:none;color:red"> Please fill all the fields</span>
            <span id="not_match" style="display:none;color:red"> Password do not match</span>
            <span id="pass_changed" style="display:none;color:green"> Your password is changed</span>
            <span id="pass_not_changed" style="display:none;color:red"> Enter correct old password</span>
            <div class="g-group l-mar-top-2">

                <form class="responsive-form fieldsform" method="post" action="/password" name="changepassform">
                    <input type="hidden" value="4eXhtObh4rOz5uPlsrfmt+aw4eLitLnl4+PjuOaz4rff37GytK6ytbOus7iusbi437G0t7a3tre3sLbfsbi0sba2trm4" name="t">
                    <input type="hidden" value="" name="done">
                    <input type="hidden" value="" name="sig">
                    <div class="g-group">
                        <div class="g-cell-1-1 l-mar-top-4">
                            <label for="oldpassword" class="label-primary-pass">Current Password</label>
                        </div>
                        <div class="g-cell-1-1 g-cell-md-4-9">
                            <input type="password" data-automation="current-password" size="20" name="oldpassword" id="oldpassword">
                        </div>
                    </div>
                    <div class="g-group">
                        <div class="g-cell-1-1 l-mar-top-4">
                            <label for="newpassword1" class="label-primary-pass">New Password</label>
                        </div>
                        <div class="g-cell-1-1 g-cell-md-4-9">
                            <input type="password" data-automation="new-password" size="20" name="newpassword1" id="newpassword1">
                        </div>
                    </div>
                    <div class="g-group">
                        <div class="g-cell-1-1 l-mar-top-4">
                            <label for="newpassword2" class="label-primary-pass">Repeat Password</label>
                        </div>
                        <div class="g-cell-1-1 g-cell-md-4-9">
                            <input type="password" data-automation="new-password-confirm" size="20" name="newpassword2" id="newpassword2">
                        </div>
                    </div>
                    <div class="g-cell-1-1 g-cell-md-3-4 l-mar-top-4">
                            <a id="change_password" data-automation="save-change-password" class="btn">Save</a>
                    </div>
                </form>
            </div><!-- end panel_body -->
        </div>
    </div>
<!--/div-->
{% endblock %}
{% block shipping %}{% endblock %}

{% block footer %}

{% include 'home/footer_second.html' %}

{% endblock %}