{% extends 'dashboard/account_settings.html' %}
{% load static %}
{% block setting_content %}
<!--div class="col-md-9"-->
<div class="g-vertical-group g-cell-12-12 g-cell-lg-9-12 l-mar-top-4">
    <div class="g-cell g-cell-1-1">
        <h2 class="text-heading-primary">Charges &amp; Credits</h2>
    </div>
    <div class="g-cell g-cell-1-1 l-pad-vert-2"><hr></div>
    <div class="g-cell g-cell-1-1">
        <div class="l-mar-top-3 notification notification--info">
            You have no charges or credits to your account.
        </div>
    </div>
</div>
<!--/div-->
{% endblock %}
{% block shipping %}{% endblock %}

{% block footer %}

{% include 'home/footer_second.html' %}

{% endblock %}