{% extends 'home/index.html' %}
{% load static %}

{% block slider %}
{% endblock %}

{% block content %}
<div class="container" style="padding-top:60px;">
  
    {% for data in event_data_view %}
    <h2>Paypal Form</h2>
    <br/>
    {% if error %}
	
      <span style="color:red">Please fill all mandatory fields.</span>
      <br/>
      <br/>
      {% endif %}
     <div class="col" style="margin: auto;width: 50%;color: #73AD21;">
      {% csrf_token %}
       <label for="formGroupExampleInput">Amount</span></label>
      <div class="input-group">
          <span class="input-group-addon">$</span>
          <input type="text" name="amount"readonly id="amount" class="form-control" aria-label="Amount (to the nearest dollar)" value="{{ total }}">
      </div><br>

      <div class="form-group">
            <label for="formGroupExampleInput">Quantity</span></label>
            <input type="text" class="form-control" id="quantity" name="quantity"readonly  placeholder="firstname" value="{{ data.selected_quantity }}">
      </div>
      <div class="form-group">
             <label for="formGroupExampleInput">Ticket Name</span></label>
             <input type="text" class="form-control" id="ticketinfo" name="ticketinfo"readonly placeholder="ticketinfo" value="{{ data.ticket_name }}">
      </div>      
      {{ form.render }}
  </div>
  {% endfor %}
  </div>
{% endblock %}  


  