{% extends 'home/cookies.html' %}

{% load static %}

{% block slider %}

<div class="contact_support_slider">
	<div class="container">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<h1>Contact Eventbrite Support</h1>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
</div>
<div class="contact_support_content">
	<div class="container">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<h2>What can we help you with?</h2>
				<hr>
				<div class="row">
					<div class="col-md-4">
						<div id="support_first">
							<i class="fa fa-clipboard" aria-hidden="true"></i>
							<h2>Organizing an Event</h2>
						</div>
					</div>
					<div class="col-md-4">
						<div id="support_second">
							<i class="fa fa-smile-o" aria-hidden="true"></i>
							<h2>Attending an Event</h2>
						</div>
					</div>
					<div class="col-md-4">
						<div id="support_third">
							<i class="fa fa-question-circle" aria-hidden="true"></i>
							<h2>Something Else</h2>
						</div>
					</div>
				</div>
				<div style="display:none" id="organising_event">
					<h2>Organizing an Event</h2>
					<hr>
					<div class="row">
						<div class="col-md-4">
							<div id="organising_event1">
								<h3>Payouts & Invoices</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="organising_event2">
								<h3>Fees</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="organising_event3">
								<h3>Event Listing</h3>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div id="organising_event4">
								<h3>Tickets & Inventory</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="organising_event5">
								<h3>Invitations & Promotional Tools</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="organising_event6">
								<h3>Attendee Information</h3>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div id="organising_event7">
								<h3>Managing Orders & Attendees</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="organising_event8">
								<h3>Equipment & Partnerships</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="organising_event9">
								<h3>Reporting & Analytics</h3>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div id="organising_event10">
								<h3>Account Settings</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="organising_event11">
								<h3>Trust & Safety</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="organising_event12">
								<h3>Queue Ticketing™</h3>
							</div>
						</div>
					</div>
				</div>
				<div style="display:none" id="attending_event">
					<h2>Attending an Event</h2>
					<hr>
					<div class="row">
						<div class="col-md-4">
							<div id="attending_event1">
								<h3>Your Tickets & Refunds</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="attending_event2">
								<h3>Managing Your Order</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="attending_event3">
								<h3>Questions About an Event</h3>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div id="attending_event4">
								<h3>Registering or Buying Tickets</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="attending_event5">
								<h3>Account & Profile</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="attending_event6">
								<h3>Trust and Safety</h3>
							</div>
						</div>
					</div>
				</div>
				<div style="display:none" id="something_event">
					<h2>Something Else</h2>
					<hr>
					<div class="row">
						<div class="col-md-4">
							<div id="something_event1">
								<h3>Unrecognized Charge</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="something_event2">
								<h3>API & Developer Information</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="something_event3">
								<h3>Legal or Security Issue</h3>
							</div>
						</div>
					</div>
				</div>
				<div style="display:none" id="payouts_invoices">
					<h2>Payouts & Invoices</h2>
					<hr>
					<div class="row">
						<div class="col-md-4">
							<div id="payouts_invoices1">
								<h3>Advance payout schedule</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="payouts_invoices2">
								<h3>Payout method setup</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="payouts_invoices3">
								<h3>Status of payout</h3>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div id="payouts_invoices4">
								<h3>Currency selection</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="payouts_invoices5">
								<h3>Invoices from Eventbrite</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="payouts_invoices6">
								<h3>Taxpayer questions</h3>
							</div>
						</div>
					</div>
					<div id="advance_payout">

					</div>
					<div id="payout_method">
						
					</div>
					<div id="status_payout">
						
					</div>
					<div id="currency_selection">
						
					</div>
					<div id="invoices_events">
						
					</div>
					<div id="taxpayer_question">
						
					</div>
				</div>
				<div style="display:none" id="fees_event">
					<h2>Fees</h2>
					<hr>
					<div class="row">
						<div class="col-md-4">
							<div id="fees_event1">
								<h3>Nonprofit discount request</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="fees_event2">
								<h3>Free event(s)</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="fees_event3">
								<h3>Paid event(s)</h3>
							</div>
						</div>
					</div>
					<div id="nonprofit_discount">
						
					</div>
					<div id="free_events">
						
					</div>
					<div id="paid_events">
						
					</div>
				</div>
				<div style="display:none" id="event_listing">
					<h2>Event Listing</h2>
					<hr>
					<div class="row">
						<div class="col-md-4">
							<div id="event_listing1">
								<h3>Page visual design</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="event_listing2">
								<h3>Cancel/unpublish event</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="event_listing3">
								<h3>Copying events</h3>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div id="event_listing4">
								<h3>Event date/time & location details</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="event_listing5">
								<h3>Categorization & search</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="event_listing6">
								<h3>Description details</h3>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div id="event_listing7">
								<h3>Images & video</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="event_listing8">
								<h3>Privacy & sharing settings</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="event_listing9">
								<h3>Custom/vanity URLs</h3>
							</div>
						</div>
					</div>
					<div id="visual_design">
						
					</div>
					<div id="unpublish_event">
						
					</div>
					<div id="copying_event">
						
					</div>
					<div id="location_details">
						
					</div>
					<div id="categorization_search">
						
					</div>
					<div id="description_details">
						
					</div>
					<div id="image_video">
						
					</div>
					<div id="sharing_settings">
						
					</div>
					<div id="vanity_urls">
						
					</div>
				</div>
				<div style="display:none" id="tickets_inventory">
					<h2>Tickets & Inventory</h2>
					<hr>
					<div class="row">
						<div class="col-md-4">
							<div id="tickets_inventory1">
								<h3>Sales start & end times</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="tickets_inventory2">
								<h3>Capacity & quantities</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="tickets_inventory3">
								<h3>Visibility & access codes</h3>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div id="tickets_inventory4">
								<h3>Donation collection</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="tickets_inventory5">
								<h3>Collecting tax / tax invoices</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="tickets_inventory6">
								<h3>Repeating event schedule setup</h3>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div id="tickets_inventory7">
								<h3>Reserved seating & seat maps</h3>
							</div>
						</div>
						<div class="col-md-4">
							
						</div>
						<div class="col-md-4">
							
						</div>
					</div>
					<div id="sales_start">
						
					</div>
					<div id="capacity_event">
						
					</div>
					<div id="visibility_codes">
						
					</div>
					<div id="donation_collection">
						
					</div>
					<div id="collecting_tax">
						
					</div>
					<div id="repeating_event">
						
					</div>
					<div id="seat_maps">
						
					</div>
				</div>
				<div style="display:none" id="promotional_events">
					<h2>Invitations & Promotional Tools</h2>
					<hr>
					<div class="row">
						<div class="col-md-4">
							<div id="promotional_events1">
								<h3>Email invitations</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="promotional_events2">
								<h3>Contact lists</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="promotional_events3">
								<h3>Discount and access codes</h3>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div id="promotional_events4">
								<h3>Customizing order confirmations</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="promotional_events5">
								<h3>Search & directory</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="promotional_events6">
								<h3>Tracking links</h3>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div id="promotional_events7">
								<h3>Website integrations (widgets)</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="promotional_events8">
								<h3>Social media</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="promotional_events9">
								<h3>Organizer profile pages</h3>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div id="promotional_events10">
								<h3>Affiliate programs</h3>
							</div>
						</div>
						<div class="col-md-4">
							
						</div>
						<div class="col-md-4">
							
						</div>
					</div>
					<div id="email_invitations">
						
					</div>
					<div id="contact_lists">
						
					</div>
					<div id="discount_codes">
						
					</div>
					<div id="customizing_orders">
						
					</div>
					<div id="search_directory">
						
					</div>
					<div id="tracking_links">
						
					</div>
					<div id="website_integration">
						
					</div>
					<div id="social_media">
						
					</div>
					<div id="organizer_profile">
						
					</div>
					<div id="affiliate_programs">
						
					</div>
				</div>
				<div style="display:none" id="attendee_information">
					<h2>Attendee Information</h2>
					<hr>
					<div class="row">
						<div class="col-md-4">
							<div id="attendee_information1">
								<h3>Collecting attendee information</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="attendee_information2">
								<h3>Attendee summary reporting</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="attendee_information3">
								<h3>Editing attendee information</h3>
							</div>
						</div>
					</div>
					<div id="collect_information">
						
					</div>
					<div id="attendee_summary">
						
					</div>
					<div id="editing_attendee">
						
					</div>
				</div>
				<div style="display:none" id="managing_attendees">
					<h2>Managing Orders & Attendees</h2>
					<hr>
					<div class="row">
						<div class="col-md-4">
							<div id="managing_attendees1">
								<h3>Email invitations</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="managing_attendees2">
								<h3>Contact lists</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="managing_attendees3">
								<h3>Discount and access codes</h3>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div id="managing_attendees4">
								<h3>Customizing order confirmations</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="managing_attendees5">
								<h3>Search & directory</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="managing_attendees6">
								<h3>Tracking links</h3>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div id="managing_attendees7">
								<h3>Website integrations (widgets)</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="managing_attendees8">
								<h3>Social media</h3>
							</div>
						</div>
						<div class="col-md-4">
							
						</div>
					</div>
				</div>
				<div style="display:none" id="partnerships_event">
					<h2>Equipment & Partnerships</h2>
					<hr>
					<div class="row">
						<div class="col-md-4">
							<div id="partnerships_event1">
								<h3>Request equipment</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="partnerships_event2">
								<h3>API Information</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="partnerships_event3">
								<h3>Setting up scanners and printers</h3>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div id="partnerships_event4">
								<h3>Equipment troubleshooting</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="partnerships_event5">
								<h3>Salesforce extension</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="partnerships_event6">
								<h3>Extensions from Eventbrite Spectrum</h3>
							</div>
						</div>
					</div>
				</div>
				<div style="display:none" id="analytics_event">
					<h2>Reporting & Analytics</h2>
					<hr>
					<div class="row">
						<div class="col-md-4">
							<div id="analytics_event1">
								<h3>Attendee summary report</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="analytics_event2">
								<h3>Sales and orders reports</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="analytics_event3">
								<h3>Combining event reports</h3>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div id="analytics_event4">
								<h3>Merchandise reports</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="analytics_event5">
								<h3>Invitation emails and RSVPs</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="analytics_event6">
								<h3>Google Analytics</h3>
							</div>
						</div>
					</div>
				</div>
				<div style="display:none" id="settings_events">
					<h2>Account Settings</h2>
					<hr>
					<div class="row">
						<div class="col-md-4">
							<div id="settings_events1">
								<h3>Problem logging in</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="settings_events2">
								<h3>Email preferences/unsubscribes</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="settings_events3">
								<h3>Multi-user account access</h3>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div id="settings_events4">
								<h3>Transferring account ownership</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="settings_events5">
								<h3>Merging Eventbrite accounts</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="settings_events6">
								<h3>Close an Eventbrite account</h3>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div id="settings_events7">
								<h3>Referral & affiliate programs</h3>
							</div>
						</div>
						<div class="col-md-4">
							
						</div>
						<div class="col-md-4">
							
						</div>
					</div>
					<div class="problem_logging">
						
					</div>
					<div class="email_preferences">
						
					</div>
					<div class="multiuser_account">
						
					</div>
					<div class="transferring_account">
						
					</div>
					<div class="merging_eventbrite">
						
					</div>
					<div class="close_eventbrite">
						
					</div>
					<div class="affiliate_programs">
						
					</div>
				</div>
				<div style="display:none" id="truth_events">
					<h2>Trust & Safety</h2>
					<hr>
					<div class="row">
						<div class="col-md-4">
							<div id="truth_events1">
								<h3>Suspended organizer account (unpaid invoices)</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="truth_events2">
								<h3>Locked organizer account notification</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="truth_events3">
								<h3>Account ownership dispute</h3>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div id="truth_events4">
								<h3>Limitations on sending invitations</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="truth_events5">
								<h3>Unauthorized ticket selling or reselling</h3>
							</div>
						</div>
						<div class="col-md-4">
							
						</div>
					</div>
				</div>
				<div style="display:none" id="queue_events">
					<h2>Queue Ticketing™</h2>
					<hr>
					<div class="row">
						<div class="col-md-4">
							<div id="queue_events1">
								<h3>Setup help</h3>
							</div>
						</div>
						<div class="col-md-4">
							
						</div>
						<div class="col-md-4">
							
						</div>
					</div>
				</div>
				<div style="display:none" id="refunds_events">
					<h2>Your Tickets & Refunds</h2>
					<hr>
					<div class="row">
						<div class="col-md-4">
							<div id="refunds_events1">
								<h3>Typed wrong email address</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="refunds_events2">
								<h3>Finding tickets or receipt/order confirmation</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="refunds_events3">
								<h3>Refund request or order cancelation</h3>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div id="refunds_events4">
								<h3>Wristbands</h3>
							</div>
						</div>
						<div class="col-md-4">
							
						</div>
						<div class="col-md-4">
							
						</div>
					</div>
				</div>
				<div style="display:none" id="managing_order">
					<h2>Managing Your Order</h2>
					<hr>
					<div class="row">
						<div class="col-md-4">
							<div id="managing_order1">
								<h3>Changing ticket/order information</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="managing_order2">
								<h3>Transferring event tickets/registration</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="managing_order3">
								<h3>Managing a group or team page</h3>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div id="managing_order4">
								<h3>Payment plans</h3>
							</div>
						</div>
						<div class="col-md-4">
							
						</div>
						<div class="col-md-4">
							
						</div>
					</div>
				</div>
				<div style="display:none" id="question_events">
					<h2>Questions About an Event</h2>
					<hr>
					<div class="row">
						<div class="col-md-4">
							<div id="question_events1">
								<h3>Contacting the event organizer</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="question_events2">
								<h3>Non-responsive event organizer</h3>
							</div>
						</div>
						<div class="col-md-4">
							
						</div>
					</div>
				</div>
				<div style="display:none" id="regestering_tickets">
					<h2>Registering or Buying Tickets</h2>
					<hr>
					<div class="row">
						<div class="col-md-4">
							<div id="regestering_tickets1">
								<h3>Finding events</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="regestering_tickets2">
								<h3>Saved events</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="regestering_tickets3">
								<h3>Discount & access codes</h3>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div id="regestering_tickets4">
								<h3>Problems buying/registering</h3>
							</div>
						</div>
						<div class="col-md-4">
							
						</div>
						<div class="col-md-4">
							
						</div>
					</div>
				</div>
				<div style="display:none" id="profile_settings">
					<h2>Account & Profile</h2>
					<hr>
					<div class="row">
						<div class="col-md-4">
							<div id="profile_settings1">
								<h3>Problems logging in</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="profile_settings2">
								<h3>Email preferences and unsubscribes</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="profile_settings3">
								<h3>Privacy settings</h3>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div id="profile_settings4">
								<h3>Saved credit cards</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="profile_settings5">
								<h3>Merge Eventbrite accounts</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="profile_settings6">
								<h3>Close Eventbrite account</h3>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div id="profile_settings7">
								<h3>Affiliate program</h3>
							</div>
						</div>
						<div class="col-md-4">
							
						</div>
						<div class="col-md-4">
							
						</div>
					</div>
				</div>
				<div style="display:none" id="trust_safety">
					<h2>Trust and Safety</h2>
					<hr>
					<div class="row">
						<div class="col-md-4">
							<div id="trust_safety1">
								<h3>Contacted event organizer LESS than 1 week ago</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="trust_safety2">
								<h3>Contacted event organizer MORE than 1 week ago</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="trust_safety3">
								<h3>Have not contacted the event organizer</h3>
							</div>
						</div>
					</div>
				</div>
				<div style="display:none" id="unrecognized_charge">
					<h2>Unrecognized Charge</h2>
					<hr>
					<div class="row">
						<div class="col-md-4">
							<div id="unrecognized_charge1">
								<h3>Invoices from Eventbrite</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="unrecognized_charge2">
								<h3>Unrecognized charge</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="unrecognized_charge3">
								<h3>Duplicate charges</h3>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div id="unrecognized_charge4">
								<h3>Pending charge</h3>
							</div>
						</div>
						<div class="col-md-4">
							
						</div>
						<div class="col-md-4">
							
						</div>
					</div>
				</div>
				<div style="display:none" id="developer_information">
					<h2>API & Developer Information</h2>
					<hr>
					<div class="row">
						<div class="col-md-4">
							<div id="developer_information1">
								<h3>Integrating with the Eventbrite API</h3>
							</div>
						</div>
						<div class="col-md-4">
							
						</div>
						<div class="col-md-4">
							
						</div>
					</div>
				</div>
				<div style="display:none" id="legal_security">
					<h2>Legal or Security Issue</h2>
					<hr>
					<div class="row">
						<div class="col-md-4">
							<div id="legal_security1">
								<h3>Unsubscribing from Eventbrite emails</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="legal_security2">
								<h3>Updating account information</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="legal_security3">
								<h3>Closing an Eventbrite account</h3>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div id="legal_security4">
								<h3>Resetting your password</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="legal_security5">
								<h3>Typo in email address</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div id="legal_security6">
								<h3>Taxpayer question</h3>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div id="legal_security7">
								<h3>Legal policies</h3>
							</div>
						</div>
						<div class="col-md-4">
							
						</div>
						<div class="col-md-4">
							
						</div>
					</div>
				</div>

			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</div>

{% endblock %}


{% block content %}



{% endblock %}