{% extends 'home/conference_management.html' %}

{% block static  %}

<div class="contact_sales_slider">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Sell More Tickets.</h2>
				<h2>Host Great Events.<br>
				Make Attendees Happier.</h2>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block content %}

<div class="contact_sales_content">
	<div  class="container">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<h2>Hosting a large or complex event?</h2>
				<p>Contact Sales at 1-888-219-3936 to speak with an expert.</p>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</div>

{% endblock %}