
{% load static %}
{% block head %}
  <title>Events</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <!--link rel="stylesheet" href="/resources/demos/style.css"-->
  <!--link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"-->
{% endblock %}

{% block navbar %}
<div class="col-lg-12 body_content">
  <div class="col-lg-7 left-content">
    <div class="title_events">
      <label>Event</label>
    </div>
    <div class="browse_link">
      <a href="/browse_events/">BROWSE EVENTS</a>
    </div>
  </div>
  <div class="col-lg-5 right-content">
    <div class="col-lg-9 dropdown1">
      <nav class="navbar navbar-default menu_navbar">
        <ul class="nav navbar-nav">
            <li class="dropdown menu_item">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="width:100px">HELP <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">How it works</a></li>
                    <li><a href="#">What does it cost to create an event?</a></li>
                    <li><a href="#">Where are my tickets?</a></li>
                    <li><a href="#">How to contact the event organizer?</a></li>
                    <li><a href="#">Help Center</a></li>
                  </ul>
            </li>
            {% if not logged_in_user %}
            <li class="menu_item">
              <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"><a href="#">SIGN UP <span class="sr-only">(current)</span></a></button>
            </li>
          <li class="menu_item">
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal1"><a href="#">LOGIN</a></button>
          </li>
            {% else %}
            <li class="dropdown menu_item">
                    <a href="#" class="dropdown-toggle email_login" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="width:100px">{{ logged_in_user }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="/tickets/">Tickets 0</a></li>
                      <li><a href="#">Saved 0 </a></li>
                      <li><a href="/manage_events/">Manage Events</a></li>
                      <li><a href="/contacts/">Contacts</a></li>
                      <li><a href="/account_settings/">Account Settings</a></li>
                      <li><a href="/logout/">Logout</a></li>
                    </ul>
            </li>
            {% endif %}
            </ul>
          </nav>
        </div>
        <div class="col-lg-3 create-event">
          <a href="/create_event/">
            <span style="color: #00a1ee;  text-decoration: none;">Create Event</span>
          </a>
        </div>
  </div>
</div><!-- end body_content-->

{% endblock %}

{% block contact_content%}
  <div class="col-lg-12 contact_content">
    <div class="col-lg-12 contacts">
      <h2 class="text-heading-primary">Contacts</h2>
    </div>
    <div class="col-lg-12 mid-content">
      <div class="col-lg-8 landing-left">
        <div class="col-lg-12 landing">
          <img src="/static//images/landing.png">  
        </div>
        <div class="col-lg-12 manage_contact_header">
          <h4>Manage your contacts in one place</h4>
        </div>

        <div class="col-lg-12 easy">
          <p class="para">Easily add and import email addresses from your Gmail, Outlook, and other files.</p>
          <p class="para">Send and track invitations to promote your event.</p>
        </div>

        <div class="col-lg-12 add-button">
          <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal">
            Add Contacts
          </button>
        </div>

        <!-- &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& -->

        <div class="modal fade" id="myModal" role="dialog">
          <div class="col-lg-12 modal-dialog add-model">
    
            <!-- Modal content-->
            <div class="modal-content add-main">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <div class="modal-header add-header">
              <h3 class="modal-title">Add contacts</h3>
            </div>

            <!-- add-content-->
            <div class="modal-body" id="dialog1">
              <div id="contact-importer" style="position: relative;">
                <section id="contact-importer-content" class="l-mar-top-3 l-align-left">
                  <div>
                  <div class="l-mar-top-3 g-group">
                  <div class="g-cell g-cell-6-12">
                    <span class="text-body-small text-body--significant">ADD CONTACTS FROM:</span>
                  </div>
                  <div class="g-cell g-cell-6-12 l-align-right limit">
                    <span class="text-body-small text-body--significant">2000 LIMIT</span>
                    <a class="text-link-aside text-body-small" title="You can only upload 2.000 contacts at the same time" target="_blank" href="/support/articleredirect?anum=9029"> Learn More </a>
                  </div>
                  <div class="list-margin">
                    <ul class="l-mar-top-2 list list--style-nav js-xd-providers-group">
                      <li>
                        <a data-automation="gmail" target="_blank" href="/gmail/"> Gmail </a>
                      </li>
                      <li>
                        <a data-automation="msn" target="_self" href="/outlook/"> Microsoft Live (Hotmail & Outlook.com)</a>
                      </li>
                      <li>
                        <a data-automation="csv" id="showCVS" data-toggle="modal" data-target="#CSV"> CSV </a>
                      </li>
                      <li>
                        <a data-automation="manual" href="#link"> Manual </a>
                      </li>
                      <li>
                        <a data-automation="xls" href="#link"> XLSX, XLS </a>
                      </li>
                      <li>
                        <a data-automation="past_events" href="#link"> Past events </a>
                      </li>
                    </ul>
                  </div>
                  </div>
                  </div>
                </section>
              </div>  <!--contact-importer-->
            </div><!-- add-content -->

            <!--START CVS-->
              <div id="dialog2" class="modal-body" style="display: none;">
              <div class="g-group l-mar-top-2 js-invalid-format is-hidden">
                <div class="l-mar-top-3 notification notification--error"> Invalid file format. Please upload an csv file. </div>
              </div>
              <p>Accepted format: .csv</p>
                <div class="fileUpload btn btn-primary upload-back">
                  <span>UPLOADS CVS FILES</span>
                    <input type="file" class="upload" accept=".csv" name="contacts_file"/>
                </div>
                <div class="l-mar-top-3 format-instruction">
                  <p class="format-para">
                    <span class="text-body-medium text-body--significant">Important:</span>
                    Make sure you're using an accepted file format. There's no need to label your columns—just start with your first email address in the first cell (A1), first name in the second column cell (B1), and last name in the third column cell (C1). If you only have email addresses, that's fine. You can also edit your contacts later.
                  </p>
                </div>
                <div class="l-mar-top-3">
                  Your spreadsheet should look like this:
                  <img class="g-img" style="width:692px"; src="https://cdn.evbstatic.com/s3-s3/product/mycontacts/exmple-xlsx.png" like="" look="" should="" spreedshet="" the="" how="" of="" alt="example">
                </div>
                <div class="l-mar-top-3">
                  <p>
                  Need more help? Check out our
                  <a href="/support/articleredirect?anum=9029"> Help Center article </a>
                  </p>
                </div>
                
              </div>  <!--END CVS-->          

        </div>
      </div>
    </div>
  </div>

   <div class="col-lg-4 list-content">
        <div class="col-lg-9 extension">
          <h1 class="text-large">Extensions</h1>
        </div>
        <div class="col-lg-9 dropdown-list">
          <ul class="ul-style">
            <li class="list-space">
              <a class="link--undecorated link--subtle" target="_blank" href="/apps/mailchimp/">
                <div class="l-media l-mar-top-2 clrfix">
                  <div class="image-content">
                      <img style="width: 75px;" alt="MailChimp" src="https://img.evbuc.com/http%3A%2F%2Fwww.events.com%2Fupload%2Ffile%2FgSPKiPqHqkx6vGPjsmmnLJ?w=150&s=783e1d8c651b97544ebd0471825025c4">
                  </div>
                  <div class="div-content">
                    <h3 class="text-body-large text-body--significant"> MailChimp </h3>
                    <p class="text-body-small text-body--faint">
                      <span class="text-body-small text-body--faint"> Email marketing </span>
                    </p>
                  </div>
                </div>
                </a>
            </li>
            <li class="list-space">
              <a class="link--undecorated link--subtle" target="_blank" href="/apps/salesforce/">
              <div class="l-media l-mar-top-2 clrfix">
                <div class="image-content">
                  <img style="width: 75px;" alt="MailChimp" src="https://img.evbuc.com/http%3A%2F%2Fwww.events.com%2Fupload%2Ffile%2FAMPKS7czquNFRndCW6zGaA?w=150&s=f6ab19310e3138e91889444c44bf7692">
                </div>
                <div class="div-content">
                  <h3 class="text-body-large text-body--significant"> SalesForce </h3>
                  <p class="text-body-small text-body--faint">
                    <span class="text-body-small text-body--faint"> CRM </span>
                  </p>
                </div>
              </div>
            </a>
          </li>

          <li class="list-space">
            <a class="link--undecorated link--subtle" target="_blank" href="/apps/zapier/">
              <div class="l-media l-mar-top-2 clrfix">
                <div class="image-content">
                  <img style="width: 75px;" alt="MailChimp" src="https://img.evbuc.com/http%3A%2F%2Fwww.events.com%2Fupload%2Ffile%2FpzYbcDTyFguEMMeEnao7C5?w=150&s=279f6849f903d319126e3219b92713df">
                </div>
                <div class="div-content">
                  <h3 class="text-body-large text-body--significant"> Zapier </h3>
                  <p class="text-body-small text-body--faint">
                    <span class="text-body-small text-body--faint"> 3rd party connector </span>
                  </p>
                </div>
              </div>
            </a>
          </li>

          <li class="list-space">
            <a class="link--undecorated link--subtle" target="_blank" href="/apps/aweber/">
              <div class="l-media l-mar-top-2 clrfix">
                <div class="image-content">
                  <img style="width: 75px;" alt="MailChimp" src="https://img.evbuc.com/http%3A%2F%2Fwww.events.com%2Fupload%2Ffile%2FDiHanZHAPyzv6WiWkQS2HC?w=150&s=0ba283098849953a747f3684d1dc0f76">
                </div>
                <div class="div-content">
                  <h3 class="text-body-large text-body--significant"> Aweber </h3>
                  <p class="text-body-small text-body--faint">
                    <span class="text-body-small text-body--faint"> Email marketing </span>
                  </p>
                </div>
              </div>
            </a>
          </li>

          <li class="list-space">
            <a class="link--undecorated link--subtle" target="_blank" href="/apps/pardot/">
              <div class="l-media l-mar-top-2 clrfix">
                <div class="image-content">
                  <img style="width: 75px;" alt="MailChimp" src="https://img.evbuc.com/http%3A%2F%2Fwww.events.com%2Fupload%2Ffile%2FcbTbsPg7CV3VH377Mt46SP?w=150&s=5ad87803d3b758d806ec4840f1365a46">
                </div>
                <div class="div-content">
                  <h3 class="text-body-large text-body--significant"> Pardot </h3>
                    <p class="text-body-small text-body--faint">
                      <span class="text-body-small text-body--faint"> Marketing automation </span>
                    </p>
                </div>
              </div>
            </a>
          </li>
      </ul>
          
      </div>
    
    </div> 

    <!-- &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& -->    
      
          
  
  </div>
    
</div>

{% endblock%}


{% block footer %}
<div class="col-lg-12 footer">
  <div class="container ">
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-12">
        <ul>
          <h3>Use events</h3>
          <li>
            <a href="#">How It Works</a>
          </li>
          <li>
            <a href="#">For Large & Complex Events</a>
          </li>
          <li>
            <a href="#">Pricing</a>
          </li>
          <li>
            <a href="#">events Mobile App</a>
          </li>
          <li>
            <a href="#">events Check-In App</a>
          </li>
          <li>
            <a href="#">Reserved Seating</a>
          </li>
          <li>
            <a href="#">Referral Program</a>
          </li>
          <li>
            <a href="#">events Spectrum</a>
          </li>
          <li>
            <a href="#">Rally - Fun Things To Do</a>
          </li>
          <li>
            <a href="#">Sitemap</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12">
        <ul>
          <h3>Plan Events</h3>
          <li>
            <a href="#">Conference Management Software</a>
          </li>
          <li>
            <a href="#">Classes & Workshops</a>
          </li>
          <li>
            <a href="#">Nonprofits & Fundraisers</a>
          </li>
          <li>
            <a href="#">Reunions</a>
          </li>
          <li>
            <a href="#">Sell Tickets</a>
          </li>
          <li>
            <a href="#">Event Management & Planning</a>
          </li>
          <li>
            <a href="#">Event Registration</a>
          </li>
          <li>
            <a href="#">RSVP Online</a>
          </li>
          <li>
            <a href="#">Venue Booking & Management</a>
          </li>
          <li>
            <a href="#">Event Organizing Resources</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-3 col-md-12">
        <ul>
          <h3>Find Events</h3>
          <li>
            <a href="#">Boston Events</a>
          </li>
          <li>
            <a href="#">Chicago Events</a>
          </li>
          <li>
            <a href="">Denver Events</a>
          </li>
          <li>
            <a href="#">Houston Events</a>
          </li>
          <li>
            <a href="#">Los Angeles Events</a>
          </li>
          <li>
            <a href="#">Nashville Events</a>
          </li>
          <li>
            <a href="#">New York Events</a>
          </li>
          <li>
            <a href="#">San Diego Events</a>
          </li>
          <li>
            <a href="#">San Francisco Events</a>
          </li>
          <li>
            <a href="#">Seattle Events</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-3 col-md-12">
        <ul style="list-style-type:none">
          <h3>Connect With Us</h3>
          <li>
            <ul style="list-style-type:none">
              <li>
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <a href="#">Contact Support</a>
              </li>
              <li>
                <i class="fa fa-comments" aria-hidden="true"></i>
                <a href="#">Contact Sales</a>
              </li>
              <li>
                <i class="fa fa-twitter" aria-hidden="true"></i>
                <a href="#">Twitter</a>
              </li>
              <li>
                <i class="fa fa-facebook" aria-hidden="true"></i>
                <a href="#">Facebook</a>
              </li>
              <li>
                <i class="fa fa-linkedin" aria-hidden="true"></i>
                <a href="#">LinkedIn</a>
              </li>
              <li>
                <i class="fa fa-instagram" aria-hidden="true"></i>
                <a href="#">Instagram</a>
              </li>
              <li>
                <i class="fa fa-google-plus" aria-hidden="true"></i>

                <a href="#">Google+</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>

    </div>
    <hr>  
  </div>

  <div class="country">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3> Country </h3>
          <ul style="list-style-type:none">
            <li>
              <a href="#">Argentina</a>
            </li>
            <li>
              <a href="#">Australia</a>
            </li>
            <li>
              <a href="#">Brasil</a>
            </li>
            <li>
              <a href="#">Canada (EN)</a>
            </li>
            <li>
              <a href="#">Canada (FR)</a>
            </li>
            <li>
              <a href="#">Chile</a>
            </li>
            <li>
              <a href="#">Colombia</a>
            </li>
            <li>
              <a href="#">Deutschland</a>
            </li>
            <li>
              <a href="#">España</a>
            </li>
            <li>
              <a href="#">France</a>
            </li>
            <li>
              <a href="#">Hong Kong</a>
            </li>
            <li>
              <a href="#">Ireland</a>
            </li>
            <li>
              <a href="#">Italia</a>
            </li>
            <li>
              <a href="#">Mexico</a>
            </li>
            <li>
              <a href="#">Nederland</a>
            </li>
            <li>
              <a href="#">New Zealand</a>
            </li>
            <li>
              <a href="#">Peru</a>
            </li>
            <li>
              <a href="#">Portugal</a>
            </li>
            <li>
              <a href="#">Singapore</a>
            </li>
            <li>
              <a href="#">United Kingdom</a>
            </li>
            <li>
              <a href="#">United States</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="country">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul style="list-style-type:none">
            <li>
              <a href="/about_us/">About</a>
            </li>
            <li>
              <a href="/blog/">Blog</a>
            </li>
            <li>
              <a href="/help/">Help</a>
            </li>
            <li>
              <a href="/careers/">Careers</a>
            </li>
            <li>
              <a href="/press/">Press</a>
            </li>
            <li>
              <a href="/security/">Security</a>
            </li>
            <li>
              <a href="/developers/">Developers</a>
            </li>
            <li>
              <a href="/terms/">Terms</a>
            </li>
            <li>
              <a href="/privacy/">Privacy</a>
            </li>
            <li>
              <a href="/cookies/">Cookies</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr>
  </div>
{% endblock%}

{% block js %}
  <script src="https://use.fontawesome.com/04d7fa298c.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/04d7fa298c.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="{% static 'js/validations.js'%}"></script>
  <script type="text/javascript" src="{% static 'js/countries.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#datepicker" ).datepicker();
    $( "#end_datepicker" ).datepicker();
  } );
  $('#custom_date').click(function(){
  $('#start_date').show();
  $('#end_date').show();
  $('#get_dates_events').show();
})
</script>
<script language="javascript">
  populateCountries("country", "state");
 </script>

<!-- <script type="text/javascript">
   function showDialog2() {
    $("#dialog1").removeClass("fade").modal("hide");
    $("#dialog2").css( { display: "show" });
}

  $("#dialog1").modal("show");

  $("#showCVS").on("click", function() {
      console.log('Click')
      showDialog2();
  });

</script> -->

<script type="text/javascript">
   $(document).ready(function() {
    //$("#dialog2").css( { display: "show" });

        $('#showCVS').click(function() {
          $("#dialog1").css( { display: "none" });
          $("#dialog2").css( { display: "block" });
        });
    });

</script>




{% endblock %}

