{% extends 'home/index.html' %}
{% load static %}

{% block slider %}

<div class="contactimage_top">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<a href="/about_us/">About Us</a>
				<a href="#">Team</a>
				<a href="#"> Investors & Board</a>
				<a href="#"> Careers</a>
				<a href="#"> Press</a>
				<a href="#"> Contact Us</a>
				<h2>San Francisco, CA</h2>
				<h1>155 5th St, 7th Floor, San Francisco, CA 94103</h1>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block content %}

<!--Contact page top-->
<div class="contact_top">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Looking for another office?</h2>
				<div class="dropdown">
  					<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="	true" aria-expanded="true">
    					Select Location
    					<span class="caret"></span>
  					</button>
 				 	<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    					<li><a href="#">San Francisco</a></li>
    					<li><a href="#">Mendoza</a></li>
    					<li><a href="#">São Paulo</a></li>
    					<li><a href="#">Berlin</a></li>
  					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Contact page top end -->

<!--Contact page content start-->

<div class="contact_content">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Organizing a large event?</h2>
				<div class="col-md-6">
					<p>Talk to an event expert<br>
					</p>
					<a href="#">1-888-201-2414</a>
				</div>
				<div class="col-md-6">
					<br>
					<br>
					<a href="#">sales@events.com</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h2>Going to an event or need product help?</h2>
				<div class="col-md-6">
					<p>events Help Center<br>
					</p>
					<a href="#">Check out our videos and tutorials</a>
				</div>
				<div class="col-md-6">
					<p>Customer Experience Team<br>
					</p>
					<a href="#">Call or email support</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h2>Press Inquires</h2>
			 	<p><a href="#">press@events.com</a></p>
			</div>
		</div>
		<hr style="border-top:1px solid #D2D6DF;margin-top:82px">
		<div class="row">
			<div class="col-md-12">
				<h2>San Francisco</h2>
				<p>Briteland HQ is rooted in the heart of SOMA, steps from all major public transportation and equipped with tons of bike parking. The floor-to-ceiling windows of some of the best views the city has to offer right from the comfort of your desk. Face off with Britelings in our arcade, or challenge us to a game of ping-pong. Oh, did we mention we're dog-friendly?</p>
			</div>
		</div>
		<div class="images_top">
			<div class="row">
				<div class="col-md-4">
					<img style="width:335px;height:400px" src="{% static 'images/image1.jpg' %}">
				</div>
				<div class="col-md-8">
					<img style="height:400px;width:710px" src="{% static 'images/image2.jpg' %}">
				</div>
			</div>
			<div class="images1">
				<div class="row">
					<div class="col-md-4">
						<img style="width:335px;height:400px" src="{% static 'images/image1.jpg' %}">
					</div>
					<div class="col-md-4">
						<img style="width:335px;height:400px" src="{% static 'images/image1.jpg' %}">
					</div>
					<div class="col-md-4">
						<img style="width:335px;height:400px" src="{% static 'images/image1.jpg' %}">
					</div>
				</div>
			</div>
			<div class="images1">
				<div class="row">
					<div class="col-md-6">
						<img style="width:525px;height:400px" src="{% static 'images/image2.jpg' %}">
					</div>
					<div class="col-md-6">
						<img style="width:525px;height:400px" src="{% static 'images/image2.jpg' %}">
					</div>
				</div>
			</div>
			<div class="images1">
				<div class="row">
					<div class="col-md-12">
						<img style="width:1090px;height:400px" src="{% static 'images/image3.jpg' %}">
					</div>
				</div>
			</div>
		</div>


	</div>
</div>

<!--Contact page content end-->

{% endblock %}