{% extends 'dashboard/account_settings.html' %}
{% load static %}
{% block setting_content %}
<!--div class="col-md-9"-->
	<div class="g-vertical-group g-cell-12-12 g-cell-lg-9-12 l-mar-top-4">
	<header class="show-large g-cell g-cell-1-1">
	    <h2 class="text-heading-primary">Credit/Debit Cards</h2>
	</header>
	<div class="g-cell g-cell-1-1 l-pad-vert-2"><hr></div>

	<div class="g-cell g-cell-1-1">

	    <section id="deletion-error-credit-card" class="l-mar-top-2 l-mar-bot-4 notification notification--error is-hidden">
	        An error occurred while deleting your credit card. Please refresh the page and try it again.
	    </section>
	    <section id="no-saved-credit-cards" class="l-mar-top-2 notification notification--info ">
	        You currently don't have any debit or credit cards saved.
	    </section>
	</div>
	</div>
<!--/div-->
{% endblock %}
{% block shipping %}{% endblock %}

{% block footer %}

{% include 'home/footer_second.html' %}

{% endblock %}