  <html>
  <head onload="submitPayuForm()">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript">
    var hash = "{{ hashh }}";
    function submitPayuForm() {
      if(hash =='') {
        return;
      }
      var payuForm = document.forms.payuForm;
      payuForm.submit();
    }
  </script>
  </head>
  <body>
    <div class="container">
      
    <h2>PayU Form</h2>
    <br/>
      {% if error %}
  
      <span style="color:red">Please fill all mandatory fields.</span>
      <br/>
      <br/>
      {% endif %}
     <div class="col" style="margin: auto;width: 50%;color: #73AD21;">
      <form action={{ action }} method="post" name="payuForm">{% csrf_token %}
      <input type="hidden" name="key" value="{{ MERCHANT_KEY }}" />
      <input type="hidden" name="hash_string" value="{{ hash_string }}" />
      <input type="hidden" name="hash" value="{{ hashh }}"/>
       <input type="hidden" name="posted" value="{{ posted }}"/>
      <input type="hidden" name="txnid" value="{{ txnid }}" />
      <input type="hidden" name="surl" value="{{ surl }}" />
      <input type="hidden" name="furl" value="{{ furl }}" />
      <input type="hidden" name="curl" value="{{ curl }}" />
       <input type="hidden" name="service_provider" value="payu_paisa" size="64" />

      <label for="formGroupExampleInput">Amount<span class="required">*</span></label>
      <div class="input-group">
          <span class="input-group-addon">$</span>
          <input type="text" name="amount" value="{{ amount }}"readonly class="form-control" aria-label="Amount (to the nearest dollar)">
      </div><br>

      <div class="form-group">
            <label for="formGroupExampleInput">First Name<span class="required">*</span></label>
            <input type="text" class="form-control" id="firstname" name="firstname"  placeholder="firstname" value="{{ posted.firstname|default:'' }}">
      </div>

       <label for="formGroupExampleInput">Email<span class="required">*</span></label>
      <div class="input-group">
            <input type="text" class="form-control" id="email"  name="email" placeholder="email"  aria-describedby="basic-addon1" value="{{ posted.email|default:'' }}">
            <span class="input-group-addon">@example.com</span>
      </div>

      <div class="form-group">
             <label for="formGroupExampleInput">Product Info<span class="required">*</span></label>
             <input type="text" class="form-control" id="productinfo" name="productinfo" placeholder="productinfo" value="{{ product_info }}"readonly>
      </div>

      <div class="form-group">
             <label for="formGroupExampleInput">Phone<span class="required">*</span></label>
             <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone" value="{{ posted.phone|default:'' }}">
      </div>

      <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Optional Parameters
  </button>

   <div class="collapse" id="collapseExample">

      <div class="form-group">
            <label for="formGroupExampleInput">Last Name</label>
            <input type="text" value="{{ posted.lastname }}" class="form-control" id="formGroupExampleInput" placeholder="Last Name" name="lastname">
      </div>

      <div class="form-group">
          <label for="formGroupExampleInput">Address1</label>
          <input type="text" value="{{ posted.address1 }}" class="form-control" id="formGroupExampleInput" placeholder="Address1" name="address1">
      </div>

    <div class="form-group">
            <label for="formGroupExampleInput">Address2</label>
            <input type="text" value="{{ posted.address2 }}" class="form-control" id="formGroupExampleInput" placeholder="Address2" name="address2">
      </div>

      <div class="form-group">
              <label for="formGroupExampleInput">Country</label>            
                <select class="form-control" id="country" name ="country" value="{{ posted.country }}"></select>            
      </div>

      <div class="form-group">            
                <label for="formGroupExampleInput">State</label>                          
                <select class="form-control" id="state" name ="state" value="{{ posted.state }}"></select>            
      </div> 

      <div class="form-group">
            <label for="formGroupExampleInput">City</label>
            <input type="text" value="{{ posted.city }}" class="form-control" id="formGroupExampleInput" placeholder="city" name="city">
      </div> 

      <div class="form-group">
            <label for="formGroupExampleInput">Zipcode</label>
              <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input" name="zipcode" value="{{ posted.zipcode }}">
      </div> 

  </div> 
 
  <button  type="submit" value="Submit" class="btn btn-success">Make Payment</button>
   </form>
  </div>
</div>
  </body>
</html>










    
  

  
    
  
  
   





