{% extends 'home/index.html' %}

{% load static %}

{% block slider %}

<div class="create_top">
	<div class="col-lg-12 event_create slider_head">
		<div class="container">
			<div class="row">
				<div class="col-md-12 create_event_head">
					<div style="float:left">
						<h1 class="create_heading">Edit Event </h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block content %}
<div class="create_content">
	<div class="container">
		<div class="row">

			 <!-- <span id="empty_field_error" class="mendantory_fields" style="display:none;color:red"><p class="error_content"> Please fill all the mendantory fields </p><span id='close_error' class="hide_error">x</span></span>			 
	        <span id="save_success" style="display:none;color:green"> Your event has been saved successfully</span>
	        <p class="empty_text"></p> -->
			<div class="col-md-1"></div>
			{% for event in event_data %} 
					{% if event.publish_event == '0' %}
			<div class="col-md-10 ">
				<span id="empty_field_error" class="mendantory_fields" style="display:none;color:red"><p class="error_content"> Please fill all the mendantory fields </p><span id='close_error' class="hide_error">x</span></span>
				<div class="form"><!-- class form -->
					
					<input type="hidden" id="event_id" value="{{ event.event_id }}">
					<div class="event_details">
						<label>1</label>
						<span>Event Details</span>
						<hr>
					</div>
					
						<div class="form-group">
							<div class="label_name">
								<label>Event title <span class="required">*</span></label>
								
							</div>
							<div class="field_name">
								<input id="event_name" type="text" class="form-control" name="event_title" value="{{ event.name }}">
							</div>
						</div>
					
						<div class="form-group">
							<div class="label_name">
								<label>Event description <span class="required">*</span></label>
								
							</div>
							<div class="field_name">
								<input type="text" id="event_desc" class="form-control" name="event_description" value="{{ event.description }}">
							</div>
						</div>
						<div class="form-group">
							<div class="label_name">
								<label>College Name <span class="required">*</span></label>
								
							</div>
							<div class="field_name">
								<input type="text" class="form-control" id="college_name" name="college_name" value="{{ event.college_name }}">
							</div>
						</div>
						<div class="form-group">
							<div class="label_name">
								<label>Country <span class="required">*</span></label>
							</div>
							<div class="field_name">
								<select class="form-control" id="country" name ="country"></select>
							</div>
						</div>

						<div class="form-group">
							<div class="label_name">
								<label>State <span class="required">*</span></label>
							</div>
							<div class="field_name">
								<select class="form-control" id="state" name ="state"></select>
							</div>
						</div>

						<div class="form-group">
							<div class="label_name">
								<label>City <span class="required">*</span></label>
								
							</div>
							<div class="field_name">
								<input type="text" class="form-control" id="city_name" name="city" value="{{ event.city }}">
							</div>
						</div>
						<div class="form-group">
							<div class="label_name">
								<label>Organizer name <span class="required">*</span></label>
								
							</div>
							<div class="field_name">
								<input type="text" class="form-control" id="organizer_name" name="organizer_name" value="{{ event.organizer_name}}">
							</div>
						</div>
						<div class="form-group">
							<div class="label_name">
								<label>Organizer description <span class="required">*</span></label>
								
							</div>
							<div class="field_name">
								<input type="text" id="organizer_desc" class="form-control" name="organizer_description" value="{{ event.organizer_description }}">
							</div>
						</div>
						
						<div class="form-group">
							<div class="label_name">
								<label>Event Category <span class="required">*</span></label>
								
							</div>
							<div class="field_name">
								<input type="text" class="form-control" id="event_category" name="event_category" value="{{ event.category }}">
							</div>
						</div>
						
						<div class="form-group">
							<div class="label_name">
								<label>Event Starts <span class="required">*</span></label>
							</div>
							<div class="field_name">
								<input size="16" type="text" name="start_time" readonly class="form-control start_time" value="{{ event.start_datetime }}">
							</div>
						</div>

						<div class="form-group">
							<div class="label_name">
								<label>Event Ends <span class="required">*</span></label>
							</div>
							<div class="field_name">
								<input size="16" type="text" name="end_time" readonly class="form-control end_time" value="{{ event.end_datetime }}">
							</div>
						</div>
				 <!-- class form ends here -->

				<label>Event Banner<span class="required">*</span></label><br>
				<div class="row">
					<div class="event_banner">
						
					   
					   {% for info in event.image_data %}
					    <img src="/{{ info.image }}" style="display:inline-block;float:left; position:relative;height:110px;width=70px;">
					    <a href="#" id="update_event_banner" data-image_id="{{ info.image_id }}" data-event_id="{{ event.event_id }}"><i  class="glyphicon glyphicon-remove" style="display:inline-block;float:left; position:relative;padding-right:8px;"></i></a> 
						{% endfor %}
					</div>
				</div>		
				<div class="panel panel-default" >
		
						<div id="dropzone_for_edit_event" class="dropzone needsclick dz-clickable" id="demo-upload" >
						<input type="hidden" id="event_id_for_image" value="{{ event.event_id }}">
						<input type="hidden" id="event_image_count" value="{{ event.image_data|length }}">
						  <div class="dz-message needsclick">
						    Drop files here or click to upload.<br>
						    <span class="note needsclick">We recommend using at least a 2160x1080px (2:1 ratio) image that's no larger than 10MB. Learn more.</span>
						  </div>
						</div>

				</div><br>
					
				<div class="form-group">
							<div class="label_name">
								<label>Ticket Name <span class="required">*</span></label>
							</div>
							<div class="field_name">
									<input size="16" type="text" id="ticket_name" class="form-control ticket_name" value="{{ event.ticket_name }}">
								</div>
						</div>

                <div class="form-group">
							<div class="label_name">
								<label>Quantity Available <span class="required">*</span></label>
							</div>
							<div class="field_name">
								<input size="16" type="text" id="ticket_count" class="form-control ticket_count" value="{{ event.ticket_count }}">
							</div>
						</div>

 				<div class="form-group">
							<div class="label_name">
								<label>Price <span class="required">*</span></label>
							</div>
							<div class="field_name">
								<input size="16" type="text" id="ticket_price" class="form-control ticket_price" value="{{ event.price }}">
							</div>
						</div>
 				<div class="form-group">
							<div class="label_name">
								<label>Event Type <span class="required">*</span></label>
							</div>
							<select id="event_type"> 
							<option  selected="selected">{{ event.event_type|capfirst }}</option>  
	                        <option value="Free">Free</option>
	                        <option value="Paid">Paid</option>
                    	</select>
						</div>						
 				<div class="form-group">
							<div class="label_name">
								<label>Ticket Description</label>
							</div>
							<div class="field_name">
								<input size="16" type="text" id="ticket_description" class="form-control ticket_description" value="{{ event.ticket_description }}" >
							</div>
						</div>
				<div class="form-group">
							<div class="label_name">
								<label>Sale Channel <span class="required">*</span></label>
							</div>
							<select id="sale_channel"> 
							<option  selected="selected">{{ event.sale_channel|capfirst }}</option>  
	                        <option value="everywhere">Everywhere</option>
	                        <option value="online">Online</option>
	                        <option value="At the door">At the door only</option>
                    	</select>
						</div>						
 				<div class="form-group">
							<div class="label_name">
								<label>Ticket Sale Starts  <span class="required">*</span></label>
							</div>
							<div class="field_name">
								<input size="16" type="text" id="ticket_start_datetime" class="form-control ticket_start_time" value="{{ event.ticket_start_datetime }}">
							</div>
						</div>
 				<div class="form-group">
							<div class="label_name">
								<label>Ticket Sale Ends  <span class="required">*</span></label>
							</div>
							<div class="field_name">
								<input size="16" type="text" id="ticket_end_datetime" class="form-control ticket_end_time" value="{{ event.ticket_end_datetime }}">
							</div>
						</div>
	
				</h3> Tickets allowed per order </h3>
 				<div class="form-group">
							<div class="label_name">
								<label>Minimum Order <span class="required">*</span></label>
							</div>
							<div class="field_name">
								<input size="16" type="text" id="ticket_order_min" class="form-control ticket_order_min" value="{{ event.ticket_order_min }}">
							</div>
						</div>
 				<div class="form-group">
							<div class="label_name">
								<label>Maximum Order </label>
							</div>
							<div class="field_name">
								<input size="16" type="text" id="ticket_order_max" class="form-control ticket_order_max" value="{{ event.ticket_order_max }}">
							</div>
						</div>		
					
			</div>
			</div><br>
			
	    </div>
	</div>
</div>

<div class="loader" style="display: none;"><img class="loader_img" src="/static/images/loader.gif"/> </div>
<div class="col-lg-12">
	<div class="create_last">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>Nice job! You're almost done.</h1>
					<div class="create_button_last">
					<button class="btn btn-default" id="update_event_button" type="submit" name="save" value="Save">Save</button>					
					<!--input type="submit" name="event_live" value="Make your event live"-->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endif %}
			{% endfor %}
<div id="confirm_modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Confirmation</h4>
                </div>
                <div class="modal-body">
                	<h4>Congrats !!!!</h4>
                    <p>Event saved successfully</p>                   
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <!--button type="button" class="btn btn-primary">Save changes</button-->
                </div>
            </div>
        </div>
</div>

<script type="text/javascript" src="{% static 'js/countries.js' %}"></script>
<script language="javascript">
	populateCountries("country", "state");
</script>         
<script>
function previewFile() {
		  var preview = document.querySelector('img');
		  console.log(preview)
		  var file    = document.querySelector('input[type=file]').files[0];
		  console.log('file',file)
		  var reader  = new FileReader();

		  reader.addEventListener("load", function () {
		    preview.src = reader.result;
		  }, false);

		  if (file) {
		    reader.readAsDataURL(file);
		  }
	}

function previewFile1() {
		  var preview = document.querySelector('#profile_sub');
		  console.log(preview)
		  var file    = document.querySelector('#sub_event_img').files[0];
		  console.log('file1',file)
		  var reader  = new FileReader();

		  reader.addEventListener("load", function () {
		    preview.src = reader.result;
		  }, false);

		  if (file) {
		    reader.readAsDataURL(file);
		  }
	}

function previewFile2() {
		  var preview = document.querySelector('#main_profile_sub');
		  console.log(preview)
		  var file    = document.querySelector('#main_sub_event_img').files[0];
		  console.log('file1',file)
		  var reader  = new FileReader();

		  reader.addEventListener("load", function () {
		    preview.src = reader.result;
		  }, false);

		  if (file) {
		    reader.readAsDataURL(file);
		  }
	}
</script>		
{% endblock %}
{% block footer %}
<div class="col-lg-12 event_footer">
	{% include 'home/footer_third.html' %}

</div>

{% endblock %}