{% extends 'home/index.html' %}

{% load static %}

{% block slider %}

<div class="create_top">
	<div class="col-lg-12 event_create slider_head">
		<div class="container">
			<div class="row">
				<div class="col-md-12 create_event_head">
					<div style="float:left">
						<h1 class="create_heading">Edit Event </h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}

{% block content %}
<div class="create_content">
	<div class="container">
		<div class="row">
	        <span id="save_success" style="display:none;color:green"> Your event has been saved successfully</span>
			<div class="col-md-1"></div>
			<div class="col-md-10 event_form">{% for event in event_data %}
				<span id="empty_field_error" class="mendantory_fields" style="display:none;color:red"><p class="error_content"> Please fill all the mendantory fields </p><span id='close_error' class="hide_error">x</span></span>
				<div class="event_details"><span id="empty_field_error" class="mendantory_fields" style="display:none;color:red"><p class="error_content"> Please fill all the mendantory fields </p><span id='close_error' class="hide_error">x</span></span>
					<label>1</label>
					<span>Event Details</span>
					{% if flag == '1' %}
						<button class='btn btn-primary' id="sub_event_new" data-toggle="modal" data-target="#events_list">Create Subevent for already created events</button>
					{% endif %}
					<!--a style="float:right" href="#">Tips</a-->
					<hr>
				</div>
				<div class="event_title">
					<div class="form-group">
						<div class="label_name">
							<input style="display:none" type="text" name="" id="update_event_id" value="{{ event.event_id }}">
							<label>Event title <span class="required">*</span></label>
						</div>
						<div class="field_name">
							<input id="event_name" type="text" class="form-control" name="event_title" placeholder="Give it a short distinct name" value="{{ event.name }}">
						</div>
					</div>
					<div class="form-group">
						<div class="label_name">
							<label>Event description <span class="required">*</span></label>
						</div>
						<div class="field_name">
							<input type="text" id="event_desc" class="form-control" name="event_description" placeholder="Give it a description" value="{{ event.description }}">
						</div>
					</div>
					<div class="form-group">
						<div class="label_name">
							<label>College Name <span class="required">*</span></label>
						</div>
						<div class="field_name">
							<input type="text" class="form-control" id="college_name" name="college_name" placeholder="Give your college name" value="{{ event.college_name }}">
						</div>
					</div>
					<div class="form-group">
						<div class="label_name">
							<label>Country <span class="required">*</span></label>
						</div>
						<div class="field_name">
							<input type="text" class="form-control" id="country_name" name="country" placeholder="Country"
							value="{{ event.country }}">
						</div>
					</div>
					<div class="form-group">
						<div class="label_name">
							<label>City <span class="required">*</span></label>
						</div>
						<div class="field_name">
							<input type="text" class="form-control" id="city_name" name="city" placeholder="City"
							value="{{ event.city }}">
						</div>
					</div>
					<div class="form-group">
						<div class="label_name">
							<label>Organizer name <span class="required">*</span></label>
						</div>
						<div class="field_name">
							<input type="text" class="form-control" id="organizer_name" name="organizer_name" placeholder="Organiser name" value="{{ event.organizer_name }}">
						</div>
					</div>
					<div class="form-group">
						<div class="label_name">
							<label>Organizer description <span class="required">*</span></label>
						</div>
						<div class="field_name">
							<input type="text" id="organizer_desc" class="form-control" name="organizer_description" placeholder="Give it a description" value="{{ event.organizer_description }}">
						</div>
					</div>
					<div class="form-group">
						<div class="label_name">
							<label>Event type <span class="required">*</span></label>
						</div>
						<select id="event_type" name="group-tickets-0-sales_channel_option" class="donation_sale_channel js-d-select-box js-ticket-sales-channel-option sub_ticket_sale" dorsal-guid="be62c6f8-aeaf-7519-2440-6e5a370bbd24" data-xd-wired="select-box"> 
							<option value="{{ event.event_type }}" selected="selected">{{ event.event_type }}</option>  
	                        <option value="Free">Free</option>
	                        <option value="Paid">Paid</option>
	                        <option value="Donation">Donation</option>
                    	</select>
					</div>
					<div class="form-group">
						<div class="label_name">
							<label>Event Category <span class="required">*</span></label>
						</div>
						<div class="field_name">
							<input type="text" class="form-control" id="event_category" name="event_category" placeholder="Event Category" value="{{ event.category }}">
						</div>
					</div>
					<!--a href="#"><i class="fa fa-desktop" aria-hidden="true"></i>Online event</a>
					<a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>Enter Address</a-->
				</div>
				<div class="col-lg-12">
					<div class="date_picker">
						<div style="float:left">
							<label>Event starts:<span class="required">*</span></label> <input class="start_end_date" type="text" id="start_date" value="{{ event.start_date }}">
							<input type="text" name="" id="start_time" class="start_end_date" value="{{ event.start_time }}">
						</div>
						<div style="float:left">
							<label>Event ends:<span class="required">*</span></label> <input class="start_end_date" type="text" id="end_date" value="{{ event.end_date }}">
							<input type="text" name="" id="end_time" class="start_end_date" value="{{ event.end_time }}">
						</div>
					</div>
				</div>
				<br>
				<br>
				<br>
				<br>
				<!--div class="date_time">
					<a href="#"><i class="fa fa-refresh" aria-hidden="true"></i>Schedule multiple events</a>
					<a href="#"><i class="fa fa-globe" aria-hidden="true"></i>Timezone & date settings (IST) </a>
				</div-->
				
  <!-- <div class="panel panel-default" style="height=800px;">
  	<div class="image">
    {% for img in event.image %}
    <img src="/{{ img }}" style="display:inline-block;float:left; position:relative;height:140px;width=80px;">
	<i class="glyphicon glyphicon-remove" style="padding-bottom:15px"></i> 
    {% endfor %}
</div> 
</div> -->
<div class="row">	
	<label>Event Banner<span class="required">*</span></label><br>
	<div class="event_banner">
	   
	   {% for info in event.image_data %}
	    <img src="/{{ info.image }}" style="display:inline-block;float:left; position:relative;height:110px;width=70px;">
	    <a href="#" id="update_event_banner" data-image_id="{{ info.image_id }}" data-event_id="{{ event.event_id }}"><i  class="glyphicon glyphicon-remove" style="display:inline-block;float:left; position:relative;padding-right:8px;"></i></a> 
		{% endfor %}
	</div>
</div><br>

<div class="panel panel-default" >
		
						<div id="dropzone" class="dropzone needsclick dz-clickable" id="demo-upload" >
		
						  <div class="dz-message needsclick">
						    Drop files here or click to upload.<br>
						    <span class="note needsclick">We recommend using at least a 2160x1080px (2:1 ratio) image that's no larger than 10MB. Learn more.</span>
						  </div>
						</div>

</div>


				
				<!--div class="text_editor">
					<p>We recommend using at least a 2160x1080px (2:1 ratio) image<br> that's no larger than 10MB. <a href="#">Learn more</a></p>
				</div-->
				{% endfor  %}
				<div class="create_tickets">
					<label>2</label>
					<span>Create Tickets</span>
					<!--a style="float:right" href="#">Tips</a-->
					<hr>
				</div>
				<div class="js-create-ticket-wrapper ticket-container--no-handles" style="">
					<section class="js-ticket-summary js-ticket-summary-container" style="opacity: 1;">
						<div class="g-group js-ticket-summary-footer create-tickets--footer l-pad-vert-2">
				        	<div>
				        		<div class="g-cell g-cell-1-1 btn-group btn-group--responsive l-align-center l-pad-bot-1">
						    		<div class="ticket_variant">
										<a style="margin-left: 180px" id="free_ticket_form" class="free_ticket_form"><i class="fa fa-plus-circle" aria-hidden="true"></i>Free ticket</a>
										<a class="paid_ticket_form" id="paid_ticket_form"><i class="fa fa-plus-circle" aria-hidden="true"></i>Paid ticket</a>
										<a class="donation_ticket_form" id="donation_ticket_form"><i class="fa fa-plus-circle" aria-hidden="true"></i>Donation</a>
									</div>
								</div>
							</div>
						</div>
					    
							<!--############### Free ticket Form #########################################-->
					    <div class="g-cell g-cell-1-1 l-mar-top-2 g-offset-lg-1-12 g-cell-lg-10-12 free-ticket-container free_ticket_content" style="display: none;">
						    <div class="g-group create-tickets--header hide-small">
						        <div class="g-cell g-cell-5-12 g-cell--no-gutters l-block-h-2 l-pad-vert-2" id="ticket_name">
						            Ticket name<span class="required">*</span>
						        </div>
						        <div id="quantity_available" class="g-cell g-cell-2-12 g-cell--no-gutters l-padded-h-half l-pad-vert-2">
						            Quantity available<span class="required">*</span>
						        </div>
						        <div id="ticket_price" class="g-cell g-cell-3-12 g-cell--no-gutters l-padded-h-half l-pad-vert-2">Price</div>
						        <div class="g-cell g-cell-2-12 g-cell--no-gutters l-padded-h-half l-pad-vert-2">Actions</div>
						        <div class="g-group create-tickets--row report__row--paid-ticket">
									<div style="position: relative;" class="js-ticket-row ticket-row">
										<div class="g-cell g-cell-1-1 g-cell-md-5-12 g-cell--no-gutters sorting-gripper-container l-padded-h-half l-mar-top-2">
									        <div class="js-sorting-gripper sorting-gripper hide-small ">
									            <i class="ico-gripper ico--xxlarge ico--color-understated"></i>
									        </div>

									        <label class="label-primary hide-medium-accessible hide-large-accessible" for="group-tickets-0-ticket_type">Ticket name</label>
									        <div>
									            
									            <input id="free_tic_name" type="text" title="" placeholder="Early Bird, RSVP..." class="form__input form__input--full-width js-ticket-name" id="id_group-tickets-0-ticket_type" maxlength="255" name="group-tickets-0-ticket_type" data-original-title="Give your ticket a name, like General Admission, Early Bird, RSVP, etc.">

									        </div>
									    </div>

									    <div class="g-cell g-cell-1-2 g-cell-md-2-12 g-cell--no-gutters l-mar-top-2 l-padded-h-half">
									        <label class="label-primary hide-medium-accessible hide-large-accessible" for="group-tickets-0-quantity_total">Quantity</label>
									        
									        <input id="free_quantity" type="text" title="" placeholder="100" pattern="[0-9]*" class="form__input--full-width js-quantity-input" id="id_group-tickets-0-quantity_total" maxlength="6" name="group-tickets-0-quantity_total" data-original-title="Enter the total number of tickets available for this ticket type">     
									    </div>

									    <div class="g-cell g-cell-1-2 g-cell-md-3-12 g-cell--no-gutters l-mar-top-2 l-padded-h-half paid-ticket-container">
									        <label class="label-primary hide-medium-accessible hide-large-accessible" for="group-tickets-0-cost">Price</label>
									        <div class="js-payment-type">
									        	<div>
									        		<div class="responsive-form__input--currency">
													    <input id="free_tic_price" type="text" maxlength="11" title="" placeholder="Free" class="js-price-input form__input--xxsmall" id="id_group-tickets-0-cost" name="group-tickets-0-cost" data-original-title="Set your ticket price. (You'll select payout options later on the Manage page)" readonly>
													</div>
												</div>
											</div>
										</div>

									    <div class="g-cell g-cell-1-1 g-cell-md-2-12 g-cell--no-gutters l-mar-top-2 l-padded-h-half report__row__tab-group">
									        <a title="" id="free_settings" class="js-ticket-settings-link report__row__tab narrow-tooltip icon-link" data-original-title="Ticket Settings">
									            <i alt="Settings" class="ico-settings ico--medium"></i>
									        </a>
									        <a href="#" id="free_ticket_report"  title="" class="js-delete-ticket report__row__tab narrow-tooltip icon-link" id="id_group-tickets-0-delete_ticket" data-original-title="Delete" style="display: inline;">
									            <i alt="Delete" class="ico-trash ico--medium"></i>
									        </a>
									    </div>
									</div>
								</div>
						    </div>
						    <div class="free_container js-ticket-container create-tickets--container" style="display: none;">
						    	<div class="ui-sortable ui-sortable-disabled" style="">
						    		<div class="create-tickets--ticket" style="display: block; opacity: 1;">
						    			
										<div class="ticket-settings settings">
											<div class="ticket-settings-container js-ticket-settings">
											    <div class="l-mar-top-2 g-cell g-cell-1-1">
											        <div class="js-ticket-name l-mar-top-1 text-body-large">Settings</div>
											        <hr class="l-mar-top-2">
											    </div>
												<div class="responsive-form text-body-medium l-pad-vert-3">
											        <div class="js-help-target g-group">
											            <label for="id_group-tickets-0-description" class="responsive-form__fieldset-legend g-cell g-cell-1-1">
											                Ticket description
											            </label>
											            <div class="g-cell g-cell-1-1 g-cell-md-2-3 g-cell-lg-3-4 ">
											                <textarea placeholder="Tell your attendees more about this ticket type." class="free_ticket_description js-ticket-description" id="id_group-tickets-0-description" name="group-tickets-0-description" data-check="{}"></textarea>
											                <input type="hidden" class="js-show-ticket-description-hidden" id="id_group-tickets-0-hide_description" name="group-tickets-0-hide_description" data-check="{}" value="true">
											            </div>
											        </div>
													<div class="js-help-target js-ticket-sales-channel g-group" style="display: block;">
						    							<div class="g-vertical-group g-cell-1-1 g-cell-md-2-3 g-cell-lg-3-4 ">
						        							<h4 class="responsive-form__fieldset-legend g-cell g-cell-1-1 l-mar-top-3">
											                    Sales channel 
											                </h4>
										                    <div class="g-cell g-cell-1-1 l-mar-top-1">
										                        
																<select id="id_group-tickets-0-sales_channel_option" name="group-tickets-0-sales_channel_option" class="free_sale_channel js-d-select-box js-ticket-sales-channel-option" dorsal-guid="be62c6f8-aeaf-7519-2440-6e5a370bbd24" data-xd-wired="select-box">   
											                        <option value="everywhere" selected="selected">Everywhere</option>
											                        <option value="online">Online only</option>
											                        <option value="At the door">At the door only</option>
											                    </select>
											                </div>
						    							</div>
													</div>

													<div class="js-help-target js-ticket-sales">
														<div class="g-group">
															<div class="g-vertical-group g-cell-1-1 g-cell-md-2-3 g-cell-lg-3-4">
																<div class="js-ticket-sales-start-group g-cell g-cell-1-1 l-mar-top-3">
															        <h4 for="id_group-tickets-0-start_sales" class="responsive-form__fieldset-legend">
															            Ticket sales start
															        </h4>

															        <div class="js-ticket-sales-start">
															            <div class="js-visibility-container">
						    												<div>
						    													<div class="date_event">
						        												<div class="date_picker">
						        													<div style="float:left">
						        														<div class="col-lg-6">
																							<input class="start_end_date" id="free_start_date" type="text" >
																						</div>
																						<div class="col-lg-6">
																							<input type="text" name="" id="free_start_time" class="start_end_date">
																						</div>
																					</div>
																				</div>
																				</div>
																				
																			</div>
						    											</div>

															        </div>
															    </div>

																<div class="g-cell g-cell-1-1 g-cell--no-gutters l-mar-top-3">
															        <h4 for="id_initial-group-tickets-0-end_sales" class="responsive-form__fieldset-legend g-cell g-cell-1-1">
															            Ticket sales end
															        </h4>

															        <div>
															            <div class="js-end-sales-explicit g-cell g-cell-1-1" id="id_group-tickets-0-end_sales_explicit">
															                <div>
															                	<div class="date_event">
						        												<div class="date_picker">
						        													<div style="float:left">
						        														<div class="col-lg-6">
																							<input class="start_end_date" id="free_end_date" type="text" >
																						</div>
																						<div class="col-lg-6">
																							<input type="text" name="" id="free_end_time" class="start_end_date">
																						</div>
																					</div>
																				</div>
																				</div>
																			</div>
						    											</div>
															        </div>
															    </div>
															</div>				
														</div>
													</div>
											        <div class="js-help-target js-min-max-tickets l-mar-top-3 g-group">
											            <h4 class="responsive-form__fieldset-legend g-cell g-cell-1-1">
											                Tickets allowed per order
											            </h4>
											            <div class="g-cell g-cell-1-1 g-cell-md-2-3 g-cell-lg-3-4">
											                <div class="g-group">
											                    <div class="g-cell g-cell-1-2 g-cell-md-1-4 g-cell--no-gutters l-mar-top-3">
											                        <input type="text" pattern="[0-9]*" class="free_ticket_minimum js-order-minimum l-pad-hor-1" id="id_group-tickets-0-order_minimum free_min" value="1" name="group-tickets-0-order_minimum">
											                        <label for="id_group-tickets-0-order_minimum">Minimum
											                        </label>
											                        <div class="js-error-for-order_min form__field-error"></div>
											                    </div>
											                    <div class="g-cell g-cell-1-2 g-cell-md-1-4 g-cell--no-gutters l-block-h-1 l-mar-top-3">
											                        <input type="text" pattern="[0-9]*" class="free_ticket_maximum js-order-maximum l-pad-hor-1" id="id_group-tickets-0-order_limit free_max" placeholder="10" name="group-tickets-0-order_limit">
											                        <label for="id_group-tickets-0-order_limit">
											                            Maximum
											                        </label>
											                        <div class="js-error-for-order_limit form__field-error"></div>
											                    </div>
											                </div>
											            </div>
											        </div>
								    			</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--############### Ends here #########################################-->

						<!--############### Paid ticket Form #########################################-->
						<div class="g-cell g-cell-1-1 l-mar-top-2 g-offset-lg-1-12 g-cell-lg-10-12 paid_cantainer_wrapper paid-ticket-container paid_ticket_content" style="display: none;">
						    <div class="g-group create-tickets--header hide-small">
						        <div class="g-cell g-cell-5-12 g-cell--no-gutters l-block-h-2 l-pad-vert-2" id="ticket_name">
						            Ticket name<span class="required">*</span>
						        </div>
						        <div id="quantity_available" class="g-cell g-cell-2-12 g-cell--no-gutters l-padded-h-half l-pad-vert-2">
						            Quantity available<span class="required">*</span>
						        </div>
						        <div id="ticket_price" class="g-cell g-cell-3-12 g-cell--no-gutters l-padded-h-half l-pad-vert-2">Price</div>
						        <div class="g-cell g-cell-2-12 g-cell--no-gutters l-padded-h-half l-pad-vert-2">Actions</div>
						        <div class="g-group create-tickets--row report__row--paid-ticket">
									<div style="position: relative;" class="js-ticket-row ticket-row">
										<div class="g-cell g-cell-1-1 g-cell-md-5-12 g-cell--no-gutters sorting-gripper-container l-padded-h-half l-mar-top-2">
									        <div class="js-sorting-gripper sorting-gripper hide-small ">
									            <i class="ico-gripper ico--xxlarge ico--color-understated"></i>
									        </div>

									        <label class="label-primary hide-medium-accessible hide-large-accessible" for="group-tickets-0-ticket_type">Ticket name</label>
									        <div>
									            
									            <input id="paid_tic_name" type="text" title="" placeholder="Early Bird, RSVP..." class="form__input form__input--full-width js-ticket-name" id="id_group-tickets-0-ticket_type" maxlength="255" name="group-tickets-0-ticket_type" data-original-title="Give your ticket a name, like General Admission, Early Bird, RSVP, etc.">

									        </div>
									    </div>

									    <div class="g-cell g-cell-1-2 g-cell-md-2-12 g-cell--no-gutters l-mar-top-2 l-padded-h-half">
									        <label class="label-primary hide-medium-accessible hide-large-accessible" for="group-tickets-0-quantity_total">Quantity</label>
									        
									        <input id="paid_quantity" type="text" title="" placeholder="100" pattern="[0-9]*" class="form__input--full-width js-quantity-input" id="id_group-tickets-0-quantity_total" maxlength="6" name="group-tickets-0-quantity_total" data-original-title="Enter the total number of tickets available for this ticket type">     
									    </div>

									    <div class="g-cell g-cell-1-2 g-cell-md-3-12 g-cell--no-gutters l-mar-top-2 l-padded-h-half paid-ticket-container">
									        <label class="label-primary hide-medium-accessible hide-large-accessible" for="group-tickets-0-cost">Price</label>
									        <div class="js-payment-type">
									        	<div>
									        		<div class="responsive-form__input--currency">
									   					<div class="responsive-form__input--currency__symbol">$
									   					</div>
													    <input id="paid_tic_price" type="text" maxlength="11" title="" placeholder="15.00" class="js-price-input form__input--xxsmall" id="id_group-tickets-0-cost" name="group-tickets-0-cost" data-original-title="Set your ticket price. (You'll select payout options later on the Manage page)">
													</div>
													<div class="js-ticket-buyer-total text-body-small text-body--faint is-hidden" style="display: block;">
													    Buyer total:
													    <a class="js-ticket-buyer-total-number" href="#">$0.00</a>

													    <a href="#" class="js-ticket-fee-summary-link tooltip--important is-hidden" data-original-title="" title="" style="display: inline;">
													        <i class="ico-information ico--color-understated ico--small"></i>
													    </a>
													</div>

													<span class="form__field-error is-hidden js-error-for-ticketPrice"></span>
												</div>
											</div>
										</div>

									    <div class="g-cell g-cell-1-1 g-cell-md-2-12 g-cell--no-gutters l-mar-top-2 l-padded-h-half report__row__tab-group">
									        <a title="" id="paid_settings" class="js-ticket-settings-link report__row__tab narrow-tooltip icon-link" data-original-title="Ticket Settings">
									            <i alt="Settings" class="ico-settings ico--medium"></i>
									        </a>
									        <a href="#" id="paid_ticket_report"  title="" class="js-delete-ticket report__row__tab narrow-tooltip icon-link" id="id_group-tickets-0-delete_ticket" data-original-title="Delete" style="display: inline;">
									            <i alt="Delete" class="ico-trash ico--medium"></i>
									        </a>
									    </div>
									</div>
								</div>
						    </div>
						    <div class="paid_container js-ticket-container create-tickets--container" style="display: none;">
						    	<div class="ui-sortable ui-sortable-disabled" style="">
						    		<div class="create-tickets--ticket" style="display: block; opacity: 1;">
						    			
										<div class="ticket-settings settings">
											<div class="ticket-settings-container js-ticket-settings">
											    <div class="l-mar-top-2 g-cell g-cell-1-1">
											        <div class="js-ticket-name l-mar-top-1 text-body-large">Settings</div>
											        <hr class="l-mar-top-2">
											    </div>
												<div class="responsive-form text-body-medium l-pad-vert-3">
											        <div class="js-help-target g-group">
											            <label for="id_group-tickets-0-description" class="responsive-form__fieldset-legend g-cell g-cell-1-1">
											                Ticket description
											            </label>
											            <div class="g-cell g-cell-1-1 g-cell-md-2-3 g-cell-lg-3-4 ">
											                <textarea placeholder="Tell your attendees more about this ticket type." class="paid_ticket_description js-ticket-description" id="id_group-tickets-0-description" name="group-tickets-0-description" data-check="{}"></textarea>
											            </div>
											        </div>
													<div class="js-help-target js-ticket-sales-channel g-group" style="display: block;">
						    							<div class="g-vertical-group g-cell-1-1 g-cell-md-2-3 g-cell-lg-3-4 ">
						        							<h4 class="responsive-form__fieldset-legend g-cell g-cell-1-1 l-mar-top-3">
											                    Sales channel 
											                </h4>
										                    <div class="g-cell g-cell-1-1 l-mar-top-1">
										                        
																<select id="id_group-tickets-0-sales_channel_option" name="group-tickets-0-sales_channel_option" class="paid_sale_channel js-d-select-box js-ticket-sales-channel-option" dorsal-guid="be62c6f8-aeaf-7519-2440-6e5a370bbd24" data-xd-wired="select-box">   
											                        <option value="everywhere" selected="selected">Everywhere</option>
											                        <option value="online">Online only</option>
											                        <option value="At the door">At the door only</option>
											                    </select>
										                    </div>
						    							</div>
													</div>

													<div class="js-help-target js-ticket-sales">
														<div class="g-group">
															<div class="g-vertical-group g-cell-1-1 g-cell-md-2-3 g-cell-lg-3-4">
																<div class="js-ticket-sales-start-group g-cell g-cell-1-1 l-mar-top-3">
															        <h4 for="id_group-tickets-0-start_sales" class="responsive-form__fieldset-legend">
															            Ticket sales start
															        </h4>

															        <div class="js-ticket-sales-start">
															            <div class="js-visibility-container">
						    												<div>
						    													<div class="date_event">
						        												<div class="date_picker">
						        													<div style="float:left">
						        														<div class="col-lg-6">
																							<input class="start_end_date" id="paid_start_date" type="text" >
																						</div>
																						<div class="col-lg-6">
																							<input type="text" name="" id="paid_start_time" class="start_end_date">
																						</div>
																					</div>
																				</div>
																				</div>
																				
																			</div>
						    											</div>

															        </div>
															    </div>

																<div class="g-cell g-cell-1-1 g-cell--no-gutters l-mar-top-3">
															        <h4 for="id_initial-group-tickets-0-end_sales" class="responsive-form__fieldset-legend g-cell g-cell-1-1">
															            Ticket sales end
															        </h4>

															        <div>
															            <div class="js-end-sales-explicit g-cell g-cell-1-1" id="id_group-tickets-0-end_sales_explicit">
															                <div>
															                	<div class="date_event">
						        												<div class="date_picker">
						        													<div style="float:left">
						        														<div class="col-lg-6">
																							<input class="start_end_date" id="paid_end_date" type="text" >
																						</div>
																						<div class="col-lg-6">
																							<input type="text" name="" id="paid_end_time" class="start_end_date">
																						</div>
																					</div>
																				</div>
																				</div>
																			</div>
						    											</div>
															        </div>
															    </div>
															</div>				
														</div>
													</div>
											        <div class="js-help-target js-min-max-tickets l-mar-top-3 g-group">
											            <h4 class="responsive-form__fieldset-legend g-cell g-cell-1-1">
											                Tickets allowed per order
											            </h4>
											            <div class="g-cell g-cell-1-1 g-cell-md-2-3 g-cell-lg-3-4">
											                <div class="g-group">
											                    <div class="g-cell g-cell-1-2 g-cell-md-1-4 g-cell--no-gutters l-mar-top-3">
											                        <input type="text" pattern="[0-9]*" class="paid_ticket_minimum js-order-minimum l-pad-hor-1" id="id_group-tickets-0-order_minimum" value="1" name="group-tickets-0-order_minimum">
											                        <label for="id_group-tickets-0-order_minimum paid_min">Minimum
											                        </label>
											                        <div class="js-error-for-order_min form__field-error"></div>
											                    </div>
											                    <div class="g-cell g-cell-1-2 g-cell-md-1-4 g-cell--no-gutters l-block-h-1 l-mar-top-3">
											                        <input type="text" pattern="[0-9]*" class="paid_ticket_maximum js-order-maximum l-pad-hor-1" id="id_group-tickets-0-order_limit" placeholder="10" name="group-tickets-0-order_limit">
											                        <label for="id_group-tickets-0-order_limit paid_max">
											                            Maximum
											                        </label>
											                        <div class="js-error-for-order_limit form__field-error"></div>
											                    </div>
											                </div>
											            </div>
											        </div>
								    			</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
								<!--############### Ends here #########################################-->


									<!--############### Donation ticket Form #########################################-->
						<div class="g-cell g-cell-1-1 l-mar-top-2 g-offset-lg-1-12 g-cell-lg-10-12 donation-ticket-container donation_ticket_content" style="display: none;">
						    <div class="g-group create-tickets--header hide-small">
						        <div class="g-cell g-cell-5-12 g-cell--no-gutters l-block-h-2 l-pad-vert-2" id="ticket_name">
						            Ticket name<span class="required">*</span>
						        </div>
						        <div id="quantity_available" class="g-cell g-cell-2-12 g-cell--no-gutters l-padded-h-half l-pad-vert-2">
						            Quantity available<span class="required">*</span>
						        </div>
						        <div id="ticket_price" class="g-cell g-cell-3-12 g-cell--no-gutters l-padded-h-half l-pad-vert-2">Price</div>
						        <div class="g-cell g-cell-2-12 g-cell--no-gutters l-padded-h-half l-pad-vert-2">Actions</div>
						        <div class="g-group create-tickets--row report__row--paid-ticket">
									<div style="position: relative;" class="js-ticket-row ticket-row">
										<div class="g-cell g-cell-1-1 g-cell-md-5-12 g-cell--no-gutters sorting-gripper-container l-padded-h-half l-mar-top-2">
									        <div class="js-sorting-gripper sorting-gripper hide-small ">
									            <i class="ico-gripper ico--xxlarge ico--color-understated"></i>
									        </div>

									        <label class="label-primary hide-medium-accessible hide-large-accessible" for="group-tickets-0-ticket_type">Ticket name</label>
									        <div>
									            
									            <input id="donation_tic_name" type="text" title="" placeholder="Early Bird, RSVP..." class="form__input form__input--full-width js-ticket-name" id="id_group-tickets-0-ticket_type" maxlength="255" name="group-tickets-0-ticket_type" data-original-title="Give your ticket a name, like General Admission, Early Bird, RSVP, etc.">

									        </div>
									    </div>

									    <div class="g-cell g-cell-1-2 g-cell-md-2-12 g-cell--no-gutters l-mar-top-2 l-padded-h-half">
									        <label class="label-primary hide-medium-accessible hide-large-accessible" for="group-tickets-0-quantity_total">Quantity</label>
									        
									        <input id="donation_quantity" type="text" title="" placeholder="100" pattern="[0-9]*" class="form__input--full-width js-quantity-input" id="id_group-tickets-0-quantity_total" maxlength="6" name="group-tickets-0-quantity_total" data-original-title="Enter the total number of tickets available for this ticket type">     
									    </div>

									    <div class="g-cell g-cell-1-2 g-cell-md-3-12 g-cell--no-gutters l-mar-top-2 l-padded-h-half paid-ticket-container">
									        <label class="label-primary hide-medium-accessible hide-large-accessible" for="group-tickets-0-cost">Price</label>
									        <div class="js-payment-type">
									        	<div>
									        		<div class="responsive-form__input--currency">
													    <input id="donation_tic_price" type="text" maxlength="11" title="" placeholder="Donate" class="js-price-input form__input--xxsmall" id="id_group-tickets-0-cost" name="group-tickets-0-cost" data-original-title="Set your ticket price. (You'll select payout options later on the Manage page)" readonly>
													</div>
													<span class="form__field-error is-hidden js-error-for-ticketPrice"></span>
												</div>
											</div>
										</div>
									    <div class="g-cell g-cell-1-1 g-cell-md-2-12 g-cell--no-gutters l-mar-top-2 l-padded-h-half report__row__tab-group">
									        <a title="" id="donation_settings" class="js-ticket-settings-link report__row__tab narrow-tooltip icon-link" data-original-title="Ticket Settings">
									            <i alt="Settings" class="ico-settings ico--medium"></i>
									        </a>
									        <a href="#" id="donation_ticket_report"  title="" class="js-delete-ticket report__row__tab narrow-tooltip icon-link" id="id_group-tickets-0-delete_ticket" data-original-title="Delete" style="display: inline;">
									            <i alt="Delete" class="ico-trash ico--medium"></i>
									        </a>
									    </div>
									</div>
								</div>
						    </div>
						    <div class="donation_container js-ticket-container create-tickets--container" style="display: none;">
						    	<div class="ui-sortable ui-sortable-disabled" style="">
						    		<div class="create-tickets--ticket" style="display: block; opacity: 1;">
						    			
										<div class="ticket-settings settings">
											<div class="ticket-settings-container js-ticket-settings">
											    <div class="l-mar-top-2 g-cell g-cell-1-1">
											        <div class="js-ticket-name l-mar-top-1 text-body-large">Settings</div>
											        <hr class="l-mar-top-2">
											    </div>
												<div class="responsive-form text-body-medium l-pad-vert-3">
											        <div class="js-help-target g-group">
											            <label for="id_group-tickets-0-description" class="responsive-form__fieldset-legend g-cell g-cell-1-1">
											                Ticket description
											            </label>
											            <div class="g-cell g-cell-1-1 g-cell-md-2-3 g-cell-lg-3-4 ">
											                <textarea placeholder="Tell your attendees more about this ticket type." class="donation_ticket_description js-ticket-description" id="id_group-tickets-0-description" name="group-tickets-0-description" data-check="{}"></textarea>
											            </div>
											        </div>
													<div class="js-help-target js-ticket-sales-channel g-group" style="display: block;">
						    							<div class="g-vertical-group g-cell-1-1 g-cell-md-2-3 g-cell-lg-3-4 ">
						        							<h4 class="responsive-form__fieldset-legend g-cell g-cell-1-1 l-mar-top-3">
											                    Sales channel 
											                </h4>
										                    <div class="g-cell g-cell-1-1 l-mar-top-1">
										                       
																<select id="id_group-tickets-0-sales_channel_option" name="group-tickets-0-sales_channel_option" class="donation_sale_channel js-d-select-box js-ticket-sales-channel-option" dorsal-guid="be62c6f8-aeaf-7519-2440-6e5a370bbd24" data-xd-wired="select-box">   
											                        <option value="everywhere" selected="selected">Everywhere</option>
											                        <option value="online">Online only</option>
											                        <option value="At the door">At the door only</option>
											                    </select>
										                    </div>
						    							</div>
													</div>

													<div class="js-help-target js-ticket-sales">
														<div class="g-group">
															<div class="g-vertical-group g-cell-1-1 g-cell-md-2-3 g-cell-lg-3-4">
																<div class="js-ticket-sales-start-group g-cell g-cell-1-1 l-mar-top-3">
															        <h4 for="id_group-tickets-0-start_sales" class="responsive-form__fieldset-legend">
															            Ticket sales start
															        </h4>

															        <div class="js-ticket-sales-start">
															            <div class="js-visibility-container">
						    												<div>
						    													<div class="date_event">
						        												<div class="date_picker">
						        													<div style="float:left">
						        														<div class="col-lg-6">
																							<input class="start_end_date" id="donation_start_date" type="text" >
																						</div>
																						<div class="col-lg-6">
																							<input type="text" name="" id="donation_start_time" class="start_end_date">
																						</div>
																					</div>
																				</div>
																				</div>
																				
																			</div>
						    											</div>

															        </div>
															    </div>

																<div class="g-cell g-cell-1-1 g-cell--no-gutters l-mar-top-3">
															        <h4 for="id_initial-group-tickets-0-end_sales" class="responsive-form__fieldset-legend g-cell g-cell-1-1">
															            Ticket sales end
															        </h4>

															        <div>
															            <div class="js-end-sales-explicit g-cell g-cell-1-1" id="id_group-tickets-0-end_sales_explicit">
															                <div>
															                	<div class="date_event">
						        												<div class="date_picker">
						        													<div style="float:left">
						        														<div class="col-lg-6">
																							<input class="start_end_date" id="donation_end_date" type="text" >
																						</div>
																						<div class="col-lg-6">
																							<input type="text" name="" id="donation_end_time" class="start_end_date">
																						</div>
																					</div>
																				</div>
																				</div>
																			</div>
						    											</div>
															        </div>
															    </div>
															</div>				
														</div>
													</div>
											        <div class="js-help-target js-min-max-tickets l-mar-top-3 g-group">
											            <h4 class="responsive-form__fieldset-legend g-cell g-cell-1-1">
											                Tickets allowed per order
											            </h4>
											            <div class="g-cell g-cell-1-1 g-cell-md-2-3 g-cell-lg-3-4">
											                <div class="g-group">
											                    <div class="g-cell g-cell-1-2 g-cell-md-1-4 g-cell--no-gutters l-mar-top-3">
											                        <input type="text" pattern="[0-9]*" class="donation_ticket_minimum js-order-minimum l-pad-hor-1" id="id_group-tickets-0-order_minimum" value="1" name="group-tickets-0-order_minimum">
											                        <label for="id_group-tickets-0-order_minimum donation_min">Minimum
											                        </label>
											                        <div class="js-error-for-order_min form__field-error"></div>
											                    </div>
											                    <div class="g-cell g-cell-1-2 g-cell-md-1-4 g-cell--no-gutters l-block-h-1 l-mar-top-3">
											                        <input type="text" pattern="[0-9]*" class="donation_ticket_maximum js-order-maximum l-pad-hor-1" id="id_group-tickets-0-order_limit" placeholder="10" name="group-tickets-0-order_limit">
											                        <label for="id_group-tickets-0-order_limit donation_max">
											                            Maximum
											                        </label>
											                        <div class="js-error-for-order_limit form__field-error"></div>
											                    </div>
											                </div>
											            </div>
											        </div>
								    			</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
									<!--############### Ends here #########################################-->

					</section>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</div>

<div class="col-lg-12">
	<div class="create_last">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>Nice job! You're almost done.</h1>
					<button class="btn btn-default" id="update_event_button" type="submit" name="save" value="Save">Save</button>
					<span style="display:none;color:red" id="error_events">Fill all fields</span>
					<!--input type="submit" name="event_live" value="Make your event live"-->
				</div>
			</div>
		</div>
	</div>
</div>
 <!--modal-2 start-->
  <div class="modal fade" id="sub_modal" role="dialog">
    <div class="modal-dialog sub_event_modal">
    <!-- Modal content-->
      <div class="modal-content sub_modal_content">
        <div class="modal-header">
          	<button type="button" class="close" data-dismiss="modal">&times;</button>
          	<h4 class="modal-title">Sub Event</h4>
          	<div class="signup_link">
          		<!--a href="" data-toggle="modal" data-target="#myModal">Or, SignUp</a-->
          	</div>
        </div>
        <span id="invalid_email_login" style="display:none;color:red">Invalid email address</span>
        <span id="blank_fields_login" style="display:none;color:red"> Please fill both the fields</span>
        <span id="invalid_credentials" style="display:none;color:red">Invalid credentials</span>
        <div class="modal-body form-group sub_modal_body">
           	<div class="sub_category_fields">
				<div class="event_details sub_detail">
					<label>1</label>
					<span>Sub Event</span>
					<!--a style="float:right" href="#">Tips</a-->
					<hr>
				</div>
				<div class="event_title">
					<div class="form-group">
						<div class="label_name">
							<label>Sub Event title <span class="required">*</span></label>
						</div>
						<div class="sub_field_name">
							<input type="text" class="form-control" id="sub_event_name" name="event_title" placeholder="Give it a short distinct name">
						</div>
					</div>
					<div class="form-group">
						<div class="label_name">
							<label>Sub Event description <span class="required">*</span></label>
						</div>
						<div class="sub_field_name">
							<input type="text" class="form-control" id="sub_event_desc" name="event_description" placeholder="Give it a description">
						</div>
					</div>
					<div class="form-group">
						<div class="label_name">
							<label>Organizer name <span class="required">*</span></label>
						</div>
						<div class="sub_field_name">
							<input type="text" class="form-control" id="sub_event_organizer" name="organizer_name" placeholder="Organiser name">
						</div>
					</div>
					<div class="form-group">
						<div class="label_name">
							<label>Organizer description <span class="required">*</span></label>
						</div>
						<div class="sub_field_name">
							<!--input type="text" class="form-control" id="sub_organizer_desc" name="organizer_descrition" placeholder="Organiser description"-->
							<textarea class="form-control" id="sub_organizer_desc" name="organizer_descrition" placeholder="Organiser description" rows="2"></textarea> 
						</div>
					</div>
					<div class="form-group">
						<div class="label_name">
							<label>Sub Event type <span class="required">*</span></label>
						</div>
						<!--div class="sub_field_name">
							<input type="text" class="form-control" id="sub_event_type" name="event_type" placeholder="Event type">
						</div-->
						<select id="sub_event_type" name="group-tickets-0-sales_channel_option" class="sub_field_name donation_sale_channel js-d-select-box js-ticket-sales-channel-option sub_ticket_sale" dorsal-guid="be62c6f8-aeaf-7519-2440-6e5a370bbd24" data-xd-wired="select-box">   
	                        <option value="Free" selected="selected">Free</option>
	                        <option value="Paid">Paid</option>
	                        <option value="Donation">Donation</option>
                    	</select>
					</div>
					<div class="form-group">
						<div class="label_name">
							<label>Sub Event category <span class="required">*</span></label>
						</div>
						<div class="sub_field_name">
							<input type="text" class="form-control" id="sub_event_catagory" name="event_category" placeholder="Event category">
						</div>
					</div>
					<!--a href="#"><i class="fa fa-desktop" aria-hidden="true"></i>Online event</a>
					<a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>Enter Address</a-->
				</div>
				<div class="col-lg-12">
					<div class="date_event">
						<div class="date_picker">
							<div style="float:left">
								<label>Event starts:<span class="required">*</span></label> <input class="start_end_date" type="text" id="sub_start_date">
								<input type="text" name="" id="sub_start_time" class="start_end_date">
							</div>
							<div style="float:left">
								<label>Event ends:<span class="required">*</span></label> <input class="start_end_date" type="text" id="sub_end_date">
								<input type="text" name="" id="sub_end_time" class="start_end_date">
							</div>
						</div>
					</div>
				</div>
				<div class="upload_pic">
					<div class="event_image">
						<div class="col-lg-3">
							<h2>Event image</h2>
						</div>
						<div class="col-lg-9">
							<div class="profile_picture col-lg-10">
								<div class="choose_pic_head col-lg-5">
									<a href="#"><h4>Choose a Photo</h4></a>
								</div>
								<input type="file" id="sub_event_img" onchange="previewFile1()"><br>
								<img id="profile_sub" src="" height="200" alt="Image preview...">
							</div>
							<button id="upload_subevent_image" class="btn btn-success col-lg-2 event_upload_img">Upload</button><br><br>
						</div>
						<!--div class="form-group">
							<div class="label_name">
								<h4>Event Image </h4>
							</div>
							<div class="field_name">
								<div class="event_image_inner">
									<a href="#"><i class="fa fa-camera-retro" aria-hidden="true"></i>
									<h2>Add event image</h2>
									<h3>Choose an image that captures your event</h3>
									</a>
								</div>
							</div>
						</div-->
					</div>
				</div>
				<!--div class="text_editor">
					<p>We recommend using at least a 2160x1080px (2:1 ratio) image<br> that's no larger than 10MB. <a href="#">Learn more</a></p>
				</div-->
			</div>
			<div class="col-lg-12 ticket_fields">
				<div class="create_tickets">
					<label>2</label>
					<span>Create Tickets</span>
					<!--a style="float:right" href="#">Tips</a-->
					<hr>
				</div>
				<div class="js-create-ticket-wrapper ticket-container--no-handles" style="">
					<section class="js-ticket-summary js-ticket-summary-container" style="opacity: 1;">
						<div class="g-group js-ticket-summary-footer create-tickets--footer l-pad-vert-2">
				        	<div>
				        		<div class="g-cell g-cell-1-1 btn-group btn-group--responsive l-align-center l-pad-bot-1">
						    		<div class="ticket_variant">
						    			<p>What type of ticket would you like to start with?</p>
										<a class="free_ticket_form sub_free" id="free_sub_form"><i class="fa fa-plus-circle" aria-hidden="true"></i>Free ticket</a>
										<a class="paid_ticket_form" id="paid_sub_form"><i class="fa fa-plus-circle" aria-hidden="true"></i>Paid ticket</a>
										<a class="donation_ticket_form" id="donation_sub_form"><i class="fa fa-plus-circle" aria-hidden="true"></i>Donation</a>
									</div>
								</div>
							</div>
						</div>
	<!--############### Free ticket Form #########################################-->
					    <div class="g-cell g-cell-1-1 l-mar-top-2 g-offset-lg-1-12 g-cell-lg-10-12 free-ticket-container sub_ticket_wrapper" id="free_sub_container" style="display: none;">
						    <div class="g-group create-tickets--header hide-small">
						        <div class="g-cell g-cell-5-12 g-cell--no-gutters l-block-h-2 l-pad-vert-2" id="ticket_name">
						            Ticket name<span class="required">*</span>
						        </div>
						        <div id="quantity_available" class="g-cell g-cell-2-12 g-cell--no-gutters l-padded-h-half l-pad-vert-2">
						            Quantity available<span class="required">*</span>
						        </div>
						        <div id="ticket_price" class="g-cell g-cell-3-12 g-cell--no-gutters l-padded-h-half l-pad-vert-2">Price</div>
						        <div class="g-cell g-cell-2-12 g-cell--no-gutters l-padded-h-half l-pad-vert-2">Actions</div>
						        <div class="g-group create-tickets--row report__row--paid-ticket">
									<div style="position: relative;" class="js-ticket-row ticket-row">
										<div class="g-cell g-cell-1-1 g-cell-md-5-12 g-cell--no-gutters sorting-gripper-container l-padded-h-half l-mar-top-2">
									        <div class="js-sorting-gripper sorting-gripper hide-small ">
									            <i class="ico-gripper ico--xxlarge ico--color-understated"></i>
									        </div>

									        <label class="label-primary hide-medium-accessible hide-large-accessible" for="group-tickets-0-ticket_type">Ticket name</label>
									        <div>
									            
									            <input id="sub_free_tic_name" type="text" title="" placeholder="Early Bird, RSVP..." class="form__input form__input--full-width js-ticket-name sub_ticket_name" maxlength="255" name="group-tickets-0-ticket_type" data-original-title="Give your ticket a name, like General Admission, Early Bird, RSVP, etc.">

									        </div>
									    </div>

									    <div class="g-cell g-cell-1-2 g-cell-md-2-12 g-cell--no-gutters l-mar-top-2 l-padded-h-half">
									        <label class="label-primary hide-medium-accessible hide-large-accessible" for="group-tickets-0-quantity_total">Quantity</label>
									        
									        <input id="sub_free_quantity" type="text" title="" placeholder="100" pattern="[0-9]*" class="form__input--full-width js-quantity-input sub_ticket_quantity" id="id_group-tickets-0-quantity_total" maxlength="6" name="group-tickets-0-quantity_total" data-original-title="Enter the total number of tickets available for this ticket type">     
									    </div>

									    <div class="g-cell g-cell-1-2 g-cell-md-3-12 g-cell--no-gutters l-mar-top-2 l-padded-h-half paid-ticket-container">
									        <label class="label-primary hide-medium-accessible hide-large-accessible" for="group-tickets-0-cost">Price</label>
									        <div class="js-payment-type">
									        	<div>
									        		<div class="responsive-form__input--currency">
													    <input id="sub_free_tic_price" type="text" maxlength="11" title="" placeholder="Free" class="js-price-input form__input--xxsmall sub_ticket_price" id="id_group-tickets-0-cost" name="group-tickets-0-cost" data-original-title="Set your ticket price. (You'll select payout options later on the Manage page)" readonly>
													</div>
												</div>
											</div>
										</div>

									    <div class="g-cell g-cell-1-1 g-cell-md-2-12 g-cell--no-gutters l-mar-top-2 l-padded-h-half report__row__tab-group">
									        <a title="" id="sub_free_settings" class="free_settings js-ticket-settings-link report__row__tab narrow-tooltip icon-link" data-original-title="Ticket Settings">
									            <i alt="Settings" class="ico-settings ico--medium"></i>
									        </a>
									        <a href="#" id="free_ticket_report"  title="" class="js-delete-ticket report__row__tab narrow-tooltip icon-link" id="id_group-tickets-0-delete_ticket" data-original-title="Delete" style="display: inline;">
									            <i alt="Delete" class="ico-trash ico--medium"></i>
									        </a>
									    </div>
									</div>
								</div>
						    </div>
						    <div class="free_container js-ticket-container create-tickets--container" id="sub_free_content" style="display: none;">
						    	<div class="ui-sortable ui-sortable-disabled" style="">
						    		<div class="create-tickets--ticket" style="display: block; opacity: 1;">
						    			
										<div class="ticket-settings settings">
											<div class="ticket-settings-container js-ticket-settings">
											    <div class="l-mar-top-2 g-cell g-cell-1-1">
											        <div class="js-ticket-name l-mar-top-1 text-body-large">Settings</div>
											        <hr class="l-mar-top-2">
											    </div>
												<div class="responsive-form text-body-medium l-pad-vert-3">
											        <div class="js-help-target g-group">
											            <label for="id_group-tickets-0-description" class="responsive-form__fieldset-legend g-cell g-cell-1-1">
											                Ticket description
											            </label>
											            <div class="g-cell g-cell-1-1 g-cell-md-2-3 g-cell-lg-3-4 ">
											                <textarea placeholder="Tell your attendees more about this ticket type." class="sub_free_ticket_description js-ticket-description sub_ticket_desc" id="id_group-tickets-0-description" name="group-tickets-0-description" data-check="{}"></textarea>
											                <input type="hidden" class="js-show-ticket-description-hidden" id="id_group-tickets-0-hide_description" name="group-tickets-0-hide_description" data-check="{}" value="true">
											            </div>
											        </div>
													<div class="js-help-target js-ticket-sales-channel g-group" style="display: block;">
						    							<div class="g-vertical-group g-cell-1-1 g-cell-md-2-3 g-cell-lg-3-4 ">
						        							<h4 class="responsive-form__fieldset-legend g-cell g-cell-1-1 l-mar-top-3">
											                    Sales channel 
											                </h4>
										                    <div class="g-cell g-cell-1-1 l-mar-top-1">
										                        <div class="responsive-form__select js-ticket-sales-channel-option custom-select-container clrfix">
																	<select id="id_group-tickets-0-sales_channel_option" name="group-tickets-0-sales_channel_option" class="sub_free_sale_channel js-d-select-box js-ticket-sales-channel-option sub_ticket_sale" dorsal-guid="be62c6f8-aeaf-7519-2440-6e5a370bbd24" data-xd-wired="select-box">   
												                        <option value="everywhere" selected="selected">Everywhere</option>
												                        <option value="online">Online only</option>
												                        <option value="At the door">At the door only</option>
												                    </select>
												                </div>
										                    </div>
						    							</div>
													</div>

													<div class="js-help-target js-ticket-sales">
														<div class="g-group">
															<div class="g-vertical-group g-cell-1-1 g-cell-md-2-3 g-cell-lg-3-4">
																<div class="js-ticket-sales-start-group g-cell g-cell-1-1 l-mar-top-3">
															        <h4 for="id_group-tickets-0-start_sales" class="responsive-form__fieldset-legend">
															            Ticket sales start
															        </h4>

															        <div class="js-ticket-sales-start">
															            <div class="js-visibility-container">
						    												<div>
						    													<div class="date_event">
						        												<div class="date_picker">
						        													<div style="float:left">
						        														<div class="col-lg-6">
																							<input class="sub_ticket_start_date start_end_date" id="sub_free_start_date" type="text" >
																						</div>
																						<div class="col-lg-6">
																							<input type="text" name="" id="sub_free_start_time" class="sub_ticket_start_time start_end_date">
																						</div>
																					</div>
																				</div>
																				</div>
																				
																			</div>
						    											</div>

															        </div>
															    </div>

																<div class="g-cell g-cell-1-1 g-cell--no-gutters l-mar-top-3">
															        <h4 for="id_initial-group-tickets-0-end_sales" class="responsive-form__fieldset-legend g-cell g-cell-1-1">
															            Ticket sales end
															        </h4>

															        <div>
															            <div class="js-end-sales-explicit g-cell g-cell-1-1" id="id_group-tickets-0-end_sales_explicit">
															                <div>
															                	<div class="date_event">
						        												<div class="date_picker">
						        													<div style="float:left">
						        														<div class="col-lg-6">
																							<input class="sub_ticket_end_date start_end_date" id="sub_free_end_date" type="text" >
																						</div>
																						<div class="col-lg-6">
																							<input type="text" name="" id="sub_free_end_time" class="sub_ticket_end_time start_end_date">
																						</div>
																					</div>
																				</div>
																				</div>
																			</div>
						    											</div>
															        </div>
															    </div>
															</div>				
														</div>
													</div>
											        <div class="js-help-target js-min-max-tickets l-mar-top-3 g-group">
											            <h4 class="responsive-form__fieldset-legend g-cell g-cell-1-1">
											                Tickets allowed per order
											                <p style="display:none; color: red;">Accepting Only values 1-10</p>
											            </h4>
											            <div class="g-cell g-cell-1-1 g-cell-md-2-3 g-cell-lg-3-4">
											                <div class="g-group">
											                    <div class="g-cell g-cell-1-2 g-cell-md-1-4 g-cell--no-gutters l-mar-top-3">
											                    	<input type="text" placeholder="1" min="1" max="10" class="sub_free_ticket_minimum sub_ticket_min js-order-minimum l-pad-hor-1" id="sub_free_order_minimum">
											                        <!--input type="text" pattern="[0-9]*" class="sub_free_ticket_minimum sub_ticket_min js-order-minimum l-pad-hor-1" id="sub_free_order_minimum" value="1" name="group-tickets-0-order_minimum"-->
											                        <label for="id_group-tickets-0-order_minimum">Minimum
											                        </label>
											                        <div class="js-error-for-order_min form__field-error"></div>
											                    </div>
											                    <div class="g-cell g-cell-1-2 g-cell-md-1-4 g-cell--no-gutters l-block-h-1 l-mar-top-3">
											                    	<input type="text" placeholder="10" min="1" max="10" class="sub_free_ticket_maximum js-order-maximum l-pad-hor-1 sub_ticket_max" id="sub_free_order_maximum">
											                        <!--input type="text" pattern="[0-9]*" class="sub_free_ticket_maximum js-order-maximum l-pad-hor-1 sub_ticket_max" id="sub_free_order_maximum" placeholder="10" name="group-tickets-0-order_limit"-->
											                        <label for="id_group-tickets-0-order_limit">
											                            Maximum
											                        </label>
											                        <div class="js-error-for-order_limit form__field-error"></div>
											                    </div>
											                </div>
											            </div>
											        </div>
								    			</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
	<!--############### Ends here #########################################-->

	<!--############### Paid ticket Form #########################################-->
						<div class="g-cell g-cell-1-1 l-mar-top-2 g-offset-lg-1-12 g-cell-lg-10-12 paid_cantainer_wrapper paid-ticket-container sub_ticket_wrapper" id="paid_sub_container" style="display: none;">
						    <div class="g-group create-tickets--header hide-small">
						        <div class="g-cell g-cell-5-12 g-cell--no-gutters l-block-h-2 l-pad-vert-2" id="ticket_name">
						            Ticket name<span class="required">*</span>
						        </div>
						        <div id="quantity_available" class="g-cell g-cell-2-12 g-cell--no-gutters l-padded-h-half l-pad-vert-2">
						            Quantity available<span class="required">*</span>
						        </div>
						        <div id="ticket_price" class="g-cell g-cell-3-12 g-cell--no-gutters l-padded-h-half l-pad-vert-2">Price</div>
						        <div class="g-cell g-cell-2-12 g-cell--no-gutters l-padded-h-half l-pad-vert-2">Actions</div>
						        <div class="g-group create-tickets--row report__row--paid-ticket">
									<div style="position: relative;" class="js-ticket-row ticket-row">
										<div class="g-cell g-cell-1-1 g-cell-md-5-12 g-cell--no-gutters sorting-gripper-container l-padded-h-half l-mar-top-2">
									        <div class="js-sorting-gripper sorting-gripper hide-small ">
									            <i class="ico-gripper ico--xxlarge ico--color-understated"></i>
									        </div>

									        <label class="label-primary hide-medium-accessible hide-large-accessible" for="group-tickets-0-ticket_type">Ticket name</label>
									        <div>
									            
									            <input id="sub_paid_tic_name" type="text" title="" placeholder="Early Bird, RSVP..." class="form__input form__input--full-width js-ticket-name sub_ticket_name" id="id_group-tickets-0-ticket_type" maxlength="255" name="group-tickets-0-ticket_type" data-original-title="Give your ticket a name, like General Admission, Early Bird, RSVP, etc.">

									        </div>
									    </div>

									    <div class="g-cell g-cell-1-2 g-cell-md-2-12 g-cell--no-gutters l-mar-top-2 l-padded-h-half">
									        <label class="label-primary hide-medium-accessible hide-large-accessible" for="group-tickets-0-quantity_total">Quantity</label>
									        
									        <input id="sub_paid_quantity" type="text" title="" placeholder="100" pattern="[0-9]*" class="form__input--full-width js-quantity-input sub_ticket_quantity" id="id_group-tickets-0-quantity_total" maxlength="6" name="group-tickets-0-quantity_total" data-original-title="Enter the total number of tickets available for this ticket type">     
									    </div>

									    <div class="g-cell g-cell-1-2 g-cell-md-3-12 g-cell--no-gutters l-mar-top-2 l-padded-h-half paid-ticket-container">
									        <label class="label-primary hide-medium-accessible hide-large-accessible" for="group-tickets-0-cost">Price</label>
									        <div class="js-payment-type">
									        	<div>
									        		<div class="responsive-form__input--currency">
									   					<div class="responsive-form__input--currency__symbol">$
									   					</div>
													    <input id="sub_paid_tic_price" type="text" maxlength="11" title="" placeholder="15.00" class="js-price-input form__input--xxsmall sub_ticket_price" id="id_group-tickets-0-cost" name="group-tickets-0-cost" data-original-title="Set your ticket price. (You'll select payout options later on the Manage page)">
													</div>
													<div class="js-ticket-buyer-total text-body-small text-body--faint is-hidden" style="display: block;">
													    Buyer total:
													    <a class="js-ticket-buyer-total-number" href="#">$0.00</a>

													    <a href="#" class="js-ticket-fee-summary-link tooltip--important is-hidden" data-original-title="" title="" style="display: inline;">
													        <i class="ico-information ico--color-understated ico--small"></i>
													    </a>
													</div>

													<span class="form__field-error is-hidden js-error-for-ticketPrice"></span>
												</div>
											</div>
										</div>

									    <div class="g-cell g-cell-1-1 g-cell-md-2-12 g-cell--no-gutters l-mar-top-2 l-padded-h-half report__row__tab-group">
									        <a title="" id="sub_paid_settings" class="paid_settings js-ticket-settings-link report__row__tab narrow-tooltip icon-link" data-original-title="Ticket Settings">
									            <i alt="Settings" class="ico-settings ico--medium"></i>
									        </a>
									        <a href="#" id="paid_ticket_report"  title="" class="js-delete-ticket report__row__tab narrow-tooltip icon-link" id="id_group-tickets-0-delete_ticket" data-original-title="Delete" style="display: inline;">
									            <i alt="Delete" class="ico-trash ico--medium"></i>
									        </a>
									    </div>
									</div>
								</div>
						    </div>
						    <div class="paid_container js-ticket-container create-tickets--container" id="sub_paid_content" style="display: none;">
						    	<div class="ui-sortable ui-sortable-disabled" style="">
						    		<div class="create-tickets--ticket" style="display: block; opacity: 1;">
						    			
										<div class="ticket-settings settings">
											<div class="ticket-settings-container js-ticket-settings">
											    <div class="l-mar-top-2 g-cell g-cell-1-1">
											        <div class="js-ticket-name l-mar-top-1 text-body-large">Settings</div>
											        <hr class="l-mar-top-2">
											    </div>
												<div class="responsive-form text-body-medium l-pad-vert-3">
											        <div class="js-help-target g-group">
											            <label for="id_group-tickets-0-description" class="responsive-form__fieldset-legend g-cell g-cell-1-1">
											                Ticket description
											            </label>
											            <div class="g-cell g-cell-1-1 g-cell-md-2-3 g-cell-lg-3-4 ">
											                <textarea placeholder="Tell your attendees more about this ticket type." class="sub_paid_ticket_description js-ticket-description sub_ticket_desc" id="id_group-tickets-0-description" name="group-tickets-0-description" data-check="{}"></textarea>
											            </div>
											        </div>
													<div class="js-help-target js-ticket-sales-channel g-group" style="display: block;">
						    							<div class="g-vertical-group g-cell-1-1 g-cell-md-2-3 g-cell-lg-3-4 ">
						        							<h4 class="responsive-form__fieldset-legend g-cell g-cell-1-1 l-mar-top-3">
											                    Sales channel 
											                </h4>
										                    <div class="g-cell g-cell-1-1 l-mar-top-1">
										                        <div class="responsive-form__select js-ticket-sales-channel-option custom-select-container clrfix">
																	<select id="id_group-tickets-0-sales_channel_option" name="group-tickets-0-sales_channel_option" class="sub_paid_sale_channel js-d-select-box js-ticket-sales-channel-option sub_ticket_sale" dorsal-guid="be62c6f8-aeaf-7519-2440-6e5a370bbd24" data-xd-wired="select-box">   
												                        <option value="everywhere" selected="selected">Everywhere</option>
												                        <option value="online">Online only</option>
												                        <option value="At the door">At the door only</option>
												                    </select>
												                </div>
										                    </div>
						    							</div>
													</div>

													<div class="js-help-target js-ticket-sales">
														<div class="g-group">
															<div class="g-vertical-group g-cell-1-1 g-cell-md-2-3 g-cell-lg-3-4">
																<div class="js-ticket-sales-start-group g-cell g-cell-1-1 l-mar-top-3">
															        <h4 for="id_group-tickets-0-start_sales" class="responsive-form__fieldset-legend">
															            Ticket sales start
															        </h4>

															        <div class="js-ticket-sales-start">
															            <div class="js-visibility-container">
						    												<div>
						    													<div class="date_event">
						        												<div class="date_picker">
						        													<div style="float:left">
						        														<div class="col-lg-6">
																							<input class="sub_ticket_start_date start_end_date" id="sub_paid_start_date" type="text" >
																						</div>
																						<div class="col-lg-6">
																							<input type="text" name="" id="sub_paid_start_time" class="sub_ticket_start_time start_end_date">
																						</div>
																					</div>
																				</div>
																				</div>
																				
																			</div>
						    											</div>

															        </div>
															    </div>

																<div class="g-cell g-cell-1-1 g-cell--no-gutters l-mar-top-3">
															        <h4 for="id_initial-group-tickets-0-end_sales" class="responsive-form__fieldset-legend g-cell g-cell-1-1">
															            Ticket sales end
															        </h4>

															        <div>
															            <div class="js-end-sales-explicit g-cell g-cell-1-1" id="id_group-tickets-0-end_sales_explicit">
															                <div>
															                	<div class="date_event">
						        												<div class="date_picker">
						        													<div style="float:left">
						        														<div class="col-lg-6">
																							<input class="sub_ticket_end_date start_end_date" id="sub_paid_end_date" type="text" >
																						</div>
																						<div class="col-lg-6">
																							<input type="text" name="" id="sub_paid_end_time" class="sub_ticket_end_time start_end_date">
																						</div>
																					</div>
																				</div>
																				</div>
																			</div>
						    											</div>
															        </div>
															    </div>
															</div>				
														</div>
													</div>
											        <div class="js-help-target js-min-max-tickets l-mar-top-3 g-group">
											            <h4 class="responsive-form__fieldset-legend g-cell g-cell-1-1">
											                Tickets allowed per order
											                <p style="display:none; color: red;">Accepting Only values 1-10</p>
											            </h4>
											            <div class="g-cell g-cell-1-1 g-cell-md-2-3 g-cell-lg-3-4">
											                <div class="g-group">
											                    <div class="g-cell g-cell-1-2 g-cell-md-1-4 g-cell--no-gutters l-mar-top-3">
											                    	<input type="text" placeholder="1" min="1" max="10" class="sub_paid_ticket_minimum js-order-minimum l-pad-hor-1 sub_ticket_min" id="sub_paid_order_minimum">
											                        <!--input type="text" pattern="[0-9]*" class="sub_paid_ticket_minimum js-order-minimum l-pad-hor-1 sub_ticket_min" id="sub_paid_order_minimum" value="1" name="group-tickets-0-order_minimum"-->
											                        <label for="id_group-tickets-0-order_minimum">Minimum
											                        </label>
											                        <div class="js-error-for-order_min form__field-error"></div>
											                    </div>
											                    <div class="g-cell g-cell-1-2 g-cell-md-1-4 g-cell--no-gutters l-block-h-1 l-mar-top-3">
											                    	<input type="text" placeholder="10" min="1" max="10" class="sub_paid_ticket_maximum js-order-maximum l-pad-hor-1 sub_ticket_max" id="sub_paid_order_maximum">
											                        <!--input type="text" pattern="[0-9]*" class="sub_paid_ticket_maximum js-order-maximum l-pad-hor-1 sub_ticket_max" id="sub_paid_order_maximum" placeholder="10" name="group-tickets-0-order_limit"-->
											                        <label for="id_group-tickets-0-order_limit">
											                            Maximum
											                        </label>
											                        <div class="js-error-for-order_limit form__field-error"></div>
											                    </div>
											                </div>
											            </div>
											        </div>
								    			</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
	<!--############### Ends here #########################################-->


	<!--############### Donation ticket Form #########################################-->
						<div class="g-cell g-cell-1-1 l-mar-top-2 g-offset-lg-1-12 g-cell-lg-10-12 donation-ticket-container sub_ticket_wrapper" id="donation_sub_container" style="display: none;">
						    <div class="g-group create-tickets--header hide-small">
						        <div class="g-cell g-cell-5-12 g-cell--no-gutters l-block-h-2 l-pad-vert-2" id="ticket_name">
						            Ticket name<span class="required">*</span>
						        </div>
						        <div id="quantity_available" class="g-cell g-cell-2-12 g-cell--no-gutters l-padded-h-half l-pad-vert-2">
						            Quantity available<span class="required">*</span>
						        </div>
						        <div id="ticket_price" class="g-cell g-cell-3-12 g-cell--no-gutters l-padded-h-half l-pad-vert-2">Price</div>
						        <div class="g-cell g-cell-2-12 g-cell--no-gutters l-padded-h-half l-pad-vert-2">Actions</div>
						        <div class="g-group create-tickets--row report__row--paid-ticket">
									<div style="position: relative;" class="js-ticket-row ticket-row">
										<div class="g-cell g-cell-1-1 g-cell-md-5-12 g-cell--no-gutters sorting-gripper-container l-padded-h-half l-mar-top-2">
									        <div class="js-sorting-gripper sorting-gripper hide-small ">
									            <i class="ico-gripper ico--xxlarge ico--color-understated"></i>
									        </div>

									        <label class="label-primary hide-medium-accessible hide-large-accessible" for="group-tickets-0-ticket_type">Ticket name</label>
									        <div>
									            
									            <input id="sub_donation_tic_name" type="text" title="" placeholder="Early Bird, RSVP..." class="form__input form__input--full-width js-ticket-name sub_ticket_name" id="id_group-tickets-0-ticket_type" maxlength="255" name="group-tickets-0-ticket_type" data-original-title="Give your ticket a name, like General Admission, Early Bird, RSVP, etc.">

									        </div>
									    </div>

									    <div class="g-cell g-cell-1-2 g-cell-md-2-12 g-cell--no-gutters l-mar-top-2 l-padded-h-half">
									        <label class="label-primary hide-medium-accessible hide-large-accessible" for="group-tickets-0-quantity_total">Quantity</label>
									        
									        <input id="sub_donation_quantity" type="text" title="" placeholder="100" pattern="[0-9]*" class="form__input--full-width js-quantity-input sub_ticket_quantity" id="id_group-tickets-0-quantity_total" maxlength="6" name="group-tickets-0-quantity_total" data-original-title="Enter the total number of tickets available for this ticket type">     
									    </div>

									    <div class="g-cell g-cell-1-2 g-cell-md-3-12 g-cell--no-gutters l-mar-top-2 l-padded-h-half paid-ticket-container">
									        <label class="label-primary hide-medium-accessible hide-large-accessible" for="group-tickets-0-cost">Price</label>
									        <div class="js-payment-type">
									        	<div>
									        		<div class="responsive-form__input--currency">
													    <input id="sub_donation_tic_price" type="text" maxlength="11" title="" placeholder="Donate" class="js-price-input form__input--xxsmall sub_ticket_price" id="id_group-tickets-0-cost" name="group-tickets-0-cost" data-original-title="Set your ticket price. (You'll select payout options later on the Manage page)" readonly>
													</div>
													<span class="form__field-error is-hidden js-error-for-ticketPrice"></span>
												</div>
											</div>
										</div>
									    <div class="g-cell g-cell-1-1 g-cell-md-2-12 g-cell--no-gutters l-mar-top-2 l-padded-h-half report__row__tab-group">
									        <a title="" id="sub_donation_settings" class="donation_settings js-ticket-settings-link report__row__tab narrow-tooltip icon-link" data-original-title="Ticket Settings">
									            <i alt="Settings" class="ico-settings ico--medium"></i>
									        </a>
									        <a href="#" id="donation_ticket_report"  title="" class="js-delete-ticket report__row__tab narrow-tooltip icon-link" id="id_group-tickets-0-delete_ticket" data-original-title="Delete" style="display: inline;">
									            <i alt="Delete" class="ico-trash ico--medium"></i>
									        </a>
									    </div>
									</div>
								</div>
						    </div>
						    <div class="donation_container js-ticket-container create-tickets--container" id="sub_donation_content" style="display: none;">
						    	<div class="ui-sortable ui-sortable-disabled" style="">
						    		<div class="create-tickets--ticket" style="display: block; opacity: 1;">
						    			
										<div class="ticket-settings settings">
											<div class="ticket-settings-container js-ticket-settings">
											    <div class="l-mar-top-2 g-cell g-cell-1-1">
											        <div class="js-ticket-name l-mar-top-1 text-body-large">Settings</div>
											        <hr class="l-mar-top-2">
											    </div>
												<div class="responsive-form text-body-medium l-pad-vert-3">
											        <div class="js-help-target g-group">
											            <label for="id_group-tickets-0-description" class="responsive-form__fieldset-legend g-cell g-cell-1-1">
											                Ticket description
											            </label>
											            <div class="g-cell g-cell-1-1 g-cell-md-2-3 g-cell-lg-3-4 ">
											                <textarea placeholder="Tell your attendees more about this ticket type." class="sub_donation_ticket_description js-ticket-description sub_ticket_desc" id="id_group-tickets-0-description" name="group-tickets-0-description" data-check="{}"></textarea>
											            </div>
											        </div>
													<div class="js-help-target js-ticket-sales-channel g-group" style="display: block;">
						    							<div class="g-vertical-group g-cell-1-1 g-cell-md-2-3 g-cell-lg-3-4 ">
						        							<h4 class="responsive-form__fieldset-legend g-cell g-cell-1-1 l-mar-top-3">
											                    Sales channel 
											                </h4>
										                    <div class="g-cell g-cell-1-1 l-mar-top-1">
										                        <div class="responsive-form__select js-ticket-sales-channel-option custom-select-container clrfix">
																	<select id="id_group-tickets-0-sales_channel_option" name="group-tickets-0-sales_channel_option" class="sub_donation_sale_channel js-d-select-box js-ticket-sales-channel-option sub_ticket_sale" dorsal-guid="be62c6f8-aeaf-7519-2440-6e5a370bbd24" data-xd-wired="select-box">   
												                        <option value="everywhere" selected="selected">Everywhere</option>
												                        <option value="online">Online only</option>
												                        <option value="At the door">At the door only</option>
												                    </select>
												                </div>
										                    </div>
						    							</div>
													</div>

													<div class="js-help-target js-ticket-sales">
														<div class="g-group">
															<div class="g-vertical-group g-cell-1-1 g-cell-md-2-3 g-cell-lg-3-4">
																<div class="js-ticket-sales-start-group g-cell g-cell-1-1 l-mar-top-3">
															        <h4 for="id_group-tickets-0-start_sales" class="responsive-form__fieldset-legend">
															            Ticket sales start
															        </h4>

															        <div class="js-ticket-sales-start">
															            <div class="js-visibility-container">
						    												<div>
						    													<div class="date_event">
						        												<div class="date_picker">
						        													<div style="float:left">
						        														<div class="col-lg-6">
																							<input class="sub_ticket_start_date start_end_date" id="sub_donation_start_date" type="text" >
																						</div>
																						<div class="col-lg-6">
																							<input type="text" name="" id="sub_donation_start_time" class="sub_ticket_start_time start_end_date">
																						</div>
																					</div>
																				</div>
																				</div>
																				
																			</div>
						    											</div>

															        </div>
															    </div>

																<div class="g-cell g-cell-1-1 g-cell--no-gutters l-mar-top-3">
															        <h4 for="id_initial-group-tickets-0-end_sales" class="responsive-form__fieldset-legend g-cell g-cell-1-1">
															            Ticket sales end
															        </h4>

															        <div>
															            <div class="js-end-sales-explicit g-cell g-cell-1-1" id="id_group-tickets-0-end_sales_explicit">
															                <div>
															                	<div class="date_event">
						        												<div class="date_picker">
						        													<div style="float:left">
						        														<div class="col-lg-6">
																							<input class="sub_ticket_end_date start_end_date" id="sub_donation_end_date" type="text" >
																						</div>
																						<div class="col-lg-6">
																							<input type="text" name="" id="sub_donation_end_time" class="sub_ticket_end_time start_end_date">
																						</div>
																					</div>
																				</div>
																				</div>
																			</div>
						    											</div>
															        </div>
															    </div>
															</div>				
														</div>
													</div>
											        <div class="js-help-target js-min-max-tickets l-mar-top-3 g-group">
											            <h4 class="responsive-form__fieldset-legend g-cell g-cell-1-1">
											                Tickets allowed per order
											                <p style="display:none; color: red;">Accepting Only values 1-10</p>
											            </h4>
											            <div class="g-cell g-cell-1-1 g-cell-md-2-3 g-cell-lg-3-4">
											                <div class="g-group">
											                    <div class="g-cell g-cell-1-2 g-cell-md-1-4 g-cell--no-gutters l-mar-top-3">
											                    	<input type="text" placeholder="1" min="1" max="10" class="sub_donation_ticket_minimum js-order-minimum l-pad-hor-1 sub_ticket_min" id="sub_donation_order_minimum">
											                        <!--input type="text" pattern="[0-9]*" class="sub_donation_ticket_minimum js-order-minimum l-pad-hor-1 sub_ticket_min" id="sub_donation_order_minimum" value="1" name="group-tickets-0-order_minimum"-->
											                        <label for="id_group-tickets-0-order_minimum">Minimum
											                        </label>
											                        <div class="js-error-for-order_min form__field-error"></div>
											                    </div>
											                    <div class="g-cell g-cell-1-2 g-cell-md-1-4 g-cell--no-gutters l-block-h-1 l-mar-top-3">
											                    	<input type="text" placeholder="10" min="1" max="10" class="
											                        sub_donation_ticket_maximum js-order-maximum l-pad-hor-1 sub_ticket_max" id="sub_donation_order_maximum">
											                        <!--input type="text" pattern="[0-9]*" class="
											                        sub_donation_ticket_maximum js-order-maximum l-pad-hor-1 sub_ticket_max" id="sub_donation_order_maximum" placeholder="10" name="group-tickets-0-order_limit"-->
											                        <label for="id_group-tickets-0-order_limit">
											                            Maximum
											                        </label>
											                        <div class="js-error-for-order_limit form__field-error"></div>
											                    </div>
											                </div>
											            </div>
											        </div>
								    			</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
	<!--############### Ends here #########################################-->
					</section>
				</div>
        	</div>
       </div>
       <div class="modal-footer modal_foot">
        	<div class="create_sub_event">
          		<button class="btn btn-default" id="sub_event_button" type="submit" name="save" value="Save">Create Sub Event</button>
          	</div>
        </div>
    </div>
  </div>
</div>
<!--modal end -->	

<!--modal for confirmation-->


    <div id="update_confirm_modal" class="modal fade">

        <div class="modal-dialog">

            <div class="modal-content">

                <div class="modal-header">


                    <h4 class="modal-title">Confirmation</h4>

                </div>

                <div class="modal-body">

                    <p>Event saved successfully</p>

                </div>

                <div class="modal-footer">
                	{% for event in event_data %}

                    <button type="button" class="btn btn-default" id="update_modal_close" data-dismiss="modal" data-id="{{ event.event_id }}">Close</button>
				{% endfor  %}
                    <!--button type="button" class="btn btn-primary">Save changes</button-->

                </div>

            </div>

        </div>

    </div>


<!--ends here-->	


<!--modal for confirmation-->


    <div id="saved_subevent_modal" class="modal fade">

        <div class="modal-dialog">

            <div class="modal-content">

                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                    <h4 class="modal-title">Confirmation</h4>

                </div>

                <div class="modal-body">

                    <p>Sub Event saved successfully</p>

                    <p class="text-warning"><small>To create a new subevent please click:<a id="show_sub_event_modal">
                    Create SubEvent</a> </small></p>

                </div>

                <div class="modal-footer">

                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                    <!--button type="button" class="btn btn-primary">Save changes</button-->

                </div>

            </div>

        </div>

    </div>


<!--ends here-->	

<!--modal for Events list-->


    <div id="events_list" class="modal fade">

        <div class="modal-dialog">

            <div class="modal-content">

                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                    <h4 class="modal-title">Your Events </h4>

                </div>

                <div class="modal-body">

                    <h3>Select an Event to create subevent</h3>
                    {% for name in names_list %}
                    <a data-event-id="{{ name.event_id }}" id="event_subevent_modal"><ul class="events_names_list">
                    		<li>{{ name.event_name }}</li>
                    	</ul>
                    </a>
                    {% endfor %}
                </div>

                <div class="modal-footer">

                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                    <!--button type="button" class="btn btn-primary">Save changes</button-->

                </div>

            </div>

        </div>

    </div>


<!--ends here-->
<script>
function previewFile() {
		  var preview = document.querySelector('img');
		  console.log(preview)
		  var file    = document.querySelector('input[type=file]').files[0];
		  console.log('file',file)
		  var reader  = new FileReader();

		  reader.addEventListener("load", function () {
		    preview.src = reader.result;
		  }, false);

		  if (file) {
		    reader.readAsDataURL(file);
		  }
	}

function previewFile1() {
		  var preview = document.querySelector('#profile_sub');
		  console.log(preview)
		  var file    = document.querySelector('#sub_event_img').files[0];
		  console.log('file1',file)
		  var reader  = new FileReader();

		  reader.addEventListener("load", function () {
		    preview.src = reader.result;
		  }, false);

		  if (file) {
		    reader.readAsDataURL(file);
		  }
	}
</script>
{% endblock %}

{% block footer %}
<div class="col-lg-12 event_footer">
	{% include 'home/footer_third.html' %}

</div>

{% endblock %}