{% extends 'home/index.html' %}

{% load static %}

{% block slider %}

<div class="subevents_slider">
	<div class="container">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<div class="subevents_heading">
					<h1>Edit Sub-Events</h1>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</div>

{% endblock %}

{% block content %}
{% for subevent in subevent_data %}
<div class="subevent_content form">
	<div class="row">
		<div class="col-lg-1"></div>
		<div class="col-lg-10">
			<span id="empty_field_error" class="mendantory_fields" style="display:none;color:red"><p class="error_content"> Please fill all the mendantory fields </p><span id='close_error' class="hide_error">x</span></span>
			<input style="display: none" id="sub_event_id" type="text" name="" value="{{ subevent.sub_event_id }}">
			<!-- Form Fields -->
			<label>SubEvent Title <span class="required">*</span></label>
			<input type="text" name=""  class="sub_event_name" placeholder="Give it a short distinct name" value="{{ subevent.sub_event_name }}" id="subevent_name"><br>

			<label>SubEvent Description <span class="required">*</span></label>
			<input type="text" name="" placeholder="Give it a short description" value="{{ subevent.description }}" id="subevent_desc"><br>

			<label>Venue <span class="required">*</span></label>
			<input type="text" name="" placeholder="venue" value="{{ subevent.venue }}" id="venue"><br>

			<label>Organizer Name <span class="required">*</span></label>
			<input type="text" name="" placeholder="Organizer Name" value="{{ subevent.organizer_name }}" id="organizer_name"><br>

			<label>Organizer Description <span class="required">*</span></label>
			<input type="text" name="" placeholder="Organizer description" value="{{ subevent.organizer_description }}" id="organizer_desc"><br>


			<label>SubEvent Category <span class="required">*</span></label>
			<input type="text" name="" placeholder="SubEvent Category" value="{{ subevent.category }}" id="category"><br>

			<label>SubEvent Starts <span class="required">*</span></label>
			<input size="16" type="text" name="start_time" readonly class="start_time" value="{{ subevent.start_datetime }}"><br>

			<label>SubEvent Ends <span class="required">*</span></label>
			<input size="16" type="text" name="end_time" readonly class="end_time" value="{{ subevent.end_datetime }}">

			<label>Event Banner<span class="required">*</span></label><br>
			<div class="row">
					<div class="sub_event_banner">
						
					   
					   {% for info in subevent.image_data %}
					    <img src="/{{ info.image }}" style="display:inline-block;float:left; position:relative;height:110px;width=70px;">
					    <a href="#" id="update_subevent_banner" data-image_id="{{ info.image_id }}" data-subevent_id="{{ subevent.sub_event_id }}"><i  class="glyphicon glyphicon-remove" style="display:inline-block;float:left; position:relative;padding-right:8px;"></i></a> 
						{% endfor %}
					</div>
				</div>
			<div class="panel panel-default" >
		
						<div id="edit_sub_dropzone" class="dropzone sub_event_dropzone needsclick dz-clickable" id="demo-upload">
              <div class="dz-message needsclick"> <!-- Hidden Field for sub event -->
                <input type="hidden" id ="sub_event_id" value="{{ subevent.sub_event_id }}">
				<input type="hidden" id="subevent_image_count" value="{{ subevent.image_data|length }}">
                Drop files here or click to upload.<br>
                <span class="note needsclick">We recommend using at least a 2160x1080px (2:1 ratio) image that's no larger than 10MB. Learn more.</span>
              </div>
            </div>

				</div><br>	

			<label>Ticket Name <span class="required">*</span></label>
			<input size="16" type="text" id="ticket_name"  value="{{ subevent.ticket_name }}"><br>

			<label>Quantity Available <span class="required">*</span></label>
			<input size="16" type="text" id="ticket_count"  value="{{ subevent.ticket_count }}"><br>

			<label>Price <span class="required">*</span></label>
			<input size="16" type="text" id="ticket_price"  value="{{ subevent.price }}">

			<label>SubEvent Type <span class="required">*</span></label>
			<select id="sub_event_type"> 
				<option  selected="selected">{{ subevent.sub_event_type|capfirst }}</option>  
                <option value="Free">Free</option>
                <option value="Paid">Paid</option>
        	</select><br>

        	<label>Ticket Description</label>
        	<input size="16" type="text" id="ticket_description"  value="{{ subevent.ticket_description }}" ><br>

        	<label>Sale Channel <span class="required">*</span></label>
        	<select id="sale_channel"> 
				<option  selected="selected">{{ subevent.sale_channel|capfirst }}</option>  
                <option value="everywhere">Everywhere</option>
                <option value="online">Online</option>
                <option value="At the door">At the door only</option>
            </select><br>

          <!--   <label>Ticket Sale Starts  <span class="required">*</span></label>
            <input size="16" type="text" id="ticket_start_datetime"  value="{{ subevent.ticket_start_datetime }}"><br>

            <label>Ticket Sale Ends  <span class="required">*</span></label>
            <input size="16" type="text" id="ticket_end_datetime"  value="{{ subevent.ticket_end_datetime }}"><br> -->

	        <label>Ticket Sale Starts <span class="required">*</span></label>	         	        
	        <input size="16" type="text" name="ticket_start_time" readonly class="subevent_sale_start ticket_start_time" value="{{ subevent.ticket_start_datetime }}">
	          	        
	        <label>Ticket Sale Ends <span class="required">*</span></label>	          	          
	        <input size="16" type="text" name="ticket_end_time" readonly class="subevent_sale_end ticket_end_time" value="{{ subevent.ticket_end_datetime }}">
	          
            <label>Minimum Order <span class="required">*</span></label>
            <input size="16" type="text" id="ticket_order_min"  value="{{ subevent.ticket_order_min }}"><br>

            <label>Maximum Order </label>
            <input size="16" type="text" id="ticket_order_max"  value="{{ subevent.ticket_order_max }}">
								

								

			
			<!-- Form Fields Ends -->
		</div>
		<div class="col-lg-1-1"></div>
	</div>
</div>

<div class="loader" style="display: none;"><img class="loader_img" src="/static/images/loader.gif"/> </div>
<div class="col-lg-12">
	<div class="create_last">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>Nice job! You're almost done.</h1>
					<div class="create_button_last">
					<button class="btn btn-default" id="update_subevent_button" type="submit" name="save" value="Save">Save</button>					
					<!--input type="submit" name="event_live" value="Make your event live"-->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="confirm_modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Confirmation</h4>
                </div>
                <div class="modal-body">
                	<h4>Congrats !!!!</h4>
                    <p>SubEvent is updated successfully</p>                   
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <!--button type="button" class="btn btn-primary">Save changes</button-->
                </div>
            </div>
        </div>
</div>
{% endfor %}
<script>
function previewFile() {
		  var preview = document.querySelector('#update_profile_sub');
		  console.log(preview)
		  var file    = document.querySelector('#subevent_update_img').files[0];
		  console.log('file',file)
		  var reader  = new FileReader();

		  reader.addEventListener("load", function () {
		    preview.src = reader.result;
		  }, false);

		  if (file) {
		    reader.readAsDataURL(file);
		  }
	}

</script>
{% endblock %}