{% extends 'dashboard/account_settings.html' %}
{% load static %}

{% block setting_content %}
<!--div class="col-md-9"-->
    <div class="g-vertical-group g-cell-12-12 g-cell-lg-9-12 l-mar-top-4">
        <div class="g-cell g-cell-1-1">
            <section class="show-large">
                <header>
                    <h2 class="text-heading-primary">Email Preferences</h2>
                </header>
            </section>
        </div>
        <div class="g-cell g-cell-1-1 l-pad-vert-2"><hr></div>

        <div class="g-cell g-cell-1-1">
            <form method="POST" class="l-mar-top-stack responsive-form" id="email_preferences_form">
                <div style="display:none"><input type="hidden" value="U2fPA6JZPWWM8dlunP0toawMW7Z4eskR" name="csrfmiddlewaretoken"></div>
                <section>
                    <div class="l-pad-bot-3">
                        <h3 class="text-heading-secondary l-mar-top-2">
                            Attending Events
                        </h3>
                        <p>
                            News and updates about events created by event organizers
                        </p>
                    </div>
                </section>

                <section>
                    <h4 class="label-primary-email">Email me</h4>
                    <div class="l-mar-top-1 responsive-form__checkbox">
                        <input type="checkbox" name="attendee_new_features" id="id_attendee_new_features" data-check="{}" checked="checked">
                        <label for="id_attendee_new_features">Updates about new events features and announcements</label>
                        <label for="id_attendee_new_features" class="js-xd-radio-button-toggle custom-input--delegate">Updates about new events features and announcements</label>
                    </div>
                    <div class="l-mar-top-1 responsive-form__checkbox">
                        <input type="checkbox" name="attendee_newsletter" id="id_attendee_newsletter" data-check="{}">
                        <label for="id_attendee_newsletter">A digest of personalized event recommendations</label>
                        <label for="id_attendee_newsletter" class="js-xd-radio-button-toggle custom-input--delegate">A digest of personalized event recommendations</label>
                    </div>
                    <div class="l-mar-top-1 responsive-form__checkbox">
                        <input type="checkbox" name="user_rate_event" id="id_user_rate_event" data-check="{}" checked="checked">
                        <label for="id_user_rate_event">Requests for additional information on an event after you have attended</label>
                        <label for="id_user_rate_event" class="js-xd-radio-button-toggle custom-input--delegate">Requests for additional information on an event after you have attended</label>
                    </div>
                    <div class="divider"></div>
                    <div class="l-mar-top-1 responsive-form__checkbox">
                        <input type="checkbox" name="attendee_commercial_unsubscribe" id="id_attendee_commercial_unsubscribe" data-check="{}">
                        <label for="id_attendee_commercial_unsubscribe">Unsubscribe from all events newsletters and updates for attendees</label>
                        <label for="id_attendee_commercial_unsubscribe" class="js-xd-radio-button-toggle custom-input--delegate">Unsubscribe from all events newsletters and updates for attendees</label>
                    </div>
                </section>

                <section class="l-mar-top-4">
                    <h4 class="label-primary-email">Notifications</h4>
                    <div class="l-mar-top-1 responsive-form__checkbox">
                        <input type="checkbox" name="attendee_social_notifications" id="id_attendee_social_notifications" data-check="{}" checked="checked">
                        <label for="id_attendee_social_notifications">When friends buy tickets or register for events near me</label>
                        <label for="id_attendee_social_notifications" class="custom-input--delegate">When friends buy tickets or register for events near me</label>
                    </div>
                </section>



                <section>
                    <div class="l-pad-vert-3 l-mar-top-6">
                        <h3 class="text-heading-secondary">
                            Organizing Events
                        </h3>
                        <div>
                            Helpful updates and tips for organizing events on events
                        </div>
                    </div>
                </section>

                <section>
                    <h4 class="label-primary-email">Email me</h4>
                    <div class="l-mar-top-1 responsive-form__checkbox">
                        <input type="checkbox" name="organizer_new_features" id="id_organizer_new_features" data-check="{}" checked="checked">
                        <label for="id_organizer_new_features">Updates about new events features and announcements</label>
                        <label for="id_organizer_new_features" class="js-xd-radio-button-toggle custom-input--delegate">Updates about new events features and announcements</label>
                    </div>
                    <div class="l-mar-top-1 responsive-form__checkbox">
                        <input type="checkbox" name="organizer_newsletter" id="id_organizer_newsletter" data-check="{}" checked="checked">
                        <label for="id_organizer_newsletter">Monthly tips and tools for organizing events</label>
                        <label for="id_organizer_newsletter" class="js-xd-radio-button-toggle custom-input--delegate">Monthly tips and tools for organizing events</label>
                    </div>
                    <div class="divider"></div>
                    <div class="l-mar-top-1 responsive-form__checkbox">
                        <input type="checkbox" name="organizer_commercial_unsubscribe" id="id_organizer_commercial_unsubscribe" data-check="{}">
                        <label for="id_organizer_commercial_unsubscribe">Unsubscribe from all events newsletters and updates for event organizers</label>
                        <label for="id_organizer_commercial_unsubscribe" class="js-xd-radio-button-toggle custom-input--delegate">Unsubscribe from all events newsletters and updates for event organizers</label>
                    </div>
                </section>

                <section class="l-mar-top-4">
                    <h4 class="label-primary-email">Notifications</h4>
                    <div class="l-mar-top-1 responsive-form__checkbox">
                        <input type="checkbox" name="organizer_notifications" id="id_organizer_notifications" data-check="{}" checked="checked">
                        <label for="id_organizer_notifications">Important reminders for my next event</label>
                        <label for="id_organizer_notifications" class="custom-input--delegate">Important reminders for my next event</label>
                    </div>
                    <div class="l-mar-top-1 responsive-form__checkbox">
                        <input type="checkbox" name="organizer_send_order_confirmations" id="id_organizer_send_order_confirmations" data-check="{}" checked="checked">
                        <label for="id_organizer_send_order_confirmations">Order confirmations from my attendees</label>
                        <label for="id_organizer_send_order_confirmations" class="custom-input--delegate">Order confirmations from my attendees</label>
                    </div>
                </section>

                <section class="l-mar-top-4">
                    <input type="submit" value="Save Preferences" class="btn">
                </section>

            </form>
        </div>
    </div>
<!--/div-->
{% endblock %}
{% block shipping %}{% endblock %}

{% block footer %}

{% include 'home/footer_second.html' %}

{% endblock %}