{% extends 'dashboard/account_settings.html' %}
{% load static %}

{% block setting_content %}
<!--div class="col-md-9"-->
	<div class="g-vertical-group g-cell-12-12 g-cell-lg-9-12 l-mar-top-4">
		<header class="g-cell g-cell-9-9">
		    <h1 class="text-heading-primary">Extension Management</h1>
		    <hr class="l-mar-top-2">
		</header>

		<p class="g-cell g-cell-9-9 l-mar-top-2 text-secondary">
		    You've authorized these extensions to access your events account.
		</p>

		<section class="g-cell g-cell-9-9 l-mar-top-2">

		    <table class="js-d-table-stacked responsive-table responsive-table--stacked" dorsal-guid="dad104de-e349-5c29-e727-252af732e018" data-xd-wired="table-stacked">
		        <thead>
		            <tr>
		                <th>Extension Name</th>
		                <th>Description</th>
		                <th>Installed</th>
		                <th>Actions</th>
		            </tr>
		        </thead>
		        <tbody>
		        </tbody>
		    </table>
		</section>
	</div>
<!--/div-->
{% endblock %}
{% block shipping %}{% endblock %}

{% block footer %}

{% include 'home/footer_second.html' %}

{% endblock %}