{% block footer %}

<div class="cookies_footer">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<h4>We can totally help you:</h4>
				<a href="#">Find your tickets</a><br>
				<a href="#">Understand events fees</a><br>
				<a href="#">Check your payout status</a><br>
				<a href="#">Request a refund</a><br>
			</div>
			<div class="col-md-3">
				<h4>More Resources:</h4>
				<a href="#">Developer Site</a><br>
				<a href="#">events Blog</a><br>
				<a href="#">Download the events App for Android</a><br>
				<a href="#">Download the events App for iOS</a><br>
				<a href="#">Download the events Organizer app for iOS</a><br>
			</div>
			<div class="col-md-3">
				<h4>Get in Touch:</h4>
				<a href="#">Twitter</a><br>
				<a href="#">Facebook</a><br>
				<a href="#">YouTube</a><br>
				<a href="#">Contact Support</a><br>
			</div>
			<div class="col-md-3">
				<h4>About Us</h4>
				<a href="#">About Support</a><br>
				<a href="#">Careers</a><br>
				<a href="#">Press</a><br>
			</div>
		</div>
		<hr>
		<p>© 2016 events. All Rights Reserved. Terms of Service. Privacy Policy. Cookies. </p>
		<hr>
	</div>
</div>

{% endblock %}