
{% load google_contacts %}

<p>
{% if google_state %}
  Using imported contacts from Gmail 
  [<a href="{% google_auth_url request %}">stop using</a>]
{% else %}
  Import contacts from <a href="{% google_auth_url request %}">Gmail</a>
{% endif %}
</p>

{% if google_contacts %}
<ul>
  {% for contact in google_contacts %}
  <li>{{ contact }}</li>
  {% endfor %}
</ul>
{% endif %}
