{% extends 'dashboard/account_settings.html' %}
{% load static %}
{% block setting_content %}
<!--div class="col-md-9"-->
<div class="g-vertical-group g-cell-12-12 g-cell-lg-9-12 l-mar-top-4">
	<div class="g-cell g-cell-1-1">
	    <h2 class="text-heading-primary">Invoices</h2>
	</div>
	<div class="g-cell g-cell-1-1 l-pad-vert-2"><hr>
	</div>
	<div class="g-cell g-cell-1-1">
	    <div class="notification notification--info">
	        You have no invoices.
	    </div>
		<section class="l-mar-top-4"> 
			<h1 class="text-heading-secondary l-mar-top-2">Invoice FAQ</h1>
			<div class="l-mar-top-2 text-body-small">
			    <h2 class="text-body-large text-body--significant l-pad-bot-1">I thought the attendee/ticket buyer was paying the fee. Why did I receive this invoice?</h2>

			    <p>We sent you this invoice to collect the Events Service Fees paid by your attendees for the tickets you sold. When using a third-party payment processor (such as PayPal, Google Checkout, or Authorize.net) or an offline payment method, you receive all payments directly into your account. This includes the Events Service Fee that your attendees paid (whether the fees were passed on to your attendee or included in the ticket price). <a href="https://www.Events.com/support/articleredirect?anum=4213">Learn more about Events's invoicing system</a></p>

			    <h2 class="text-body-large text-body--significant l-pad-bot-1 l-mar-top-4">When is my payment due?</h2>

			    <p>Your payment is due within 30 days of the invoice date. The invoice due date is displayed next to the Pay Now button when viewing your invoice on the <a href="/invoices">invoices section of My Account.</a></p>

			    <h2 class="text-body-large text-body--significant l-pad-bot-1 l-mar-top-4">What do the terms in the invoice section of my account mean?</h2>
			    <div class="prose">
			        <ul>
			            <li>Ticket Sales refers to the total amount of sales processed through Events for a given invoice or event. This number does not include Events Fees.</li>
			            <li>Events Fee is a small service fee we charge for every ticket you sell. See our fee structure <a href="/fees">here</a>.</li>
			            <li>Invoice Period is the timeframe for which you are being invoiced. Events sends an invoice at the beginning of each month for fees collected in the previous month.</li>
			            <li>Price is the amount of money that you as the event organizer will receive per ticket. It does not include Events Fees.</li>
			            <li>Payment Received refers to the amount of money paid by the attendee for an order. This number factors in the ticket price, quantity per ticket, Events Fee, and Tax (if applicable).</li>
			            <li>Taxes Collected is the total amount of taxes collected for all orders within an event.</li>
			            <li>Tax refers to the amount of tax charged for a given order. This column only appears when tax has been enabled for an event within your account. See info about charging tax <a href="https://www.Events.com/support/articleredirect?anum=3573">here</a>.</li>
			        </ul>
			    </div>

			    <h2 class="text-body-large text-body--significant l-pad-bot-1 l-mar-top-4">How do I see the itemized fees for all of my orders? </h2>
			    <p>Click on the invoice number to see invoice details for your event. </p>

			    <h2 class="text-body-large text-body--significant l-pad-bot-1 l-mar-top-4">Can I pay my invoice with my credit/debit card or directly from my bank account? </h2>
			    <p>You can pay online using your credit card, debit card, or PayPal account.</p>

			    <h2 class="text-body-large text-body--significant l-pad-bot-1 l-mar-top-4">If I don't want to pay this invoice online, can I send you a check in the mail?</h2>
			    <p>If you collected payment in US dollars for your event, you can pay by check. For events in all other currencies, you must pay online. </p>

			    <p><strong>For events in US dollars, please make checks payable to 'Events' with the invoice number and/or your account email address on the check, and include a print out of your invoice. Mail to:</strong></p>

			        Events, Inc<br>
			        P.O. Box 204845<br>
			        Dallas, TX 75320-4845<br>
			    <h2 class="text-body-large text-body--significant l-pad-bot-1 l-mar-top-4">Can I pay all of my invoices at once?</h2>
			    <p>If you pay online, you can't pay all of your invoices at once. You'll have to process each invoice separately.  If you pay by check, you can write one check for all of your invoices for the full amount. Please include the invoice numbers and/or your account email address on your check and a print out of your invoices, then follow the instructions to pay by check. </p>
			    <h2 class="text-body-large text-body--significant l-pad-bot-1 l-mar-top-4">I already sent in a check payment for an invoice. Why did I receive this invoice notification?</h2>
			    <p>It takes about 10 business days from the time Events receives your check for your account to be updated. If you sent your payment for this invoice to us, you can disregard this notice. You'll receive an email confirmation from our billing department when we've received and processed your check payment.</p>

			    <h2 class="text-body-large text-body--significant l-pad-bot-1 l-mar-top-4">What happens if I refund a transaction after I pay my invoice? </h2>

			    <p>If you refund an order after the invoice has been generated for that month, a fee credit will automatically be applied to the next invoice we issue. If you have no future invoices, you'll need to contact <a href="/support/contact-us">Customer Support</a> for assistance.</p>


			    <h2 class="text-body-large text-body--significant l-pad-bot-1 l-mar-top-4">How often will I receive an invoice?</h2>
			    <p>Events sends an invoice at the beginning of each month for fees collected in the previous month. There's no recurring monthly, set-up, or hidden charges. If you don't owe any fees, you won't receive an invoice. <a href="/fees">Learn more about Events's fees</a></p>
			</div><!-- end panel_body -->
		</section>

	</div>
</div>
<!--/div-->
{% endblock %}
{% block shipping %}{% endblock %}

{% block footer %}

{% include 'home/footer_second.html' %}

{% endblock %}