{% extends 'home/index.html' %}

{% load static %}

{% block slider %}

<div class="particular_slider">
	<div class="container">
		<div class="row">
			<div class="col-lg-1"></div>
			<div class="col-lg-10">
				<div class="row">
					<div class="col-lg-8 particular_top">
						{% for event in event_data%}
						<h1>{{ event.name }}</h1>
						{% if event.publish_event == '0' %}
						<span id="particular_span">Draft</span>
						{% else %}
						<span id="particular_live_span">Live</span>
						{% endif %}
						<h4 style="font-size:20px;margin-bottom:12px;margin-top:4px;padding-left:2px">{{ event.city }} | {{ event.country }}</h4>
						<h3>From : </h3>
						<h4>{{ event.time_start }}</h4>
						<h3>To : </h3>
						<h4>{{ event.time_end }}</h4>
						<h4 id="manage_event_id" style="display:none" data-id="{{ event.event_id }}">{{ event.event_id }}</h4>
						<h4 id="manage_event_id2" style="display:none" data-id="{{ event.event_id }}">{{ event.event_id }}</h4>
						{% endfor %}
						<!--{{ event_data }}
						{{ event_ticket_data }}-->
					</div>
					<div class="col-lg-4 particular_slider_right">
						{% for event in event_data%}
						{% if event.publish_event == '0' %}
						<button class="event_publish" id="particular_preview">Make Event Live</button>
						{% endif %}
						<button id="particular_makelive">Preview</button>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="col-lg-1"></div>
		</div>
	</div>
</div>

{% endblock %}
{% block dropzone  %}
<script src="{% static 'dropzone/dropzone.js' %}"></script>
{% endblock %}

{% block content %}

<div class="particular_tab">
	<!--ul class="nav nav-pills particular_tab_pills">
	  <li role="presentation" class="active"><a class="particular_tab_anchor" 
	  href="#particular_manage_tab">Manage</a></li>
	  <li role="presentation"><a class="particular_tab_anchor" href="#particular_design_tab">Design</a></li>
	  <li role="presentation"><a class="particular_tab_anchor" href="#">Edit</a></li>
	</ul-->
	{% for event in event_data%}
	<ul class="tab tab_particular">
  		<li><a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'London')" id="defaultOpen">Manage</a></li>
  		<li><a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'Paris')">Design</a></li>
  		<li><button style="background: none;border: none" class="edit_particular_event" id="edit_particular_event" data-id="{{ event.event_id }}" data-publish_flag="{{ event.publish_event }}"><a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'Tokyo')">Edit</a></button></li>
	</ul>
	{% endfor %}
</div>

<!-- Manage Tab -->


<div id="London" class="tabcontent">
<div id="particular_manage_tab" class="particular_content">
	<div class="conatiner">
		<div class="row">
			<div class="col-lg-1"></div>
			<div class="col-lg-10">
				<div  class="row">
					<div class="col-lg-4">
						<div class="particular_accordion">
							<button class="accordion">Event Dashboard</button>
							<button class="accordion">Order Options</button>
							<div class="panel">
	  							<ul>
	  								<li><a id="order_options1" href="">Order Form</a></li>
	  								<li><a id="order_options2" href="">Order Confirmation</a></li>
	  								<li><a id="order_options3" href="">Event Type & Language</a></li>
	  								<li><a id="order_options4" href="">Waitlist</a></li>
	  							</ul>
							</div>
							<button class="accordion">Invite & Promote </button>
							<div id="foo" class="panel">
	  							<ul>
	  								<li><a id="invite_promote1" href="">Publish to Facebook</a></li>
	  								<li><a id="invite_promote2" href="">Email Invitations</a></li>
	  								<li><a id="invite_promote3" href="">Discount & Access Codes</a>
	  								</li>
	  								<li><a id="invite_promote4" href="">Widgets</a></li>
	  								<li><a id="invite_promote5" href="">Tracking Links</a></li>
	  								<li><a id="invite_promote6" href="">Affiliate Programs</a></li>
	  								<li><a id="invite_promote7" href="">Social Stream</a></li>
	  							</ul>
							</div>
							<button class="accordion">Analyze</button>
							<div id="foo" class="panel">
	  							<ul>
	  								<li><a href="">Analytics</a></li>
	  								<li><a href="">Charts</a></li>
	  								<li><a href="">Event Reports</a></li>
	  								<li><a href="">Tracking Pixels</a></li>
	  							</ul>
							</div>
							<button class="accordion">Manage Attendees</button>
							<div id="foo" class="panel">
	  							<ul>
	  								<li><a href="">Orders</a></li>
	  								<li><a href="">Add Attendees</a></li>
	  								<li><a href="">Emails to Attendees</a></li>
	  								<li><a href="">Guest List</a></li>
	  								<li><a href="">Name Badges</a></li>
	  								<li><a href="">Check-in</a></li>
	  							</ul>
							</div>
							<button class="accordion">Extensions</button>
							<div id="foo" class="panel">
	  							<ul>
	  								<li><a href="">SurveyMonkey</a></li>
	  								<li><a href="">Export Attendees</a></li>
	  								<li><a href="">Waivers & Forms</a></li>
	  								<li><a href="">Membership Management</a></li>
	  								<li><a href="">MailChimp Sync</a></li>
	  								<li><a href="">Browse All</a></li>
	  							</ul>
							</div>
						</div>
					</div>
					<div class="particular_content_right">
						<div class="col-lg-8">
							<div class="row">
								<div class="col-lg-8"></div>
								<div  class="col-lg-4 manage_publish">
									<ul>{% for event in event_data%}
										{% if event.publish_event == '0' %}
										<li><button class="event_publish" id="event_publish" data-id="{{ event.event_id }}">Publish</button></li>
										{% else %}
										<li><button id="event_unpublish" data-id="{{ event.event_id }}">Unpublish</button></li>
										{% endif %}
										{% endfor %}
										<li><a href="">Copy</a></li>
										<li><a href="">Delete</a></li>
										<li><a href="">Cancel</a></li>
									</ul>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-8">
									<h2>Event Dashboard</h2>
								</div>
								<div class="col-lg-4">
									<input type="text" name="" placeholder="Find Attendees">
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="particular_right_second">
									<div class="col-lg-4">
										<h5>Missing info</h5>
										<p>Your event will be ready to make live as soon as you:</p>
										<a href="">Enter an event title</a><br>
										<a href="">Add tickets to your event</a>
									</div>
									<div class="col-lg-4">
										<h5>Public</h5>
										<a href="">[edit]</a>
										<p>Your event will be listed and searchable once it's live.</p>
									</div>
									<div class="col-lg-4">
										<input type="text" name="" id="advance" disabled> 
										<h5>Tickets Sold</h5>
										{% for ticket in event_ticket_data %}
										<span id="total_event_ticket" data-id="{{ ticket.count }}"> / {{ ticket.count }} </span>
										{% endfor %}
										
										    <div id="bar-basic">
										   
										    </div><br>
										    <br>
										
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-8">
									<div class="particular_tab_small">
										<ul>
											<li><button id="particular_tickets">Tickets</button>
											</li>
											<li><button id="particular_invite">Invite</button></li>
											<li><button id="particular_visits">Visits</button></li>
											</ul>
										<div id="manage_tab_tickets" class="manage_tab_tickets">
											<div class="row">
												<div class="col-lg-6">
													<table>
														<tr>
															<td id="manage_tic_td1">Tickets Sold</td>
															
															<td ><input type="text" name="" id="table_booked" disabled="" class="table_booked"></td>
															
														</tr>
														<tr id="manage_tic_tr">
															<td id="manage_tic_td2">Tickets Pending</td>
															
															<td><input type="text" name="" id="table_pending" disabled="" class="table_pending"></td>
															
															
														</tr>
													</table>
												</div>
												<div class="col-lg-6">
													<div id="chartContainer" style="height: 300px; width: 100%;">
  													</div>
												</div>
											</div>
										</div>
										<div id="manage_tab_invite" class="manage_tab_invite"  style="display:none">
											<div class="row">
												<div class="col-lg-6">
													<table>
														<tr>
															<td  id="manage_invite">Invitations Send</td>
															<td>0</td>
														</tr>
													</table>
													<p>Reach your audience!</p>
													<button>Send Email Invitations</button>
												</div>
												<div class="col-lg-6">
													<div class="tab_invite_right">
														<h5>Invitations Opened</h5>
														<p>0</p>
														<span>%</span>
														<h5>Invitation Conversion Rate</h5>
														<p>0</p>
														<span>%</span>
													</div>
												</div>
											</div>
										</div>
										<div id="manage_tab_visit" style="display:none" class="manage_tab_visit">
											<div class="row">
												<div class="col-lg-6">
													<table>
														<tr>
															<td id="manage_visit">Page Visits</td>
															<td>0</td>
														</tr>
													</table>
												</div>
												<div class="col-lg-6">
													<!--div id="chartContainer" style="height: 400px; width: 100%;"></div-->
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-4"></div>
							</div>
							<div  class="row">
								<div class="col-lg-12">
									<div class="particular_right_third">
										<label>Your Event URL</label>
										<input type="text" name="">
										<a href="">Edit</a>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="particular_right_forth">
										<h4>Recent Orders</h4>
										<span>No orders for this event yet. </span>
										<h4>Sales by Ticket Type </h4>
										<span>Create a Ticket Type in <a href="">Step 2</a> to publish your event.</span>
										<h4>Traffic from Promotional Tools </h4>
										<input type="text" name="">
									</div>
									<div class="attendees_info">
										<table class="attendees_table">
											<tr>
												<th class="table_heading">Booking-ID</th>
												<th class="table_heading">Booking Date</th>
												<th class="table_heading">First Name</th>
												<th class="table_heading">Last Name</th>
												<th class="table_heading">E-Mail</th>
												<th class="table_heading">Quantity</th>
												<th class="table_heading">Ticket Name</th>
												<th class="table_heading">Total Payment</th>
												<th class="table_heading">Portal Fee</th>
												<th class="table_heading">Attendee Status</th>
											</tr>
											{% for booked in booked_tickets %}
											<tr>
												<td class="table_data">{{ booked.transaction_id }}</td>
												<td class="table_data">{{ booked.timestamp }}</td>
												<td class="table_data">{{ booked.first_name }}</td>
												<td class="table_data">{{ booked.last_name }}</td>
												<td class="table_data">{{ booked.email_address }}</td>
												<td class="table_data">{{ booked.quantity_booked }}</td>
												<td class="table_data">{{ booked.tic_name }}</td>
												<td class="table_data">{{ booked.total_payment }}</td>
												<td class="table_data">{{ booked.portal_fee }}</td>
												<td class="table_data">{{ booked.attendee_status }}</td>
											</tr>
											{% endfor %}
										</table>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="particular_right_fifth">
									<div class="col-lg-6">
										<h5>Promote your event</h5>
										<p>Use our tools to spread the word about your event and reach more people:</p>
										<p><a href=""> Publish and promote your event on Facebook</a>
										without leaving Eventbrite </p>
										<p> Send personalized invitations to your guests with <a href="">Eventbrite's free email invitations</a> or through one of our <a href="">email marketing partners</a>.</p>
										<p> Reach new audiences with one of our <a href="">social media marketing services</a> or <a href="">distribution partners</a>.</p>
									</div>
									<div class="col-lg-6">
										<h5>Analyze your results</h5>
										<p>Once you start getting more traffic from Eventbrite's promotional tools, a chart will show which tools are bringing the most visits and sales.</p>
										<img src="{% static 'images/promochartpie.png' %}">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="particular_right_last">
									<div class="col-lg-12">
										<h4>Your Links </h4>
										<input type="text" name="">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-1"></div>
		</div>
	</div>
</div>
</div>
<!-- Design Tab -->
<div id="Paris" class="tabcontent">
<div id="particular_design_tab" class="particular_event_design">
	<div class="container">
		<div class="row">
			<div class="col-lg-1"></div>
			<div class="col-lg-10">
				<input type="checkbox" name=""><p>Publicly show registered attendees on your event listing.</p><br>
				<input type="checkbox" name=""><p>Spark interest by showing visitors which of their Facebook friends are going</p>
			</div>
			<div class="col-lg-1"></div>
		</div>
	</div>
</div>
</div>

<!--modal for confirmation-->


    <div id="live_confirm_modal" class="modal fade">

        <div class="modal-dialog">

            <div class="modal-content">

                <div class="modal-header">


                    <h4 class="modal-title">Congrats!!!</h4>

                </div>

                <div class="modal-body">

                    <p>Your Event Is Live Now</p>

                </div>

                <div class="modal-footer">
                	{% for event in event_data %}

                    <button type="button" class="btn btn-default" id="live_modal_close" data-dismiss="modal" data-id="{{ event.event_id }}">Close</button>
				{% endfor  %}
                    <!--button type="button" class="btn btn-primary">Save changes</button-->

                </div>

            </div>

        </div>

    </div>


<!--ends here-->

<!--modal for confirmation-->


    <div id="notlive_confirm_modal" class="modal fade">

        <div class="modal-dialog">

            <div class="modal-content">

                <div class="modal-header">


                    <h4 class="modal-title">Confirmation</h4>

                </div>

                <div class="modal-body">

                    <p>Your Event Is Not Live</p>

                </div>

                <div class="modal-footer">
                	{% for event in event_data %}

                    <button type="button" class="btn btn-default" id="notlive_modal_close" data-dismiss="modal" data-id="{{ event.event_id }}">Close</button>
				{% endfor  %}
                    <!--button type="button" class="btn btn-primary">Save changes</button-->

                </div>

            </div>

        </div>

    </div>


<!--ends here-->

{% endblock %}


{% block js %}

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
    acc[i].onclick = function(){
        this.classList.toggle("active");
        this.nextElementSibling.classList.toggle("show");
  }
}

function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();

</script>
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="https://use.fontawesome.com/04d7fa298c.js"></script>
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<script src="https://use.fontawesome.com/04d7fa298c.js"></script>
  	<script src="{% static 'js/validations.js'%}"></script>
  	<!--script type="text/javascript" src="{% static 'js/countries.js' %}"></script-->
	
	<!--script src="https://code.jquery.com/jquery-1.12.4.js"></script-->
  	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	
  	<script src="{% static 'js/bootstrap-brogressbar-manager.js' %}"></script>
  	<script src="{% static 'js/bootstrap-brogressbar-manager.min.js' %}"></script>
  	<script src="{% static 'js/canvasjs.min.js' %}"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
  	
<script>
$(document).ready(function(){
	var event_id=$('#manage_event_id2').attr('data-id');
	params={'event_id':event_id}

	setInterval(function(){
		$.ajax({
                            type:"POST",
                            url:"/dashboard/manage_progressbar/",
                            data: params,
                            success: function(quantity_booked) {
								$('#advance').val(quantity_booked)
								$('#table_booked').val(quantity_booked)
							    }

            });
		
	var booked_ticket=$('#advance').val();
    var total_ticket=$('#total_event_ticket').attr('data-id');
    var ticket_pending=total_ticket-booked_ticket
    $('#table_pending').val(ticket_pending)
	bar1 = $('#bar-basic').progressbarManager({
	totalValue : total_ticket,
	});
		bar1.setValue(booked_ticket);
		

	  	var _gaq = _gaq || [];
	  	_gaq.push(['_setAccount', 'UA-36251023-1']);
	  	_gaq.push(['_setDomainName', 'jqueryscript.net']);
	  	_gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	  $( ".progress" ).prev().css( "display", "none" );
	  $( ".table_pending" ).prev().css( "display", "none" );
	  $( ".table_booked" ).prev().css( "display", "none" );
	  }, 3000);
});

</script>
<!--script type="text/javascript">
	window.onload = function() {
		var chart = new CanvasJS.Chart("chartContainer", {
			title: {
				text: "Line Chart"
			},
			axisX: {
				interval: 10
			},
			data: [{
				type: "line",
				dataPoints: [
				  { x: 10, y: 20 },
				  { x: 20, y: 30 },
				  { x: 30, y: 30 },
				  { x: 40, y: 60 },
				  { x: 50, y: 70 },
				  { x: 60, y: 75 },

				]
			}]
		});
		chart.render();
	}
	</script-->
  <script type="text/javascript">
  
  window.onload = function () {
  	var data_time1='';
  	var data_quantity1='';
  	var event_id=$('#manage_event_id').attr('data-id');
  	var data_time=[];
  	var data_quantity=[];
  	params={'event_id':event_id}
  		$.ajax({
                            type:"POST",
                            url:"/dashboard/manage_ticketgraph/",
                            data: params,
                            success: function(data) {
                            	//console.log('sachin',data.tickets_data)
                            	var data_list = data.tickets_data
                            	//for(var i=0;i<=data_list.length;i++){
                            		//if(data_list[i]['timestamp'])
                            	//}

                            	/************Test********************/
                            	var countries = {}
								var countries_count = {}
								var newArraySeries = []
								graph_data=[]
								graph_dict={}
								data_list.forEach(
								    function(e){
								    	console.log(e['timestamp'])
								        if(!countries[e['timestamp']]){
								            countries[e['timestamp']] = 0
								            countries_count[e['timestamp']] = 0
								        }
								        countries[e['timestamp']] += e['quantity']
								        countries_count[e['timestamp']]++
								    }
								)
								//console.log('countries',countries)
  								var quantity_arr = Object.keys(countries).map(function (key) { return countries[key]; });
  									time_array=[]
								for(var country in countries){
									//console.log(country)
									time_array.push(country)
									    //newArraySeries.push({'timestamp' : e['timetsamp'], 'quantity' : countries[country] / countries_count[country]})
									}

									

								
								
								//console.log('len',time_array.length)
								for(var t in time_array){
									graph_dict={}
									for(var q in quantity_arr){
										if (q==t) {
											graph_dict.x=t
											graph_dict.y=q
											//console.log('t>>',graph_dict.x)
											//console.log('q>>>',graph_dict.y)
											graph_dict.x=time_array[t]
											graph_dict.y=quantity_arr[q]
											graph_data.push(graph_dict)
										}
										
									}
								}
								for( obj in graph_data){
									var time_val=graph_data[obj]['x']
									var new_date=time_val.split("-");
									date_value=new_date[2]
									month_value=new_date[1]
									year_value=new_date[0]
									final_date=year_value+'-'+month_value+'-'+date_value
									graph_data[obj]['x']=Date.parse(final_date)
								}	
						

								

                            	/**********endhere***************/
                            	var chart = new CanvasJS.Chart("chartContainer",

								    {
								      zoomEnabled: true,      
								     axisX: {
										interval: 10
										}, 

								     data: [
								     {     

								      type: "area",
								      xValueType: "dateTime",
								      dataPoints: graph_data,
								      
								    }

								    ]
								  });
									
								    chart.render();
								    
						}

            });
  	
    
  }
  </script>

{% endblock %}