{% extends 'home/index.html' %}
{% load static %}
{% block slider %}
{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="manage_events col-lg-12">
		<div  class="col-lg-11">
			<h2>My Events</h2>
			<div class="particular_tab_manage">
				<ul class="tab tab_particular" id="tab_particular">
			  		<li><a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'London')" id="defaultOpen">DRAFT</a></li>
			  		<li><a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'Paris')">LIVE</a></li>
				</ul>
				<!--  London Start -->
				<div class="col-lg-12">				
					<div id="London" class="tabcontent">					
									{% for event in events_data %}
										{% if event.publish_event == '0' %}
										<div class="london-tab" id="draft">								
											<div class="row">						
												<div class="col-lg-4 manage_events_left">
													<ul class="manage_list">
														<li><h5>{{ event.name|upper }}</h5></li>
														<li><h6>{{ event.start_time }}</h6></li>
														<li><button id="manage_particular_event" class="btn btn-success  manage_particular_event" data-id="{{ event.event_id }}">Manage</button></li>
														<li><a href="event/{{ event.event_id }}"><button class='btn btn-success' id="view_particular_event">View</button></a></li>
														<li><button class="btn btn-success edit_particular_event" id="edit_particular_event" data-id="{{ event.event_id }}">Edit</button></li>
														<li><button class="btn btn-success delete_particular_event" id="delete_particular_event" data-id="{{ event.event_id }}">Delete</button></li>

														{% if event.flag == 1 %}
															<li><button class="btn btn-success edit_this_event" id="edit_this_event" data-id="{{ event.event_id }}">View Sub Events</button></li>
														{% endif %}
														{% if event.flag == 0 %}
															<li><button class="btn btn-success disabled" id="edit_this_event">No Sub Events</button></li>
														{% endif %}
													</ul>
												</div>		
												<div class="col-lg-8" style="padding-top:20px;">
													<h1>Images</h1>
													{% for img in event.image %}
													<img style="height:150px;width:150px;" src="/{{ img }}">
													{% endfor %}
												</div>
											</div>
										</div>
										{% endif %}
									{% endfor %}					
					</div>
				</div>
				<!--  London End -->
				<!--  Paris Start -->
			
				<div class="col-lg-12">	
					<div id="Paris" class="tabcontent">	
							{% for event in events_data %}
								{% if event.publish_event == '1' %}
									<div class="row">										
										<div class="col-lg-4 manage_events_left">
											<ul class="manage_list">
												<li><h5>{{ event.name|upper }}</h5></li>
												<li><h6>{{ event.start_time }}</h6></li>
												<li><button id="manage_particular_event" class="btn btn-success  manage_particular_event" data-id="{{ event.event_id }}">Manage</button></li>
												<li><a href="event/{{ event.event_id }}"><button class='btn btn-success' id="view_particular_event">View</button></a></li>
												<li><button class="btn btn-success edit_particular_event" id="edit_particular_event" data-id="{{ event.event_id }}" data-publish_flag="{{ event.publish_event }}">Edit</button></li>
												<li><button class="btn btn-success delete_particular_event" id="delete_particular_event" data-id="{{ event.event_id }}">Delete</button></li>
												{% if event.flag == 1 %}
													<li><button class="btn btn-success edit_this_event" id="edit_this_event" data-id="{{ event.event_id }}">View Sub Events</button></li>
												{% endif %}
												{% if event.flag == 0 %}
													<li><button class="btn btn-success disabled" id="edit_this_event">No Sub Events</button></li>
												{% endif %}
											</ul>
										</div>		
										<div class="col-lg-8" style="padding-top:20px";>
												<h1>Images</h1>
												{% for img in event.image %}
													<img style="height:150px;width:150px;" src="/{{ img }}">
												{% endfor %}
										</div>
									</div>
								{% endif %}
							{% endfor %}																
					</div>
				</div>			
			<!--  Paris End -->
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block footer %}

{% include 'home/footer_second.html' %}

{% endblock %}

{% block myjs %}
<script>
	document.getElementById("defaultOpen").click();
</script>
{% endblock %}




 
 








