<div class="row" id="main_sub_content" style="display: none;">
	        <span id="main_sub_empty_field_error" class="mendantory_fields sub_medantory_fields" style="display:none;color:red"><p class="error_content"> Please fill all the mendantory fields </p><span id='main_sub_close_error' class="hide_error">x</span></span>
	        <p class="empty_text"></p>
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<div class="form"><!-- sub event form start -->
					<div class="event_details">
						<label>3</label>
						<span>Sub Event</span>
						<!--a style="float:right" href="#">Tips</a-->
						<hr>
					</div>
					<div class="event_title">
						<div class="form-group">
							<div class="label_name">
								<label>Sub Event title <span class="required">*</span></label>
							</div>
							<div class="sub_field_name">
								<input type="text" class="form-control sub_event_name" id="main_sub_event_name" name="event_title" placeholder="Give it a short distinct name">
							</div>
						</div>
						<div class="form-group">
							<div class="label_name">
								<label>Sub Event description <span class="required">*</span></label>
							</div>
							<div class="sub_field_name">
								<input type="text" class="form-control sub_event_description" id="main_sub_event_desc" name="event_description" placeholder="Give it a description">
							</div>
						</div>
						<div class="form-group">
							<div class="label_name">
								<label>Organizer name <span class="required">*</span></label>
							</div>
							<div class="sub_field_name">
								<input type="text" class="form-control sub_organizer_name" id="main_sub_event_organizer" name="organizer_name" placeholder="Organiser name">
							</div>
						</div>
						<div class="form-group">
							<div class="label_name">
								<label>Organizer description <span class="required">*</span></label>
							</div>
							<div class="sub_field_name">
								<!--input type="text" class="form-control" id="sub_organizer_desc" name="organizer_descrition" placeholder="Organiser description"-->
								<textarea class="form-control sub_organizer_description" id="main_sub_organizer_desc" name="organizer_descrition" placeholder="Organiser description" rows="2"></textarea> 
							</div>
						</div>
						<div class="form-group">
							<div class="label_name">
								<label>Sub Event type <span class="required">*</span></label>
							</div>
							<!--div class="sub_field_name">
								<input type="text" class="form-control" id="sub_event_type" name="event_type" placeholder="Event type">
							</div-->
							<select id="main_sub_event_type" name="group-tickets-0-sales_channel_option" class="sub_event_type donation_sale_channel js-d-select-box js-ticket-sales-channel-option sub_ticket_sale" dorsal-guid="be62c6f8-aeaf-7519-2440-6e5a370bbd24" data-xd-wired="select-box">   
		                        <option value="Free" selected="selected">Free</option>
		                        <option value="Paid">Paid</option>
		                        <option value="Donation">Donation</option>
	                    	</select>
						</div>
						<div class="form-group">
							<div class="label_name">
								<label>Sub Event category <span class="required">*</span></label>
							</div>
							<div class="sub_field_name">
								<input type="text" class="form-control sub_event_category" id="main_sub_event_catagory" name="event_category" placeholder="Event category">
							</div>
						</div>
						<!--a href="#"><i class="fa fa-desktop" aria-hidden="true"></i>Online event</a>
						<a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>Enter Address</a-->
					</div>
					<div class="col-lg-12">
						<div class="date_event">
							<div class="date_picker">
								<div style="float:left">
									<label>Event starts:<span class="required">*</span></label> <input class="start_end_date sub_start_date" type="text" id="main_sub_start_date">
									<input type="text" name="" id="main_sub_start_time" class="start_end_date sub_start_time">
								</div>
								<div style="float:left">
									<label>Event ends:<span class="required">*</span></label> <input class="start_end_date sub_end_date" type="text" id="main_sub_end_date">
									<input type="text" name="" id="main_sub_end_time" class="start_end_date sub_end_time">
								</div>
							</div>
						</div>
					</div>

					
					<div class="upload_pic">
						<div class="event_image">
							<div class="col-lg-3">
								<h2>SubEvent image</h2>
							</div>
							<div class="col-lg-9">
								<div class="profile_picture col-lg-10">
									<div class="choose_pic_head col-lg-5">
										<a href="#"><h4>Choose a Photo</h4></a>
									</div>
									<input type="file" id="main_sub_event_img" onchange="previewFile2()"><br>
									<img id="main_profile_sub" src="" height="200" alt="Image preview...">
								</div>
								<button id="main_upload_subevent_image" class="btn btn-success col-lg-2 event_upload_img">Upload</button><br><br>
								<div class="col-lg-12">
									<p class="image_note">NOTE<span class="required">*</span>: <span class="note_content">Please click upload button before saving the Event</span></p>
								</div>
							</div>
							<!--div class="form-group">
								<div class="label_name">
									<h4>Event Image </h4>
								</div>
								<div class="field_name">
									<div class="event_image_inner">
										<a href="#"><i class="fa fa-camera-retro" aria-hidden="true"></i>
										<h2>Add event image</h2>
										<h3>Choose an image that captures your event</h3>
										</a>
									</div>
								</div>
							</div-->
						</div>
					</div>
					<div class="create_tickets">
						<label>4</label>
						<span>Create Tickets</span>
						<!--a style="float:right" href="#">Tips</a-->
						<hr>
					</div>
					<div class="js-create-ticket-wrapper ticket-container--no-handles" style="">
						<section class="js-ticket-summary js-ticket-summary-container" style="opacity: 1;">
							<div class="g-group js-ticket-summary-footer create-tickets--footer l-pad-vert-2">
					        	<div>
					        		<div class="g-cell g-cell-1-1 btn-group btn-group--responsive l-align-center l-pad-bot-1">
							    		<div class="ticket_variant">
							    			<p>What type of ticket would you like to start with?</p>
											<a class="free_ticket_form sub_free" id="main_free_sub_form"><i class="fa fa-plus-circle" aria-hidden="true"></i>Free ticket</a>
											<a class="paid_ticket_form" id="main_paid_sub_form"><i class="fa fa-plus-circle" aria-hidden="true"></i>Paid ticket</a>
											<a class="donation_ticket_form" id="main_donation_sub_form"><i class="fa fa-plus-circle" aria-hidden="true"></i>Donation</a>
										</div>
									</div>
								</div>
							</div>
							<!--############### Free ticket Form #########################################-->
						    <div class="g-cell g-cell-1-1 l-mar-top-2 g-offset-lg-1-12 g-cell-lg-10-12 free-ticket-container sub_ticket_wrapper" id="main_free_sub_container" style="display: none;">
							    <div class="g-group create-tickets--header hide-small">
							        <div class="g-cell g-cell-5-12 g-cell--no-gutters l-block-h-2 l-pad-vert-2" id="main_ticket_name">
							            Ticket name<span class="required">*</span>
							        </div>
							        <div id="main_quantity_available" class="g-cell g-cell-2-12 g-cell--no-gutters l-padded-h-half l-pad-vert-2">
							            Quantity available<span class="required">*</span>
							        </div>
							        <div id="main_ticket_price" class="g-cell g-cell-3-12 g-cell--no-gutters l-padded-h-half l-pad-vert-2">Price</div>
							        <div class="g-cell g-cell-2-12 g-cell--no-gutters l-padded-h-half l-pad-vert-2">Actions</div>
							        <div class="g-group create-tickets--row report__row--paid-ticket">
										<div style="position: relative;" class="js-ticket-row ticket-row">
											<div class="g-cell g-cell-1-1 g-cell-md-5-12 g-cell--no-gutters sorting-gripper-container l-padded-h-half l-mar-top-2">
										        <div class="js-sorting-gripper sorting-gripper hide-small ">
										            <i class="ico-gripper ico--xxlarge ico--color-understated"></i>
										        </div>

										        <label class="label-primary hide-medium-accessible hide-large-accessible" for="group-tickets-0-ticket_type">Ticket name</label>
										        <div>
										            
										            <input id="main_sub_free_tic_name" type="text" title="" placeholder="Early Bird, RSVP..." class="form__input form__input--full-width js-ticket-name sub_ticket_name" maxlength="255" name="group-tickets-0-ticket_type" data-original-title="Give your ticket a name, like General Admission, Early Bird, RSVP, etc.">

										        </div>
										    </div>

										    <div class="g-cell g-cell-1-2 g-cell-md-2-12 g-cell--no-gutters l-mar-top-2 l-padded-h-half">
										        <label class="label-primary hide-medium-accessible hide-large-accessible" for="group-tickets-0-quantity_total">Quantity</label>
										        
										        <input id="main_sub_free_quantity" type="text" title="" placeholder="100" pattern="[0-9]*" class="form__input--full-width js-quantity-input sub_ticket_quantity" maxlength="6" name="group-tickets-0-quantity_total" data-original-title="Enter the total number of tickets available for this ticket type">     
										    </div>

										    <div class="g-cell g-cell-1-2 g-cell-md-3-12 g-cell--no-gutters l-mar-top-2 l-padded-h-half paid-ticket-container">
										        <label class="label-primary hide-medium-accessible hide-large-accessible" for="group-tickets-0-cost">Price</label>
										        <div class="js-payment-type">
										        	<div>
										        		<div class="responsive-form__input--currency">
														    <input id="main_sub_free_tic_price" type="text" maxlength="11" title="" placeholder="Free" class="js-price-input form__input--xxsmall sub_ticket_price" name="group-tickets-0-cost" data-original-title="Set your ticket price. (You'll select payout options later on the Manage page)" readonly>
														</div>
													</div>
												</div>
											</div>

										    <div class="g-cell g-cell-1-1 g-cell-md-2-12 g-cell--no-gutters l-mar-top-2 l-padded-h-half report__row__tab-group">
										        <a title="" id="main_sub_free_settings" class="free_settings js-ticket-settings-link report__row__tab narrow-tooltip icon-link" data-original-title="Ticket Settings">
										            <i alt="Settings" class="ico-settings ico--medium"></i>
										        </a>
										        <a href="#" id="main_free_ticket_report"  title="" class="js-delete-ticket report__row__tab narrow-tooltip icon-link" data-original-title="Delete" style="display: inline;">
										            <i alt="Delete" class="ico-trash ico--medium"></i>
										        </a>
										    </div>
										    <div class="col-lg-12">
												<p class="image_note">NOTE<span class="required">*</span>: <span class="note_content">Please click Settings icon and fill the required fields</span></p>
											</div>
										</div>
									</div>
							    </div>
							    <div class="js-ticket-container create-tickets--container" id="main_sub_free_content" style="display: none;">
							    	<div class="ui-sortable ui-sortable-disabled" style="">
							    		<div class="create-tickets--ticket" style="display: block; opacity: 1;">
							    			
											<div class="ticket-settings settings">
												<div class="ticket-settings-container js-ticket-settings">
												    <div class="l-mar-top-2 g-cell g-cell-1-1">
												        <div class="js-ticket-name l-mar-top-1 text-body-large">Settings</div>
												        <hr class="l-mar-top-2">
												    </div>
													<div class="responsive-form text-body-medium l-pad-vert-3">
												        <div class="js-help-target g-group">
												            <label for="id_group-tickets-0-description" class="responsive-form__fieldset-legend g-cell g-cell-1-1">
												                Ticket description
												            </label>
												            <div class="g-cell g-cell-1-1 g-cell-md-2-3 g-cell-lg-3-4 ">
												                <textarea placeholder="Tell your attendees more about this ticket type." class="sub_free_ticket_description js-ticket-description sub_ticket_desc" id="main_id_group-tickets-0-description" name="group-tickets-0-description" data-check="{}"></textarea>
												               
												            </div>
												        </div>
														<div class="js-help-target js-ticket-sales-channel g-group" style="display: block;">
							    							<div class="g-vertical-group g-cell-1-1 g-cell-md-2-3 g-cell-lg-3-4 ">
							        							<h4 class="responsive-form__fieldset-legend g-cell g-cell-1-1 l-mar-top-3">
												                    Sales channel 
												                </h4>
											                    <div class="g-cell g-cell-1-1 l-mar-top-1">
											                        <div class="responsive-form__select js-ticket-sales-channel-option custom-select-container clrfix">
																		<select id="main_id_group-tickets-0-sales_channel_option" name="group-tickets-0-sales_channel_option" class="sub_free_sale_channel js-d-select-box js-ticket-sales-channel-option sub_ticket_sale" dorsal-guid="be62c6f8-aeaf-7519-2440-6e5a370bbd24" data-xd-wired="select-box">   
													                        <option value="everywhere" selected="selected">Everywhere</option>
													                        <option value="online">Online only</option>
													                        <option value="At the door">At the door only</option>
													                    </select>
													                </div>
											                    </div>
							    							</div>
														</div>

														<div class="js-help-target js-ticket-sales">
															<div class="g-group">
																<div class="g-vertical-group g-cell-1-1 g-cell-md-2-3 g-cell-lg-3-4">
																	<div class="js-ticket-sales-start-group g-cell g-cell-1-1 l-mar-top-3">
																        <h4 for="id_group-tickets-0-start_sales" class="responsive-form__fieldset-legend">
																            Ticket sales start
																        </h4>

																        <div class="js-ticket-sales-start">
																            <div class="js-visibility-container">
							    												<div>
							    													<div class="date_event">
							        												<div class="date_picker">
							        													<div style="float:left">
							        														<div class="col-lg-6">
																								<input class="sub_ticket_start_date start_end_date" id="main_sub_free_start_date" type="text" >
																							</div>
																							<div class="col-lg-6">
																								<input type="text" name="" id="main_sub_free_start_time" class="sub_ticket_start_time start_end_date">
																							</div>
																						</div>
																					</div>
																					</div>
																					
																				</div>
							    											</div>

																        </div>
																    </div>

																	<div class="g-cell g-cell-1-1 g-cell--no-gutters l-mar-top-3">
																        <h4 for="main_id_initial-group-tickets-0-end_sales" class="responsive-form__fieldset-legend g-cell g-cell-1-1">
																            Ticket sales end
																        </h4>

																        <div>
																            <div class="js-end-sales-explicit g-cell g-cell-1-1" id="main_id_group-tickets-0-end_sales_explicit">
																                <div>
																                	<div class="date_event">
							        												<div class="date_picker">
							        													<div style="float:left">
							        														<div class="col-lg-6">
																								<input class="sub_ticket_end_date start_end_date" id="main_sub_free_end_date" type="text" >
																							</div>
																							<div class="col-lg-6">
																								<input type="text" name="" id="main_sub_free_end_time" class="sub_ticket_end_time start_end_date">
																							</div>
																						</div>
																					</div>
																					</div>
																				</div>
							    											</div>
																        </div>
																    </div>
																</div>				
															</div>
														</div>
												        <div class="js-help-target js-min-max-tickets l-mar-top-3 g-group">
												            <h4 class="responsive-form__fieldset-legend g-cell g-cell-1-1">
												                Tickets allowed per order
												                <p class="min_max" style="display:none; color: red;">Accepting Only values 1-10</p>
												            </h4>
												            <div class="g-cell g-cell-1-1 g-cell-md-2-3 g-cell-lg-3-4">
												                <div class="g-group">
												                    <div class="g-cell g-cell-1-2 g-cell-md-1-4 g-cell--no-gutters l-mar-top-3">
												                    	<input type="text" placeholder="1" min="1" max="10" class="sub_free_ticket_minimum sub_ticket_min js-order-minimum l-pad-hor-1" id="main_sub_free_order_minimum">
												                        <!--input type="text" pattern="[0-9]*" class="sub_free_ticket_minimum sub_ticket_min js-order-minimum l-pad-hor-1" id="sub_free_order_minimum" value="1" name="group-tickets-0-order_minimum"-->
												                        <label for="id_group-tickets-0-order_minimum">Minimum
												                        </label>
												                        <div class="js-error-for-order_min form__field-error"></div>
												                    </div>
												                    <div class="g-cell g-cell-1-2 g-cell-md-1-4 g-cell--no-gutters l-block-h-1 l-mar-top-3">
												                    	<input type="text" placeholder="10" min="1" max="10" class="sub_free_ticket_maximum js-order-maximum l-pad-hor-1 sub_ticket_max" id="main_sub_free_order_maximum">
												                        <!--input type="text" pattern="[0-9]*" class="sub_free_ticket_maximum js-order-maximum l-pad-hor-1 sub_ticket_max" id="sub_free_order_maximum" placeholder="10" name="group-tickets-0-order_limit"-->
												                        <label for="id_group-tickets-0-order_limit">
												                            Maximum
												                        </label>
												                        <div class="js-error-for-order_limit form__field-error"></div>
												                    </div>
												                </div>
												            </div>
												        </div>
									    			</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--############### Ends here #########################################-->

							<!--############### Paid ticket Form #########################################-->
							<div class="g-cell g-cell-1-1 l-mar-top-2 g-offset-lg-1-12 g-cell-lg-10-12 paid_cantainer_wrapper paid-ticket-container sub_ticket_wrapper" id="main_paid_sub_container" style="display: none;">
							    <div class="g-group create-tickets--header hide-small">
							        <div class="g-cell g-cell-5-12 g-cell--no-gutters l-block-h-2 l-pad-vert-2" id="main_paid_ticket_name">
							            Ticket name<span class="required">*</span>
							        </div>
							        <div id="main_paid_quantity_available" class="g-cell g-cell-2-12 g-cell--no-gutters l-padded-h-half l-pad-vert-2">
							            Quantity available<span class="required">*</span>
							        </div>
							        <div id="main_paid_ticket_price" class="g-cell g-cell-3-12 g-cell--no-gutters l-padded-h-half l-pad-vert-2">Price</div>
							        <div class="g-cell g-cell-2-12 g-cell--no-gutters l-padded-h-half l-pad-vert-2">Actions</div>
							        <div class="g-group create-tickets--row report__row--paid-ticket">
										<div style="position: relative;" class="js-ticket-row ticket-row">
											<div class="g-cell g-cell-1-1 g-cell-md-5-12 g-cell--no-gutters sorting-gripper-container l-padded-h-half l-mar-top-2">
										        <div class="js-sorting-gripper sorting-gripper hide-small ">
										            <i class="ico-gripper ico--xxlarge ico--color-understated"></i>
										        </div>

										        <label class="label-primary hide-medium-accessible hide-large-accessible" for="group-tickets-0-ticket_type">Ticket name</label>
										        <div>
										            
										            <input id="main_sub_paid_tic_name" type="text" title="" placeholder="Early Bird, RSVP..." class="form__input form__input--full-width js-ticket-name sub_ticket_name" id="main_id_group-tickets-0-ticket_type" maxlength="255" name="group-tickets-0-ticket_type" data-original-title="Give your ticket a name, like General Admission, Early Bird, RSVP, etc.">

										        </div>
										    </div>

										    <div class="g-cell g-cell-1-2 g-cell-md-2-12 g-cell--no-gutters l-mar-top-2 l-padded-h-half">
										        <label class="label-primary hide-medium-accessible hide-large-accessible" for="group-tickets-0-quantity_total">Quantity</label>
										        
										        <input id="main_sub_paid_quantity" type="text" title="" placeholder="100" pattern="[0-9]*" class="form__input--full-width js-quantity-input sub_ticket_quantity"maxlength="6" name="group-tickets-0-quantity_total" data-original-title="Enter the total number of tickets available for this ticket type">     
										    </div>

										    <div class="g-cell g-cell-1-2 g-cell-md-3-12 g-cell--no-gutters l-mar-top-2 l-padded-h-half paid-ticket-container">
										        <label class="label-primary hide-medium-accessible hide-large-accessible" for="group-tickets-0-cost">Price</label>
										        <div class="js-payment-type">
										        	<div>
										        		<div class="responsive-form__input--currency">
										   					<div class="responsive-form__input--currency__symbol">$
										   					</div>
														    <input id="main_sub_paid_tic_price" type="text" maxlength="11" title="" placeholder="15.00" class="js-price-input form__input--xxsmall sub_ticket_price" name="group-tickets-0-cost" data-original-title="Set your ticket price. (You'll select payout options later on the Manage page)">
														</div>
														<div class="js-ticket-buyer-total text-body-small text-body--faint is-hidden" style="display: block;">
														    Buyer total:
														    <a class="js-ticket-buyer-total-number" href="#">$0.00</a>

														    <a href="#" class="js-ticket-fee-summary-link tooltip--important is-hidden" data-original-title="" title="" style="display: inline;">
														        <i class="ico-information ico--color-understated ico--small"></i>
														    </a>
														</div>

														<span class="form__field-error is-hidden js-error-for-ticketPrice"></span>
													</div>
												</div>
											</div>

										    <div class="g-cell g-cell-1-1 g-cell-md-2-12 g-cell--no-gutters l-mar-top-2 l-padded-h-half report__row__tab-group">
										        <a title="" id="main_sub_paid_settings" class="paid_settings js-ticket-settings-link report__row__tab narrow-tooltip icon-link" data-original-title="Ticket Settings">
										            <i alt="Settings" class="ico-settings ico--medium"></i>
										        </a>
										        <a href="#" id="main_paid_ticket_report"  title="" class="js-delete-ticket report__row__tab narrow-tooltip icon-link" data-original-title="Delete" style="display: inline;">
										            <i alt="Delete" class="ico-trash ico--medium"></i>
										        </a>
										    </div>
										    <div class="col-lg-12">
												<p class="image_note">NOTE<span class="required">*</span>: <span class="note_content">Please click Settings icon and fill the required fields</span></p>
											</div>
										</div>
									</div>
							    </div>
							    <div class="js-ticket-container create-tickets--container" id="main_sub_paid_content" style="display: none;">
							    	<div class="ui-sortable ui-sortable-disabled" style="">
							    		<div class="create-tickets--ticket" style="display: block; opacity: 1;">
							    			
											<div class="ticket-settings settings">
												<div class="ticket-settings-container js-ticket-settings">
												    <div class="l-mar-top-2 g-cell g-cell-1-1">
												        <div class="js-ticket-name l-mar-top-1 text-body-large">Settings</div>
												        <hr class="l-mar-top-2">
												    </div>
													<div class="responsive-form text-body-medium l-pad-vert-3">
												        <div class="js-help-target g-group">
												            <label for="id_group-tickets-0-description" class="responsive-form__fieldset-legend g-cell g-cell-1-1">
												                Ticket description
												            </label>
												            <div class="g-cell g-cell-1-1 g-cell-md-2-3 g-cell-lg-3-4 ">
												                <textarea placeholder="Tell your attendees more about this ticket type." class="sub_paid_ticket_description js-ticket-description sub_ticket_desc" id="main_id_group-tickets-0-description" name="group-tickets-0-description" data-check="{}"></textarea>
												            </div>
												        </div>
														<div class="js-help-target js-ticket-sales-channel g-group" style="display: block;">
							    							<div class="g-vertical-group g-cell-1-1 g-cell-md-2-3 g-cell-lg-3-4 ">
							        							<h4 class="responsive-form__fieldset-legend g-cell g-cell-1-1 l-mar-top-3">
												                    Sales channel 
												                </h4>
											                    <div class="g-cell g-cell-1-1 l-mar-top-1">
											                        <div class="responsive-form__select js-ticket-sales-channel-option custom-select-container clrfix">
																		<select id="main_id_group-tickets-0-sales_channel_option" name="group-tickets-0-sales_channel_option" class="sub_paid_sale_channel js-d-select-box js-ticket-sales-channel-option sub_ticket_sale" dorsal-guid="be62c6f8-aeaf-7519-2440-6e5a370bbd24" data-xd-wired="select-box">   
													                        <option value="everywhere" selected="selected">Everywhere</option>
													                        <option value="online">Online only</option>
													                        <option value="At the door">At the door only</option>
													                    </select>
													                </div>
											                    </div>
							    							</div>
														</div>

														<div class="js-help-target js-ticket-sales">
															<div class="g-group">
																<div class="g-vertical-group g-cell-1-1 g-cell-md-2-3 g-cell-lg-3-4">
																	<div class="js-ticket-sales-start-group g-cell g-cell-1-1 l-mar-top-3">
																        <h4 for="main_id_group-tickets-0-start_sales" class="responsive-form__fieldset-legend">
																            Ticket sales start
																        </h4>

																        <div class="js-ticket-sales-start">
																            <div class="js-visibility-container">
							    												<div>
							    													<div class="date_event">
							        												<div class="date_picker">
							        													<div style="float:left">
							        														<div class="col-lg-6">
																								<input class="sub_ticket_start_date start_end_date" id="main_sub_paid_start_date" type="text" >
																							</div>
																							<div class="col-lg-6">
																								<input type="text" name="" id="main_sub_paid_start_time" class="sub_ticket_start_time start_end_date">
																							</div>
																						</div>
																					</div>
																					</div>
																					
																				</div>
							    											</div>

																        </div>
																    </div>

																	<div class="g-cell g-cell-1-1 g-cell--no-gutters l-mar-top-3">
																        <h4 for="main_id_initial-group-tickets-0-end_sales" class="responsive-form__fieldset-legend g-cell g-cell-1-1">
																            Ticket sales end
																        </h4>

																        <div>
																            <div class="js-end-sales-explicit g-cell g-cell-1-1">
																                <div>
																                	<div class="date_event">
							        												<div class="date_picker">
							        													<div style="float:left">
							        														<div class="col-lg-6">
																								<input class="sub_ticket_end_date start_end_date" id="main_sub_paid_end_date" type="text" >
																							</div>
																							<div class="col-lg-6">
																								<input type="text" name="" id="main_sub_paid_end_time" class="sub_ticket_end_time start_end_date">
																							</div>
																						</div>
																					</div>
																					</div>
																				</div>
							    											</div>
																        </div>
																    </div>
																</div>				
															</div>
														</div>
												        <div class="js-help-target js-min-max-tickets l-mar-top-3 g-group">
												            <h4 class="responsive-form__fieldset-legend g-cell g-cell-1-1">
												                Tickets allowed per order
												                <p class="min_max" style="display:none; color: red;">Accepting Only values 1-10</p>
												            </h4>
												            <div class="g-cell g-cell-1-1 g-cell-md-2-3 g-cell-lg-3-4">
												                <div class="g-group">
												                    <div class="g-cell g-cell-1-2 g-cell-md-1-4 g-cell--no-gutters l-mar-top-3">
												                    	<input type="text" placeholder="1" min="1" max="10" class="sub_paid_ticket_minimum js-order-minimum l-pad-hor-1 sub_ticket_min" id="main_sub_paid_order_minimum">
												                        <!--input type="text" pattern="[0-9]*" class="sub_paid_ticket_minimum js-order-minimum l-pad-hor-1 sub_ticket_min" id="sub_paid_order_minimum" value="1" name="group-tickets-0-order_minimum"-->
												                        <label for="id_group-tickets-0-order_minimum">Minimum
												                        </label>
												                        <div class="js-error-for-order_min form__field-error"></div>
												                    </div>
												                    <div class="g-cell g-cell-1-2 g-cell-md-1-4 g-cell--no-gutters l-block-h-1 l-mar-top-3">
												                    	<input type="text" placeholder="10" min="1" max="10" class="sub_paid_ticket_maximum js-order-maximum l-pad-hor-1 sub_ticket_max" id="main_sub_paid_order_maximum">
												                        <!--input type="text" pattern="[0-9]*" class="sub_paid_ticket_maximum js-order-maximum l-pad-hor-1 sub_ticket_max" id="sub_paid_order_maximum" placeholder="10" name="group-tickets-0-order_limit"-->
												                        <label for="main_paid_id_group-tickets-0-order_limit">
												                            Maximum
												                        </label>
												                        <div class="js-error-for-order_limit form__field-error"></div>
												                    </div>
												                </div>
												            </div>
												        </div>
									    			</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--############### Ends here #########################################-->


							<!--############### Donation ticket Form #########################################-->
							<div class="g-cell g-cell-1-1 l-mar-top-2 g-offset-lg-1-12 g-cell-lg-10-12 donation-ticket-container sub_ticket_wrapper" id="main_donation_sub_container" style="display: none;">
							    <div class="g-group create-tickets--header hide-small">
							        <div class="g-cell g-cell-5-12 g-cell--no-gutters l-block-h-2 l-pad-vert-2" id="main_donation_ticket_name">
							            Ticket name<span class="required">*</span>
							        </div>
							        <div id="quantity_available" class="g-cell g-cell-2-12 g-cell--no-gutters l-padded-h-half l-pad-vert-2">
							            Quantity available<span class="required">*</span>
							        </div>
							        <div id="main_donation_ticket_price" class="g-cell g-cell-3-12 g-cell--no-gutters l-padded-h-half l-pad-vert-2">Price</div>
							        <div class="g-cell g-cell-2-12 g-cell--no-gutters l-padded-h-half l-pad-vert-2">Actions</div>
							        <div class="g-group create-tickets--row report__row--paid-ticket">
										<div style="position: relative;" class="js-ticket-row ticket-row">
											<div class="g-cell g-cell-1-1 g-cell-md-5-12 g-cell--no-gutters sorting-gripper-container l-padded-h-half l-mar-top-2">
										        <div class="js-sorting-gripper sorting-gripper hide-small ">
										            <i class="ico-gripper ico--xxlarge ico--color-understated"></i>
										        </div>

										        <label class="label-primary hide-medium-accessible hide-large-accessible" for="group-tickets-0-ticket_type">Ticket name</label>
										        <div>
										            
										            <input id="main_sub_donation_tic_name" type="text" title="" placeholder="Early Bird, RSVP..." class="form__input form__input--full-width js-ticket-name sub_ticket_name" maxlength="255" name="group-tickets-0-ticket_type" data-original-title="Give your ticket a name, like General Admission, Early Bird, RSVP, etc.">

										        </div>
										    </div>

										    <div class="g-cell g-cell-1-2 g-cell-md-2-12 g-cell--no-gutters l-mar-top-2 l-padded-h-half">
										        <label class="label-primary hide-medium-accessible hide-large-accessible" for="group-tickets-0-quantity_total">Quantity</label>
										        
										        <input id="main_sub_donation_quantity" type="text" title="" placeholder="100" pattern="[0-9]*" class="form__input--full-width js-quantity-input sub_ticket_quantity" maxlength="6" name="group-tickets-0-quantity_total" data-original-title="Enter the total number of tickets available for this ticket type">     
										    </div>

										    <div class="g-cell g-cell-1-2 g-cell-md-3-12 g-cell--no-gutters l-mar-top-2 l-padded-h-half paid-ticket-container">
										        <label class="label-primary hide-medium-accessible hide-large-accessible" for="group-tickets-0-cost">Price</label>
										        <div class="js-payment-type">
										        	<div>
										        		<div class="responsive-form__input--currency">
														    <input id="main_sub_donation_tic_price" type="text" maxlength="11" title="" placeholder="Donate" class="js-price-input form__input--xxsmall sub_ticket_price" name="group-tickets-0-cost" data-original-title="Set your ticket price. (You'll select payout options later on the Manage page)" readonly>
														</div>
														<span class="form__field-error is-hidden js-error-for-ticketPrice"></span>
													</div>
												</div>
											</div>
										    <div class="g-cell g-cell-1-1 g-cell-md-2-12 g-cell--no-gutters l-mar-top-2 l-padded-h-half report__row__tab-group">
										        <a title="" id="main_sub_donation_settings" class="donation_settings js-ticket-settings-link report__row__tab narrow-tooltip icon-link" data-original-title="Ticket Settings">
										            <i alt="Settings" class="ico-settings ico--medium"></i>
										        </a>
										        <a href="#" id="main_donation_ticket_report"  title="" class="js-delete-ticket report__row__tab narrow-tooltip icon-link" data-original-title="Delete" style="display: inline;">
										            <i alt="Delete" class="ico-trash ico--medium"></i>
										        </a>
										    </div>
										    <div class="col-lg-12">
												<p class="image_note">NOTE<span class="required">*</span>: <span class="note_content">Please click Settings icon and fill the required fields</span></p>
											</div>
										</div>
									</div>
							    </div>
							    <div class="js-ticket-container create-tickets--container" id="main_sub_donation_content" style="display: none;">
							    	<div class="ui-sortable ui-sortable-disabled" style="">
							    		<div class="create-tickets--ticket" style="display: block; opacity: 1;">
							    			
											<div class="ticket-settings settings">
												<div class="ticket-settings-container js-ticket-settings">
												    <div class="l-mar-top-2 g-cell g-cell-1-1">
												        <div class="js-ticket-name l-mar-top-1 text-body-large">Settings</div>
												        <hr class="l-mar-top-2">
												    </div>
													<div class="responsive-form text-body-medium l-pad-vert-3">
												        <div class="js-help-target g-group">
												            <label for="id_group-tickets-0-description" class="responsive-form__fieldset-legend g-cell g-cell-1-1">
												                Ticket description
												            </label>
												            <div class="g-cell g-cell-1-1 g-cell-md-2-3 g-cell-lg-3-4 ">
												                <textarea placeholder="Tell your attendees more about this ticket type." class="sub_donation_ticket_description js-ticket-description sub_ticket_desc" id="main_donation_id_group-tickets-0-description" name="group-tickets-0-description" data-check="{}"></textarea>
												            </div>
												        </div>
														<div class="js-help-target js-ticket-sales-channel g-group" style="display: block;">
							    							<div class="g-vertical-group g-cell-1-1 g-cell-md-2-3 g-cell-lg-3-4 ">
							        							<h4 class="responsive-form__fieldset-legend g-cell g-cell-1-1 l-mar-top-3">
												                    Sales channel 
												                </h4>
											                    <div class="g-cell g-cell-1-1 l-mar-top-1">
											                        <div class="responsive-form__select js-ticket-sales-channel-option custom-select-container clrfix">
																		<select id="main_donation_id_group-tickets-0-sales_channel_option" name="group-tickets-0-sales_channel_option" class="sub_donation_sale_channel js-d-select-box js-ticket-sales-channel-option sub_ticket_sale" dorsal-guid="be62c6f8-aeaf-7519-2440-6e5a370bbd24" data-xd-wired="select-box">   
													                        <option value="everywhere" selected="selected">Everywhere</option>
													                        <option value="online">Online only</option>
													                        <option value="At the door">At the door only</option>
													                    </select>
													                </div>
											                    </div>
							    							</div>
														</div>

														<div class="js-help-target js-ticket-sales">
															<div class="g-group">
																<div class="g-vertical-group g-cell-1-1 g-cell-md-2-3 g-cell-lg-3-4">
																	<div class="js-ticket-sales-start-group g-cell g-cell-1-1 l-mar-top-3">
																        <h4 for="main_donation_id_group-tickets-0-start_sales" class="responsive-form__fieldset-legend">
																            Ticket sales start
																        </h4>

																        <div class="js-ticket-sales-start">
																            <div class="js-visibility-container">
							    												<div>
							    													<div class="date_event">
							        												<div class="date_picker">
							        													<div style="float:left">
							        														<div class="col-lg-6">
																								<input class="sub_ticket_start_date start_end_date" id="main_sub_donation_start_date" type="text" >
																							</div>
																							<div class="col-lg-6">
																								<input type="text" name="" id="main_sub_donation_start_time" class="sub_ticket_start_time start_end_date">
																							</div>
																						</div>
																					</div>
																					</div>
																					
																				</div>
							    											</div>

																        </div>
																    </div>

																	<div class="g-cell g-cell-1-1 g-cell--no-gutters l-mar-top-3">
																        <h4 for="main_donation_id_initial-group-tickets-0-end_sales" class="responsive-form__fieldset-legend g-cell g-cell-1-1">
																            Ticket sales end
																        </h4>

																        <div>
																            <div class="js-end-sales-explicit g-cell g-cell-1-1" id="main_donation_id_group-tickets-0-end_sales_explicit">
																                <div>
																                	<div class="date_event">
							        												<div class="date_picker">
							        													<div style="float:left">
							        														<div class="col-lg-6">
																								<input class="sub_ticket_end_date start_end_date" id="main_sub_donation_end_date" type="text" >
																							</div>
																							<div class="col-lg-6">
																								<input type="text" name="" id="main_sub_donation_end_time" class="sub_ticket_end_time start_end_date">
																							</div>
																						</div>
																					</div>
																					</div>
																				</div>
							    											</div>
																        </div>
																    </div>
																</div>				
															</div>
														</div>
												        <div class="js-help-target js-min-max-tickets l-mar-top-3 g-group">
												            <h4 class="responsive-form__fieldset-legend g-cell g-cell-1-1">
												                Tickets allowed per order
												                <p class="min_max" style="display:none; color: red;">Accepting Only values 1-10</p>
												            </h4>
												            <div class="g-cell g-cell-1-1 g-cell-md-2-3 g-cell-lg-3-4">
												                <div class="g-group">
												                    <div class="g-cell g-cell-1-2 g-cell-md-1-4 g-cell--no-gutters l-mar-top-3">
												                    	<input type="text" placeholder="1" min="1" max="10" class="sub_donation_ticket_minimum js-order-minimum l-pad-hor-1 sub_ticket_min" id="main_sub_donation_order_minimum">
												                        <!--input type="text" pattern="[0-9]*" class="sub_donation_ticket_minimum js-order-minimum l-pad-hor-1 sub_ticket_min" id="sub_donation_order_minimum" value="1" name="group-tickets-0-order_minimum"-->
												                        <label for="main_donation_id_group-tickets-0-order_minimum">Minimum
												                        </label>
												                        <div class="js-error-for-order_min form__field-error"></div>
												                    </div>
												                    <div class="g-cell g-cell-1-2 g-cell-md-1-4 g-cell--no-gutters l-block-h-1 l-mar-top-3">
												                    	<input type="text" placeholder="10" min="1" max="10" class="
												                        sub_donation_ticket_maximum js-order-maximum l-pad-hor-1 sub_ticket_max" id="main_sub_donation_order_maximum">
												                        <!--input type="text" pattern="[0-9]*" class="
												                        sub_donation_ticket_maximum js-order-maximum l-pad-hor-1 sub_ticket_max" id="sub_donation_order_maximum" placeholder="10" name="group-tickets-0-order_limit"-->
												                        <label for="main_donation_id_group-tickets-0-order_limit">
												                            Maximum
												                        </label>
												                        <div class="js-error-for-order_limit form__field-error"></div>
												                    </div>
												                </div>
												            </div>
												        </div>
									    			</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--############### Ends here #########################################-->
							<input type="checkbox" name="" id="booking_check_box"><p style="margin-top: 20px">Do you want event to be booked first ?</p>
						</section>
					</div>
				</div><!--form ends here -->
			</div>
			<div class="col-md-1"></div>
		</div>