{% extends 'dashboard/account_settings.html' %}
{% load static %}
{% block setting_content %}
<!--div class="col-md-9"-->
<div class="g-vertical-group g-cell-12-12 g-cell-lg-9-12 l-mar-top-4">
	<div class="js-payout-methods-view">
		<div class="g-cell g-cell-1-1">
		    <h2 class="text-heading-primary">Payout Methods</h2>
		</div>
		<hr class="g-cell g-cell-1-1 l-pad-vert-2">

		<div class="g-cell g-cell-1-1">
		    <div class="l-pad-vert-4 l-sm-pad-vert-3 js-user-instruments-summary">
		    	<div>
		    		<div class="notification-bar notification-bar--error hide js-error-notification">
		    			An error occured, please try again later.
					</div>

					<table class="js-d-table-expandable js-d-table-stacked l-mar-top-3 responsive-table responsive-table--stacked" dorsal-guid="8f64c6e9-f03c-1f8e-a3cf-3111f1a5800c" data-xd-wired="table-expandable table-stacked">
					    <thead>
					        <tr>
					        	<th>Type</th>
						        <th>Modified</th>
						        <th>Account/Details</th>
						        <th>Events</th>
						        <th></th>
						    </tr>
					    </thead>
					    <tbody class="js-payout-methods-tbody">
					    </tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="js-events-for-user-instruments">
		</div>
	</div>

	<div class="g-cell g-cell-1-1">
		<div>
			<div>
			    <header class="l-mar-top-3">
			        <h3 class="text-heading-secondary">
			            PayPal account used for Eventbrite referral payouts &nbsp;
			        </h3>
			    </header>
			</div>
			<div class="responsive-form l-pad-vert-3">
			    <form name="paypal_email" method="post">
			        <input type="hidden" value="ubSxt7nlubG1tbm0sbG55eGwsbbj5biy47GysuTjseLf37GytK6ytbOus7mutbLfsbS3tri3tbaxt9+xuLSxtra2ubg=" name="t">
			        <input type="hidden" value="cct.neerajkashyap@gmail.com" name="old_user_paypal_email">
			        <div class="g-cell g-cell-1-1 g-cell-md-6-9">
			            <label class="is-hidden-accessible" for="new_user_paypal_email">PayPal email address</label>
			            <input type="text" value="cct.neerajkashyap@gmail.com" id="new_user_paypal_email" name="new_user_paypal_email">
			        </div>
			        <div class="g-cell g-cell-1-1 g-cell-md-2-9">
			            <a class="btn" href="javascript: document.paypal_email.submit();">Save</a>
			        </div>
			    </form>
			</div>
		</div>
		<div style="width:340px;display:none;position:absolute; border: 1px solid #000; background-color: #fff;" id="paypal_help">
			<div id="quickhelp">
				PayPal email addresses listed here are linked to at least one event.<br><br>
				Modifying an email address here will change it for all associated events.<br><br>
				Email addresses cannot be removed through this menu.<br><br>
				Click the Show link to see which events use an account.
			</div>
		</div>
		<div style="width:340px;display:none;position:absolute; border: 1px solid #000; background-color: #fff;" id="authnet_help">
			<div id="quickhelp">
				Authorize.net API information is used for all events.<br><br>
				Modifying the information here will change it for all associated events.<br><br>
				Information cannot be removed through this menu.<br><br>
				Click the Show link to see which events use an account.
			</div>
		</div>
		<div style="width:340px;display:none;position:absolute; border: 1px solid #000; background-color: #fff;" id="moneris_help">
			<div id="quickhelp">
				Moneris information is used for all events.<br><br>
				Modifying the information here will change it for all associated events.<br><br>
				Information cannot be removed through this menu.<br><br>
				Click the Show link to see which events use an account.
			</div>
		</div>
		<div style="width:340px;display:none;position:absolute; border: 1px solid #000; background-color: #fff;" id="google_help">
			<div id="quickhelp">
				Google Checkout accounts listed here are linked to at least one event.<br><br>
				Modifying an account here will change it for all associated events.<br><br>
				Accounts cannot be removed through this menu.<br><br>
				Click the Show link to see which events use an account.
			</div>
		</div>
		<div style="width:340px;display:none;position:absolute; border: 1px solid #000; background-color: #fff;" id="paypal2_help">
			<div id="quickhelp">
				Please specify the PayPal account to which you would like your referral bonuses deposited each month.  For more information about the referral program, see the referral program option.<br>
			</div>
		</div>
	</div>
	<div class="clearfloat"></div>
</div>
<!--/div-->
{% endblock %}
{% block shipping %}{% endblock %}

{% block footer %}

{% include 'home/footer_second.html' %}

{% endblock %}