{% extends 'home/index.html' %}
{% load static %}

{% block slider %}
{% endblock %}
{% block footer %}
{% endblock %}

{% block content %}
<div class="container-fluid" style="padding-top:60px;">
	<div="col-lg-12">
	<div class="paypal-form col-lg-6">
		<h2>Pay through paypal </h2>
		{{ form.render }}
	</div>

	<div class="payuMoney col-lg-6">
		<h2>Pay through PayUMoney </h2>
		<button id="" type="button" class="btn btn-success">PayUMoney</button>
	</div>
</div>
</div>
{% endblock %}
