{% extends 'home/index.html' %}
{% load static %}

{% block slider %}
{% endblock %}

{% block content %}
<div class="container-fluid" style="padding-top:60px;">
	<div class="ticket-creation">
		<p> Thanks! Your payment is succefully processed, now kindly generate your ticket.</p>
	</div>
</div>
{% endblock %}




