{% extends 'dashboard/account_settings.html' %}
{% load static %}

{% block setting_content %}
<!--div class="col-md-9"-->
	<div class="g-vertical-group g-cell-12-12 g-cell-lg-9-12 l-mar-top-4">
		<div class="g-cell g-cell-1-1 show-large">
		  <h2 class="text-heading-primary">Multi-User Access</h2>
		</div>
		<div class="g-cell g-cell-1-1 l-pad-vert-2"><hr>
		</div>
		<div class="g-cell g-cell-9-9 l-mar-top-3">
			<table width="100%" cellspacing="0" cellpadding="0" border="0" class="js-d-table-stacked responsive-table responsive-table--stacked" dorsal-guid="fa545fec-461c-d1d4-df7b-f747e58423eb" data-xd-wired="table-stacked">
				<thead>
					<tr>
					  <th>Email Address</th>
					  <th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td colspan="2"><span class="responsive-table--stacked__header">EMAIL ADDRESS</span>
							<div class="responsive-table--stacked__content">cct.neerajkashyap@gmail.com (administrator)</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="g-cell g-cell-9-9 g-cell-md-4-9 l-mar-top-3">
		    <a class="btn" href="/permissions?user=new">Add Email Address</a>
		</div>
	</div>
<!--/div-->
{% endblock %}
{% block shipping %}{% endblock %}

{% block footer %}

{% include 'home/footer_second.html' %}

{% endblock %}