{% extends 'dashboard/account_settings.html' %}
{% load static %}
{% block setting_content %}
<!--div class="col-md-9"-->
    <div class="g-vertical-group g-cell-12-12 g-cell-lg-9-12 l-mar-top-4">
        <div class="g-cell g-cell-1-1">
            <h2 class="text-heading-primary">Attendee Referrals</h2>
        </div>

        <div class="g-cell g-cell-1-1 l-pad-vert-2"><hr></div>

        <div class="g-cell g-cell-1-1">
            <p class="l-mar-top-1">
                <i class="ico-circle ico--medium ico--color-brand-light-blue ico--bullet">1</i>
                Join an affiliate program by clicking on your invitation from an event organizer
            </p>
            <p class="l-mar-top-1">
                <i class="ico-circle ico--medium ico--color-brand-light-blue ico--bullet">2</i>
                Promote the event using the affiliate link on your website or send emails to prospective attendees
            </p>
            <p class="l-mar-top-1">
                <i class="ico-circle ico--medium ico--color-brand-light-blue ico--bullet">3</i>
                Track your affiliate program earnings on this page (Stats are updated daily)
            </p>
            <p class="l-mar-top-1">
                <i class="ico-circle ico--medium ico--color-brand-light-blue ico--bullet">4</i>
                Payments are made by the affiliate program owner to your PayPal account, unless otherwise indicated in the affiliate program invitation.Please make sure the PayPal email listed above is accurate or <a href="https://www.paypal.com/us/webapps/mpp/referral/paypal-express-checkout?partner_id=W9QW5TKUA246E">open an account now</a>.
            </p>





            <div class="l-mar-top-6">
                <h3 class="text-heading-secondary">Affiliate Programs FAQ</h3>
                <div class="l-mar-top-1">
                    <div data-d-aria-view-role="tabpanel" data-d-aria-director-role="tab" class="js-d-accordion simple-accordion" dorsal-guid="e6cae776-72ae-aed4-6ced-c1d7537d91cd" data-xd-wired="accordion">
                        <h3 class="js-xd-accordion-header simple-accordion-header" id="aria_tab_0" aria-controls="aria_tabpanel_0" data-num="0" role="tab">How does the affiliate program work?</h3>
                        <ul class="js-xd-accordion-content simple-accordion-content l-pad-vert-3" id="aria_tabpanel_0" aria-labeledby="aria_tab_0" role="tabpanel">
                            <li>Event organizers can create an event-specific affiliate program to increase attendance for their event by offering a referral commission to third-party promoters. The payment can either be a fixed dollar amount or a percentage of the ticket price, set by the event organizer. They are responsible for making payments to their affiliates' PayPal account, unless otherwise indicated in their affiliate program description. events is in no way responsible for any earnings owed to you by event organizers. </li>
                        </ul>
                        <h3 class="js-xd-accordion-header simple-accordion-header" id="aria_tab_1" aria-controls="aria_tabpanel_1" data-num="1" role="tab">How do I join an affiliate program?</h3>
                        <ul class="js-xd-accordion-content simple-accordion-content l-pad-vert-3" id="aria_tabpanel_1" aria-labeledby="aria_tab_1" role="tabpanel">
                            <li>To join an event-specific affiliate program, you must receive an invitation from the event organizer and click on the embedded link in the email. You will receive a unique URL which you must use to refer attendees to that event.</li>
                        </ul>
                        <h3 class="js-xd-accordion-header simple-accordion-header" id="aria_tab_2" aria-controls="aria_tabpanel_2" data-num="2" role="tab">How do I keep track of my earnings?</h3>
                        <ul class="js-xd-accordion-content simple-accordion-content l-pad-vert-3" id="aria_tabpanel_2" aria-labeledby="aria_tab_2" role="tabpanel">
                            <li>You can view all of your event affiliate programs, along with basic stats and earnings on the <a href="/event_affiliate/">Event Affiliate Program</a> page. You can access this page by logging into your events account, clicking on your email address in the upper right, selecting Settings, then clicking on Event Affiliate Program.</li>
                        </ul>
                        <h3 class="js-xd-accordion-header simple-accordion-header" id="aria_tab_3" aria-controls="aria_tabpanel_3" data-num="3" role="tab">How do I get the money I have earned?</h3>
                        <ul class="js-xd-accordion-content simple-accordion-content l-pad-vert-3" id="aria_tabpanel_3" aria-labeledby="aria_tab_3" role="tabpanel">
                            <li>Affiliate program owners are responsible for making payments to your PayPal account, unless otherwise indicated in their affiliate program description. Your PayPal account email address is listed at the bottom of the <a href="/payment-information">Payout Methods</a> page. You can access this page by logging into your events account, clicking on your email address in the upper right, selecting Settings, then clicking on Payment Accounts. Make sure this PayPal account email is accurate. If you don't have a PayPal account, <a href="https://www.paypal.com/us/webapps/mpp/referral/paypal-express-checkout?partner_id=W9QW5TKUA246E">open an account now.</a></li>
                        </ul>
                        <h3 class="js-xd-accordion-header simple-accordion-header" id="aria_tab_4" aria-controls="aria_tabpanel_4" data-num="4" role="tab">More information</h3>
                        <ul class="js-xd-accordion-content simple-accordion-content l-pad-vert-3" id="aria_tabpanel_4" aria-labeledby="aria_tab_4" role="tabpanel">
                            <li><a href="/tos">Affiliate Program Terms of Service</a></li>
                            <li><a href="https://www.events.com/support/articleredirect?anum=4424">Learn more about the event affiliate program</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--/div-->
{% endblock %}
{% block shipping %}{% endblock %}

{% block footer %}

{% include 'home/footer_second.html' %}

{% endblock %}