{% extends 'dashboard/account_settings.html' %}
{% load static %}
{% block setting_content %}
<!--div class="col-md-9"-->
    <div class="g-vertical-group g-cell-12-12 g-cell-lg-9-12 l-mar-top-4">
        <div class="g-cell g-cell-1-1">
            <header class="show-large">
                <h2 class="text-heading-primary">Events Referral Program</h2>
            </header>
        </div>

        <div class="g-cell g-cell-1-1 l-pad-vert-2"><hr></div>


        <form class="responsive-form" method="post" action="/referrals" name="newrcodeform">
            <input type="hidden" value="5bG4uOGytOWwuOK0uLLlubO0sri55eS45rHktbDl4+Pf37GytK6ytbOus7musbi337G0t7a2ube2trnfsbi0sba2trm4" name="t">

            <div class="g-group l-pad-vert-2">
                <div class="g-cell g-cell-1-1">
                    <h3 class="text-heading-secondary">Create a unique link</h3>
                </div>
                <div class="g-cell g-cell-1-1">
                    <label for="refcode">https://www.events.com/r/</label>
                </div>
                <div class="g-cell g-cell-1-1 g-cell-lg-5-9">
                    <input type="text" name="refcode" id="refcode">
                </div>
                <div class="g-cell g-cell-1-1 l-mar-top-1">
                    <button class="btn btn--responsive" type="submit">Create</button>
                </div>
            </div>
            <div class="g-group l-pad-vert-2">
                <div class="g-cell g-cell-1-1">
                    <h3 class="text-heading-secondary">Promote your Event link</h3>
                </div>
                <div class="g-cell g-cell-1-1 l-mar-top-2">
                Examples:
                    <ul>
                            <li>Post on your website</li>
                            <li>Email to prospective event holders</li>
                    </ul>
                </div>
            </div>
        </form>

        <div class="g-cell g-cell-1-1" style="display: none;">
            <div class="g-cell-1-1 l-mar-top-3">
                <form class="responsive-form" action="" name="rcForm520505" id="rcForm520505">
                    <input type="hidden" value="5bG4uOGytOWwuOK0uLLlubO0sri55eS45rHktbDl4+Pf37GytK6ytbOus7musbi337G0t7a2ube2trnfsbi0sba2trm4" name="t">
                        <b>Referral Link:</b>
                    <div class="g-cell-1-1 l-mar-top-1">
                            <input type="text" value="http://www.events.com/r/d4e5f6" onclick="javascript:document.rcForm520505.referral520505.focus();document.rcForm520505.referral520505.select();" name="referral520505" id="referral520505" style="" readonly="readonly">
                    </div>
                </form>
                <div class="g-cell-1-1 l-mar-top-2">
                <table class="js-d-table-stacked responsive-table responsive-table--stacked" dorsal-guid="203b30e9-4534-d44d-636d-c8f2998df0c6" data-xd-wired="table-stacked">
                    <thead>
                        <tr>
                            <th>Site visits</th>
                            <th>Account Signups</th>
                            <th>Revenue Generated</th>
                            <th>Pending Revenue</th>
                            <th>Your share (25)</th>
                            <th>Paid</th>
                            <th>Due</th>
                        </tr>
                    </thead>
                <tbody>
                    <tr>
                        <td><span class="responsive-table--stacked__header">SITE VISITS</span><div class="responsive-table--stacked__content">2</div></td>
                        <td><span class="responsive-table--stacked__header">ACCOUNT SIGNUPS</span><div class="responsive-table--stacked__content">0</div></td>
                        <td><span class="responsive-table--stacked__header">REVENUE GENERATED</span><div class="responsive-table--stacked__content">$0.00</div></td>
                        <td><span class="responsive-table--stacked__header">PENDING REVENUE</span><div class="responsive-table--stacked__content">$0.00</div></td>
                        <td><span class="responsive-table--stacked__header">YOUR SHARE (25)</span><div class="responsive-table--stacked__content">$0.00</div></td>
                        <td><span class="responsive-table--stacked__header">PAID</span><div class="responsive-table--stacked__content">$0.00</div></td>
                        <td><span class="responsive-table--stacked__header">DUE</span><div class="responsive-table--stacked__content">$0.00</div></td>
                    </tr>
                </tbody>
                </table>
                </div>
            </div>
        </div><!-- end panel_body -->

        <br>

        <div class="g-group">
            <div class="g-cell g-cell-1-1 l-mar-top-4">
                <h3 class="text-heading-secondary">Payout Email</h3>
            </div>
            <div class="g-cell g-cell-1-1 l-mar-top-2">
                Please specify the PayPal account to which you would like your referral bonuses deposited each month.<br>
                If you do not have a PayPal account, you can <a target="_blank" href="https://www.paypal.com/us/webapps/mpp/referral/paypal-express-checkout?partner_id=W9QW5TKUA246E">create one now</a>.<br><br>
                <form class="responsive-form" name="paypal_email" method="post">
                    <input type="hidden" value="5bG4uOGytOWwuOK0uLLlubO0sri55eS45rHktbDl4+Pf37GytK6ytbOus7musbi337G0t7a2ube2trnfsbi0sba2trm4" name="t">
                    <input type="hidden" value="cct.neerajkashyap@gmail.com" name="old_user_paypal_email">
                    <label class="" for="new_user_paypal_email">New PayPal email address</label>
                    <div class="g-cell-1-1 l-mar-top-1">
                        <input type="text" style="" value="cct.neerajkashyap@gmail.com" name="new_user_paypal_email" id="new_user_paypal_email">
                    </div>
                    <div class="l-mar-top-1">
                        <button class="btn btn--responsive" type="submit">Save</button>
                    </div>
                </form>

                <h3 class="text-heading-secondary l-mar-top-6">
                    Events Referral Program F.A.Q.
                </h3>
                <div class="l-pad-vert-2">
                    <p class="l-pad-bot-1">Refer new event organizers to events and earn money! The full terms of the events Referral Program are available in our Terms of Service (and you should review them because they contain important information), but we've included some frequently asked questions below for your convenience.</p>

                    <p class="l-pad-bot-1 text-body--significant l-mar-top-2">What is the events Referral Program?</p>
                    <p>The events Referral Program allows you to earn money by referring new event organizers to the events service.  If you like events, you can make money by recommending it.</p>

                    <p class="l-pad-vert-1 text-body--significant l-mar-top-2">How does it work?</p>
                    <p>Just create a personal referral URL and use it to promote events on your website, blog or by email.  People who sign-up as new events organizers using your link become associated with your account.  When they publish events and sell tickets, you will earn 25%  of the fees they generate.<br>
                    NOTE: Your referrals must sign-up with events as organizers by using your personal referral link in order for you to be credited.</p>

                    <p class="l-pad-vert-1 text-body--significant l-mar-top-2">What will I get paid?</p>
                    <p>You'll earn 25%  of our base fees (e.g., our 2.5% + $0.99 fee when normal rates are applicable) collected and retained by events from your referred event organizers for a full year following their signup.<br>
                    NOTE: Our base fees may vary based on our agreement with the applicable event organizer and do not include additional amounts such as taxes, royalties, payment processing and other service fees.</p>

                    <p class="l-pad-vert-1 text-body--significant l-mar-top-2">When will I get paid?</p>
                    <p>events referral payments are initiated on the 20th of every month for the prior month. You will only be paid after your balance has reached $5.00 or higher.</p>

                    <p class="l-pad-vert-1 text-body--significant l-mar-top-2">I referred someone to events but I don't see any account signups.  What's wrong?</p>
                    <p>Be certain that you have copied your personal referral link exactly as it appears above.  Also be certain that your referrals have used the link to access events.  You may not create the account for someone yourself.</p>

                    <p class="l-pad-vert-1 text-body--significant l-mar-top-2">How long before I start referral payments?</p>
                    <p>You will begin earning referral payments as soon as your referrals begin selling tickets.</p>

                    <p class="l-pad-vert-1 text-body--significant l-mar-top-2">Can I create more than one personal referral link?</p>
                    <p>Absolutely.  You can create as many personal referral links as you like.  Each referral link will have its own set of referral statistics.</p>

                    <p class="l-pad-vert-1 text-body--significant l-mar-top-2">What if I have another question?</p>
                    <p>Feel free to contact us at <a href="mailto:referrals@events.com">referrals@events.com</a> for any questions related to the events Referral Program.</p>

                    <p class="l-pad-vert-1 text-body--significant l-mar-top-2"><a href="https://www.events.com/support/articleredirect?anum=3214">Learn more about our referral program</a></p>
                </div>
            </div>
        </div>
    </div>
<!--/div-->
{% endblock %}
{% block shipping %}{% endblock %}

{% block footer %}

{% include 'home/footer_second.html' %}

{% endblock %}