<div class="features">
        <div class="container">
         	<div class="row">{%  for event in events_data %}
            	<div class="col-md-4 col-sm-6">{% if event.publish_event == '1' %}
              		<div class="features-box wow fadeInDownQuick" data-wow-delay="0.3s">
                		<div class="pics event_box">
								<img src="/static/images/events/{{ event.image }}"/>
								<ul class="event_menu">
									<li><a href="">Price: {{ event.price }}</a> </li>
									<li><a href="">Time: {{ event.time }}</a> </li>
						 			<li><a href="">Event: {{ event.name }}</a> </li>
						 			<li><a href="">{{ event.description }}</a> </li>
									<li><a href="">{{ event.city }} , {{ event.country }}</a> </li>
						 		</ul>
						</div>
              		</div>
            	</div>
            </div>
        {% else %}
        <p> Sorry No Events found</p>
        {% endif %}
        {% endfor %}
        </div>
    </div>