{% extends 'dashboard/account_settings.html' %}
{% load static %}
{% block setting_content %}
<!--div class="col-md-9"-->
    <div class="g-vertical-group g-cell-12-12 g-cell-lg-9-12 l-mar-top-4">
        <div class="g-cell g-cell-12-12 show-large">
            <header>
                <h1 class="text-heading-primary">Social Settings</h1>
            </header>
        </div>
        <div class="g-cell g-cell-1-1 l-pad-vert-2"><hr></div>

        <div class="l-mar-top-3">
            <div class="g-cell g-cell-12-12 js-social-settings-linked-error is-hidden">
                <div class="notification notification--error">
                    This Facebook account is already connected to an events account. Please disconnect from the other account and try again.
                </div>
            </div>
            <div class="g-cell g-cell-12-12 l-mar-top-2">Connecting to Facebook will allow your friends to find you on events
            </div>
            <div class="g-cell g-cell-12-12 l-mar-top-2">
                <button class="js-facebook-connect js-facebook-btn btn btn--large btn--ico btn--facebook">
                    <i class="ico-facebook-badge ico--large"></i>
                    <span>Connect</span>
                </button>
            </div>

        </div>
    </div>
<!--/div-->
{% endblock %}
{% block shipping %}{% endblock %}

{% block footer %}

{% include 'home/footer_second.html' %}

{% endblock %}