{% extends 'home/index.html' %}
{% load static %}

{% block slider %}

{% endblock %}

{% block content %}

<div class="settings_content top_class">
	<div class="container">
		<div class="row col-lg-12">
		<span id="empty_field_error" class="mendantory_fields" style="display:none;color:red"><p class="error_content"> Please fill all the mendantory fields </p><span id='close_error' class="hide_error">x</span></span>
		{% for data in subevent_data_view %}
			<input type="hidden" class="subordered_event_id" name="ordered_event_id" value="{{ data.sub_event_id }}">
			<input type="hidden" class="ordered_event_id" name="ordered_event_id" value="{{ data.event_id }}">
			<input type="hidden" class="subordered_ticket_id" name="ordered_ticket_id" value="{{ data.ticket_id }}">
			<input type="hidden" class="subordered_ticket_name" name="ordered_ticket_name" value="{{ data.ticket_name }}">
			<input type="hidden" class="subordered_quantity" name="ordered_quantity" value="{{ data.selected_quantity }}">
			<div class="col-lg-8 event_time_desc">
				<ul>
					<li class="">{{ data.sub_event_name }} </li>
					<li class="">From: {{ data.start_time }} </li>
					<li>To: {{ data.end_time }} </li>
				</ul>
			</div>
			<div class="col-lg-4">
				<ul>
					<li class="event_img"><img src="/static/images/subevents/{{ data.image }}" class="img_event" /></li>
				</ul>
			</div>
		<div class="loader" style="display: none; color: #008aff;"><img class="loader_img" src="/static/images/loader.gif"/> </div>
		</div>
		<div class="col-lg-12">
			<div class="row col-lg-8 setting_content">
				<div class="col-lg-12 order_reg_form">
			    	<div class="panel_628">
						<div id="order_summary_container">
							<div class="panel_head2 registration_info">
							    Order Summary
							</div>
							<div id="order_summary_data" class="panel_body">
							    <table width="100%" cellspacing="0" cellpadding="0" border="0" data-automation="ticket_table" class="ticket_table">
									<tbody>
										<tr class="ticket_table_head">
											<td width="400">TYPE</td>
											<td align="center">QUANTITY</td>
											<td align="center"></td>
										</tr>				                        
						    			<tr class="ticket_row">
						    				<td class="">{{ data.ticket_name }}</td>
						    				<td align="center" class="">{{ data.selected_quantity }}</td>
						    				<td align="center"></td>
						    			</tr>
							    	</tbody>
							    </table>
							</div>
						</div>
	                </div>
	            </div>
				<div class="col-lg-12 order_reg_form">
					<div class="panel_628">
			          	<div class="panel_head2">
				            <div class="registration_info">
				                  <span><h3>Registration Information</h3></span>
				            </div>
				            <div class="col-lg-12">
					            <div class="reg_head">
					            	<h4>Your Information</h4>
					            	<span id="invalid_emails" style="display:none;color:red">Invalid email address</span>
					            </div>
								<form target="_top" method="post" name="registrationForm" id="registrationForm">
									<div class="reg_order_details">
										<div class="first_name_user">
											<div class="first_name_label reg_label col-lg-6">
												<label for="first_name">First Name:</label>
												<span valign="top" style="width:12px"><span class="required">*</span></span>
											</div>
											<div class="first_name_field col-lg-6">
												<input type="text" class="form-control reg_table first_name" style="width: 200px;" value="" name="first_name" id="first_name">
											</div>
										</div>
									
										<div class="last_name_user">
											<div class="last_name_label reg_label col-lg-6">
												<label for="last_name">Last Name:</label>
												<span valign="top" style="width:12px"><span class="required">*</span></span>
											</div>
											<div class="last_name_field col-lg-6">
												<input type="text" class="form-control reg_table last_name" style="width: 200px;" value="" name="last_name" id="last_name">
											</div>
										</div>
									
										<div class="email_add_user">
											<div id="email_fields"> </div>
											
									        
										</div>
									
										<div class="submit_order reg_label">
											<button type="button" class="btn btn-default get_ticket_button sub_order_button" data-dismiss="modal">Complete Registration</button>
										</div>
									</div>
								</form>
							</div>
						</div>
			        </div>        
			    </div>
			</div>
			<div class="col-lg-4 setting_content">
				<div class="col-lg-12 order_reg_form">
			    	<div class="panel_628">
						<div id="order_summary_container">
							<div class="panel_head2 registration_info">
							    When and Where
							</div>
							<div id="order_summary_data" class="panel_body event_timings">
							    <ul>
									<li>{{ data.sub_event_name }} </li>
									<li>{{ data.description }} </li>
									<li>From: {{ data.start_time }} </li>
									<li>To: {{ data.end_time }} </li>
									<!--li>{{ data.city }} </li>
									<li>{{ data.country }} </li-->
								</ul>
							</div>
						</div>
	                </div>
	            </div>
	            
	            <div class="col-lg-12 order_reg_form">
			    	<div class="panel_628">
						<div id="order_summary_container">
							<div class="panel_head2 registration_info">
							    Organizer
							</div>
							<div id="order_summary_data" class="panel_body event_timings">
							    <ul>
							    	<li>{{ data.organizer_name }}</li>
							    	<li>{{ data.organizer_description }}</li>
							    </ul>
							    <span class="button_css">
					                <a data-toggle="modal" data-target="#contact_organizer" data-event-id="26909802945" data-organizer-id="8005564405" class="contact_organizer_link js-d-modal" dorsal-guid="f64833d8-1f83-7b8a-07cb-08f1c321a563" data-xd-wired="modal">
						                <span class="icon contact_host_icon">&nbsp;</span>
						                Contact the Organizer
						            </a>
					        	</span>
							</div>
						</div>
	                </div>
	            </div>
			</div>{% endfor %}
		</div>
	</div>
</div>

<!--modal to send email to organizer-->


    <div id="contact_organizer" class="modal fade">

        <div class="modal-dialog">

            <div class="modal-content modal_data">

                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                    <h4 class="modal-title">Your Message </h4>
                    <span id="invalid_sender_email" style="display:none;color:red">Invalid email address</span>

                </div>

                <div class="modal-body">
	               	<div class="form_msg_input">
		                <div class="form-group">
					        <label class="control-label col-md-4 sender_labels" for="first_name">Your Name</label>
					        <div class="col-md-6">
					            <input type="text" class="form-control sender_name sender_input_field" id="first_name" name="first_name" placeholder="First Name"/>
					        </div>
					    </div>
					    <div class="form-group">
					        <label class="control-label col-md-4 sender_labels" for="email">Email Address</label>
					        <div class="col-md-6 input-group email_input">
					        <span class="input-group-addon">@</span>
					            <input type="email" value="{{ logged_in_user }}" class="form-control sender_email sender_input_field" id="email" name="email" placeholder="Email Address"/>
					        </div>
					    </div>
					    <div class="form-group">
					        <label class="control-label col-md-4 sender_labels" for="comment">Question or Comment</label>
					        <div class="col-md-6">
					            <textarea rows="6" class="form-control sender_comment sender_input_field" id="comments" name="comments" placeholder="Your question or comment here"></textarea>
					        </div>
					    </div>
					    <div class="form-group">
					        <div class="col-md-10">
					            <button type="submit" value="Submit" class="btn btn-custom pull-right send_msg">Send</button>
					        </div>
					    </div>
					</div>
				</div>
                <div class="modal-footer">

                    <!--button type="button" class="btn btn-default" data-dismiss="modal">Close</button-->

                    <!--button type="button" class="btn btn-primary">Save changes</button-->

                </div>

            </div>

        </div>

    </div>


<!--ends here-->
<!--modal for Events list-->


    <div id="confirmation_modal" class="modal fade">

        <div class="modal-dialog">

            <div class="modal-content">

                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                    <h4 class="modal-title">Ticket Confirmation </h4>

                </div>

                <div class="modal-body">

                    <h4 class="tic_confirmation">Your ticket is created successfully and saved to Your Ticket</h4>
                    <p class="tic_confirmation_p">Click the My Tickets button to view your tickets</p>
                    <!--a data-event-id="{{ name.event_id }}" class="event_subevent_modal">
                    	<ul class="events_names_list">
                    		<li>{{ name.event_name }}</li>
                    	</ul>
                    </a-->
                </div>

                <div class="modal-footer">

                    <!--button type="button" class="btn btn-default" data-dismiss="modal">Close</button-->

                    <button type="button" class="btn btn-primary view_ticket">My Tickets</button>

                </div>

            </div>

        </div>

    </div>


<!--ends here-->

<!--modal for Events list-->


    <div id="sub_confirmation_modal" class="modal fade">

        <div class="modal-dialog">

            <div class="modal-content">

                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                    <h4 class="modal-title">Ticket Confirmation </h4>

                </div>

                <div class="modal-body">

                    <h4 class="tic_confirmation">Your ticket has been created successfully and saved to Your Ticket</h4>
                    <p class="tic_confirmation_p">Click the My Tickets button to view your tickets</p>
                    <!--a data-event-id="{{ name.event_id }}" class="event_subevent_modal">
                    	<ul class="events_names_list">
                    		<li>{{ name.event_name }}</li>
                    	</ul>
                    </a-->
                </div>

                <div class="modal-footer">

                    <!--button type="button" class="btn btn-default" data-dismiss="modal">Close</button-->

                    <button type="button" class="btn btn-primary view_sub_ticket">My Tickets</button>

                </div>

            </div>

        </div>

    </div>


<!--ends here-->


{% endblock %}

{% block footer %}

{% include 'home/footer_second.html' %}

{% endblock %}