{% load static %}
  <div class="create_content sub_event_remove_{{ index }}">
    <div class="container">
      <div class="row">
            <span id="empty_field_error" class="mendantory_fields" style="display:none;color:red"><p class="error_content"> Please fill all the mendantory fields </p><span id='close_error' class="hide_error">x</span></span>
            <span id="save_success" style="display:none;color:green"> Your event has been saved successfully</span>
            <p class="empty_text"></p>
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <div class="form"><!-- form div starts here -->
            <div class="event_details">
            <div class="row">
            <div class="col-md-6">
              <label>{{ index }}</label>
              <span>Sub Event {{ index }}Details</span>
              <input id="sub_event_index" class="sub_event_index_test" type="text" name="" value="{{ index }}" hidden="">
              </div>
              <div class="col-md-6">
              <div class="subevent_collapse_">
              <button class="btn btn-success sub_event_div_expand_{{ index }} expand" style="display:none;">Expand</button>
              <button class="btn btn-success sub_event_div_collapse_{{ index }} expand">Collapse</button>
              <button class="btn btn-success sub_event_div_delete_{{ index }} expand">Delete</button>
              </div>
              </div>
              <hr>
              </div>
            </div>
            <div  id="subevent_data_{{ index }}">
            <form class="subevent_data_{{ index }}">
            <div class="event_title">
              <div class="form-group">
                <div class="label_name">
                  <label>Sub Event title <span class="required">*</span></label>
                  <span id="name_required" style="display:none;color:red"> Please fill Name</span>
                </div>
                <div class="field_name">
                  <input id="event_name" type="text" class="form-control" name="event_title" placeholder="Give it a short distinct name">
                </div>
              </div>
              <div class="form-group">
                <div class="label_name">
                  <label>Sub Event description <span class="required">*</span></label>
                  <span id="event_desc_required" style="display:none;color:red"> Please fill description</span>
                </div>
                <div class="field_name">
                  <input type="text" id="event_desc" class="form-control" name="event_description" placeholder="Give it a description">
                </div>
              </div>
              <div class="form-group">
              </div>
              <div class="form-group">
                <div class="label_name">
                  <label>Venue <span></span></label>
                </div>
                <div class="field_name">
                  <input type="text" class="form-control" id="venue" name="venue" placeholder="Venue of subevent">
                </div>
              </div>
              <div class="form-group">
                <div class="label_name">
                  <label>Organizer name <span class="required">*</span></label>
                  <span id="organizer_name_required" style="display:none;color:red"> Please fill Organizer name</span>
                </div>
                <div class="field_name">
                  <input type="text" class="form-control" id="organizer_name" name="organizer_name" placeholder="Organiser name">
                </div>
              </div>

               <div class="form-group">
                <div class="label_name">
                  <label>Make subevent Visible <span class="required">*</span></label>
                </div>
                <div class="field_name">
                  <input type="checkbox" class="form-control" id="visible_{{ index }}" name="visible">
                </div>
              </div>

              <div class="form-group">
                <div class="label_name">
                  <label>Organizer description <span class="required">*</span></label>
                  <span id="organizer_desc_required" style="display:none;color:red"> Please fill description</span>
                </div>
                <div class="field_name">
                  <input type="text" id="organizer_desc" class="form-control" name="organizer_description" placeholder="Give it a description">
                </div>
              </div>
              <div class="form-group">
                <div class="label_name">
                  <label>sub Event Category <span class="required">*</span></label>
                  <span id="organizer_desc_required" style="display:none;color:red"> Please fill Category</span>
                </div>
                <div class="field_name">
                  <input type="text" class="form-control" id="subevent_category_{{ index }}" name="event_category" placeholder="Event Category">
                </div>
              </div>
              
              <div class="form-group">
                <div class="label_name">
                  <label>Sub Event Starts <span class="required">*</span></label>
                </div>
                <div class="field_name">
                  <input size="16" type="text" name="start_time" readonly class="form-control start_time_{{ index }}" value="{{ event.start_time|date:"Y-m-d h:s" }}">
                </div>
              </div>

              <div class="form-group">
                <div class="label_name">
                  <label>Sub Event Ends <span class="required">*</span></label>
                </div>
                <div class="field_name">
                  <input size="16" type="text" name="end_time" readonly class="form-control end_time_{{ index }}" value="{{ event.end_time|date:"Y-m-d h:s" }}">
                </div>
              </div>
            </div>
            <!-- image upload -->
          <div class="form-group">
                <div class="label_name">
                  <label>Sub Event Banner<span class="required">*</span></label>
                </div>
          </div>
          <div class="panel panel-default" style="margin-top: 12px; height: 200px">
            {% if event.event_banner %}
            <img src="media/{{ event.event_banner }}" class="event-banner">
            <a href="{% url 'events:delete_banner' %}?id={{ event.id }}" style="margin-top: 8px;">Delete</a>
            {% else %}
            <div id="sub_dropzone_{{ index }}" class="dropzone sub_event_dropzone needsclick dz-clickable" id="demo-upload">
              <div class="dz-message needsclick"> <!-- Hidden Field for sub event -->
                <input type="hidden" id ="sub_event_index" value="{{ index }}">
                Drop files here or click to upload.<br>
                <span class="note needsclick">We recommend using at least a 2160x1080px (2:1 ratio) image that's no larger than 10MB. Learn more.</span>
              </div>
            </div>
            {% endif %}
          </div>
          </br>
            <div class="create_tickets">
              <label>{{ index }}</label>
              <span>Create Tickets for Subevent {{ index }}</span>
              <hr>
            </div>
            <div class="js-create-ticket-wrapper ticket-container--no-handles" style="">
              <section class="js-ticket-summary js-ticket-summary-container" style="opacity: 1;">
                <div class="g-group js-ticket-summary-footer create-tickets--footer l-pad-vert-2">
                      <div>
                        <div class="g-cell g-cell-1-1 btn-group btn-group--responsive l-align-center l-pad-bot-1">
                        <div class="ticket_variant">
                        <a style="margin-left: 180px" class="free_ticket_form" id="free_ticket_form_{{ index }}"><i class="fa fa-plus-circle" aria-hidden="true"></i>Free ticket</a>
                        <a class="paid_ticket_form" id="paid_ticket_form_{{ index }}"><i class="fa fa-plus-circle" aria-hidden="true"></i>Paid ticket</a>
                        <!--a class="donation_ticket_form" id="donation_ticket_form_{{ index }}"><i class="fa fa-plus-circle" aria-hidden="true"></i>Donation</a-->
                      </div>
                    </div>
                  </div>
                </div>
                  
                <!--############### Free ticket Form #########################################-->
                  <div class="g-cell g-cell-1-1 l-mar-top-2 g-offset-lg-1-12 g-cell-lg-10-12 free-ticket-container free_ticket_content_{{ index }}" style="display: none;">
                    <div class="g-group create-tickets--header hide-small">
                        <div class="g-cell g-cell-5-12 g-cell--no-gutters l-block-h-2 l-pad-vert-2" id="ticket_name">
                            Ticket name<span class="required">*</span>
                        </div>
                        <div id="quantity_available" class="g-cell g-cell-2-12 g-cell--no-gutters l-padded-h-half l-pad-vert-2">
                            Quantity available<span class="required">*</span>
                        </div>
                        <div id="ticket_price" class="g-cell g-cell-3-12 g-cell--no-gutters l-padded-h-half l-pad-vert-2">Price</div>
                        <div class="g-cell g-cell-2-12 g-cell--no-gutters l-padded-h-half l-pad-vert-2">Actions</div>
                        <div class="g-group create-tickets--row report__row--paid-ticket">
                      <div style="position: relative;" class="js-ticket-row ticket-row">
                        <div class="g-cell g-cell-1-1 g-cell-md-5-12 g-cell--no-gutters sorting-gripper-container l-padded-h-half l-mar-top-2">
                              <div class="js-sorting-gripper sorting-gripper hide-small ">
                                  <i class="ico-gripper ico--xxlarge ico--color-understated"></i>
                              </div>

                              <label class="label-primary hide-medium-accessible hide-large-accessible" for="group-tickets-0-ticket_type">Ticket name</label>
                              <div>
                                  
                                  <input id="free_tic_name" type="text" title="" placeholder="Early Bird, RSVP..." class="form__input form__input--full-width js-ticket-name" id="id_group-tickets-0-ticket_type" maxlength="255" name="group-tickets-0-ticket_type" data-original-title="Give your ticket a name, like General Admission, Early Bird, RSVP, etc.">

                              </div>
                          </div>

                          <div class="g-cell g-cell-1-2 g-cell-md-2-12 g-cell--no-gutters l-mar-top-2 l-padded-h-half">
                              <label class="label-primary hide-medium-accessible hide-large-accessible" for="group-tickets-0-quantity_total">Quantity</label>
                              
                              <input id="free_quantity" type="text" title="" placeholder="100" pattern="[0-9]*" class="form__input--full-width js-quantity-input" id="id_group-tickets-0-quantity_total" maxlength="6" name="group-tickets-0-quantity_total" data-original-title="Enter the total number of tickets available for this ticket type">     
                          </div>

                          <div class="g-cell g-cell-1-2 g-cell-md-3-12 g-cell--no-gutters l-mar-top-2 l-padded-h-half paid-ticket-container">
                              <label class="label-primary hide-medium-accessible hide-large-accessible" for="group-tickets-0-cost">Price</label>
                              <div class="js-payment-type">
                                <div>
                                  <div class="responsive-form__input--currency">
                                  <input id="free_tic_price" type="text" maxlength="11" title="" placeholder="Free" class="js-price-input form__input--xxsmall" id="id_group-tickets-0-cost" name="group-tickets-0-cost" data-original-title="Set your ticket price. (You'll select payout options later on the Manage page)" disabled="disabled" style="border-color: #ccc !important">
                              </div>
                            </div>
                          </div>
                        </div>

                          <div class="g-cell g-cell-1-1 g-cell-md-2-12 g-cell--no-gutters l-mar-top-2 l-padded-h-half report__row__tab-group">
                              <a title="" id="free_settings_{{ index }}" class="js-ticket-settings-link report__row__tab narrow-tooltip icon-link" data-original-title="Ticket Settings">
                                  <i alt="Settings" class="ico-settings ico--medium"></i>
                              </a>
                              <a href="#" id="free_ticket_report"  title="" class="js-delete-ticket report__row__tab narrow-tooltip icon-link" id="id_group-tickets-0-delete_ticket" data-original-title="Delete" style="display: inline;">
                                  <i alt="Delete" class="ico-trash ico--medium"></i>
                              </a>
                          </div>
                          <div class="col-lg-12">
                          <p class="image_note">NOTE<span class="required">*</span>: <span class="note_content">Please click Settings icon to fill the additional information</span></p>
                        </div>
                      </div>
                    </div>
                    </div>
                    <div class="free_container_{{ index }} js-ticket-container create-tickets--container" style="display: none;">
                      <div class="ui-sortable ui-sortable-disabled" style="">
                        <div class="create-tickets--ticket" style="display: block; opacity: 1;">
                          
                        <div class="ticket-settings settings">
                          <div class="ticket-settings-container js-ticket-settings">
                              <div class="l-mar-top-2 g-cell g-cell-1-1">
                                  <div class="js-ticket-name l-mar-top-1 text-body-large">Settings</div>
                                  <hr class="l-mar-top-2">
                              </div>
                            <div class="responsive-form text-body-medium l-pad-vert-3">
                                  <div class="js-help-target g-group">
                                      <label for="id_group-tickets-0-description" class="responsive-form__fieldset-legend g-cell g-cell-1-1">
                                          Ticket description
                                      </label>
                                      <div class="g-cell g-cell-1-1 g-cell-md-2-3 g-cell-lg-3-4 ">
                                          <textarea placeholder="Tell your attendees more about this ticket type." class="free_ticket_description js-ticket-description" id="id_group-tickets-0-description" name="group-tickets-0-description" data-check="{}"></textarea>
                                          <input type="hidden" class="js-show-ticket-description-hidden" id="id_group-tickets-0-hide_description" name="group-tickets-0-hide_description" data-check="{}" value="true">
                                      </div>
                                  </div>
                              <div class="js-help-target js-ticket-sales-channel g-group" style="display: block;">
                                  <div class="g-vertical-group g-cell-1-1 g-cell-md-2-3 g-cell-lg-3-4 ">
                                      <h4 class="responsive-form__fieldset-legend g-cell g-cell-1-1 l-mar-top-3">
                                              Sales channel 
                                          </h4>
                                            <div class="g-cell g-cell-1-1 l-mar-top-1">
                                                
                                    <select id="id_group-tickets-0-sales_channel_option" name="group-tickets-0-sales_channel_option" class="free_sale_channel js-d-select-box js-ticket-sales-channel-option" dorsal-guid="be62c6f8-aeaf-7519-2440-6e5a370bbd24" data-xd-wired="select-box">   
                                                  <option value="everywhere" selected="selected">Everywhere</option>
                                                  <option value="online">Online only</option>
                                                  <option value="At the door">At the door only</option>
                                              </select>
                                          </div>
                                  </div>
                              </div>

                              <div class="js-help-target js-ticket-sales">
                                <div class="g-group">
                                  <div class="g-vertical-group g-cell-1-1 g-cell-md-2-3 g-cell-lg-3-4"><br>
                                    <div class="form-group">
                
                                      <div class="label_name">
                                        <label>Ticket Sale Starts <span class="required">*</span></label>
                                      </div>
                                      <div class="field_name">
                                        <input size="16" type="text" name="ticket_start_time" readonly class="form-control subevent_sale_start ticket_start_time_{{ index }}" value="{{ event.start_time|date:"Y-m-d h:s" }}">
                                      </div>
                                    </div>

                                    <div class="form-group">
                                      <div class="label_name">
                                        <label>Ticket Sale Ends <span class="required">*</span></label>
                                      </div>
                                      <div class="field_name">
                                        <input size="16" type="text" name="ticket_end_time" readonly class="form-control subevent_sale_end ticket_end_time_{{ index }}" value="{{ event.end_time|date:"Y-m-d h:s" }}">
                                      </div>
                                    </div>  
                                  </div>        
                                </div>
                              </div>
                                  <div class="js-help-target js-min-max-tickets l-mar-top-3 g-group">
                                      <h4 class="responsive-form__fieldset-legend g-cell g-cell-1-1">
                                          Tickets allowed per order
                                          <p class="min_max" style="display:none; color: red;">Accepting Only values 1-10</p>
                                      </h4>
                                      <div class="g-cell g-cell-1-1 g-cell-md-2-3 g-cell-lg-3-4">
                                          <div class="g-group">
                                              <div class="g-cell g-cell-1-2 g-cell-md-1-4 g-cell--no-gutters l-mar-top-3">
                                                  <input type="text" pattern="[0-9]*" class="free_ticket_minimum js-order-minimum l-pad-hor-1 free_min" id="id_group-tickets-0-order_minimum" value="1" name="group-tickets-0-order_minimum">
                                                  <label for="id_group-tickets-0-order_minimum">Minimum
                                                  </label>
                                                  <div class="js-error-for-order_min form__field-error"></div>
                                              </div>
                                              <div class="g-cell g-cell-1-2 g-cell-md-1-4 g-cell--no-gutters l-block-h-1 l-mar-top-3">
                                                  <input type="text" pattern="[0-9]*" class="free_ticket_maximum js-order-maximum l-pad-hor-1 free_max" id="id_group-tickets-0-order_limit" placeholder="10" name="group-tickets-0-order_limit">
                                                  <label for="id_group-tickets-0-order_limit">
                                                      Maximum
                                                  </label>
                                                  <div class="js-error-for-order_limit form__field-error"></div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--############### Ends here #########################################-->

                <!--############### Paid ticket Form #########################################-->
                <div class="g-cell g-cell-1-1 l-mar-top-2 g-offset-lg-1-12 g-cell-lg-10-12 paid_cantainer_wrapper paid_ticket_content_{{ index }} paid-ticket-container" style="display: none;">
                    <div class="g-group create-tickets--header hide-small">
                        <div class="g-cell g-cell-5-12 g-cell--no-gutters l-block-h-2 l-pad-vert-2" id="ticket_name">
                            Ticket name<span class="required">*</span>
                        </div>
                        <div id="quantity_available" class="g-cell g-cell-2-12 g-cell--no-gutters l-padded-h-half l-pad-vert-2">
                            Quantity available<span class="required">*</span>
                        </div>
                        <div id="ticket_price" class="g-cell g-cell-3-12 g-cell--no-gutters l-padded-h-half l-pad-vert-2">Price</div>
                        <div class="g-cell g-cell-2-12 g-cell--no-gutters l-padded-h-half l-pad-vert-2">Actions</div>
                        <div class="g-group create-tickets--row report__row--paid-ticket">
                      <div style="position: relative;" class="js-ticket-row ticket-row">
                        <div class="g-cell g-cell-1-1 g-cell-md-5-12 g-cell--no-gutters sorting-gripper-container l-padded-h-half l-mar-top-2">
                              <div class="js-sorting-gripper sorting-gripper hide-small ">
                                  <i class="ico-gripper ico--xxlarge ico--color-understated"></i>
                              </div>

                              <label class="label-primary hide-medium-accessible hide-large-accessible" for="group-tickets-0-ticket_type">Ticket name</label>
                              <div>
                                  
                                  <input id="paid_tic_name" type="text" title="" placeholder="Early Bird, RSVP..." class="form__input form__input--full-width js-ticket-name" id="id_group-tickets-0-ticket_type" maxlength="255" name="group-tickets-0-ticket_type_paid" data-original-title="Give your ticket a name, like General Admission, Early Bird, RSVP, etc.">

                              </div>
                          </div>

                          <div class="g-cell g-cell-1-2 g-cell-md-2-12 g-cell--no-gutters l-mar-top-2 l-padded-h-half">
                              <label class="label-primary hide-medium-accessible hide-large-accessible" for="group-tickets-0-quantity_total">Quantity</label>
                              
                              <input id="paid_quantity" type="text" title="" placeholder="100" pattern="[0-9]*" class="form__input--full-width js-quantity-input" id="id_group-tickets-0-quantity_total" maxlength="6" name="group-tickets-0-quantity_total_paid" data-original-title="Enter the total number of tickets available for this ticket type">     
                          </div>

                          <div class="g-cell g-cell-1-2 g-cell-md-3-12 g-cell--no-gutters l-mar-top-2 l-padded-h-half paid-ticket-container">
                              <label class="label-primary hide-medium-accessible hide-large-accessible" for="group-tickets-0-cost">Price</label>
                              <div class="js-payment-type">
                                <div>
                                  <div class="responsive-form__input--currency">
                                  <div class="responsive-form__input--currency__symbol">$
                                  </div>
                                  <input id="paid_tic_price" type="text" maxlength="11" title="" placeholder="15.00" class="js-price-input form__input--xxsmall" id="id_group-tickets-0-cost" name="group-tickets-0-cost_paid" data-original-title="Set your ticket price. (You'll select payout options later on the Manage page)">
                              </div>
                              <div class="js-ticket-buyer-total text-body-small text-body--faint is-hidden" style="display: block;">
                                  Buyer total:
                                  <a class="js-ticket-buyer-total-number" href="#">$0.00</a>

                                  <a href="#" class="js-ticket-fee-summary-link tooltip--important is-hidden" data-original-title="" title="" style="display: inline;">
                                      <i class="ico-information ico--color-understated ico--small"></i>
                                  </a>
                              </div>

                              <span class="form__field-error is-hidden js-error-for-ticketPrice"></span>
                            </div>
                          </div>
                        </div>

                          <div class="g-cell g-cell-1-1 g-cell-md-2-12 g-cell--no-gutters l-mar-top-2 l-padded-h-half report__row__tab-group">
                              <a title="" id="paid_settings_{{ index }}" class="js-ticket-settings-link report__row__tab narrow-tooltip icon-link" data-original-title="Ticket Settings">
                                  <i alt="Settings" class="ico-settings ico--medium"></i>
                              </a>
                              <a href="#" id="paid_ticket_report"  title="" class="js-delete-ticket report__row__tab narrow-tooltip icon-link" id="id_group-tickets-0-delete_ticket" data-original-title="Delete" style="display: inline;">
                                  <i alt="Delete" class="ico-trash ico--medium"></i>
                              </a>
                          </div>
                          <div class="col-lg-12">
                          <p class="image_note">NOTE<span class="required">*</span>: <span class="note_content">Please click Settings icon and fill the Additional fields</span></p>
                        </div>
                      </div>
                    </div>
                    </div>
                    <div class="paid_container_{{ index }} js-ticket-container create-tickets--container" style="display: none;">
                      <div class="ui-sortable ui-sortable-disabled" style="">
                        <div class="create-tickets--ticket" style="display: block; opacity: 1;">
                          
                        <div class="ticket-settings settings">
                          <div class="ticket-settings-container js-ticket-settings">
                              <div class="l-mar-top-2 g-cell g-cell-1-1">
                                  <div class="js-ticket-name l-mar-top-1 text-body-large">Settings</div>
                                  <hr class="l-mar-top-2">
                              </div>
                            <div class="responsive-form text-body-medium l-pad-vert-3">
                                  <div class="js-help-target g-group">
                                      <label for="id_group-tickets-0-description" class="responsive-form__fieldset-legend g-cell g-cell-1-1">
                                          Ticket description
                                      </label>
                                      <div class="g-cell g-cell-1-1 g-cell-md-2-3 g-cell-lg-3-4 ">
                                          <textarea placeholder="Tell your attendees more about this ticket type." class="paid_ticket_description js-ticket-description" id="id_group-tickets-0-description" name="group-tickets-0-description_paid" data-check="{}"></textarea>
                                      </div>
                                  </div>
                              <div class="js-help-target js-ticket-sales-channel g-group" style="display: block;">
                                  <div class="g-vertical-group g-cell-1-1 g-cell-md-2-3 g-cell-lg-3-4 ">
                                      <h4 class="responsive-form__fieldset-legend g-cell g-cell-1-1 l-mar-top-3">
                                              Sales channel 
                                          </h4>
                                            <div class="g-cell g-cell-1-1 l-mar-top-1">
                                                
                                    <select id="id_group-tickets-0-sales_channel_option" name="group-tickets-0-sales_channel_option_paid" class="paid_sale_channel js-d-select-box js-ticket-sales-channel-option" dorsal-guid="be62c6f8-aeaf-7519-2440-6e5a370bbd24" data-xd-wired="select-box">   
                                                  <option value="everywhere" selected="selected">Everywhere</option>
                                                  <option value="online">Online only</option>
                                                  <option value="At the door">At the door only</option>
                                              </select>
                                            </div>
                                  </div>
                              </div>

                              <!--div class="js-help-target js-ticket-sales">
                                <div class="g-group">
                                  <div class="g-vertical-group g-cell-1-1 g-cell-md-2-3 g-cell-lg-3-4">
                                    <div class="js-ticket-sales-start-group g-cell g-cell-1-1 l-mar-top-3">
                                          <h4 for="id_group-tickets-0-start_sales" class="responsive-form__fieldset-legend">
                                              Ticket sales start
                                          </h4>

                                          <div class="js-ticket-sales-start">
                                              <div class="js-visibility-container">
                                            <div>
                                              <div class="date_event">
                                                <div class="date_picker">
                                                  <div style="float:left">
                                                    <div class="col-lg-6">
                                                  <input class="start_end_date" id="paid_start_date" type="text" >
                                                </div>
                                                <div class="col-lg-6">
                                                  <input type="text" name="" id="paid_start_time" class="start_end_date">
                                                </div>
                                              </div>
                                            </div>
                                            </div>
                                            
                                          </div>
                                          </div>

                                          </div>
                                      </div>

                                    <div class="g-cell g-cell-1-1 g-cell--no-gutters l-mar-top-3">
                                          <h4 for="id_initial-group-tickets-0-end_sales" class="responsive-form__fieldset-legend g-cell g-cell-1-1">
                                              Ticket sales end
                                          </h4>

                                          <div>
                                              <div class="js-end-sales-explicit g-cell g-cell-1-1" id="id_group-tickets-0-end_sales_explicit">
                                                  <div>
                                                    <div class="date_event">
                                                <div class="date_picker">
                                                  <div style="float:left">
                                                    <div class="col-lg-6">
                                                  <input class="start_end_date" id="paid_end_date" type="text" >
                                                </div>
                                                <div class="col-lg-6">
                                                  <input type="text" name="" id="paid_end_time" class="start_end_date">
                                                </div>
                                              </div>
                                            </div>
                                            </div>
                                          </div>
                                          </div>
                                          </div>
                                      </div>
                                  </div>        
                                </div>
                              </div-->
                              <div class="js-help-target js-ticket-sales">
                                <div class="g-group">
                                  <div class="g-vertical-group g-cell-1-1 g-cell-md-2-3 g-cell-lg-3-4"><br>
                                    <div class="form-group">
                
                                      <div class="label_name">
                                        <label>Ticket Sale Starts <span class="required">*</span></label>
                                      </div>
                                      <div class="field_name">
                                        <input size="16" type="text" name="paid_ticket_start_time" readonly class="form-control paid_ticket_start_time_{{ index }}" value="{{ event.start_time|date:"Y-m-d h:s" }}">
                                      </div>
                                    </div>

                                    <div class="form-group">
                                      <div class="label_name">
                                        <label>Ticket Sale Ends <span class="required">*</span></label>
                                      </div>
                                      <div class="field_name">
                                        <input size="16" type="text" name="paid_ticket_end_time" readonly class="form-control paid_ticket_end_time_{{ index}}" value="{{ event.end_time|date:"Y-m-d h:s" }}">
                                      </div>
                                    </div>  
                                  </div>        
                                </div>
                              </div>
                                  <div class="js-help-target js-min-max-tickets l-mar-top-3 g-group">
                                      <h4 class="responsive-form__fieldset-legend g-cell g-cell-1-1">
                                          Tickets allowed per order
                                          <p class="min_max" style="display:none; color: red;">Accepting Only values 1-10</p>
                                      </h4>
                                      <div class="g-cell g-cell-1-1 g-cell-md-2-3 g-cell-lg-3-4">
                                          <div class="g-group">
                                              <div class="g-cell g-cell-1-2 g-cell-md-1-4 g-cell--no-gutters l-mar-top-3">
                                                  <input type="text" pattern="[0-9]*" class="paid_min paid_ticket_minimum js-order-minimum l-pad-hor-1" id="id_group-tickets-0-order_minimum" value="1" name="group-tickets-0-order_minimum_paid">
                                                  <label for="id_group-tickets-0-order_minimum">Minimum
                                                  </label>
                                                  <div class="js-error-for-order_min form__field-error"></div>
                                              </div>
                                              <div class="g-cell g-cell-1-2 g-cell-md-1-4 g-cell--no-gutters l-block-h-1 l-mar-top-3">
                                                  <input type="text" pattern="[0-9]*" class="paid_max paid_ticket_maximum js-order-maximum l-pad-hor-1" id="id_group-tickets-0-order_limit" placeholder="10" name="group-tickets-0-order_limit_paid">
                                                  <label for="id_group-tickets-0-order_limit">
                                                      Maximum
                                                  </label>
                                                  <div class="js-error-for-order_limit form__field-error"></div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--############### Ends here #########################################-->


                <!--############### Donation ticket Form #########################################-->
                <!--div class="g-cell g-cell-1-1 l-mar-top-2 g-offset-lg-1-12 g-cell-lg-10-12 donation-ticket-container donation_ticket_content" style="display: none;">
                    <div class="g-group create-tickets--header hide-small">
                        <div class="g-cell g-cell-5-12 g-cell--no-gutters l-block-h-2 l-pad-vert-2" id="ticket_name">
                            Ticket name<span class="required">*</span>
                        </div>
                        <div id="quantity_available" class="g-cell g-cell-2-12 g-cell--no-gutters l-padded-h-half l-pad-vert-2">
                            Quantity available<span class="required">*</span>
                        </div>
                        <div id="ticket_price" class="g-cell g-cell-3-12 g-cell--no-gutters l-padded-h-half l-pad-vert-2">Price</div>
                        <div class="g-cell g-cell-2-12 g-cell--no-gutters l-padded-h-half l-pad-vert-2">Actions</div>
                        <div class="g-group create-tickets--row report__row--paid-ticket">
                      <div style="position: relative;" class="js-ticket-row ticket-row">
                        <div class="g-cell g-cell-1-1 g-cell-md-5-12 g-cell--no-gutters sorting-gripper-container l-padded-h-half l-mar-top-2">
                              <div class="js-sorting-gripper sorting-gripper hide-small ">
                                  <i class="ico-gripper ico--xxlarge ico--color-understated"></i>
                              </div>

                              <label class="label-primary hide-medium-accessible hide-large-accessible" for="group-tickets-0-ticket_type">Ticket name</label>
                              <div>
                                  
                                  <input id="donation_tic_name" type="text" title="" placeholder="Early Bird, RSVP..." class="form__input form__input--full-width js-ticket-name" id="id_group-tickets-0-ticket_type" maxlength="255" name="group-tickets-0-ticket_type" data-original-title="Give your ticket a name, like General Admission, Early Bird, RSVP, etc.">

                              </div>
                          </div>

                          <div class="g-cell g-cell-1-2 g-cell-md-2-12 g-cell--no-gutters l-mar-top-2 l-padded-h-half">
                              <label class="label-primary hide-medium-accessible hide-large-accessible" for="group-tickets-0-quantity_total">Quantity</label>
                              
                              <input id="donation_quantity" type="text" title="" placeholder="100" pattern="[0-9]*" class="form__input--full-width js-quantity-input" id="id_group-tickets-0-quantity_total" maxlength="6" name="group-tickets-0-quantity_total" data-original-title="Enter the total number of tickets available for this ticket type">     
                          </div>

                          <div class="g-cell g-cell-1-2 g-cell-md-3-12 g-cell--no-gutters l-mar-top-2 l-padded-h-half paid-ticket-container">
                              <label class="label-primary hide-medium-accessible hide-large-accessible" for="group-tickets-0-cost">Price</label>
                              <div class="js-payment-type">
                                <div>
                                  <div class="responsive-form__input--currency">
                                  <input id="donation_tic_price" type="text" maxlength="11" title="" placeholder="Donate" class="js-price-input form__input--xxsmall" id="id_group-tickets-0-cost" name="group-tickets-0-cost" data-original-title="Set your ticket price. (You'll select payout options later on the Manage page)" readonly>
                              </div>
                              <span class="form__field-error is-hidden js-error-for-ticketPrice"></span>
                            </div>
                          </div>
                        </div>
                          <div class="g-cell g-cell-1-1 g-cell-md-2-12 g-cell--no-gutters l-mar-top-2 l-padded-h-half report__row__tab-group">
                              <a title="" id="donation_settings" class="js-ticket-settings-link report__row__tab narrow-tooltip icon-link" data-original-title="Ticket Settings">
                                  <i alt="Settings" class="ico-settings ico--medium"></i>
                              </a>
                              <a href="#" id="donation_ticket_report"  title="" class="js-delete-ticket report__row__tab narrow-tooltip icon-link" id="id_group-tickets-0-delete_ticket" data-original-title="Delete" style="display: inline;">
                                  <i alt="Delete" class="ico-trash ico--medium"></i>
                              </a>
                          </div>
                          <div class="col-lg-12">
                          <p class="image_note">NOTE<span class="required">*</span>: <span class="note_content">Please click Settings icon and fill the required fields</span></p>
                        </div>
                      </div>
                    </div>
                    </div>
                    <div class="donation_container js-ticket-container create-tickets--container" style="display: none;">
                      <div class="ui-sortable ui-sortable-disabled" style="">
                        <div class="create-tickets--ticket" style="display: block; opacity: 1;">
                          
                        <div class="ticket-settings settings">
                          <div class="ticket-settings-container js-ticket-settings">
                              <div class="l-mar-top-2 g-cell g-cell-1-1">
                                  <div class="js-ticket-name l-mar-top-1 text-body-large">Settings</div>
                                  <hr class="l-mar-top-2">
                              </div>
                            <div class="responsive-form text-body-medium l-pad-vert-3">
                                  <div class="js-help-target g-group">
                                      <label for="id_group-tickets-0-description" class="responsive-form__fieldset-legend g-cell g-cell-1-1">
                                          Ticket description
                                      </label>
                                      <div class="g-cell g-cell-1-1 g-cell-md-2-3 g-cell-lg-3-4 ">
                                          <textarea placeholder="Tell your attendees more about this ticket type." class="donation_ticket_description js-ticket-description" id="id_group-tickets-0-description" name="group-tickets-0-description" data-check="{}"></textarea>
                                      </div>
                                  </div>
                              <div class="js-help-target js-ticket-sales-channel g-group" style="display: block;">
                                  <div class="g-vertical-group g-cell-1-1 g-cell-md-2-3 g-cell-lg-3-4 ">
                                      <h4 class="responsive-form__fieldset-legend g-cell g-cell-1-1 l-mar-top-3">
                                              Sales channel 
                                          </h4>
                                            <div class="g-cell g-cell-1-1 l-mar-top-1">
                                               
                                    <select id="id_group-tickets-0-sales_channel_option" name="group-tickets-0-sales_channel_option" class="donation_sale_channel js-d-select-box js-ticket-sales-channel-option" dorsal-guid="be62c6f8-aeaf-7519-2440-6e5a370bbd24" data-xd-wired="select-box">   
                                                  <option value="everywhere" selected="selected">Everywhere</option>
                                                  <option value="online">Online only</option>
                                                  <option value="At the door">At the door only</option>
                                              </select>
                                            </div>
                                  </div>
                              </div>

                              <div class="js-help-target js-ticket-sales">
                                <div class="g-group">
                                  <div class="g-vertical-group g-cell-1-1 g-cell-md-2-3 g-cell-lg-3-4">
                                    <div class="js-ticket-sales-start-group g-cell g-cell-1-1 l-mar-top-3">
                                          <h4 for="id_group-tickets-0-start_sales" class="responsive-form__fieldset-legend">
                                              Ticket sales start
                                          </h4>

                                          <div class="js-ticket-sales-start">
                                              <div class="js-visibility-container">
                                            <div>
                                              <div class="date_event">
                                                <div class="date_picker">
                                                  <div style="float:left">
                                                    <div class="col-lg-6">
                                                  <input class="start_end_date" id="donation_start_date" type="text" >
                                                </div>
                                                <div class="col-lg-6">
                                                  <input type="text" name="" id="donation_start_time" class="start_end_date">
                                                </div>
                                              </div>
                                            </div>
                                            </div>
                                            
                                          </div>
                                          </div>

                                          </div>
                                      </div>

                                    <div class="g-cell g-cell-1-1 g-cell--no-gutters l-mar-top-3">
                                          <h4 for="id_initial-group-tickets-0-end_sales" class="responsive-form__fieldset-legend g-cell g-cell-1-1">
                                              Ticket sales end
                                          </h4>

                                          <div>
                                              <div class="js-end-sales-explicit g-cell g-cell-1-1" id="id_group-tickets-0-end_sales_explicit">
                                                  <div>
                                                    <div class="date_event">
                                                <div class="date_picker">
                                                  <div style="float:left">
                                                    <div class="col-lg-6">
                                                  <input class="start_end_date" id="donation_end_date" type="text" >
                                                </div>
                                                <div class="col-lg-6">
                                                  <input type="text" name="" id="donation_end_time" class="start_end_date">
                                                </div>
                                              </div>
                                            </div>
                                            </div>
                                          </div>
                                          </div>
                                          </div>
                                      </div>
                                  </div>        
                                </div>
                              </div>
                                  <div class="js-help-target js-min-max-tickets l-mar-top-3 g-group">
                                      <h4 class="responsive-form__fieldset-legend g-cell g-cell-1-1">
                                          Tickets allowed per order
                                          <p class="min_max" style="display:none; color: red;">Accepting Only values 1-10</p>
                                      </h4>
                                      <div class="g-cell g-cell-1-1 g-cell-md-2-3 g-cell-lg-3-4">
                                          <div class="g-group">
                                              <div class="g-cell g-cell-1-2 g-cell-md-1-4 g-cell--no-gutters l-mar-top-3">
                                                  <input type="text" pattern="[0-9]*" class="donation_min donation_ticket_minimum js-order-minimum l-pad-hor-1" id="id_group-tickets-0-order_minimum" value="1" name="group-tickets-0-order_minimum">
                                                  <label for="id_group-tickets-0-order_minimum">Minimum
                                                  </label>
                                                  <div class="js-error-for-order_min form__field-error"></div>
                                              </div>
                                              <div class="g-cell g-cell-1-2 g-cell-md-1-4 g-cell--no-gutters l-block-h-1 l-mar-top-3">
                                                  <input type="text" pattern="[0-9]*" class="donation_max donation_ticket_maximum js-order-maximum l-pad-hor-1" id="id_group-tickets-0-order_limit" placeholder="10" name="group-tickets-0-order_limit">
                                                  <label for="id_group-tickets-0-order_limit">
                                                      Maximum
                                                  </label>
                                                  <div class="js-error-for-order_limit form__field-error"></div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div-->
                <!--############### Ends here #########################################-->

              </section>
            </div>
          </form>
          </div>
          </div>
        </div>
        <div class="col-md-1"></div>
      </div>
      
    </div>
  </div>
  <script type="text/javascript">
  	$('input').focus(function(){
    $(this).css('border-color','');
    $(this).removeClass( "empty_form_fields" );
    });
    //var count = 0;
    //$('#add-new-item').on('click',function(event){
    //    event.preventDefault();
    //   count++;
    //})
    var count=$('.sub_event_index').last().val();
    $('#subevent_category_'+count).tagsInput();
  </script>