{% for quantity in quantity_list %}
	<div class="modal-body reg_body subevents_modal_reg">
		<div class="register_data col-lg-12">
			<div class="sale_end col-lg-12">
				<p>Sales end on {{ quantity.timestamp_end }}</p>
			</div>
		
		
			<div class="sale_info col-lg-12">
				<div class="sale_type col-lg-9">
	    			<div class="sale_event_name">
	    				{{ quantity.ticket_name }}
	    				<input type="hidden" class="sub_event_name" name="event_name" value="{{ quantity.ticket_name }}">
                        <input type="hidden" class="event_id" name="event_id" value="{{ quantity.event_id }}">
	    			</div>
	    			<div class="sale_event_type">
	    				<input type="hidden" class="sub_event_id" name="event_id" value="{{ quantity.subevent_id_id }}">
	    				{{ quantity.sub_event_type }}
	    			</div>
	    		</div>
	    		<div class="ticket_count col-lg-3">
	    			<select class="sub_selectpicker reg_dropdown">   
	                    
	                </select>
	                 <input type="hidden" data-min="{{ quantity.ticket_id }}" class="sub_ticket_id" name="ticket_id" value="{{ quantity.ticket_id }}">
	                <input type="hidden" data-min="{{ quantity.order_min }}" class="sub_minimum" name="minimum" value="{{ quantity.order_min }}">
	                <input type="hidden" data-min="{{ quantity.order_max }}" class="sub_maximum" name="maximum" value="{{ quantity.order_max }}">
	    		</div>
			</div>
			
			<span id="noavailable_tickets">Number Of  Remaining Tickets : {{ quantity.pending_tickets }}</span>
			
		</div>
	    
	</div>
	<div class="modal-footer reg_modal ticket_footer">
    	<div class="col-lg-6">
        	<button type="button" class="btn btn-default get_ticket_button" id="sub_checkout">Checkout</button>
        </div>
        <div class="col-lg-6">
        	<div class="col-lg-6 sale_event_type">
                <input type="hidden" id="type_subevent" value="{{ quantity.sub_event_type }}">
        		{{ quantity.sub_event_type }}
        	</div>
            <div id="test_id">
            </div>
        	<div id="sub_quantity_selected">
				<P class="selected_qua">Qty:1 </P>
		</div>
        </div>
    </div>

{% endfor %}

<script>
$(document).ready(function(){
        var minimum_val=$('.sub_minimum').val();
        var maximum_val=$('.sub_maximum').val();
        if(maximum_val == ""){
        maximum_val = '1'
            }
        else{
         maximum_val = maximum_val
        }

        var options='';
        for(i=minimum_val; i <= maximum_val; i++){
            options+='<option value="'+i+'">'+i+'</option>';
        }
    $('.sub_selectpicker').append(options);

  


    var sub_selected_tickets =''
	$(".sub_selectpicker").change(function(event) {

	    var select_val = $(this).val();
	    sub_selected_tickets = select_val
	    params={'select_val':select_val}
         $.ajax({
                    type:"POST",
                    url:"/dashboard/sub_quantity_selected/",
                    data: params,
                    success: function(res){
                        $('#sub_quantity_selected').html(res);                       
                    }
                });
	});

	$("#sub_checkout").click(function() {
        var sub_eventid=$('.sub_event_id').val();
        //var event_id=$('.event_id').val();
        var sub_ticket_id=$('.sub_ticket_id').val();
        if (sub_selected_tickets == ""){

            sub_selected_tickets = '1'
        }
        else{

            sub_selected_tickets =sub_selected_tickets
        }
        selected_quantity = sub_selected_tickets
        var sub_ticket_name = $('.sub_event_name').val();
        params={'sub_ticket_id':sub_ticket_id, 'selected_quantity':selected_quantity,'sub_eventid':sub_eventid,'sub_ticket_name':sub_ticket_name,}
        var type_subevent =$('#type_subevent').val();

        if(type_subevent == 'free' ){

            $.ajax({
                    type:"POST",
                    url:"/dashboard/sub_register_ticket/",
                    data: params,
                    success: function(res){
                        if(res=='success'){
                            window.location.href='/dashboard/free-event-registration/'
                        //$('#quantity_selected').html(res);
                        }
                        else{
                            $('#noavailable_tickets').css("color","red");
                        }
                                               
                    }
                });
        }

        else{

                $.ajax({
                    type:"POST",
                    url:"/dashboard/sub_register_ticket/",
                    data: params,
                    success: function(res){
                        if(res=='success'){
                            window.location.href='/dashboard/checkout/'
                        //$('#quantity_selected').html(res);
                        }
                        else{
                            $('#noavailable_tickets').css("color","red");
                        }
                                               
                    }
                });
            
        }
        
    });



});

</script>