{% extends 'dashboard/account_settings.html' %}
{% load static %}
{% block setting_content %}
<!--div class="col-md-9"-->
<div class="g-vertical-group g-cell-12-12 g-cell-lg-9-12 l-mar-top-4">
	<section class="l-pad-hor-1">
	    <header class="g-cell g-cell-9-9">
	        <h2 class="text-heading-primary">
	            Taxpayer Information
	        </h2>
	    </header>
	    <div class="g-cell g-cell-1-1 l-pad-vert-2"><hr></div>
	    <section id="tax_information_content">
	        <div class="subsection l-mar-top-3">
	            <div class="g-cell">
	                <div class="notification notification--alert">
	                    U.S. tax laws require you to submit taxpayer information if you process over 200 orders.
	                </div>
	            </div>
	            <div class="g-cell">
	                <p class="l-pad-vert-3 text-body-large">
	                    If you process over 200 orders and have not provided us with your taxpayer information, Eventbrite is required to withhold on your payout until we receive this information. To avoid service interruptions, please fill out your taxpayer information now.
	                </p>
	            </div>
	            <div class="g-group">
	                <div class="g-cell g-cell-9-9 g-cell-md-6-9">
	                    <a href="/tax_information/forms/" class="btn">
	                        Fill out your Taxpayer Information
	                    </a>
	                </div>
	            </div>
	        </div>
	    </section>
	</section>
</div>
<!--/div-->
{% endblock %}
{% block shipping %}{% endblock %}

{% block footer %}

{% include 'home/footer_second.html' %}

{% endblock %}