{% extends 'home/index.html' %}
{% load static %}

{% block slider %}

<div class="tickets_top slider_head">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<a href="#">Edit profile</a>
			</div>
		</div>
	</div>
</div>

{% endblock %}


{% block content %}
<div class="tickets_content row">
	<div id="exTab1" class="">
		<div class="col-md-12">
			<ul  class="nav nav-pills">
				<li class="active">
		        	<a  href="#upcoming_event" data-toggle="tab">Upcoming Events</a>
				</li>
				<li>
					<a href="#saved_events" data-toggle="tab">Saved events</a>
				</li>
				<li>
					<a href="#passed_events" data-toggle="tab">Passed events</a>
				</li>
			</ul>
			<div class="tab-content clearfix">
			  	<div class="tab-pane active" id="upcoming_event">
		          <h3>Content's background color is the same for the tab</h3>
				</div>
				<div class="tab-pane" id="saved_events">
		          	<h3>We use the class nav-pills instead of nav-tabs which automatically creates a background color for the tab</h3>
				</div>
		        <div class="tab-pane" id="passed_events">
		          	<h3>We applied clearfix to the tab-content to rid of the gap between the tab and the content</h3>
				</div>
			</div>
		</div>
	</div>
</div>
<!--div class="tickets_content">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="nav nav-tabs">
  					<li role="presentation" class="active"><a href="#">Upcoming Events</a></li>
  					<li role="presentation"><a href="#">Saved events</a></li>
  					<li role="presentation"><a href="#">Passed events</a></li>
				</ul>
			</div>
		</div>
	</div>
</div-->

{% endblock %}

{% block footer %}

{% include 'home/footer_second.html' %}

{% endblock %}