{% extends 'home/index.html' %}
{% load static %}

{% block slider %}

{% endblock %}

{% block content %}

<div class="settings_content top_class">
	<div class="container">
		<div class="row col-lg-12">
			<div class="ticket_view_head">
				<h2 class="ticket_head">Your tickets</h2>
			</div>
			{% if event_data or  subevent_data %}
				{% for event_val in event_data %}
					<div class="col-lg-8 event_time_desc ticket_outer">
											<div class="col-lg-4">
												<ul>
													{% for img in event_val.image %}
													<li class="event_img"><img src="/{{ img }}" class="img_event" /></li>
													{% endfor %}
												</ul>
											</div>
												<ul>
													<li class="">{{ event_val.name|title }} </li>
													<li class="">Starts At: {{ event_val.start_time }} </li>
													<li class="">Ends At: {{ event_val.end_time }} </li>
													<li>{{ event_val.city }} </li>
													<li>{{ event_val.event_type }} </li>
													<li>Order Id is:  #{{ event_val.transaction_id }}</li>
												</ul>
											<p>Tickets: {{ event_val.quantity_book }} booked at {{ event_val.booked_time }}</p>  																												
										</div>
										<div class="col-lg-2 ticket_view_button">									
												<button type="button"  data-id-1="{{ event_val.transaction_id }}" data-id="{{ event_val.event_id }}" data-id-2="{{ event_val.sub_event_id }}" class="btn btn-primary view_particular_ticket">View this ticket</button>
											
										</div>
				{% endfor %}					
				{% for subevent_val in subevent_data %}

					<div class="col-lg-8 event_time_desc ticket_outer">
									<div class="col-lg-4">
										<ul>
											{% for img in subevent_val.image %}
											<li class="event_img"><img src="/{{ img }}" class="img_event" /></li>
											{% endfor %}
										</ul>
									</div>
										<ul>
											<li class="">{{ subevent_val.sub_event_name|title }} </li>
											<li class="">Starts At: {{ subevent_val.start_time }} </li>
											<li class="">Ends At: {{ subevent_val.end_time }} </li>
											<li>{{ subevent_val.sub_event_type }} </li>
											<li>Order Id is:  #{{ subevent_val.transaction_id }}</li>
										</ul>
										

										<p>Tickets: {{ subevent_val.quantity_book }} booked at {{ subevent_val.booked_time }}</p> 	
								</div>
								<div class="col-lg-2 ticket_view_button">
									
										<button type="button" data-id="{{ subevent_val.event_id }}" data-id-1="{{ subevent_val.transaction_id }}" data-id-2="{{ subevent_val.sub_event_id }}" class="btn btn-primary view_particular_ticket">View this ticket</button>									
								</div>
				{% endfor %}					
			{% else %}
			<p> Sorry, no tickets found.</p>
			{% endif %}						
		</div>
		
	</div>
</div>
{% endblock %}
{% block footer %}
{% include 'home/footer_second.html' %}
{% endblock %}