{% extends 'dashboard/account_settings.html' %}
{% load static %}

{% block setting_content %}
<!--div class="col-md-9"-->
    <div class="g-vertical-group g-cell-12-12 g-cell-lg-9-12 l-mar-top-4">
		<div class="js-unused-venues-app">
			<div class="g-cell g-cell-1-1">
		    
			    <section class="show-large">
			        <header>
			            <h1 class="text-heading-primary">Unused Venues &amp; Organizers</h1>
			        </header>
			    </section>
			</div>

			<div class="g-cell g-cell-1-1 l-pad-vert-2"><hr>
			</div>
			<div class="g-cell g-cell-1-1 l-mar-top-2">
			    <div class="js-unused-organizers">
				    <div>
					    <div class="l-mar-top-2 clearfloat">
					        The following organizers were created but are not in use in any of your events.  If you are not planning to use them, you may want to delete them from your account.<br><br>
					            Unnamed Organizer<br>
					            [<a href="#" id="11425318279" class="js-delete-organizer">delete</a>]<br><br>
					    </div>
				    	<br>
					</div>
				</div>
			    <div class="js-unused-venues">
				    <div>
				    	<div class="text-heading-secondary">Unused venues</div>
				        <div class="l-mar-top-2">
				            The following venues were created but are not in use in any of your events.  If you are not planning to use them, you may want to delete them from your account.<br><br>
				        </div>
				        <div><b>Chandigarh</b><br>Sector 17<br>chandigarh<br>Chandigarh, CH 160017<br>India
				        </div>
				            [<a href="#" id="16698293" class="js-delete-venue">delete</a>]<br><br>
				        
				        <div class="clearfloat"></div> 
				    	<br>
					</div>
				</div>
			</div>
		</div>
	</div>
<!--/div-->
{% endblock %}
{% block shipping %}{% endblock %}

{% block footer %}

{% include 'home/footer_second.html' %}

{% endblock %}