{% extends 'home/index.html' %}

{% load static %}

{% block slider %}

<div class="view_this_slider">
	<div class="container">
		<div class="row">
				{% for event in event_data %}
					<h1>Event Name : {{ event.event_name|title }}</h1>
					{% for subevent in subevent_data %}
						{% if subevent %}
						<div class="row">
						<div class="col-lg-5" >
							
							<label>{{ subevent.sub_event_name|title }}</label><br>
							
								<button class='btn btn-success' id="edit_particular_subevent" data-id="{{ subevent.sub_event_id }}">Edit</button>
								<button class='btn btn-success' id="delete_subevent" data-event_id="{{ event.event_id }}" data-sub_event_id="{{ subevent.sub_event_id }}">Delete</button>
								{% if subevent.visible == '1' %}
								<button  class="btn btn-success" id="visible_cheeck_disable" data-subevent_id="{{ subevent.sub_event_id }}" data-event_id="{{ event.event_id }}">Make Invisible</button>
								{% else %}
								<button  class="btn btn-success" id="visible_cheeck_enable" data-subevent_id="{{ subevent.sub_event_id }}" data-event_id="{{ event.event_id }}">Make Visible</button>
								{% endif %}
						
						</div>	
							<div class="col-lg-7">
							
								{% for img in subevent.sub_event_img %}
						<img src="/{{ img }}"style="height:170px;width:180px;">
					{% endfor %}
					</div>
				</div>
						{% else %}
							<div class="no_vivible_sub">
						No, Sub Events Found For This Event
					</div>
						{% endif %}

					{% endfor %}										
				{% endfor %}
		</div>
			<!-- <div class="col-lg-12 manage_events_right">
				<div class="col-lg-4">
					{% for event in event_data %}
						<h1>Event Name : {{ event.event_name }}</h1>

					{% for subevent in subevent_data %}
					{% if subevent.visible == '1' %}
						<h2>Sub Event:</h2>
						<div class="view_this_subevent">
							<label>{{ subevent.sub_event_name }}</label><br>
							<div class="view_this_content">
								<button class='btn btn-success edit_particular_subevent' id="edit_particular_subevent" data-id="{{ subevent.sub_event_id }}">Edit</button>
								<button class='btn btn-success' id="delete_subevent" data-event_id="{{ event.event_id }}" data-sub_event_id="{{ subevent.sub_event_id }}">Delete</button><br><br>
								<button type="button" class="btn btn-success">Sign in</button>
							</div>
						</div>
					
					
					
				</div>
				
				<div class="col-lg-8 view_this_image">
					{% for img in subevent.sub_event_img %}
						<img src="/{{ img }}">
					{% endfor %}
				</div>
				
				{% else %}
				<div class="no_vivible_sub">
						No Visible Sub Events For This Event
					</div>
				{% endif %}
				{% endfor %}

{% endfor %}

			</div> -->
		</div>
	</div>
</div>

{% endblock %}

{% block content %}



{% endblock %}
