body{
	color: white;
	background-color: #fafafa;
}
.login {
    background-color: #8bb4f8;
    border-radius: 3px;
    height: 326px;
    margin: 10em 25em 4em;
}

.login i {
    font-size: 40px;
    margin-left: 220px;
    margin-top: 28px;
    color: white;
}

.login h3 {
    font-size: 28px;
    margin-top: 3px;
    text-align: center;
}

.login input {
    height: 36px;
    margin-bottom: 20px;
    width: 43%;
    border: none;
    border-radius: 3px;
    padding-left: 10px;
}

.login a{
	color: white;
}

.login_submit{
	float: left;
}

.login_submit input {
    border: medium none;
    border-radius: 3px;
    margin-bottom: 40px;
    margin-left: 177px;
    margin-top: 13px;
    width: 115px;

}

.login_submit input[type="submit"]:hover {
    background-color: #E7EFFD
}

.login_label {
    float: left;
    font-weight: 500;
    margin-bottom: 0;
    margin-left: 59px;
    margin-right: 23px;
    padding-top: 8px;
    width: 94px;
}